#site-top-disclaimer {
	font-size:12px;
}
header .navbar-default .navbar-brand {
    padding-top:10px;
	padding-left:20px;
}
.section-title {
    background: #243793;
}
.icons-nav {
    background-color: #203695;
}
@media (max-width:767px) {
	header .navbar-default .navbar-brand {
		padding-left:0px;
	}
	header .navbar-default .navbar-brand {
		padding-top:0;
	}
	.container>.navbar-header {
		padding-bottom:4px;
	}
}