
<div class="form-section top-padding-10 bottom-padding-10 bottom-buffer-10">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-4 col-md-push-8">
            <div class="progress marginless" style="height:10px;">
               <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" data-total="3" aria-valuemin="0" aria-valuemax="100" style="width:14%">
                  &nbsp;
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <form action="/florida/start-collect" method="post" id="orderForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <div class="row">
               <div class="col-xs-12">
                  <h2 class="line-left left-padding-10 black-text"><strong>Personal information:</strong></h2>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12">
                  <p>
                     <strong>Name</strong>
                  </p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="form-group has-feedback">
                     <input type="text" name="first_name" class="form-control" value="" placeholder="First Name" data-fv-field="first_name">
                     <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="first_name" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="first_name" data-fv-result="NOT_VALIDATED" style="display: none;">The first name is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="first_name" data-fv-result="NOT_VALIDATED" style="display: none;">The first name can only contain the letters, digits and spaces</small>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group has-feedback">
                     <input type="text" name="middle_name" class="form-control" value="" placeholder="Middle Name" data-fv-field="middle_name">
                     <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="middle_name" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="middle_name" data-fv-result="NOT_VALIDATED" style="display: none;">The middle name can only contain the letters, digits and spaces</small>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group has-feedback">
                     <input type="text" name="last_name" class="form-control" value="" placeholder="Last Name" data-fv-field="last_name">
                     <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="last_name" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="last_name" data-fv-result="NOT_VALIDATED" style="display: none;">The last name is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="last_name" data-fv-result="NOT_VALIDATED" style="display: none;">The last name can only contain the letters, digits and spaces</small>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-md-8">
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Email Address</strong>
                        </p>
                     </div>
                     <div class="col-xs-12 col-md-6">
                        <div class="form-group has-feedback">
                           <input type="email" name="email" class="form-control" value="" placeholder="E-mail" data-fv-field="email">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="email" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The input is not a valid email address</small><small class="help-block" data-fv-validator="identical" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">Enter the same email on next field</small>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-6">
                        <div class="form-group has-feedback">
                           <input type="email" name="verifyemail" class="form-control" value="" placeholder="Verify E-mail" data-fv-field="verifyemail">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="verifyemail" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="verifyemail" data-fv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="verifyemail" data-fv-result="NOT_VALIDATED" style="display: none;">The input is not a valid email address</small><small class="help-block" data-fv-validator="identical" data-fv-for="verifyemail" data-fv-result="NOT_VALIDATED" style="display: none;">The email and its confirm are not the same</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-md-4">
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Phone Number</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <input type="tel" name="phone" class="form-control" value="" placeholder="Phone" maxlength="10" data-fv-field="phone">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="phone" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="phone" data-fv-result="NOT_VALIDATED" style="display: none;">The phone is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="phone" data-fv-result="NOT_VALIDATED" style="display: none;">The phone number can only have 10 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="phone" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-md-8">
                  <div id="dob-label" class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Date of Birth</strong>
                        </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-4">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="birth_month" id="birth_month" data-fv-field="birth_month">
                              <option value="">Birth Month</option><option value="1">1 - January</option><option value="2">2 - February</option><option value="3">3 - March</option><option value="4">4 - April</option><option value="5">5 - May</option><option value="6">6 - June</option><option value="7">7 - July</option><option value="8">8 - August</option><option value="9">9 - September</option><option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="birth_month" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="birth_month" data-fv-result="NOT_VALIDATED" style="display: none;">Month is required</small><small class="help-block" data-fv-validator="between" data-fv-for="birth_month" data-fv-result="NOT_VALIDATED" style="display: none;">Month is required</small>
                        </div>
                     </div>
                     <div class="col-xs-4">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="birth_day" id="birth_day" data-fv-field="birth_day">
                              <option value="">Birth Day</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="birth_day" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="birth_day" data-fv-result="NOT_VALIDATED" style="display: none;">Day is required</small><small class="help-block" data-fv-validator="between" data-fv-for="birth_day" data-fv-result="NOT_VALIDATED" style="display: none;">Day is required</small>
                        </div>
                     </div>
                     <div class="col-xs-4">
                        <div class="form-group has-feedback">
                           <input type="tel" id="birth_year" name="birth_year" class="form-control" maxlength="4" value="" placeholder="Birth Year" data-fv-field="birth_year">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="birth_year" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="birth_year" data-fv-result="NOT_VALIDATED" style="display: none;">Year is required</small><small class="help-block" data-fv-validator="integer" data-fv-for="birth_year" data-fv-result="NOT_VALIDATED" style="display: none;">The value is not a Year</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="birth_year" data-fv-result="NOT_VALIDATED" style="display: none;">Year must be 4 digits long</small><small class="help-block" data-fv-validator="between" data-fv-for="birth_year" data-fv-result="NOT_VALIDATED" style="display: none;">Year is out of range</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-md-4">
                  <div id="ssn-label" class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Last 5 of SSN</strong>
                        </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <input type="tel" name="social_number" class="form-control" maxlength="5" pattern="[0-9]{5}" value="" placeholder="SSN" data-fv-field="social_number">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="social_number" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="social_number" data-fv-result="NOT_VALIDATED" style="display: none;">The SSN is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="social_number" data-fv-result="NOT_VALIDATED" style="display: none;">Enter only numbers</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="social_number" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12">
                  <h2 class="line-left left-padding-10 black-text"><strong>What would you like to do?</strong></h2>
               </div>
               <div class="col-xs-12">
                  <div class="form-group has-feedback">
                     <div class="options radio bottom-padding-15">
                        <label>
                           <input type="radio" class="hidden-to-left" name="service" value="renew" data-fv-field="service">
                           <i class="fa fa-square-o"></i>&nbsp;<span class="font-300">Renew</span></label>
                     </div>
                     <div class="options radio bottom-padding-15">
                        <label>
                           <input type="radio" class="hidden-to-left" name="service" value="replace" data-fv-field="service">
                           <i class="fa fa-square-o"></i>&nbsp;<span class="font-300">Replace</span></label>
                     </div>
                     <div class="options radio bottom-padding-15">
                        <label>
                           <input type="radio" class="hidden-to-left" name="service" value="address" data-fv-field="service">
                           <i class="fa fa-square-o"></i>&nbsp;<span class="font-300">Change Address</span></label>
                     </div>
                     <div class="options radio bottom-padding-15">
                        <label>
                           <input type="radio" class="hidden-to-left" name="service" value="both" data-fv-field="service">
                           <i class="fa fa-square-o"></i>&nbsp;<span class="font-300">Renew &amp; Change Address</span></label>
                     </div><i class="form-control-feedback" data-fv-icon-for="service" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="service" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                  </div>
               </div>
            </div>
            <div class="row top-buffer-20">
               <div class="col-xs-12 col-md-4 col-md-push-8">
                  <input type="hidden" name="csrf_name" value="csrf5a398f6df0c6f">
                  <input type="hidden" name="csrf_value" value="b3a2f5e2f36371d4655d1e89bda2f711">
                  <input type="submit" value="CONTINUE" class="btn btn-block btn-danger">
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

