/* GLOBAL */

body {
    background-color: #2e8eb7!important;
}

.container {
    padding-left: auto!important;
    padding-right: auto!important;
}

.form-group {
    margin-bottom: 5px!important;
}

.form-control {
    height: 28px!important;
    padding: 4px 6px!important;
}
#c6 {
	background: url(img/audiobooks.png) no-repeat;
}
.nopad {
    padding: 0!important;
}

.noleftpad {
    padding-left: 0!important;
}

.norightpad {
    padding-right: 0!important;
}

.spacer {
    padding: 10px;
}


/* HEADER */

header {
    width: 100%;
}

header .headerpic {
    background: #33414e url(img/header-bkgd.jpg) no-repeat top;
}

header .page {
    background: transparent;
}

header .container {
    border: none;
    padding: 0px!important
}

.disclaimer {
    position: relative!important;
    width: 100%!important;
    display: block;
    margin: 0 auto;
    color: navy;
    text-align: center;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
}

h1.main {
    font-size: 15px!important;
    color: #999;
    font-weight: bold;
}


/* NAV MENU */

#nav {
    float: left;
    width: 100%;
}

#nav ul {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav li {
    position: relative;
    float: left;
}

#nav li a {
    padding-left: 46.7px;
    padding-right: 47px;
    line-height: 36px;
    width: auto!important;
}


/* CONTENT PAGE */

.content {
    background: #fff;
    border: none;
    border-radius: 0px!important;
}

h1 {
    font-size: 30px!important;
}

fieldset h2 {
    height: 55px!important;
}

h2 {
    line-height: 22px!important;
    margin: 0 0 9px!important;
    font-size: 16px!important;
    font-weight: bold!important;
}

#easyGuide h3 {
    margin-top: 0px!important;
}


/* CUSTOM RADIO */


/* FORM */

.dottedline {
    margin: 10px 0px!important;
    height: 4px;
    width: 100%;
    background: url(//car-registration.org/img/hr.png) repeat-x;
}

.formtitle {
    font-weight: bold;
    font-size: 24px;
    color: #2779A4;
}

.inputrow {
    padding: 5px 0px;
}

.input {
    width: 225px;
}

.monthinput {
    width: 76px;
}

.dayinput {
    width: 60px;
}

.yearinput {
    width: 68px;
}

.submitrow {
    padding: 5px 0px 40px 0px;
}

.coltitle {
    font-weight: bold;
    font-size: 14px;
}

.breadcrumbstatus {
    width: 95%;
}

.step {
    padding: 10px;
    float: left;
}

.step .circle {
    float: left;
    text-align: center;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border: 1px solid #666;
    font-size: 13px;
    color: #666;
    margin-right: 10px;
}

.step .breadcrumbtitle {
    float: left;
    color: #666;
    font-weight: bold;
    font-size: 14px;
}

.step .selected {
    border: 1px solid #5096C7;
    background: #5096C7;
    color: #fff;
}

#splash_innerContainerTX {
    background: transparent!important;
    width: auto!important;
    height: auto!important;
    margin: 20px auto;
}

#splash_innerContainerTX .pageimage {
    margin: 0 auto;
}

.splash_mainTextBoxTX {
    width: auto!important;
    height: auto!important;
    margin: 0 0 0 35px!important;
}

.continue {}

.linkHome {
    margin-left: 35px;
    float: left;
}


/* FORM */


/* FOOTER */

footer {
    font-size: 12px;
}

footer .container {
    padding: 0px;
    text-align: center;
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 0px!important;
}

footer .content {
    background: #FFFFFF;
}

footer a {
    color: #007B8C;
    text-decoration: none;
}

footer a:visited {
    color: #007B8C;
}

footer a:hover {
    color: #007B8C;
    text-decoration: underline;
}


/* SLICK NAV */

.slicknav_menu {
    display: none;
}

/* Checklist Page */
.dld-block {
	float:left;
	width:25%;
	text-align:center;
	padding:0 0.5%;
	cursor:pointer;
}
.dld-block .title-dld h2 {
	font-size: 20px;
	margin: 10px 0;
}
.title-dld span {
	color: #2d8eb8;
	font-weight: bold;
}
.btn-dld {
	width: 100%;
	color: #fff;
	padding: 10px 0;
	background-color: #2d8eb8;
	border-radius: 10px;
	text-transform:uppercase;
}
div.last_step {
	padding-bottom:20px;
}
.title-dld h2 {
	font-size:1.4em !important;
	height:60px;
}
.img-dld {
	background: url(img/Sprite_Checklist_Licenses.png) no-repeat;
	width: 100px;
	height: 100px;
	background-position-x: -200px;
	background-size: cover;
	margin: 5px 30%;
}
.download_blocks {
	margin:10px auto;
	overflow:hidden;
}
.img-dld.application-dld {
	background-position: -100px;
}
.img-dld.tips-dld {
	background-position: 0;
}
.img-dld.audio-dld {
	background-position: -300px;
}
.download_blocks {
	margin: 10px 0 30px;
	overflow: hidden;
}
.dld-block a {
	text-decoration:none !important;
}
.btn-dld:hover {
	background-color: #1c5c77;
}
@media (max-width:1200px) {
	.dld-block .title-dld h2 {
		font-size:1.1em !important;
	}
	.img-dld {
		margin:5px 25%;
	}
}
@media (max-width:991px) {
	.img-dld {
		margin:5px 15%;
	}
	.btn-dld {
		font-size:0.8em;
	}
}
@media (max-width:768px) {
	.title-dld h2 {
		height:auto;
	}
	.dld-block {
		float:none;
		margin-top:30px;
		width:100%;	
	}
	.dld-top {
		margin-top:0;
	}
	.img-dld {
		margin:5px auto;
	}
	.dld-block .title-dld h2 {
		font-size: 1.5em !important;
		line-height: 1em !important;
	}
	.btn-dld {
		font-size:1em;
	}
}



@media screen and (max-width: 767px) {
    /* #menu is the original menu */
    #menu {
        display: none;
    }
    fieldset#step1,
    fieldset#step2 {
        width: 95%!important;
    }
    fieldset#step1splash {
        width: 95%!important;
    }
    h1.main {
        font-size: 15px!important;
    }
    .slicknav_menu {
        display: block;
        z-index: 1001;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        background: none!important;
        padding: 0!important;
        margin: 0;
    }
    .slicknav_nav {
        margin-top: 100px!important;
        background: #33414e;
    }
    #splash_innerContainerTX .pageimage {
        display: table-cell;
    }
    .splash_mainTextBoxTX {
        width: auto!important;
        height: auto!important;
        overflow: visible!important;
    }
    .splash_startTX {
        float: none!important;
        width: auto!important;
    }
    .linkHome {
        display: block;
        float: none!important;
        height: 80px!important;
        width: auto!important;
    }
}


/* HOME PAGE EXTRA FOOTER */

.extrafooter {
    background: #eee;
    padding: 18px 60px;
    margin: 30px 30px 0 30px;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}


/* MEDIA QUERIES */


/* SMALL DESKTOP */

@media (min-width: 992px) and (max-width: 1199px) {
    #nav li a {
        padding-left: 33px;
        padding-right: 32px;
    }
    .nopad {
        padding: 0px!important;
    }
    .noleftpad {
        padding-left: 0px!important;
    }
}


/* TABLET */

@media (min-width: 768px) and (max-width: 991px) {
    #nav li a {
        padding-left: 16.7px;
        padding-right: 17px;
    }
    .form-group {
        margin-bottom: 10px!important;
    }
}

@media (min-width: 535px) and (max-width: 615px) {
    .coltitle {
        padding-left: 0px!important;
    }
}

@media (max-width: 767px) {
    .colmobpadding {
        padding-top: 25px!important;
    }
    .noleftpad {
        padding-left: 15px!important;
    }
}

@media (max-width: 615px) {
    #easyGuide {
        overflow: hidden;
        background: transparent;
        border: 1px solid #999;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 50px 0px #eee inset;
        width: 95%!important;
    }
    #easyGuide h3 {
        font-size: 18px!important;
    }
}

@media (max-width: 482px) {
    h1 {
        font-size: 20px!important;
    }
    h2 {
        font-size: 25px!important;
    }
    h1.main {
        font-size: 15px!important;
        padding-left: 80px!important;
    }
    fieldset h2 {
        font-size: 20px!important;
    }
    .coltitle {
        padding-left: 0px!important;
    }
    .nopad {
        padding: 0px!important;
    }
    .noleftpad {
        padding-left: 15px!important;
    }
    #step1 label {
        font-size: 13px!important;
    }
    #indexBox {
        width: 100%!important;
    }
    .extrafooter {
        padding: 15px 10px;
        margin: 30px 0px;
    }
    div.dmvLocSearch {
        height: 55px;
        width: 300px;
        background: #ddd;
        padding: 10px;
        border: 1px solid #848484;
        margin: 0 auto
    }
    #easyGuide {
        padding: 10px!important;
    }
    #easyGuide h3 {
        font-size: 13px!important;
    }
    .checklist {
        width: 100%!important;
    }
    #step1icon {
        display: none!important;
    }
    #step2icon {
        display: none!important;
    }
    #step3icon {
        display: none!important;
    }
    #step4icon {
        display: none!important;
    }
    #mainContent {
        padding: 0px!important;
    }
    div.checklistynN,
    div.checklistynY {
        margin-left: 0px!important;
        width: 95%!important;
        height: 70px!important;
        background-image: none;
        background-color: #303083;
        border-radius: 10px;
        color: #fff;
        line-height: 18px;
        font-size: 20px;
        padding: 10px;
    }
    div.checklistynN:before,
    div.checklistynY:before {
        content: "Your Registration Easy is ready for download";
    }
    div.pdfynN,
    div.pdfynY {
        margin-left: 0px!important;
        width: 95%!important;
        height: 70px!important;
        background-image: none;
        background-color: #E84000;
        border-radius: 10px;
        color: #fff;
        line-height: 18px;
        font-size: 20px;
        padding: 10px;
    }
    ,
    div.pdfynN:before,
    div.pdfynY:before {
        content: "Your Registration Easy is ready for download.";
    }
    div.linksynN,
    div.linksynY {
        margin-left: 0px!important;
        width: 95%!important;
        height: 70px!important;
        background-image: none;
        background-color: #ccc;
        border-radius: 10px;
        color: #000;
        line-height: 18px;
        font-size: 20px;
        padding: 10px;
    }
    div.linksynN:before,
    div.linksynY:before {
        content: "Find the DMV office nearest you. Download Now";
    }
	#c6{
		background-image: none;
        background-color: #30E44C;
		content: "Driver tips and resouces Audio Book. Download Now";
	}
    div.ebookN,
    div.ebookY {
        margin-left: 0px!important;
        width: 95%!important;
        height: 70px!important;
        background-image: none;
        background-color: #81C3E4;
        border-radius: 10px;
        color: #000;
        line-height: 18px;
        font-size: 20px;
        padding: 10px;
    }
    div.ebookN:before,
    div.ebookY:before {
        content: "Driver tips and resouces handbook. Download Now";
    }
}

.agreement {
    margin: 10px auto;
}

.agreement .col-xs-1 {
    padding-right: 0px;
}

.agreement.warning-border {
    padding: 10px;
    border: 2px solid red;
    background-color: rgb(255, 170, 170);
}


/* MOBILE */

@media only screen and (min-width: 600px) {
    .agreement .col-xs-1 {
        width: auto;
    }
}

@media (min-width: 321px) and (max-width: 767px) {
    #nav li a {
        padding-left: 13.4px;
        padding-right: 14px;
    }
    /* FORM */
}

@media (min-width: 320px) {}



.content {
   background:#e2f0f3;
}
