/* Checklist Page */
.dld-block {
	float:left;
	width:25%;
	text-align:center;
	padding:0 0.5%;
	cursor:pointer;
}
.dld-block .title-dld h2 {
	font-size: 20px;
	margin: 10px 0;
}
.title-dld span {
	color: #2d8eb8;
	font-weight: bold;
}
.btn-dld {
	width: 95%;
	color: #fff;
	padding: 10px 0;
	background-color: #5ab7dd;
	border-radius: 10px;
	text-transform:uppercase;
	margin: 25px 5px;
}
.page_footer {
    clear: left;
    padding: 40px 5px;
}
div.last_step {
	padding-bottom:20px;
}
.title-dld h2 {
	font-size:1.4em !important;
	height:60px;
}
.img-dld {
	background: url(../img/Sprite_Checklist_Licenses.png) no-repeat;
	width: 100px;
	height: 100px;
	background-position-x: -200px;
	background-size: cover;
	margin: 5px 30%;
}
.download_blocks {
	margin:10px auto;
	overflow:hidden;
}
.img-dld.application-dld {
	background-position: -100px;
}
.img-dld.tips-dld {
	background-position: 0;
}
.img-dld.audio-dld {
	background-position: -300px;
}
.download_blocks {
	margin: 10px 0 30px;
	overflow: hidden;
}
.dld-block a {
	text-decoration:none !important;
}
.btn-dld:hover {
	background-color: #1c5c77;
}
@media (max-width:1200px) {
	.dld-block .title-dld h2 {
		font-size:1.1em !important;
	}
	.img-dld {
		margin:5px 25%;
	}
}
@media (max-width:991px) {
	.img-dld {
		margin:5px 15%;
	}
	.btn-dld {
		font-size:0.8em;
	}
}
@media (max-width:768px) {
	.title-dld h2 {
		height:auto;
	}
	.dld-block {
		float:none;
		margin-top:30px;
		width:100%;	
	}
	.dld-top {
		margin-top:0;
	}
	.img-dld {
		margin:5px auto;
	}
	.dld-block .title-dld h2 {
		font-size: 1.5em !important;
		line-height: 1em !important;
	}
	.btn-dld {
		font-size:1em;
	}
}



@media screen and (max-width: 767px) {
    /* #menu is the original menu */
    #menu {
        display: none;
    }
    fieldset#step1,
    fieldset#step2 {
        width: 95%!important;
    }
    fieldset#step1splash {
        width: 95%!important;
    }
    h1.main {
        font-size: 15px!important;
    }
    .slicknav_menu {
        display: block;
        z-index: 1001;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        background: none!important;
        padding: 0!important;
        margin: 0;
    }
    .slicknav_nav {
        margin-top: 100px!important;
        background: #33414e;
    }
    #splash_innerContainerTX .pageimage {
        display: table-cell;
    }
    .splash_mainTextBoxTX {
        width: auto!important;
        height: auto!important;
        overflow: visible!important;
    }
    .splash_startTX {
        float: none!important;
        width: auto!important;
    }
    .linkHome {
        display: block;
        float: none!important;
        height: 80px!important;
        width: auto!important;
    }
	.navbar {
		margin-bottom: 0px;
	}
	h1, h2, h3 {
		margin-top: 0px;
		font-size: 14px;
	}
}
/*ENDOF Checklist Page*/

/*Splash Page*/
#step1splash{
	border-style: solid;
    border-width: 1px;
	border-color: #bdbdbd;
	padding-bottom: 20px;
}
#step2 {
    padding: 70px;
}
.checkpair{
	padding: 9px 5px;
}
.all-states{
    text-align: center;
    padding: 10px 0 0 0;
}
.dl_submit_splash {
    clear: left;
    float: left;
    background: url(../img/select-form-sprite.png) no-repeat 0 -196px;
    width: 180px;
    height: 54px;
    margin-top: 0px;
    cursor: pointer;
}
span.splash.checkBox.checked {
    background-position: 0 0;
}
span.splash.checkBox {
    background: transparent url("../img/select-form-sprite.png") no-repeat scroll 0 -32px;
    float: left;
    margin: -10px 0 0 0px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
}
/*ENDOF Splash Page*/

.container h1 {
    font-size: 25px;
    color: #497698;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 0;
}

nav > ul > li > a {
	padding: 0 40%;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    border-color: #ddd;
    background: #c3c0c0;
}
.navbar-inverse .navbar-toggle {
	border-color: #ddd;
    background: #c3c0c0;
}
.navbar-inverse .navbar-toggle:focus {
	outline: none;
}

.summary {
    background: #f8f9fa;
    border-radius: 4px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid groove;
    /*box-sizing: content-box;*/
    margin-left: 25px;
    padding: 0 20px;
}

hr {
    margin: 0 0 10px;
    border-color: #ced3d8 -moz-use-text-color -moz-use-text-color;
}
#site-top-disclaimer {
    background-color: #f1f3f5;
    font-size: 12px;
    padding: 2px;
    text-align: center;
    color: #3d3d3d;
    font-weight: bold;
}
/*Form Page*/
.form {
    margin: 0;
    /*padding: 0;*/
    padding-right: 4px;
    /*height: 60px;*/
}

div.step1, div.step2, div.step3 {
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-bottom: 20px;
}
div.step1, div.step2, div.step3 {
    background: #fff;
    /*box-sizing: content-box;*/
}
div.title h3 {
    color: #497698;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
}
div.title small, div.title h3 {
    margin: 10px 0;
}
div.title small {
    color: #afb3b7;
    font-size: 8px;
    float: right;
}
label.disabled, h3, input, select {
    color: #bdbdbd;
}

@media screen and (min-width: 767px) {
	div.step2 {
		/*display: table-cell;*/
		width: 74%;
	}
}
div.step1, div.step2, div.step3 {
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-bottom: 20px;
}
div.step1, div.step2, div.step3 {
    background: #fff;
    /*box-sizing: content-box;*/
}
.step2 .title {
    padding: 0 15px;
}
.disabled div.title h3 {
    color: #bdbdbd;
}
div.step2 h3, div.step3 h3 {
    padding-left: 0;
}
.border-left {
    border-left: 1px solid lightgray;
}
div.boton a {
    text-align: center;
    color: #b4b4b4;
    font-size: 10px;
}

span>input[type="radio"] {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
span>input[type="radio"]+label {
    position: relative;
    background: transparent url(../img/no-check.png) no-repeat scroll left center;
    clear: none;
    padding: 8px 10px 5px 25px;
    cursor: pointer;
}
span.disabled label{
    color: #bdbdbd;
}
label {
    padding: 0;
    /* margin: 0; */
    font-size: 11px;
    line-height: 11px;
    /* margin-bottom: 10px; */
    /* font-weight: 600; */
    /* padding-left: 7px; */
}

input[type="radio"]:checked+label {
    background-image: url(../img/checked.png);
}

div.border-top {
    border-top: 5px solid #497698;
}
section.boton input.disabled, section.boton input.disabled:hover {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}
section.disabled p, div.step1 p {
    color: #bdbdbd;
}
section.disabled p, h3, input, select {
    color: #bdbdbd;
}
section.boton p {
    text-align: center;
    color: #b4b4b4;
    font-size: 10px;
}
section.boton img {
    display: block;
	/*width: 40%; */   
	margin: 0 auto;
}
.step1 select, .step2 select, .step2 input, .step3 select, .step3 input {
    padding: 0;
    height: 25px;
    padding: 1px;
}
.step1 select{

    margin-bottom: 17px;
}
section.boton {
    margin-top: 20px;
}
section.boton a {
    color: #b4b4b4;
    text-decoration: underline;
}
input.btn.btn-warning {
    display: block;
    height: 44px;
    width: 60%;
    margin: 0 auto;
    border-radius: 0;
    background-color: #ff8929;
    border-color: #d58512;
    color: #fff;
    margin-bottom: 10px;
}
/*ENDOF Form Page*/

p.select {
    margin: 0;
    padding-bottom: 4px;
    font-weight: bold;
}
p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

/*Billing Page*/
@media screen and (max-width: 767px) {
	.summary {
		margin: 15px 0;
	}
}
/**ENDOF Billing Page */


#_mm_date_of_birth,#_dd_date_of_birth,#_yy_date_of_birth
{
	width: 110%;
    padding: 0px;
    margin-left: -2px;
	font-size: smaller;
}

#_mm_date_of_birth
{
	width: 140%;
}

.blog h3 {
	color:#116184;
	
}







