html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
}

h1.main { background:url("img/logo.png") no-repeat scroll 0 0 transparent; height:70px; padding-left:105px !important;  }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display : block; }

abbr[title] { border-bottom : 1px dotted; cursor : help; }

body { 
   margin : 0 auto;
   height: 100%;
   font : 16px/1.4 Arial, "Helvetica Neue", Helvetica, sans-serif;
   color : #334872;
   text-align:center;
   background: #2e8eb7;
   cursor:default;
}

h1, h2, h3, h4 {font-weight: bold; padding:0px; margin:0px;}

h1 { 
   clear: left; 
   font-size: 30px;
   font-weight: normal;
   padding: 0 0 9px;
   margin: 0 0 9px;
   color: #444; 
 }
 #header h1 { padding: 10px 30px 18px; font-size: 15px; color: #999; margin: 0; }

 h1 em { font-weight: normal; font-style: normal; font-size: 30px; line-height:30px; letter-spacing: -1px; color: #7DC9E8; }
 
   .screen-index #mainContent h1 {
      text-align:center; 
      text-transform:uppercase; 
      color: #DB5839;
      text-shadow: 2px 2px 1px #ccc;
      font-style: italic;
      font-size: 18px;
   }
h2 { 
   font-size: 16px; 
   line-height: 22px; 
   margin: 0 0 9px; 
   color: #2496C7; }

   fieldset h2 {
      font-size: 24px; 
      background: transparent url("img/select-form-sprite.png") no-repeat 0 -75px;
      padding: 18px 0 0 50px; 
      height: 34px; 
      color: #000000 }
   fieldset#step2 h2 { background-position: 0 -135px; }
   
p, ol, ul, dl, address { 
   margin-bottom : 1.5em; 
   font-size : 1em; /* 16 / 16 = 1 */ }

ul, ol { margin : 0 0 1.5em; padding: 0; }

ul#menu {list-style-type:none;}
ul { list-style-type: square;
margin-left:50px;
line-height:180%; }

ol { list-style-type : decimal; 
margin-left:50px;
line-height:180%;}

li ul, li ol { 
   margin : 0;
   font-size : 1em; /* 16 / 16 = 1 */ }

dl, dd { margin-bottom : 1.5em; }

dt { font-weight : normal; }

blockquote  { margin : 0 0 1.5em; font-style : italic; }

blockquote:before, blockquote:after, q:before, q:after { content : ''; content : none; }

b, strong   { font-weight : bold; }
i, em { font-style : italic; }

sup, sub { 
   position : relative;
   font-size : 75%; 
   line-height : 0; }

sup { top : -.5em; }
sub { bottom : -.25em; }
address { font-style : normal; }

pre { 
   margin-bottom : 1.5em; 
   white-space : pre; 
   white-space : pre-wrap; 
   word-wrap : break-word; }

pre, code { 
   font : .875em 'andale mono', 'lucida console', monospace; 
   line-height : 1.5; }

small { font-size : 1em; /* 16 / 16 = 1 */ }

a {color: #0000FF; text-decoration: none; }
a:visited {color: #007B8C; }
a:hover {text-decoration: underline; color:red; }

.step1 h2 {color: #e00;}

/*--- DMV locations / DMVLookup ---*/ 
div.DMVlookup { height: 100%; width:340px; background: #fff; padding: 10px; margin-top:20px; margin: 0 auto; border:30px solid #ddd;}

div.dmvLocSearch { height: 35px; width:360px; background:#ddd; padding:10px; border: 1px solid #848484; margin:0 auto}
div.skipDMV { height: 100%; width:350px; background: #fff; padding: 10px; margin-top:20px; margin: 0 auto; border:30px solid #ddd;}
h1#skipDMV { color: #2496C7; font-family: arial black; margin-top:10px;}
h2#less2min { color: black; margin-top:5px; font-family:arial; font-size:16px; letter-spacing:-0.5px;}
div.submit {width:100px; height: 30px; background:#B40404; border: 1px solid #ccc; color:white; font-family:arial; font-weight: bold; text-align:center; margin-top:20px; cursor: pointer; padding: 6px 0 0 0;}
select#skipDMVstate, select#skipDMVservice {margin-top:10px;}

.container {
   text-align:left; margin: 0 auto; padding: 0 0 20px; height:auto;  
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   border: solid 1px #999; 
}
.page { width: 966px; margin: 0 auto; background: #ffffff; }
   .home .page { padding-bottom: 36px; }

#header{
   padding: 30px 0 0;
   overflow: hidden; 
   background: #32414D url(img/header-bkgd.jpg) no-repeat center center; 
   }


/*#header .page { background: transparent url(img/header-graphic.png) 600px 0 no-repeat; padding-bottom: 0; }*/
#header .page {
   /*background: transparent url("img/header-graphic.png") no-repeat 600px 0;*/
   background: transparent 600px 0;
   padding-bottom: 0;
}


#login-wrap {
   float: right;
   width: 250px; 
   padding-right: 50px; 
   margin-bottom: 20px; 
   text-align: right; }
      #login-wrap a, #login-wrap a:visited { color: #fff; }

#nav { 
   float:left; width:966px; 
}

#nav ul { 
   position:relative; 
   float:left; width:966px; 
   margin: 0; padding: 0; }

   #nav li {position: relative; float:left; }

   #nav li a {
      display:block;
      color: #334872;
      width: 138px; 
      text-align: center; 
      height: 36px;
      line-height: 36px; 
      text-decoration: none; 
      background: #e6e6e6; 
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6, endColorstr=#b3b3b3); /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#b3b3b3)); /* for webkit browsers */
      background: -moz-linear-gradient(top,  #e6e6e6,  #b3b3b3); /* for firefox 3.6+ */
      }

      .ie6 #nav li a, .ie7 #nav li a, .ie8 #nav li a { font-weight: bold; } /* fix ie thin font weights */

      #screen-home li a.home, #screen-dmvLocations li a.locations, #screen-practiceTests li a.practice, #screen-aboutUs li a.about, #screen-manuals li a.manuals, #screen-driversEd li a.drivers {
         color:#fff; 
         background: #00A2D9; 
         text-decoration: none;
         }

      .home #nav a.home, .Dmv.Locations #nav a.locations, .Practice.Tests #nav a.practice, .Drivers.Manual #nav a.manuals, .Drivers.Ed #nav a.drivers, .About.Us #nav a.about, .State.Info #nav a.state {
         color:#fff; 
         background: #00A2D9; 
          filter: none; /* for IE */
         text-decoration: none;
         }

   #nav li a:hover {
      color:#fff; 
      }
   
#mainContent { 
   padding: 40px 30px 72px 60px; 
}
.home #mainContent { padding-bottom: 30px; }

img.banner468 { float: right; margin: 0 0 18px 20px; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7 { float: left; text-align:justify; }
.col1 { float: left; width: 350px; margin: 0 30px 0 0;}
.col2 { float: right; width: 480px; text-align:justify; }
.col-full { clear: left; text-align:justify; }
#screen-dmvLocations iframe { background: #fff; padding: 5px 20px; }

.two-col #mainWrap { float: left; width: 60%; }
#aside { float: right; width: 36%; }
#aside .bucket { padding: 0 0 36px; }

#asideLeft { float: left; width: 36%; }

img#networkad { display: block; text-align: right; }

.secondary_nav { margin-bottom: 0; padding: 10 0 0; border-bottom: solid 1px #ddd; }
.secondary_nav li { display: inline; }
.secondary_nav li a { margin: 0 5px 0 0; padding: 8px 15px; line-height: 36px; background: #eee; text-decoration: none; 
   border-top-left-radius: 5px;
   border-top-right-radius: 5px
}
.secondary_nav li a:hover { background: #00AEC5; color: #fff; text-decoration: none; }
.secondary_nav li a.selected { background: #F7ECB3 }
div.tabContent { clear: left; padding: 18px 30px; }

.page_footer {clear:left; padding: 0 0px; }


#footer { 
   background: #2e8eb7; 
   position:relative; 
   margin: 0 0 18px;
   padding: 10px 30px 5px;
   }

#footer p { 
   text-align: center; 
   font-size: 12px; 
   line-height: 1.3;
   margin-bottom: .5em; 
   }

#footer a { color: #007B8C }

.dl_submit{ 
   clear: left; 
   background: url(img/select-form-sprite.png) no-repeat 0 -196px; 
   width:180px; 
   height:54px; 
   text-indent:-9000em; 
   margin: 15px 0 10px 90px; 
   cursor: pointer;
   }


/*-------state splash pages------*/
.dl_submit_splash{ 
   clear: left; 
   float:left;
   background: url(img/select-form-sprite.png) no-repeat 0 -196px; 
   width:180px; 
   height:54px; 
   margin-top:0px;
   cursor: pointer;
   }
.page_footer_splash {clear:left; padding: 0 0px; }
fieldset#step1splash {float: left; width: 515px; }

/* .dl_verisign{ clear: left; background: url(/img/verisign.png) no-repeat; height:50px; text-indent:-9000em; margin: 15px 0 10px 90px; } */


.extrafooter { clear:both; background: #eee; padding: 18px 60px; margin: 0 30px; font-size: 12px; 
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   box-shadow: 0 1px 2px rgba(0,0,0,.2);   
}

/*  form styles  */
#loginForm { padding: 0 120px; margin-bottom: 50px; }



fieldset {padding: 10px 0 20px;}

   fieldset#step1 {float: left; width: 540px; }
   div.col { float:left; width: 45%; margin: 0 5% 0 0; }

.input-wrap {margin: 15px 0}

form p { margin: 0; font-size: 14px; }
.radioset, .inputset {clear:left; float: left; padding: .5em 0 .4em 13em; margin: 0 0 9px; }
.radiopair, .inputset .inputpair { margin: 0; }
div.inputpair { clear: left; padding: 0 0 9px; }
   #step2 div.inputpair { padding: 0 0 9px 15px; }
div.checkpair, div.radiopair { clear: left; padding: 0 0 .5em 2em }
   #step1 div.checkpair { padding-left: 40px }
   #registration div.checkpair {padding-left: 10em; }
   
.orhome {
   font-weight:bold;
   margin-left:15px;
}

label {
}
   #first-form label {
      font-size: 16px; 
      color: #000000; 
      width: auto; 
      }
   #step1 label { padding-top: 3px; }
   #step2 label { float: left; margin-right: .5em; }

div.radio-input { display:inline; margin-bottom: .5em; padding-left: 1.5em; }
   .radioset p, .inputset p { margin-left: -1.5em; }

input { padding: 3px 9px; }

   input[type="radio"], input[type="checkbox"], div.radio-input input {
      width: auto; 
      margin: 0 .5em 0 -1em; 
      border: none 0; }
      
   input.checkBox { 
      opacity: 0;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      border: none 0; 
    }
   span.checkBox {
       background: transparent url("img/select-form-sprite.png") no-repeat scroll 0 -32px;
       float:left;
       margin: -10px 0 0 -35px;
       width: 30px;
       height: 30px;
       padding-top: 10px;
   }
   span.checkBox input {
       margin-left: 0;
       width: 30px;
       height: 30px;
   }
   span.checkBox.checked {
       background-position: 0 0;
   }

   #step2 input { width: 10em; }
   input:focus {background: #FDFBEC; }


select { 
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   padding: 2px 5px; 
}
button {
   display: inline-block;
   outline: none;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   font: 14px/1 Arial, Helvetica, sans-serif;
   padding: 6px 15px;
   margin-bottom: 1em;
   color: #fff;
   font-weight: bold;
   border: solid 1px #b00;
   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e60000, endColorstr=#b30000); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#b30000)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #e60000,  #b30000); /* for firefox 3.6+ */

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   box-shadow: 0 1px 2px rgba(0,0,0,.2);   
}
   #registration button {margin-left: 14em;} 
button:active, a.button:active {
   position: relative;
   top: 1px;
   background: #8ac;
}
button span {line-height: 1}

.statelist { float:left; width: 150px; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.nochecklist { text-align:justify; padding-bottom:20px; font-size: 12px; }

.underline { text-decoration:underline; }


.privacy { clear:both; padding-left:30px; padding-top:20px; }

.home_continue { font-size:12px; font-style: italic; }


h1#notice {font-size:24px; color:#B50B07; font-weight:bold; text-align:center;}


/*---------------------DMV practice tests-------------------------*/
#pt-top {
 background:url("img/pt-woman.jpg") no-repeat scroll 0 0 transparent; height:436px;
}
#pt-top-right {
 margin-left: 200px;
}

#pt-top-right h1{
 font-size:30px;
 color: #385B7E;
 padding:0px;
 font-weight:bold;
}

#pt-top-right h2{
 padding:0px;
 width:570px;
 color:#7A8188;
 font-size:18px;
 border-bottom: 2px dotted #ccc;
 margin:0 0 0 40px;
}

ul#checks {
 list-style-type: none;
 padding: 0;
 line-height:270%;
}

li.imgCheck {
 background-image: url("img/pt-check.jpg");
 background-repeat: no-repeat;
 background-position: .3em .5em;
 padding-left: 2.5em;
 font-weight:bold;
}
 
div#pt-topTryFree {
 background:url("img/pt-tryfree.jpg") no-repeat 0 0 transparent; width:140px; height:45px;
 float:left;
 margin-left:170px;
}
 
div#pt-topStartNow {
 background:url("img/pt-startnow.jpg") no-repeat 0 0 transparent; width: 150px; height:95px;
 float:left;
 display:inline;
 margin-left:30px;
}


#pt-bottom h2 {
 padding:0px;
 color:#385B7E;
 font-size:22px;
}

ul#arrows {
 list-style-type: none;
 padding: 0;
 margin-left: 20px;
 line-height:140%;
}

li.imgArrow {
 background-image: url("img/pt-rightarrow.jpg");
 background-repeat: no-repeat;
 background-position: 0 0.1em;
 padding-left: 2.5em;
}

div#pt-bottomLeft {
 padding-top:20px;
 width:45%;
 float:left;
 margin-left:0px;
}
 
div#pt-bottomRight {
 padding-left:25px;
 padding-top:20px;
 width:45%;
 float:left;
 display:inline;
 margin-left:20px;
 border-left:2px dotted #ccc;
}

div#seals {
 clear:both;
 padding-top:5px;
 text-align:center;
 border-top:2px solid #ccc;
 margin-top:10px;
}

.margin25 {
margin-left:25px;
}

/*--start now page pt-tryfree.html--*/
#tryFree h1{
 font-size:40px;
 color: #385B7E;
 font-weight:bold;
 text-align:center;
 padding:0px;
}

#tryFree h2{
 color:#7A8188;
 font-size:24px;
 border-bottom: 2px dotted #ccc;
 text-align:center;
 width:500px;
 margin: 0 auto;
}

#tryFree h3{
 color:#000;
 font-size:16px;
 border-bottom: 2px dotted #ccc;
 text-align:center;
 width:750px;
 margin: 0 auto;
}

#startNowCut{
background:url('img/pt-startnow.jpg') 0 0;width:150px; height:40px;
}

#startNowCut1{
background:url('img/pt-startnow.jpg') 0 0;width:150px; height:40px;
 float:left;
 display:inline;
 margin-left:30px;
}

#priceCut{
background:url('img/pt-startnow.jpg') 0 -40px;width:150px; height:48px;
}

#sg-price{
background:url('img/sg-price.jpg') 0 0;width:102px; height:50px;
}

#floatLeft {
float:left;
display:inline;
}
#floatRight {
float:right;
}

#pt-prodCheck {
margin-left:10px;
margin-right:0px;
vertical-align:middle;
margin-bottom:2px;
}

.prodGrey {
   border: 2px solid #ccc;
   color:#000;
   padding:10px;
   border-radius: 8px; 
   -webkit-border-radius: 8px; 
   -moz-border-radius: 8px; 
   -khtml-border-radius: 8px;
   font-family:calibri, arial,helvetica,sans-serif; 
   font-size:16px;  
   box-shadow: 0 5px 12px rgba(0,0,0,.4); 
   -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
   -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
   -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);    
}

.prodTotal {
   border: 2px solid #ccc;
   color:#000;
   border-radius: 8px; 
   -webkit-border-radius: 8px; 
   -moz-border-radius: 8px; 
   -khtml-border-radius: 8px;
   font-family:calibri, arial,helvetica,sans-serif; 
   font-size:16px;  
}
img.center {   display: block;   margin-left: auto;   margin-right: auto; }


#pracTest100 {
float:left; padding-left:5px; margin-bottom:3px;
}

#pracStudyGuide {
display:none; padding-left:5px;
}

.removeSG {
font-size:8pt; color:red; cursor:pointer; margin-right:10px;
}

#specialBonus { color:red;margin-left:60px; font-weight:bold;font-size:20px;margin-top:5px;margin-bottom:5px; }
#practiceBox { height:271px; width:454px;float:left;margin-left:50px; }
#bonusDiv { background:#fefcc1;width:265px;height:270px;float:left;margin-left:50px; }

/*---- practice test map----*/
#flashmap { float:left;  }
#selectmap { float:right; padding-right:15px; font-size:16px; font-weight:bold; text-align:center; }
.imgmain { display:none; }
.imgform { display:none; }
.pickState { font-size:16px; font-weight:normal; white-space:nowrap; padding:0px 10px 1px 10px; }
a.pickState { color:blue; }


#mainmap { padding:10px; vertical-align:top;}

#map {
height:300px;
background:#eee;
float:left;
width:590px;
height: auto !important;
}
#selectstate   {
border:1px solid #6c94c5; width:140px; height:240px; background-color:#FFFFFF; text-align:left; overflow:auto; padding:3px;
padding-left:10px;
font-weight:normal;
scrollbar-shadow-color: #7798ba;
scrollbar-3DLight-Color: #7798ba;
scrollbar-arrow-color: #7798ba;
scrollbar-face-color: #FFFFFF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
}


#colMap { 
 color: #333;
 margin: 0px 5px 5px 0px;
 height: 100%;
 width: 585px;
 float: left;
 background: #fff;
}
.small_14 { font-size:14px; }
.pad_y_5  { padding-top:5px; padding-bottom:5px; }

#showResult {
border: 2px solid #eee;
height:100px;
}

#last3 {font-size:8pt;color:#bbb;}

input#cc_tc_agree {margin:0; padding:0;}


/*------------CHECKLIST FORM BUILDER ---------------*/
div.formBuilderCRY{padding:0; margin:0;}

div.formBuilderCRN{background: transparent; width:0px; height:0px;}

div.formBuilderCTY{padding:0; margin:0;}

div.formBuilderCTN{background: transparent; width:0px; height:0px;}


/*----------- RESOURCES ------------*/
#resources {padding:10px; margin-bottom:20px;}

p#resP {line-height:150%;vertical-align:middle; padding-right:30px;}

img#res {padding-left:6px;padding-right:6px;}

img.middle {vertical-align:middle;}

img#paddingRight { padding-right:20px;}

td#dl {
border:1px solid navy;
padding: 2px 6px 2px 6px;
}

#articleDiv {padding: 10px; margin-bottom: 18px; background:#fff; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; box-shadow: 0 5px 12px rgba(0,0,0,.4); -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); }
#articleDiv:hover {background:#eee;}

#resButton {display:inline; float:left; margin-left:20px; text-align:center; padding: 10px; margin-bottom: 20px; width:200px; background:#bbb; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; box-shadow: 0 5px 12px rgba(0,0,0,.4); -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); }
#resButton:hover {background:#ccc;}

/*------------ CONGRATS ---------------*/

.none {display:none;}
.block {display:block;}

div#highlight {
background:#E3E5E8;
margin-right:231px;
text-align:center;
margin-top:10px;
padding-top:10px;
padding-bottom:10px;
width:482px;
}

p#congratsText {
margin-left:80px;
margin-top:120px;
margin-right:236px;
font-family:arial;
text-align:center;
size:16px;
}

#congrats {
float:left;
margin-left:30px;
}

/*-----------DISCLAIMER-------------*/
  div.disclaimer{
   display:block;
   position:absolute;
   top:0;
   right:0;
   width:98%;
   margin:0 auto;
	background:#2e8eb7;
	border-top:4px solid #ddd;
   color:#ffffff;
   text-align:center;
   font-family:arial;
   font-size:17px;
   font-weight:bold;
   padding:2px 20px;
  }
/*------DEEP LINK CHECKLIST  (excel)------*/

#scenarioP {text-align:justify;}

div.pdfynY{
background:url(img/pdfBoxNew1.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
margin-left:50px;
}

div.pdfynN{background: transparent; width:0px; height:0px;}

div.checklistynY{
background:url(img/checklistBoxNew.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
margin-left:50px;
}
div.checklistynN{background:transparent; width:0px; height:0px;}


div.linksynY{
background:url(img/dmv-appBoxNew1.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
margin-left:50px;
}

div.linksynN {
background:url(img/dmv-locBoxNew1.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
margin-left:50px;
}

div.ebookY {
background:url(img/ebookBoxNew.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
margin-left:50px;
}

div.uspsY {
background:url(img/usps.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
margin-left:50px;
}

div.genericChangeAddress {
background:url(img/coageneric.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
margin-left:50px;
}


div#leftChecklist {
width:545px;
float:left;
}

div#rightChecklist {
width:545px;
float:right;
}

div#hr {
background:url(img/hr.jpg) repeat-x;
height:30px;
}

/*------END DEEP LINK CHECKLIST  (excel)------*/

/*--- splash ---*/
#splash_innerContainer{background: url(img/splash_bg01.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#stateinfo-bg {background: url(img/stateinfo-bg.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#stateinfo-bg h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
#landing_innerContainer{background: url(img/splash_bg01landing.jpg) no-repeat; width:857px; height:410px;  margin:auto;}
#landing_innerContainer h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
#splash_innerContainer2{background: url(img/splash_bg02.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#splash_innerContainer h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
.splash_mainTextBox {width: 470px; margin: 45px 0 0 50px; height:170px; font-family: arial; overflow:hidden; }
.splash_selectBox {float:right; margin-right: 300px; margin-top: 15px; }
.splash_getStarted  {float:right; margin: 0px -420px 0px 0px; }
.splash_start { width:200px; height:24px; background:url("img/splash_bt01.png") no-repeat; }

/*--- servsplash ---*/

h1.texas { background:url("img/texasflag.png") no-repeat; height:70px; padding-left:105px !important;  }

#splash_innerContainerTX{background: url(img/splash01new.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#splash_innerContainer2TX{background: url(img/splash_bg02.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#splash_innerContainerTX h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
.splash_mainTextBoxTX {width: 470px; margin: 45px 0 0 50px; height:170px; font-family: arial; overflow:hidden; }
.splash_selectBoxTX {float:right; margin-right: 300px; margin-top: 30px; }
.splash_getStartedTX  {float:right; margin: 15px -420px 0px 0px; }
.splash_startTX { width:200px; height:60px; background:url("img/splash_bt01.png") no-repeat; margin: 0px 0px 0px 30px; float:left; }
.linkHome { width:450px; height:40px; float:right; padding-top:18px;color:#007b8c; font-size:14px;}
#splashTC {margin-left:9px;margin-right:9px;clear:both;padding:7px;font-size:11px;border:1px solid #eee;}

.imgform, .imgmain { display:none; }

.allmyins { background-image:url(img/all-my-insurance.jpg); width:468px; height:60px; text-indent:-9999px; display:block;}


/*----  rpm ---- */
#rpmbtn  { border:none; }
.rpmtable td { text-align:left; padding:0px; }
.rpmtable th { text-align:left; padding:0px; }


/*--- search feeds ---*/
ul.pagination { list-style-type: none; padding: 0px; margin-left: 3px; }
ul.pagination li { display: inline; margin-left: 10px; color: blue; cursor:pointer; border: thin solid gray ; padding: 5px; }
.currentPage { border: none !important; color: green !important; font-weight: bold; }

/*---- freebuy -----*/
#feeLeft {background-image:url(img/fee7.png); width:422px; height:289px; margin:0px;float:left;margin-left:15px;}
#freeRight {background-image:url(img/free.png); width:419px; height:289px; float:left;display:inline;}
#feeOrFree {margin-top:30px;}

#dl-success {display:none;border:2px solid #ccc; padding:15px;margin-bottom:20px;background:#eee;}

.tooltip {
  display:none;
  width:185px;
  position:absolute;
  border-radius:5px;
  box-shadow:2px 2px 3px rgba(0,0,0,.2);
  background-color:#eee;
  border:2px solid #ababab;
  text-shadow:-1px -1px 0 #F4F4F4;
  color:#666;
  font:12px Calibri, Geneva, sans-serif;
  padding:10px;
  text-align:left;
}

.center {   display: block;   margin-left: auto;   margin-right: auto; }

#greenPricePoint {color:#267F00; font-size: 30px; font-weight:bold; margin-left:300px; margin-top:5px; }
#feeParagraph {margin-left:165px;margin-top:47px;width:210px;color:black; }
#ifApplicable {clear:both;font-size:12px;color:#404040;margin-left:20px;margin-top:50px; }

/* --------------easyguide page --------------- */
#easyGuide {
background:url("img/easyGuideBox.png") no-repeat; width:555px; height:600px;padding:20px; float:left;}
}

/*--- dmv-links ---*/
.col-official{ float: left; text-align:justify; background:#eee;}
.col-official { float: left; width: 250px; margin: 0 30px 0 0;}

/*--- new splash campaigns for google [splash --> landing  || servsplash --> servlanding ---*/ 
#indexBox {
clear:left;border:1px solid #eee;padding:10px;font-size:12px;width:80%;margin:20px 0;
}

#landingBox {
padding:10px 40px;margin-top:60px;font-size:12px;width:100%;
}

#servLandingBox {
padding:10px;font-size:12px;width:94%;
}

/*--- dl billing ---*/
#item {
padding-left:4px;width:260px;margin-top:10px;margin-bottom:10px;border-bottom:1px dotted #eee;
}

#itemForm, #itemRoadside {
padding-left:4px;width:260px;margin-top:10px;margin-bottom:10px;border-bottom:1px dotted #eee;
}

#cartPrice {
float:right;margin-right:10px;
}

#greenFree {
float:right;margin-right:10px;color:green;
}

#ssTotal {
background:#eee;text-align:center;font-weight:bold;padding:5px;
}

#termsBox {
clear:both;padding:7px;font-size:11px;border:1px solid #eee;
}

#road {
font-size:20px;color:#376092;text-align:center;font-weight:bold;border-bottom:2px dotted silver;margin-bottom:15px;
}

.removeRS {
font-size:8pt; color:red; cursor:pointer; margin-right:10px;
}

.addRS {
font-size:8pt; color:green; cursor:pointer; margin: 10px;
}

#no-line-spacing {
line-height:110%;
}

/*---restuarant.com gift ---*/
#giftBig {
width:70%; margin:0 auto; border:1px solid #ccc;padding:30px 20px;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

#giftInputs, #refundInputs {
width:70%;margin:0 auto; background:#eee;padding:15px;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

#noticeBox {
width:80%; margin:0 auto; border:1px solid #ccc;padding:15px;
}

.err_mess {
background: #fff; color:black; font-size:14px; border:2px solid red; width:70%; display:none; margin:auto;padding:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

table#refundform td#pad {
padding-top:20px;
}

textarea#reason {
font-size:14px; font-family:arial;
}


/*---------------- GPP -----------------*/

#transam-topRedBorder{
border-top:5px solid #B50606;
border-bottom:5px solid #B50606;
padding:10px;
height:55px;
}

p#gpp-tcp {
margin-top:30px;
font-size:10px;
clear:both;
}

.greyWrap {
border: 2px solid #eee;
background:#eee;
color:#000;
padding:10px;
border-radius: 8px; 
-webkit-border-radius: 8px; 
-moz-border-radius: 8px; 
-khtml-border-radius: 8px;
}

.gpp-red {
color:#B50606;
font-size:20px;
font-weight:bold;
}

.gpp-red-big {
color:#B50606;
font-size:35px;
font-weight:bold;
}

#gpp-h1 {
font-weight:bold;text-align:center;
}

.gpp-div20 {
margin-top:20px;
}

.gpp-benefits li {
font-weight:bold;
}

.gpp-green {
color:#11A73A;
font-weight:bold;
}
.gpp-link {
color:blue;
text-decoration:underline;
}

#gpp-yes, #gpp-no, #gpp-confirm {
margin-left:0px;
}

#gpp-hide-confirm {
display:none;
}

ul#checks {
 list-style-type: none;
 padding: 0;
 margin-left: 20px;
 line-height:140%;
}

li.gppCheck {
 background-image: url("img/red-check.png");
 background-repeat: no-repeat;
 height:35px;
 padding-left: 1.5em;
 vertical-align:middle;
}

.vertalignmiddle {
vertical-align:middle;
}

#gpp-center {
width:745px;
margin:0 auto;
}

#covp {
text-align:center;
margin-top:20px;
margin-bottom:20px;
}

.gppclear {
height:20px;clear:both;
}

#gpp-submit, #gpp-nothanks {
cursor:pointer;
}
