*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.imgwrapper img{
	width: 100%;
	height: 500px;
}

.logo{
	text-align: center;
	padding: 1em 0 0.5em;
}

.navbar{
	margin-bottom: 0;
}

h3{
	color: red;
	font-weight: 600;
}

/*Estilos tabs seccion segundos llamados a la accion*/

/* .tabs-section{ */
    /* padding: 0 5em; */
    /* border-bottom: 1px solid #ccc; */
    /* line-height: 30px; */
    /* width: 100%; */
/* }  */

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li.active > a,  
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;

}

.nav-tabs > li > a {
	border: none;
    color: #777;
}

.border-gray{
    border-top: 1px solid #ccc;
}

.tab-pane h3{
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 20px;
    width: 15%;
    padding-left: 0.5em;
    font-weight: 400;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    background: transparent;
}

.nav-tabs > li > a::after { 
    content: ""; 
    background: red;
    height: 4px; 
    position: absolute;
    width: 100%;
    left: 0; 
    bottom: 0; 
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,  
.nav-tabs > li:hover > a::after { 
    transform: scale(1); 
}

.tab-nav > li > a::after { 
    background: #21527d none repeat scroll 0% 0%; color: #fff;
}


.mt-2{
	margin-top: 2em;
}

/*estilos modal*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
	border: none;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: none;
    border-radius: 0;
    padding-left: 0;
}

.form-control:focus{
	-webkit-box-shadow: none;
}

/* Set a style for all buttons */
.modal .button a,
.modal-button .button a{
    background-color: #2FA5EF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.modal .button a:hover,
.modal-button .button a:hover{
   text-decoration: none;
   background: #0e7bc0;
}


.modal h4{
    color: #444;
}
/* Extra styles for the cancel button */
.modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.modal .container {
    padding: 16px;
    width: 100%;
}

.modal span.psw {
    float: right;
    padding-top: 16px;
}
.modal{
	display: none; /* Hidden by default */
}
/* The Modal (background) */
.modal,
.modal-button {
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* padding-top: 60px; */
}

.modal h5,
.modal-button h5{
	width: 90%;
    margin-top: 0;
    display: inline-block;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    /* margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */ */
    /* border: 1px solid #888; */
    width: 100%; /* Could be more or less, depending on screen size */
	border-radius: 0;
	height: 100%;
    /* overflow: scroll; */
	min-height: 590px;
}

/* The Close Button (x) */
.modal .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.modal .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .molda span.psw {
       display: block;
       float: none;
    }
    .modal .cancelbtn {
       width: 100%;
    }
}


.sprite-icons li{
	display: inline-block;
	width: 20px;
}

#paiment{
	display: none;
	transition: 0.5s;
}

.mt-3{
	margin-top: 3em;
}

.modal label{
	text-align: left;
	width: 100%;
}

/* pagination */
.pagination>li>a, 
.pagination>li>span{
	border: 0;
	border-radius: 100%;
}

.pagination>li>a{
	background: #ddd;
	margin-right: 1em !important;
}

.pagination-tabs>li>a{
	background: transparent;
	color: #444;
	border-radius: 0;
}

.pagination-tabs>li>a:hover,
.pagination-tabs>li>a:focus{
	background: transparent;
	border-bottom: 4px solid red;
}

.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span{
	background: transparent;
	color: #444;
	border-radius: 0;
}

.pagination .numeros a{
	text-indent: -666em;
    overflow: hidden;
    width: 10px;
    height: 10px;
	padding: 0;
	margin-top: 0.8em;
	margin-right: 0.5em;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus,
.pagination>.active>span:hover{
	background: #444;
}

.content .imgwrapper img{
	height: 300px;
}

.pagination-tabs{
	display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}