.navbar.navbar-default .navbar-header .navbar-brand img {
   margin-left: -5px;
}
.navbar.navbar-default .navbar-header .navbar-brand img.hidden-xs {
   margin-top: 10px;
}
#site-top-disclaimer {
   font-size: 13px;
   font-weight: bold;
}
.main .container h1 {
   color: #283891;
}
div.title h3 {
   color: #283891;
}
/*div.border-top, section.border-top {
   border-top: 5px solid #283891;
}
.step2-box-right .header .step2-box-right-header-tag div, .step2-box-right .header .step2-box-right-header-title {
   background-color: #283891;
}
.step2-box-right .header .step2-box-right-header-tag div {
   border-bottom-color: #283891;
}
.step2-box-right-content {
   border: 5px solid #283891;
}*/