/* ========= START: Sitemap ========= */
.sitemap
	figure 
		margin-left: auto
		margin-right: auto
		a 
			color: #333

@media only screen and(min-width: 1442px) 
	

@media only screen and(max-width: 1068px) 
	.sitemap
		figure 
			width: 692px

		section 
			+column-count(3)
		.topic 
			width: 230.66667px

@media (min-width: 1200px)
	.sitemap
		.topic
			&.long
				dl
					+column-count(4)

@media (min-width: 1025px) and (max-width: 1199px)
	.sitemap
		.topic
			&.long
				dl
					+column-count(3)

@media only screen and(max-width: 735px) 
	.sitemap
		figure 
			width: 90%

		section 
			+column-count(1)

		.topic 
			width: 100%

		.topic h5 
			padding-right: 0

		dl 
			padding-right: 0

.sitemap
	ul
		list-style: none
		padding-left: 0
	a, h3, h4, h5
		text-transform: capitalize

	figure 
		&> div
			display: inline-block
			margin-bottom: 26px
			vertical-align: top
			width: 230px
			+column-span(1)

	h4 
		font-size: 28px
		line-height: 1.71429
		font-weight: 200
		letter-spacing: normal
		border-bottom: 1px solid #d6d6d6
		display: block
		margin: 0 0 20px 0
		border-bottom: 1px solid #ddd
		margin-bottom: 20px
		padding-bottom: 10px
		a
			color: inherit

	section 
		margin: 10px 0 45px
		clear: both

	.topic 
		margin-bottom: 26px
		position: relative
		vertical-align: top
		+column-span(1)

	.topic h5 
		font-size: 18px
		line-height: 1.45
		font-weight: 600
		letter-spacing: normal
		margin-bottom: 10px
		padding-right: 34px

	dl 
		font-size: 16px
		line-height: 1.5
		font-weight: 400
		letter-spacing: normal
		list-style: none
		margin: 9px 0
		&.no-headline 
		margin: 0
		dt
			margin-left: -20px
			padding-bottom: 7px
		dd 
			display: list-item
			padding: 4px 0
	
	/*
		.category-support 
			.category-section
				display: block
				dl 
					margin: 0
					dd
						display: inline-block
						position: relative
						width: 100%
						z-index: 1
/* ========= END: Sitemap ========= */