/* GLOBAL */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display : block; }

abbr[title] { border-bottom : 1px dotted; cursor : help; }

/*

.container{
	padding-left:auto!important;
	padding-right: auto!important;
}

.row{
	margin-left:auto!important;
	margin-right:auto!important;
}*/

.form-group{margin-bottom: 5px!important;}
.form-control{height: 28px!important;padding: 4px 6px!important;}

.nopad{padding:0!important;}
.noleftpad{padding-left:0!important;}
.norightpad{padding-right:0!important;}

body { 
	margin : 0 auto;
	height: 100%;
	font : 16px/1.4 Arial, "Helvetica Neue", Helvetica, sans-serif;
	color : #357;
	cursor:default;
	background: #D2DBDA url(img/texture.png);
}

h1, h2, h3, h4 {font-weight: bold; padding:0px; margin:0px;}

h1 { 
	font: bold 30px/1.2 Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	line-height: 100%;
	padding: 0 0 9px;
	margin: 0 0 9px;
	color: #444; 
	text-align:left;
 }
 

h1 em { font-weight: normal; font-style: normal; font-size: 36px; letter-spacing: -1px; color: #3CBCC6; font-family: Georgia, "Times New Roman", Times, serif; }

h1 span { font-size: 18px; color: #999; text-transform: uppercase; font-weight: bold; }

h2 { 
	font-weight: bold!important;
	font-size: 16px!important; 
	line-height: 22px!important; 
	color: #357!important; 
}

/* FIELDSETS */
fieldset h2 {
	font-size: 24px!important; 
	background: transparent url(img/select-form-sprite.png) no-repeat 0 -75px;
	padding: 18px 0 0 50px; 
	height: 55px; 
	color: #00AEC5!important;
}
fieldset#step2 h2 { background-position: 0 -135px; }

fieldset#step1,fieldset#step2{
	padding-left: 40px;
	/*margin-left: -40px;*/
}

.clear{clear:both;}

.spacer{padding:10px;}

/* HEADER */
header {width:100%;}

header .headerpic{
	background: #ffffff;
}

header .headerpic .container{
	padding: 0px;
}

header .headerpic .container .logo{
	float:left;/*padding-bottom:10px;*/
}

header .headerpic .container .slogan{
	float:left;
	display:inline;
	padding-top:10px;
}

header .headerpic .container .slogan h1{
	padding: 0 30px 18px;
	font-size: 20px;
	line-height: 26px;
	color: #999;
	margin: 0;
	letter-spacing: -1px;
	text-align: left;
}

.disclaimer{
   display:block;
   margin:0 auto;
   color:navy;
   text-align:center;
   font-family:arial;
   font-size:17px;
   font-weight:bold;
  }


/* NAV MENU */
#nav { 
	float:left; width:100%; 
}

#nav ul { 
	position:relative; 
	float:left; width:100%; 
	margin: 0; padding: 0; 
	list-style-type: none;
}

#nav li {position: relative; float:left; }

#nav li a {
	display:block;
	color: #357;
	text-align: center; 
	height: 36px;
	padding-left:43.4px;
	padding-right:44px;
	line-height: 36px;
	font-weight: bold;
	text-decoration: none; 
	background: #adc2c4; /* Old browsers */
	background: -moz-linear-gradient(top, #e6f3f4 0%, #adc2c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f3f4), color-stop(100%,#adc2c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f3f4', endColorstr='#adc2c4',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* W3C */
	border-right: solid 1px #ADC2C4;
	border-left: solid 1px #e6e6e6;
}


/* CONTENT PAGE */
.content{
	background:#fff;
	padding: 0;
}

.content .innerbox{
	border:1px solid #eee;
	padding:10px;
	font-size: 12px;

}

div.disclaimer{
	position: relative;
	width: 100%!important;
}

/* CUSTOM RADIO */

/* FORM */
.dottedline{
	margin:10px 0px!important;
	height: 4px;
	width: 100%;
	background:url(//car-registration.org/img/hr.png) repeat-x;
}

.formtitle{
	font-weight: bold;
	font-size:24px;
	color:#2779A4;
}

.inputrow{
	padding:5px 0px;
}

.input{
	width:225px;
}

.monthinput{
	width:76px;
}
.dayinput{
	width:60px;
}
.yearinput{
	width:68px;
}

.submitrow{
	padding:5px 0px 40px 0px;
}

.coltitle{
	font-weight: bold;
	font-size: 14px;
}

.breadcrumbstatus{
	width:95%;
}

.step{
	padding:10px;
	float:left;
}

.step .circle{
	float:left;
	text-align: center;
	width:20px;
	height: 20px;
	background:#eee;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border:1px solid #666;
	font-size: 13px;
	color:#666;
	margin-right: 10px;
}
.step .breadcrumbtitle{
	float:left;
	color: #666;
	font-weight: bold;
	font-size: 14px;
}
.step .selected{border:1px solid #5096C7; background:#5096C7;color:#fff;}

.mailexample{padding: 30px;}

#splash_innerContainerTX{
	background:transparent!important;
	width:auto!important;
	height:auto!important;
	margin:20px auto;
}

#splash_innerContainerTX .pageimage{margin:0 auto;}
.splash_mainTextBoxTX{width:auto!important;height:auto!important;margin:0 0 0 35px!important;}
.continue{}
.linkHome{}

/* FORM */

/* FOOTER */
footer{
	text-align: center;
	font-size: 12px;
}

footer .container{
	padding:0px;
	position: relative;
	clear: both;
	margin:0 auto;
	background:#ddd;
	padding: 30px;
}

footer .content{
	background:#ddd;
}

footer a{color:#007B8C;text-decoration:none;}
footer a:visited{color:#007B8C;}
footer a:hover{color:#007B8C;text-decoration:underline;}


/* SLICK NAV */
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 767px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}

	
	.slicknav_menu {
		display:block;
		z-index:1001;
		position:absolute;
		top:0px;
		right:0px;
		width:100%;
		background:none!important;
		padding:0!important;
		margin:0;
	}

	.slicknav_nav{
		margin-top: 105px!important;
		background:#33414e;
	}

}

/* HOME PAGE EXTRA FOOTER */
.extrafooter { 
	background: #eee; 
	padding: 18px 60px; 
	margin: 30px 30px 0 30px; 
	font-size: 12px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}

#c6 {
	background: url(img/audiobooks.png) no-repeat;
}

/* MEDIA QUERIES */

/* SMALL DESKTOP */
@media (min-width: 992px) and (max-width: 1199px) {
	#nav li a {
		padding-left:29.85px;
		padding-right:29px;
	}

	.nopad{padding:0px!important;}
	.noleftpad{padding-left:0px!important;}
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px){
	#nav li a {
		padding-left:13.4px;
		padding-right:14px;
	}


}

@media (max-width: 767px){
	.colmobpadding {padding-top:10px!important;}

	.nopad{padding:0 15px!important;}
	.noleftpad{padding-left:15px!important;}

	#screen-index #mainContent{background:none;}
	#splash_innerContainerTX .pageimage{display:table-cell;}
	.splash_mainTextBoxTX{width:auto!important;height:auto!important;overflow:visible!important;}
	.continue{float:none!important;}
	.linkHome{display:block;float:none!important;height: 80px!important;}

}

@media (min-width: 535px) and (max-width: 615px){
	.slicknav_nav{
		margin-top: 190px!important;
	}

	.coltitle{padding-left:0px!important;}
	
}

@media (max-width: 534px){
	.slicknav_nav{
		margin-top: 202px!important;
	}

	#noticeBox{width:100%!important;}

	.colmobpadding {padding-top:25px!important;}
	/*header .row{margin: 0 auto!important;}*/
	
	header .logo {float:none!important;margin-left:30px;margin-top: 20px;}
	header .slogan h1 em{font-size: 24px!important;}

	h1{font-size:20px!important;}
	h3{font-size: 18px!important;}

	fieldset#step1, fieldset#step2{
		margin-left:0px!important;
	}

	#step1 div.checkpair{padding-left: 10px!important;}

	fieldset h2{font-size: 17px!important;}

	.coltitle{padding-left:0px!important;}
	.nopad{padding:0px!important;}
	.noleftpad{padding-left:15px!important;}
	
	#step1icon{display: none!important;}
	#step2icon{display: none!important;}
	#step3icon{display: none!important;}
	#step4icon{display: none!important;}

	#mainContent{padding:0px!important;}
	div.checklistynY{
		width:95%!important;
		height:70px!important;
		background-image: none;
		background-color: #303083;
		border-radius: 10px;
		color:#fff;
		line-height: 18px;
		font-size:20px;
		padding:10px;
	}
	div.checklistynY:before{
		content: "Your Registration Easy is ready for download";
	}

	div.pdfynY{
		width:95%!important;
		height:70px!important;
		background-image: none;
		background-color: #E84000;
		border-radius: 10px;
		color:#fff;
		line-height: 18px;
		font-size:20px;
		padding:10px;
	}
	div.pdfynY:before{
		content: "Your Registration Easy is ready for download.";
	}

	div.linksynN{
		width:95%!important;
		height:70px!important;
		background-image: none;
		background-color: #ccc;
		border-radius: 10px;
		color:#000;
		line-height: 18px;
		font-size:20px;
		padding:10px;
	}
	div.linksynN:before{
		content: "Find the DMV office nearest you. Download Now";
	}
	#c6{
		background-image: none;
        background-color: #30E44C;
		content: "Driver tips and resouces Audio Book. Download Now";
	}
	#step5icon{
		display: none;
	}
	div.ebookY{
		width:95%!important;
		height:70px!important;
		background-image: none;
		background-color: #81C3E4;
		border-radius: 10px;
		color:#000;
		line-height: 18px;
		font-size:20px;
		padding:10px;
	}
	div.ebookY:before{
		content: "Driver tips and resouces handbook. Download Now";
	}

}

/* MOBILE */
@media (min-width: 321px) and (max-width: 767px){

	#nav li a {
		padding-left:13.4px;
		padding-right:14px;
	}

	/* FORM */
	
	div.dmvLocSearch { height: 55px; width:300px; background:#ddd; padding:10px; border: 1px solid #848484; margin:0 auto}

}

@media (min-width: 320px){

	#step1{
		width:auto!important;
	}
	#step1 label{
		font-size: 14px;
	}

	.extrafooter{
		padding:20px!important;
		margin:30px 5px 0px 5px;
	}

	.extrafooter h1{
		font-size: 24px!important;
	}

}