<!--$hometemplate.html$-->
<div id="form-section">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="row subscriber">
               <div class="col-xs-12 col-md-6">
                  <h3 class=""><strong>Get Your Vehicle Registration Now!</strong></h3>
                  <p class="lead hidden-xs">
                     Renew your Texas Vehicle Registration online in a few easy steps. Simply fill out the form to get started. Once you've submitted your information, you will be on your way to receiving your TX car registration.
                  </p>
               </div>
               <div class="col-xs-12 col-md-6">
                  <form action="/dispatcher" method="post" id="orderForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                     <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                     <div class="row top-buffer bottom-bufferless">
                        <div class="col-xs-12 col-md-6">
                           <div class="form-group has-feedback">
                              <label for="first_name">First Name:</label>
                              <input type="text" class="form-control" id="first_name" name="first_name" value="" placeholder="First name" required="" data-fv-field="first_name">
                              <i class="form-control-feedback" data-fv-icon-for="first_name" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="first_name" data-fv-result="NOT_VALIDATED" style="display: none;">The first name is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="first_name" data-fv-result="NOT_VALIDATED" style="display: none;">The first name can only contain the letters, digits and spaces</small>
                           </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                           <div class="form-group has-feedback">
                              <label for="last_name">Last Name:</label>
                              <input type="text" class="form-control" id="last_name" name="last_name" value="" placeholder="Last name" required="" data-fv-field="last_name">
                              <i class="form-control-feedback" data-fv-icon-for="last_name" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="last_name" data-fv-result="NOT_VALIDATED" style="display: none;">The last name is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="last_name" data-fv-result="NOT_VALIDATED" style="display: none;">The last name can only contain the letters, digits and spaces</small>
                           </div>
                        </div>
                     </div>
                     <div class="row top-buffer bottom-bufferless">
                        <div class="col-xs-12 col-md-6">
                           <div class="form-group has-feedback">
                              <label for="email">Email Address</label>
                              <input type="email" name="email" class="form-control" value="" placeholder="E-mail" data-fv-field="email">
                              <i class="form-control-feedback" data-fv-icon-for="email" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The input is not a valid email address</small><small class="help-block" data-fv-validator="identical" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The email and its confirm are not the same</small>
                           </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                           <div class="form-group has-feedback">
                              <label for="vehicle">Vehicle Type</label>
                              <select class="form-control" name="vehicle" data-fv-field="vehicle">
                                 <option value="">Select Vehicle</option><option value="V1">Car or Light Truck</option><option value="V2">Medium Truck (6,001 - 10,000 lbs)</option><option value="V3">Large Truck (10,001 - 18,000 lbs)</option><option value="V4">Moped or Motorcycle</option><option value="V5">Trailer / Travel Trailer</option>
                              </select><i class="form-control-feedback" data-fv-icon-for="vehicle" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="vehicle" data-fv-result="NOT_VALIDATED" style="display: none;">The type of vehicle is required</small>
                           </div>
                        </div>
                     </div>
                     <div class="row top-buffer bottom-bufferless">
                        <div class="col-xs-12">
                           <input type="hidden" name="csrf_name" value="csrf5a3bcd33ef4d2">
                           <input type="hidden" name="csrf_value" value="72e20dfb4e9e31c75101bd654d84e37a">
                           <input type="submit" value="Check Out Now!" class="btn btn-block btn-lg btn-default btn-danger">
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="form-section">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <h2 class="line-left">About Renewing Your Texas Vehicle Registration</h2>
         </div>
         <div class="col-xs-12 col-md-6">
            <p class="side-buffer-60">
               Texas car registration documents act as proof that the owner registered a vehicle legally within the state. In Texas, drivers are required to renew their vehicle before their car registration documents expire. Drivers may renew their vehicle six to eight weeks before their registration expires. Renewing vehicle registration in Texas, may be done conveniently online, or by making an appointment and visiting your local Department of Motor Vehicles office.
            </p>
         </div>
         <div class="col-xs-12 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/a_OHdg0ueFk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
         </div>
         <div class="col-xs-12">
            <p class="side-buffer-60">
               TexasCarRegistration.org allows users to renew their TX car registration online. To begin renewing your car registration credentials in Texas, the quickest and easiest way possible, simply fill out the short form provided above. To renew your car registration through TexasCarRegistration.org, you will need to provide a few important pieces of vehicle and insurance-related information. All this can be done within minutes - without ever having to visit the DMV.
            </p>
         </div>
      </div>
   </div>
</div>
<div id="steps-section" class="">
   <div class="container">
      <div class="row top-buffer bottom-buffer">
         <div class="col-xs-12">
            <h2 class="line-left">How it Works</h2>
         </div>
         <div class="col-xs-12 col-md-4">
            <div class="text-center">
               <a href="/renew-registration.html"><img src="{CSS-CLOUD}/images/step1.png" class="img-responsive center-block"></a>
            </div>
            <div class="text-center">
               <p class="top-buffer">
                  <a href="/renew-registration.html" style="color: #333;">Fill Out Online Form</a>
               </p>
            </div>
         </div>
         <div class="col-xs-12 col-md-4">
            <div class="text-center"><img src="{CSS-CLOUD}/images/step2.png" class="img-responsive center-block">
            </div>
            <div class="text-center">
               <p class="top-buffer">
                  Proceed To Payment
               </p>
            </div>
         </div>
         <div class="col-xs-12 col-md-4">
            <div class="text-center"><img src="{CSS-CLOUD}/images/step3.png" class="img-responsive center-block">
            </div>
            <div class="text-center">
               <p class="top-buffer">
                  Receive Your Registration By Mail
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!--/$hometemplate.html$-->