<!--$hometemplate.html$-->
<form action="/renew-registration" method="post" id="orderForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
   <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
   <div id="county-section">
      <div class="container">
         <div class="row">
            <div class="col-md-10 col-md-offset-1" style="height:20px;"></div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-md-offset-1 frame">
            <div class="row top-buffer">
               <div class="col-md-12">
                  <h2 class="line-left bottom-buffer">Enter Your Personal Information</h2>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="first_name">Name</label>
                           <input type="text" name="first_name" class="form-control" value="" placeholder="First Name" data-fv-field="first_name">
                           <i class="form-control-feedback" data-fv-icon-for="first_name" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="first_name" data-fv-result="NOT_VALIDATED" style="display: none;">The first name is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="first_name" data-fv-result="NOT_VALIDATED" style="display: none;">The first name can only contain the letters, digits and spaces</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="middle_name">&nbsp;</label>
                           <input type="text" name="middle_name" class="form-control" value="" placeholder="Middle Name" data-fv-field="middle_name">
                           <i class="form-control-feedback" data-fv-icon-for="middle_name" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="middle_name" data-fv-result="NOT_VALIDATED" style="display: none;">The middle name can only contain the letters, digits and spaces</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="last_name">&nbsp;</label>
                           <input type="text" name="last_name" class="form-control" value="" placeholder="Last Name" data-fv-field="last_name">
                           <i class="form-control-feedback" data-fv-icon-for="last_name" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="last_name" data-fv-result="NOT_VALIDATED" style="display: none;">The last name is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="last_name" data-fv-result="NOT_VALIDATED" style="display: none;">The last name can only contain the letters, digits and spaces</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="form-group has-feedback">
                           <label for="address">Address</label>
                           <input type="text" name="address" class="form-control" value="" placeholder="Street Address" data-fv-field="address">
                           <i class="form-control-feedback" data-fv-icon-for="address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label for="apto">&nbsp;</label>
                           <input type="text" name="apto" class="form-control" value="" placeholder="Apt / Suite">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-3">
                        <div class="form-group has-feedback">
                           <input type="text" name="city" class="form-control" value="" placeholder="City" data-fv-field="city">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="state" data-fv-field="state">
                              <option value="al">Alabama</option><option value="ak">Alaska</option><option value="az">Arizona</option><option value="ar">Arkansas</option><option value="ca">California</option><option value="co">Colorado</option><option value="ct">Connecticut</option><option value="de">Delaware</option><option value="fl">Florida</option><option value="ga">Georgia</option><option value="hi">Hawaii</option><option value="id">Idaho</option><option value="il">Illinois</option><option value="in">Indiana</option><option value="ia">Iowa</option><option value="ks">Kansas</option><option value="ky">Kentucky</option><option value="la">Louisiana</option><option value="me">Maine</option><option value="md">Maryland</option><option value="ma">Massachusetts</option><option value="mi">Michigan</option><option value="mn">Minnesota</option><option value="ms">Mississippi</option><option value="mo">Missouri</option><option value="mt">Montana</option><option value="ne">Nebraska</option><option value="nv">Nevada</option><option value="nh">New Hampshire</option><option value="nj">New Jersey</option><option value="nm">New Mexico</option><option value="ny">New York</option><option value="nc">North Carolina</option><option value="nd">North Dakota</option><option value="oh">Ohio</option><option value="ok">Oklahoma</option><option value="or">Oregon</option><option value="pa">Pennsylvania</option><option value="ri">Rhode Island</option><option value="sc">South Carolina</option><option value="sd">South Dakota</option><option value="tn">Tennessee</option><option value="tx" selected="">Texas</option><option value="ut">Utah</option><option value="vt">Vermont</option><option value="va">Virginia</option><option value="wa">Washington</option><option value="dc">Washington DC</option><option value="wv">West Virginia</option><option value="wi">Wisconsin</option><option value="wy">Wyoming</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="state" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="form-group has-feedback">
                           <input type="text" name="zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="zipcode">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="county" data-fv-field="county">
                              <option value="">Select County</option><option value="Anderson">Anderson</option><option value="Andrews">Andrews</option><option value="Angelina">Angelina</option><option value="Aransas">Aransas</option><option value="Archer">Archer</option><option value="Armstrong">Armstrong</option><option value="Atascosa">Atascosa</option><option value="Austin">Austin</option><option value="Bailey">Bailey</option><option value="Bandera">Bandera</option><option value="Bastrop">Bastrop</option><option value="Baylor">Baylor</option><option value="Bee">Bee</option><option value="Bell">Bell</option><option value="Bexar">Bexar</option><option value="Blanco">Blanco</option><option value="Borden">Borden</option><option value="Bosque">Bosque</option><option value="Bowie">Bowie</option><option value="Brazoria">Brazoria</option><option value="Brazos">Brazos</option><option value="Brewster">Brewster</option><option value="Briscoe">Briscoe</option><option value="Brooks">Brooks</option><option value="Brown">Brown</option><option value="Burleson">Burleson</option><option value="Burnet">Burnet</option><option value="Caldwell">Caldwell</option><option value="Calhoun">Calhoun</option><option value="Callahan">Callahan</option><option value="Cameron">Cameron</option><option value="Camp">Camp</option><option value="Carson">Carson</option><option value="Cass">Cass</option><option value="Castro">Castro</option><option value="Chambers">Chambers</option><option value="Cherokee">Cherokee</option><option value="Childress">Childress</option><option value="Clay">Clay</option><option value="Cochran">Cochran</option><option value="Coke">Coke</option><option value="Coleman">Coleman</option><option value="Collin">Collin</option><option value="Collingsworth">Collingsworth</option><option value="Colorado">Colorado</option><option value="Comal">Comal</option><option value="Comanche">Comanche</option><option value="Concho">Concho</option><option value="Cooke">Cooke</option><option value="Coryell">Coryell</option><option value="Cottle">Cottle</option><option value="Crane">Crane</option><option value="Crockett">Crockett</option><option value="Crosby">Crosby</option><option value="Culberson">Culberson</option><option value="Dallam">Dallam</option><option value="Dallas">Dallas</option><option value="Dawson">Dawson</option><option value="Deaf Smith">Deaf Smith</option><option value="Delta">Delta</option><option value="Denton">Denton</option><option value="DeWitt">DeWitt</option><option value="Dickens">Dickens</option><option value="Dimmitt">Dimmitt</option><option value="Donley">Donley</option><option value="Duval">Duval</option><option value="Eastland">Eastland</option><option value="Ector">Ector</option><option value="Edwards">Edwards</option><option value="Ellis">Ellis</option><option value="El Paso">El Paso</option><option value="Erath">Erath</option><option value="Falls">Falls</option><option value="Fannin">Fannin</option><option value="Fayette">Fayette</option><option value="Fisher">Fisher</option><option value="Floyd">Floyd</option><option value="Foard">Foard</option><option value="Fort Bend">Fort Bend</option><option value="Franklin">Franklin</option><option value="Freestone">Freestone</option><option value="Frio">Frio</option><option value="Gaines">Gaines</option><option value="Galveston">Galveston</option><option value="Garza">Garza</option><option value="Gillespie">Gillespie</option><option value="Glasscock">Glasscock</option><option value="Goliad">Goliad</option><option value="Gonzales">Gonzales</option><option value="Gray">Gray</option><option value="Grayson">Grayson</option><option value="Gregg">Gregg</option><option value="Grimes">Grimes</option><option value="Guadalupe">Guadalupe</option><option value="Hale">Hale</option><option value="Hall">Hall</option><option value="Hamilton">Hamilton</option><option value="Hansford">Hansford</option><option value="Hardeman">Hardeman</option><option value="Hardin">Hardin</option><option value="Harris">Harris</option><option value="Harrison">Harrison</option><option value="Hartley">Hartley</option><option value="Haskell">Haskell</option><option value="Hays">Hays</option><option value="Hemphill">Hemphill</option><option value="Henderson">Henderson</option><option value="Hidalgo">Hidalgo</option><option value="Hill">Hill</option><option value="Hockley">Hockley</option><option value="Hood">Hood</option><option value="Hopkins">Hopkins</option><option value="Houston">Houston</option><option value="Howard">Howard</option><option value="Hudspeth">Hudspeth</option><option value="Hunt">Hunt</option><option value="Hutchinson">Hutchinson</option><option value="Irion">Irion</option><option value="Jack">Jack</option><option value="Jackson">Jackson</option><option value="Jasper">Jasper</option><option value="Jeff Davis">Jeff Davis</option><option value="Jefferson">Jefferson</option><option value="Jim Hogg">Jim Hogg</option><option value="Jim Wells">Jim Wells</option><option value="Johnson">Johnson</option><option value="Jones">Jones</option><option value="Karnes">Karnes</option><option value="Kaufman">Kaufman</option><option value="Kendall">Kendall</option><option value="Kenedy">Kenedy</option><option value="Kent">Kent</option><option value="Kerr">Kerr</option><option value="Kimble">Kimble</option><option value="King">King</option><option value="Kinney">Kinney</option><option value="Kleberg">Kleberg</option><option value="Knox">Knox</option><option value="Lamar">Lamar</option><option value="Lamb">Lamb</option><option value="Lampasas">Lampasas</option><option value="La Salle">La Salle</option><option value="Lavaca">Lavaca</option><option value="Lee">Lee</option><option value="Leon">Leon</option><option value="Liberty">Liberty</option><option value="Limestone">Limestone</option><option value="Lipscomb">Lipscomb</option><option value="Live Oak">Live Oak</option><option value="Llano">Llano</option><option value="Loving">Loving</option><option value="Lubbock">Lubbock</option><option value="Lynn">Lynn</option><option value="Madison">Madison</option><option value="Marion">Marion</option><option value="Martin">Martin</option><option value="Mason">Mason</option><option value="Matagorda">Matagorda</option><option value="Maverick">Maverick</option><option value="McCulloch">McCulloch</option><option value="McLennan">McLennan</option><option value="McMullen">McMullen</option><option value="Medina">Medina</option><option value="Menard">Menard</option><option value="Midland">Midland</option><option value="Milam">Milam</option><option value="Mills">Mills</option><option value="Mitchell">Mitchell</option><option value="Montague">Montague</option><option value="Montgomery">Montgomery</option><option value="Moore">Moore</option><option value="Morris">Morris</option><option value="Motley">Motley</option><option value="Nacogdoches">Nacogdoches</option><option value="Navarro">Navarro</option><option value="Newton">Newton</option><option value="Nolan">Nolan</option><option value="Nueces">Nueces</option><option value="Ochiltree">Ochiltree</option><option value="Oldham">Oldham</option><option value="Orange">Orange</option><option value="Palo Pinto">Palo Pinto</option><option value="Panola">Panola</option><option value="Parker">Parker</option><option value="Parmer">Parmer</option><option value="Pecos">Pecos</option><option value="Polk">Polk</option><option value="Potter">Potter</option><option value="Presidio">Presidio</option><option value="Rains">Rains</option><option value="Randall">Randall</option><option value="Reagan">Reagan</option><option value="Real">Real</option><option value="Red River">Red River</option><option value="Reeves">Reeves</option><option value="Refugio">Refugio</option><option value="Roberts">Roberts</option><option value="Robertson">Robertson</option><option value="Rockwall">Rockwall</option><option value="Runnels">Runnels</option><option value="Rusk">Rusk</option><option value="Sabine">Sabine</option><option value="San Augustine">San Augustine</option><option value="San Jacinto">San Jacinto</option><option value="San Patricio">San Patricio</option><option value="San Saba">San Saba</option><option value="Schleicher">Schleicher</option><option value="Scurry">Scurry</option><option value="Shackelford">Shackelford</option><option value="Shelby">Shelby</option><option value="Sherman">Sherman</option><option value="Smith">Smith</option><option value="Somervell">Somervell</option><option value="Starr">Starr</option><option value="Stephens">Stephens</option><option value="Sterling">Sterling</option><option value="Stonewall">Stonewall</option><option value="Sutton">Sutton</option><option value="Swisher">Swisher</option><option value="Tarrant">Tarrant</option><option value="Taylor">Taylor</option><option value="Terrell">Terrell</option><option value="Terry">Terry</option><option value="Throckmorton">Throckmorton</option><option value="Titus">Titus</option><option value="Tom Green">Tom Green</option><option value="Travis">Travis</option><option value="Trinity">Trinity</option><option value="Tyler">Tyler</option><option value="Upshur">Upshur</option><option value="Upton">Upton</option><option value="Uvalde">Uvalde</option><option value="Val Verde">Val Verde</option><option value="Van Zandt">Van Zandt</option><option value="Victoria">Victoria</option><option value="Walker">Walker</option><option value="Waller">Waller</option><option value="Ward">Ward</option><option value="Washington">Washington</option><option value="Webb">Webb</option><option value="Wharton">Wharton</option><option value="Wheeler">Wheeler</option><option value="Wichita">Wichita</option><option value="Wilbarger">Wilbarger</option><option value="Willacy">Willacy</option><option value="Williamson">Williamson</option><option value="Wilson">Wilson</option><option value="Winkler">Winkler</option><option value="Wise">Wise</option><option value="Wood">Wood</option><option value="Yoakum">Yoakum</option><option value="Young">Young</option><option value="Zapata">Zapata</option><option value="Zavala">Zavala</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="county" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="county" data-fv-result="NOT_VALIDATED" style="display: none;">The county is required</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="email">Email Address</label>
                           <input type="email" name="email" class="form-control" value="" placeholder="E-mail" data-fv-field="email">
                           <i class="form-control-feedback" data-fv-icon-for="email" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The input is not a valid email address</small><small class="help-block" data-fv-validator="identical" data-fv-for="email" data-fv-result="NOT_VALIDATED" style="display: none;">The email and its confirm are not the same</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="verifyemail">&nbsp;</label>
                           <input type="email" name="verifyemail" class="form-control" value="" placeholder="Verify E-mail" data-fv-field="verifyemail">
                           <i class="form-control-feedback" data-fv-icon-for="verifyemail" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="verifyemail" data-fv-result="NOT_VALIDATED" style="display: none;">The email address is required</small><small class="help-block" data-fv-validator="emailAddress" data-fv-for="verifyemail" data-fv-result="NOT_VALIDATED" style="display: none;">The input is not a valid email address</small><small class="help-block" data-fv-validator="identical" data-fv-for="verifyemail" data-fv-result="NOT_VALIDATED" style="display: none;">The email and its confirm are not the same</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="phone">Phone Number</label>
                           <input type="tel" name="phone" class="form-control" value="" placeholder="Phone" maxlength="10" data-fv-field="phone">
                           <i class="form-control-feedback" data-fv-icon-for="phone" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="phone" data-fv-result="NOT_VALIDATED" style="display: none;">The phone is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="phone" data-fv-result="NOT_VALIDATED" style="display: none;">The phone number can only have 10 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="phone" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div><h2 class="line-left bottom-buffer">Enter Your Vehicle Information</h2>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="vehicle">Vehicle Type</label>
                           <select class="form-control" name="vehicle" data-fv-field="vehicle">
                              <option value="">Select Vehicle</option><option value="V1">Car or Light Truck</option><option value="V2">Medium Truck (6,001 - 10,000 lbs)</option><option value="V3">Large Truck (10,001 - 18,000 lbs)</option><option value="V4">Moped or Motorcycle</option><option value="V5">Trailer / Travel Trailer</option>
                           </select><i class="form-control-feedback" data-fv-icon-for="vehicle" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="vehicle" data-fv-result="NOT_VALIDATED" style="display: none;">The type of vehicle is required</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="license_plate">License Plate Number</label>
                           <input type="text" name="license_plate" class="form-control" value="" placeholder="00000000" maxlength="7" data-fv-field="license_plate">
                           <i class="form-control-feedback" data-fv-icon-for="license_plate" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="license_plate" data-fv-result="NOT_VALIDATED" style="display: none;">The license plate is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="license_plate" data-fv-result="NOT_VALIDATED" style="display: none;">The license plate is 7 characters long</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="license_plate" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="vin">Last 4 of VIN</label>&nbsp;<span data-toggle="tooltip" data-placement="top" data-original-title="The VIN can be found by looking at the dashboard on the driver's side of the vehicle or in your insurance card. The easiest way to view it is to stand outside the vehicle on the driver's side and look at the corner of the dashboard where it meets the windshield."><i class="text-info glyphicon glyphicon-info-sign"></i></span>
                           <input type="text" name="vin" class="form-control" value="" placeholder="0000" maxlength="4" data-fv-field="vin">
                           <i class="form-control-feedback" data-fv-icon-for="vin" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="vin" data-fv-result="NOT_VALIDATED" style="display: none;">The vin is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="vin" data-fv-result="NOT_VALIDATED" style="display: none;">Enter last 4 characters of the VIN</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="vin" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div><h2 class="line-left bottom-buffer">Enter Your Insurance Information</h2>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="insurance_name">Insurance Company</label>
                           <input type="text" name="insurance_name" class="form-control" value="" placeholder="Insurance Name" data-fv-field="insurance_name">
                           <i class="form-control-feedback" data-fv-icon-for="insurance_name" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="insurance_name" data-fv-result="NOT_VALIDATED" style="display: none;">The Insurance name is required</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="policy_number">Policy Number</label>
                           <input type="text" name="policy_number" class="form-control" value="" placeholder="0000000000" data-fv-field="policy_number">
                           <i class="form-control-feedback" data-fv-icon-for="policy_number" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="policy_number" data-fv-result="NOT_VALIDATED" style="display: none;">The Policy number is required</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="insurance_phone">Phone Number</label>&nbsp;<span data-toggle="tooltip" data-placement="top" data-original-title="This is required by the state incase they need to verify your insurance. The phone number can be found on your insurance card, or by Googling your insurance carrier&rsquo;s contact information."><i class="text-info glyphicon glyphicon-info-sign"></i></span>
                           <input type="text" name="insurance_phone" class="form-control" value="" placeholder="Insurance Phone" maxlength="10" data-fv-field="insurance_phone">
                           <i class="form-control-feedback" data-fv-icon-for="insurance_phone" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="insurance_phone" data-fv-result="NOT_VALIDATED" style="display: none;">The phone is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="insurance_phone" data-fv-result="NOT_VALIDATED" style="display: none;">The phone number can only have 10 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="insurance_phone" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="start_date">Policy Start Date</label>
                           <div class="input-group date" id="start_datePicker">
                              <input type="text" class="form-control" placeholder="00/00/0000" name="start_date" maxlength="10" value="" data-fv-field="start_date">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                           </div><i class="form-control-feedback fv-bootstrap-icon-input-group" data-fv-icon-for="start_date" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="start_date" data-fv-result="NOT_VALIDATED" style="display: none;">The start date is required</small><small class="help-block" data-fv-validator="date" data-fv-for="start_date" data-fv-result="NOT_VALIDATED" style="display: none;">The start date is not a valid</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="start_date" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <label for="start_date">Policy End Date</label>
                           <div class="input-group date" id="end_datePicker">
                              <input type="text" class="form-control" placeholder="00/00/0000" name="end_date" maxlength="10" value="" data-fv-field="end_date">
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                           </div><i class="form-control-feedback fv-bootstrap-icon-input-group" data-fv-icon-for="end_date" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="end_date" data-fv-result="NOT_VALIDATED" style="display: none;">The end date is required</small><small class="help-block" data-fv-validator="date" data-fv-for="end_date" data-fv-result="NOT_VALIDATED" style="display: none;">The end date is not a valid</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="end_date" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="form-group has-feedback">
                     <div class="checkbox">
                        <label class="dark-label">
                           <input type="checkbox" name="confirm" value="1" data-fv-field="confirm">
                           Do you confirm that information entered above is correct and that the insurance policy listed complies with the <u data-toggle="modal" data-target="#insurance" class="text-info">minimum amounts</u> of motor vehicle liability insurance coverage required by law? </label>
                     </div><i class="form-control-feedback" data-fv-icon-for="confirm" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="confirm" data-fv-result="NOT_VALIDATED" style="display: none;">Confirm the information you entered.</small>
                  </div>
               </div>
               <div class="col-md-12">
                  <strong>Is your vehicle out of state?</strong> &nbsp;<span data-toggle="tooltip" data-placement="top" data-original-title="If your vehicle is out of state, you must complete a Texas inspection upon returning to Texas. A remark will be placed on your vehicle record indicating that an inspection is still due. Law enforcement will not be able to electronically verify your inspection. You will need to retain your vehicle inspection report to show to law enforcement because the remark will not be removed at the time of inspection."><i class="text-info glyphicon glyphicon-info-sign"></i></span>
                  <div class="form-group has-feedback">
                     <div class="radio">
                        <label class="dark-label">
                           <input type="radio" name="vehicle_out_state" value="N" data-fv-field="vehicle_out_state">
                           No </label>
                     </div>
                     <div class="radio">
                        <label class="dark-label">
                           <input type="radio" name="vehicle_out_state" value="Y" data-fv-field="vehicle_out_state">
                           Yes </label>
                     </div><i class="form-control-feedback" data-fv-icon-for="vehicle_out_state" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="vehicle_out_state" data-fv-result="NOT_VALIDATED" style="display: none;">This field is required.</small>
                  </div>
               </div>
               <div id="enforcement" class="col-md-12" style="display: none;">
                  <div class="alert alert-danger form-group has-feedback">
                     <div class="checkbox">
                        <label class="dark-label">
                           <input type="checkbox" value="1" name="enforcement" data-fv-field="enforcement">
                           I certify that I am entitled to continue to renew my Texas registration and the vehicle is out of state and unable to complete the required inspection. I understand I must obtain a passing Texas inspection when the vehicle returns to Texas. I understand that a remark will be placed on my vehicle record informing law enforcement to verify my vehicle's inspection status. </label>
                     </div><i class="form-control-feedback" data-fv-icon-for="enforcement" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="enforcement" data-fv-result="NOT_VALIDATED" style="display: none;">This field is required.</small>
                  </div>
               </div>
               <div class="col-md-12">
                  <strong>Has your vehicle passed a recent inspection?</strong> &nbsp;<span data-toggle="tooltip" data-placement="top" data-original-title="In order to renew your car registration, your vehicle must have passed an official vehicle inspection. Texas requires both safety and emissions testing within 90 days or less from your registration expiration."><i class="text-info glyphicon glyphicon-info-sign"></i></span>
                  <div class="form-group has-feedback">
                     <div class="radio">
                        <label class="dark-label">
                           <input type="radio" name="inspection" value="N" data-fv-field="inspection">
                           No </label>
                     </div>
                     <div class="radio">
                        <label class="dark-label">
                           <input type="radio" name="inspection" value="Y" data-fv-field="inspection">
                           Yes </label>
                     </div><i class="form-control-feedback" data-fv-icon-for="inspection" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="inspection" data-fv-result="NOT_VALIDATED" style="display: none;">This field is required.</small>
                  </div>
               </div>
               <div class="col-md-12">
                  <strong>Is your vehicle registration expired?</strong>
                  <div class="form-group has-feedback">
                     <div class="radio">
                        <label class="dark-label">
                           <input type="radio" name="ticket" value="N" data-fv-field="ticket">
                           No </label>
                     </div>
                     <div class="radio">
                        <label class="dark-label">
                           <input type="radio" name="ticket" value="Y" data-fv-field="ticket">
                           Yes </label>
                     </div><i class="form-control-feedback" data-fv-icon-for="ticket" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="ticket" data-fv-result="NOT_VALIDATED" style="display: none;">This field is required.</small>
                  </div>
               </div>
               <div class="col-md-12">
                  <p class="lead">
                     <strong>Declaration of Eligibility</strong>
                  </p>
                  <div class="form-group has-feedback">
                     <div class="checkbox">
                        <label class="dark-label">
                           <input type="checkbox" value="1" name="declaration" data-fv-field="declaration">
                           I am aware under penalty of perjury, that I am <a href="/eligibility.html" title="" target="blank">eligible to renew my vehicle registration online</a>. I understand that perjury can result in a fine not to exceed $4,000 and/or confinement up to 1 year in jail. </label>
                     </div><i class="form-control-feedback" data-fv-icon-for="declaration" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="declaration" data-fv-result="NOT_VALIDATED" style="display: none;">This field is required.</small>
                  </div>
               </div>
               <div class="col-md-12">
                  <p class="lead">
                     <strong>Terms of Agreement</strong>
                  </p>
                  <div class="form-group has-feedback">
                     <div class="checkbox">
                        <label class="dark-label">
                           <input type="checkbox" value="1" name="agreement" data-fv-field="agreement">
                           By filling out the form above, checking this box and electronically signing your name below, you acknowledge that you have read and agree to our Terms &amp; Conditions and Privacy Policy. I affirm that I am the record holder for this vehicle and that all information I have provided is true and accurate.  By checking this box, you also acknowledge that this website is privately owned and independently operated, having no affiliation with any state or federal agency.  I hereby appoint this site as my agent and expressly authorize its personnel to access and contact TxDMV's online vehicle services portal and process my registration renewal on my behalf for a fee that includes features and benefits exclusive to this site. I also authorize this website to retain my information for future renewals. </label>
                     </div><i class="form-control-feedback" data-fv-icon-for="agreement" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="agreement" data-fv-result="NOT_VALIDATED" style="display: none;">You need to agree to our terms.</small>
                  </div>
               </div>
               <div class="col-xs-12 col-md-5">
                  <p class="lead">
                     <strong>Electronic Signature</strong>
                  </p>
                  <div class="form-group has-feedback">
                     <input type="text" name="signature" class="form-control" value="" placeholder="To sign, please enter your full legal name." data-fv-field="signature">
                     <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="signature" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="signature" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small><small class="help-block" data-fv-validator="callback" data-fv-for="signature" data-fv-result="NOT_VALIDATED" style="display: none;">Signature is not valid</small>
                  </div>
               </div>
               <div class="col-xs-12 col-md-5 col-md-push-2">
                  <input type="hidden" name="csrf_name" value="csrf5a3c0a5f70f3e">
                  <input type="hidden" name="csrf_value" value="140e5c9dca7f5ff6ea15a1669c0c21bb">
                  <div class="text-center bottom-buffer" style="margin-top: 41px;">
                     <input class="btn btn-default btn-block btn-lg bottom-buffer btn-danger" type="submit" value=" Submit ">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
<!--/$hometemplate.html$-->