.navbar.navbar-default .navbar-header .navbar-brand img {
   margin-left: -5px;
}
#site-top-disclaimer {
   font-size: 13px;
   font-weight: bold;
}
.main .container h1 {
   color: #283891;
}
div.title h3 {
   color: #283891;
}
.navbar-header {
	width:17%;
	margin-top:5px;
}
.navbar-brand>img {
	max-width:100%;
	width:auto;
}
.min-height-fix {
	min-height:400px;
}
@media (max-width:767px) {	
	.navbar-brand {
		width:155px;
	}
	.navbar-header {
		width:100%;
	}
}