label {color: #898989;}
.dark-label {color:#333;font-size: 16px;}
.dark {color:#333;}
.title {margin-top: 38px;font-size: 32px;}
.header {margin-top: 50px;}
.blue-text {color:#0054A1;}
.blue-block {background-color:#0054A1;}
.red-text {color:#b54057;}
.white-text {color:#FFFFFF;}
.top-buffer {margin-top: 15px; }
.left-buffer {margin-left: 15px; }
.left-buffer-20 {margin-left: 20px; }
.side-buffer-60 {padding-left: 60px;padding-right: 60px;line-height: 200%;}
.bottom-buffer {margin-bottom: 15px; }
.right-buffer {margin-right: 15px; }
.bottom-bufferless {margin-bottom:0px; }
.paddingless-right{padding-right: 0;}
.paddingless-left{padding-left: 0;}
.ad {background: #eaf4fd none repeat scroll 0 0;border: 1px solid #86a6c3;color: #004388;padding-top: 10px;padding-bottom: 10px;font-size: 15px;}
.ad:hover {background: #fff6ad none repeat scroll 0 0;color: #000;}
.ad .glyphicon-play-circle {color:#a94442;font-size: 18px;}

/* Changes */
body {font-family: 'Roboto', sans-serif;font-size:18px; color:#444;font-style: normal;font-weight:400;}
h1 {font-size:45px; color:#34495e;}
h2 {font-size:35px; color:#34495e;}
h3 {font-size:25px; color:#231f20;}
p {font-weight:400;}
.layout {min-height: 700px;}
.disclaimer {color:#000;background-color:#fff;padding: 15px 0;font-weight:400;font-style: normal;}
#form-section {background-image: url(./images/cover.jpg);background-size: cover;background-repeat: no-repeat;background-position: center;width: 100%;}
#county-section {background-image: url(./images/cover.jpg);background-size: cover;background-repeat: no-repeat;background-position: center;width: 100%;}
.subscriber {padding: 20px;background:#fff;margin: 40px auto;font-weight:400;}
.subscriber .lead {font-weight:400;}
.subscriber label{color: #000;}
.line-left {border-left: 8px solid #b54057;padding-left: 50px;}
.frame .line-left {padding-left: 10px;}
.frame h2 {font-size:27px;}
.frame .checkbox label,
.frame .radio label {font-size: 13px;}
.line-bottom {border-bottom: 8px solid #b54057;}
footer{padding:30px 0;margin-top: 20px;font-weight: 100;font-style: normal;background-color:#eee;}
footer .disclaimer {background-color:#eee;}
footer a {color:#828282;}
footer ul{margin: 20px 0;padding-left: 0px;}
footer ul li{list-style: none;}
.navbar-default {background-color:#eee;border-color: #fff;min-height:103px;margin-bottom: 0px;}
.navbar-default ul.nav {margin-top: 31px;font-weight:300;font-size: 22px;}
.navbar-default .navbar-nav>li>a {color: #000;}

/* Tooltips */
.tooltip.in {filter: alpha(opacity=100);opacity: 1;}
.tooltip-inner {background-color: #fff;color: #34495e;border:3px solid #34495e;filter: alpha(opacity=100);opacity: 1;}
.tooltip-arrow { border-bottom-color:#34495e;color: #34495e;padding:2px 0;}
.tooltip.top {padding:9px 0;margin-top: -3px}
.tooltip.top .tooltip-arrow {border-top-color: #34495e;}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.navbar {margin-bottom: 0px;}.navbar-brand {padding: 0px;}.navbar-default{min-height: auto;}.navbar-brand>img {height: 150%;margin-top: 15px;width: auto;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){.navbar {margin-bottom: 0px;}.navbar-brand {padding: 0px;}.navbar-default{min-height: auto;}.navbar-brand>img {height: 94%;margin-top: 34px;width: auto;}}

/* Phones */
@media (max-width: 767px) {.navbar {margin-bottom: 0px;}.navbar-brand {padding: 0px;}.navbar-default{min-height: auto;}.navbar-brand>img {height: 99%;padding:0;width: auto;}}
@media (max-width: 412px) {.navbar {margin-bottom: 0px;}.navbar-brand {padding: 0px;}.navbar-default{min-height: auto;}.navbar-brand>img {height: 90%;padding:7px 0 0 11px;width: auto;}}
@media (max-width: 375px) {.navbar {margin-bottom: 0px;}.navbar-brand {padding: 0px;}.navbar-default{min-height: auto;}.navbar-brand>img {height: 85%;padding:7px 0 0 5px;width: auto;}}

@media screen and (-webkit-min-device-pixel-ratio:0) {select,textarea,input {font-size: 16px !important;}}
