/*
body {
   background-color: #f1f3f5;
}
*/
/*
 p {
   font-size: 14px;
   line-height: 22px;
   text-align: justify;
}
*/
.imgmain, .imgform {
   display: none;
   width: auto;
}
.text-center {
   text-align: center;
}
.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}
label {
   padding: 0;
   margin: 0;
   font-size: 11px;
   line-height: 11px;
   margin-bottom: 10px;
   font-weight: 600;
   padding-left: 7px;
}
hr {
   margin: 0 0 10px;
   border-color: #ced3d8 -moz-use-text-color -moz-use-text-color;
}
span > input[type="radio"] {
   position: absolute;
   width: 15px;
   height: 15px;
   z-index: 1;
   opacity: 0;
   cursor: pointer;
}
span > input[type="radio"]+ label {
   position: relative;
   background: transparent url("images/no-check.png") no-repeat scroll left center;
   clear: none;
   padding: 8px 10px 5px 25px;
   cursor: pointer;
}
input[type="radio"]:checked+ label {
   background-image: url("images/checked.png");
}
p.principal {
   font-size: 14px;
   line-height: 24px;
}
@-moz-document url-prefix() {
p.principal {
word-spacing:-0.6px;
}
}
p.select {
   margin: 0;
   padding-bottom: 4px;
   font-weight: bold;
}
body a:hover {
   color: #3498db;
}
body .wrapper.container-fluid.reset {
   padding: 0;
}
em {
   font-size: 10px;
   color: #b1b5bb;
}
.step1 select, .step2 select, .step2 input, .step3 select, .step3 input {
   padding: 0;
   height: 25px;
   padding: 3px 5px;
}
/*.row {
   margin: 0;
   width: 100%;
   box-sizing: content-box;
}
.row::before {
   display: none;
}*/
section.step3 {
   margin-right: -15px;
   margin-left: 0;
   width: 66%
}
/*
 #site-top-disclaimer {
 background-color: #f1f3f5;
 font-size: 12px;
 padding: 2px;
 text-align: center;
 color: #999;
 }
 */
header {
   background-color: #fcfcfc;
   box-shadow: 0 2px 3px #b9bbbc;
}
header div.navbar-default {
   margin-bottom: 0;
}
.container > .navbar-header {
   margin-right: 0;
   margin-left: 15px;
}
/*
 header .navbar-default .navbar-brand {
 padding: 5px;
 }
 */
header .navbar-default .navbar-nav li {
   /*text-transform: uppercase;*/
   padding: 10px 0;
}
/*
header .navbar-default .navbar-nav li a {
   color: #3d3d3d;
   font-size: 11px;
}
*/
header .navbar-default .navbar-nav li a:hover {
   text-decoration: none;
}
header div.navbar-collapse {
   float: right;
   padding: 0;
}
.main {
   color: #2c3e50;
}
.main .container h1 {
   font-size: 18px;
   color: #497698;
   text-transform: uppercase;
   margin-bottom: 20px;
}
div.title small, div.title h3 {
   margin: 10px 5px;
}
div.title small {
   color: #afb3b7;
   font-size: 8px;
   float: right;
}
/*
div.row {
   margin-bottom: 20px;
}
*/
div.step1, section.step2, section.step3 {
   background: #fff;
   box-sizing: content-box;
}
div.step1, section.step2, section.step3 {
   background: #fff;
   box-sizing: content-box;
}
div.step1, section.step2, section.step3 {
   border-radius: 4px;
   border: 1px solid lightgray;
   padding-bottom: 20px;
}
div.title h3 {
   color: #497698;
   font-size: 14px;
   display: inline-block;
   text-transform: uppercase;
}
section.step2 h3, section.step3 h3 {
   padding-left: 10px;
}
div.border-top, section.border-top {
   border-top: 5px solid #6d97a8;
}
.border-left {
   border-left: 1px solid lightgray;
}
div.gap {
   width: 1%;
   padding: 1px;
}
form label.error {
   position: absolute;
   padding: 1px 5px;
   color: red;
   font-size: 10px;
}
#billingForm label#billing-error.error {
   position: relative;
}
#billingForm img.pay-badges {
   width: 50%;
}
.form-control.error {
   color: #555;
}
.form {
   margin: 0;
   padding: 0 4px;
   height: 60px;
}
.clearSpace {
   margin: 0;
   padding: 0 4px;
}
div.col-md-3 {
   width: 20%
}
div.col-md-3, div.col-xs-1, div.col-sm-4 {
   display: table-cell;
   float: none;
}
section.boton {
   margin-top: 20px;
}
section.boton p {
   text-align: center;
   color: #b4b4b4;
   font-size: 10px;
}
section.boton a {
   color: #b4b4b4;
   text-decoration: underline;
}
section.boton img {
   display: block;
   width: 95%;
   margin: 0 auto;
}
section.boton img.pay-badges {
   width: 60%;
}
section.boton img#frmLoadingGif, section.boton img#billingLoadingGif, section.boton img#submitLoad {
   display: none;
   width: auto;
}
input.btn {
   display: block;
   height: 44px;
   width: 60%;
   margin: 0 auto;
   border-radius: 0;
   background-color: #ff8929;
   border-color: #d58512;
   color: #fff;
   margin-bottom: 10px;
}
input.btn:hover {
   background-color: #ff8929;
   border-color: #d58512;
}
div.col-md-3, div.col-xs-1 {
   display: table-cell;
   float: none;
}
section.step2 {
   display: table-cell;
   width: 60%
}
.date-left {
   margin: 0;
   padding-right: 2px;
   padding-left: 0;
}
.date-right {
   margin: 0;
   padding-right: 2px;
   padding-left: 0;
}
.date-day {
   margin: 0;
   padding-right: 10px;
   padding-left: 8px;
}
section.summary {
   background: #f8f9fa;
   border-radius: 4px;
   border-width: 1px;
   border-color: lightgray;
   border-style: solid groove none groove;
   box-sizing: content-box;
   margin-left: 25px;
   padding: 0 20px;
}
span.secure {
   color: #7ab02c;
   font-weight: 600;
}
span.secure::after {
   content: url(images/lock.png);
}
span.help::after {
   content: url(images/help.png);
   padding-left: 5px;
   cursor: pointer;
}
img.credit-card {
   padding-top: 25px;
}
section.disabled p, h3, input, select {
   color: #bdbdbd;
}
div.last_step {
   background: #fff;
}
div.last_step img {
   margin-top: 0;
   margin-bottom: 10px;
}
div.last_step h2 {
   display: inline-block;
   margin: 25px 0 10px 5px;
}
.btn-warning:hover {
   background-color: #ff8929;
   border-color: #d58512;
}
.btn-warning:active:hover {
   background-color: #ff8929;
   border-color: #d58512;
}
a.download {
   width: 100%;
   border-radius: 4px;
   border: 1px solid #a87936;
   font-size: 20px;
   color: #283645;
   font-weight: bold;
   text-transform: uppercase;
   background: #eda135;
}
.imgmain, .imgform {
   display: none;
}
p.completed {
   padding-left: 0;
   font-weight: bold;
   margin: 20px 0;
   text-align: center;
}
p.thank-you {
   padding-left: 0;
   font-size: 13px;
   text-align: center;
}
div.thankyou-loader h2, div.thankyou-loader p {
   text-align: center;
}
/*div.thankyou-loader img {
 padding-left: 50%
 }*/
.col-md-12.thankyou-loader {
   text-align: center;
   min-height: 700px;
}
p.click {
   padding-left: 0;
   font-size: 13px;
   margin: 30px 0 20px 0;
   text-align: center;
}
.download h3 {
   text-align: center;
}
p.bottom-disclaimer {
   margin-bottom: 20px;
}
p strong.price {
   padding-left: 8px;
}
input#agree {
   height: auto;
   padding: 0;
}
label#agree {
   margin: 0;
}
.info-box {
   border: 1px solid #dcdcdc;
   border-top: 0;
   border-radius: 5px;
}
.info-box p {
   padding: 1%;
   margin: 0;
}
.info-box .boxtitle {
   background: #89bdd3;
   color: #fff;
   border-radius: 5px 5px 0 0;
   font-size: 18px;
   padding: 1% 2%;
   margin: 0;
}
.info-box img {
   float: left;
   margin: 3%;
   padding: 0 1%
}
.top-content em {
   font-size: 1em;
   color: #000;
}
div.roadAdvisorsSealsBox {
   background: #fff;
}
.roadAdvisorsSealsBox div {
   background: #fff;
   border: 1px solid #ccc;
   font-size: 12px;
   margin: 10px 0;
}
.roadAdvisorsSealsBox div:nth-child(odd) {
   background: #e0eef5;
}
.roadAdvisorsSealsBox div p {
   float: left;
   padding: 5%;
   margin: 0;
}
.roadAdvisorsSealsBox img {
   padding-left: 15%
}
span.checkMarks {
   background: url(images/gcheckMark.png) center center no-repeat;
   display: block;
   float: right;
   height: 20px;
   width: 30px;
   padding: 8%;
   margin-right: 10%
}
div.important-notice {
   background: rgba(189, 195, 199, .5);
   border: 1px solid #95a5a6;
   padding: 10px;
   margin-bottom: 15px;
   border-radius: 10px;
}
.contactImportant {
   color: red;
}
.zipBoxContainer {
   padding-left: 0;
}
/*
 .navbar-default {
 background-color: #fff !important;
 }
 */
#footer {
   background-color: #fff;
   padding: 25px 0;
}
#footer ul {
   margin-bottom: 10px;
}
#footer ul li {
   padding: 0 20px;
   text-transform: uppercase;
   border-right: 1px solid #5987ab;
}
#footer ul li:last-child {
   border: 0;
}
#footer ul li a {
   color: #3e3e3e;
   font-size: 12px;
   font-weight: bold;
}
#footer ul li a:hover {
   text-decoration: none;
}
#footer p {
   text-align: center;
   font-size: 12px;
   color: #3e3e3e;
   padding: 0;
   margin: 0;
}
section.disabled p, div.step1 p {
   color: #bdbdbd;
}
.disabled div.title h3 {
   color: #bdbdbd;
}
section.boton input.disabled, section.boton input.disabled:hover {
   background-color: #bdbdbd;
   border-color: #bdbdbd;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
div#form span.disabled {
   color: #bdbdbd;
}
#ouibounce-modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
}
#ouibounce-modal #cModal {
   background: 0;
   position: absolute;
   width: 90%;
   z-index: 12;
   margin: 5%
}
#ouibounce-modal #cModal div, #ouibounce-modal #cModal form {
   float: left;
}
#ouibounce-modal #cModal .close-wrapper {
   background: #fff;
   border-radius: 20px;
   width: 30px;
   border: 2px solid #000;
   cursor: pointer;
   float: right;
}
#ouibounce-modal #cModal .close-wrapper .modalClose {
   color: #000;
   padding: 2px;
   display: block;
   text-align: center;
   font-size: 18px;
   font-weight: bold;
}
#ouibounce-modal .insideOffer {
   background: #0d2443;
   border: 5px dotted #fff;
   margin: 0 10px 2%;
   padding: 20px;
   width: 100%
}
#ouibounce-modal .insideOffer .lines {
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   clear: both;
   margin: 1% auto;
}
#ouibounce-modal .insideOffer .lines.attention-line {
   text-decoration: underline;
   font-size: 25pt;
}
#ouibounce-modal .insideOffer .lines.small-line {
   font-size: 10px;
}
#ouibounce-modal .insideOffer .lines.mid-line {
   font-size: 22pt;
}
#ouibounce-modal .insideOffer .lines.big-line {
   font-size: 40pt;
   font-weight: bold;
   text-shadow: 3px 2px grey;
}
#ouibounce-modal .insideOffer .btn-getCoupon {
   background: #b32e25;
   display: block;
   width: 20%;
   margin: 0;
   border: 1px solid #974814;
   min-width: 200px;
}
#ouibounce-modal .insideOffer .btn-getCoupon .couponSubmit {
   font-size: 35pt;
   display: block;
   font-weight: bold;
   text-shadow: 2px 3px 3px darkred;
   background: 0;
   border: 0;
   min-width: 200px;
}
#ouibounce-modal #cModal #couponForm {
   width: 100%;
   margin: 2%
}
.showCouponModal {
   background: #000;
   opacity: .7;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}
.coupons_inputs {
   font-size: 35pt;
   width: 100%
}
.coupon_form_list {
   float: none;
   margin: 1% auto 3%;
   padding: 0;
   width: 90%
}
.coupon_form_list li {
   width: 75%
}
.coupons_labels {
   display: none;
}
#mail_coupon-error {
   color: #b32e25;
}
.main .redeem_coupon_page h1 {
   font-size: 24px;
}
.redeem_form_wrapper {
   margin-bottom: 6%
}
.redeem_form_wrapper #couponRedeemForm {
   border: 1px solid #ccc;
   border-radius: 10px;
}
.redeem_form_wrapper div {
   float: none;
   margin: 0 auto;
}
.redeem_form_wrapper p {
   padding: 20px;
}
.redeem_form_wrapper #couponRedeemForm {
   background: #fff;
   float: left;
   padding: 5%;
   margin: 1% 0 10%
}
.redeem_form_wrapper .redeem_notification {
   color: #b50b07;
}
.redeem_form_wrapper .redeem_inputs_wrapper {
   list-style-type: none;
   padding: 0;
}
.redeem_form_wrapper .redeem_inputs_wrapper li {
   clear: both;
}
.redeem_form_wrapper .redeem_inputs_wrapper label {
   width: 100%
}
.redeem_form_wrapper .couponRedeemSubmit {
   background-color: #bbd149;
   border: 1px solid #839333;
   color: #283645;
   font-size: 20px;
   font-weight: bold;
   margin: 15px 0 10px;
   text-transform: uppercase;
}
.redeem_form_wrapper #mail_coupon_redeem {
   width: 99%
}
.redeem_form_wrapper #mail_coupon_redeem-error {
   color: red;
}
.redeem_form_wrapper #gift-card-div {
   vertical-align: top;
   margin-top: 30px;
   display: none;
}
.redeem_form_wrapper #gift-card-div h3 {
   margin: 0;
   padding: 0;
   width: 100%
}
.redeem_form_wrapper #gift-card-div p {
   padding: 0;
}
.redeem_form_wrapper #gasErrorMsj {
   display: none;
   padding: 0;
   padding-top: 20px;
}
label.rwd-email-lbl span {
   color: red;
   font-size: .8em;
}
form .form-redeem .row {
   padding: 5px 0;
}
input.rwd-email-input {
   height: 35px;
   max-width: 95%
}
.rewards {
   overflow: hidden;
}
.rewards-output hr {
   border: 2px double #eee;
}
.rwd_title {
   margin: 30px 0;
}
.rewards-output .rwd_title {
   color: red;
}
ol.rwd-output-steps li {
   list-style-type: decimal;
   float: none;
   font-size: 18px;
}
p.rwd-bottom-txt {
   font-size: 14px;
}
.member-number p {
   font-size: 18px;
   margin: 0;
   padding: 10px 0;
}
.rwd-output-img {
   height: 110px;
   text-align: right;
}
.rwd-output-img img {
   max-height: 100%;
   float: none;
}
.row.member-info {
   margin: 20px 0;
}
.member-info-img img {
   max-height: 100%;
   float: none;
}
.member-info-img {
   text-align: right;
}
.form-redeem label#email-error {
   display: block;
   color: #ff0017;
}
.row.nomargin.rwd-email {
   height: 60px;
}
#rewards-output {
   display: none;
}
#rwdEmailError {
   display: none;
}
.form-redeem {
   margin-bottom: 20px;
}
p#rwdEmailError {
   margin-top: 10px;
   color: red;
}
.title-dld h2 {
   color: #000 !important;
}
.dld-block {
   float: left;
   width: 25%;
   text-align: center;
   padding: 0 .5%;
   cursor: pointer;
}
.dld-block .title-dld h2 {
   font-size: 20px;
   margin: 10px 0;
}
.title-dld span {
   color: #328BCD;
   font-weight: bold;
}
.btn-dld {
   width: 100%;
   color: #fff;
   padding: 10px 0;
   background-color: #328BCD;
   border-radius: 10px;
   text-transform: uppercase;
}
div.last_step {
   padding-bottom: 20px;
}
.title-dld h2 {
   font-size: 1.4em !important;
   height: 60px;
}
.img-dld {
   background: url(images/sprite_checklist_licenses.png) no-repeat;
   width: 100px;
   height: 100px;
   background-position-x: -200px;
   background-size: cover;
   margin: 5px auto;
}
.download_blocks {
   margin: 0 auto;
   overflow: hidden;
}
.img-dld.application-dld {
   background-position: -100px;
}
.img-dld.tips-dld {
   background-position: 0 0;
}
.img-dld.audio-dld {
   background-position: -300px;
}
.download_blocks {
   margin: 0 0 30px;
   overflow: hidden;
   border-radius: 6px;
   padding: 20px 0;
}
.dld-block a {
   text-decoration: none !important;
}
.btn-dld:hover {
   background-color: #1879bf;
}
/*New Index 2017-10-05*/
.section-title {
   display: block;
   background: #6d97a8;
   padding: 15px;
}
.main .container .section-title h1 {
   text-transform: none;
   color: #fff;
   margin: 0;
}
section#service-selection {
   background-color: #fff;
   border: solid 1px #d8d8d8;
   margin-bottom: 40px;
}
#service-selection img {
   max-width: 100%;
}
#service-selection .service-image {
   padding: 5px;
}
#service-selection .service-container {
   width: 90%;
   margin: 0px auto;
   padding: 30px 0;
   display: block;
   overflow: hidden;
}
#service-selection h2.subtitle {
   margin: 5px 0 20px;
   font-size: 20px;
   font-weight: bold;
   color: #f8bd5c;
}
#service-selection .number {
   display: inline-block;
   border-radius: 50%;
   background-color: #e2e2e2;
   color: #000;
   font-size: 25px;
   height: 40px;
   width: 40px;
   text-align: center;
   padding: 6px;
   margin-right: 2%;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(97,97,97,0.75);
   -moz-box-shadow: 0px 0px 5px 0px rgba(97,97,97,0.75);
   box-shadow: 0px 0px 5px 0px rgba(97,97,97,0.75);
}
#service-selection span > input[type="radio"]+ label {
   margin-bottom: 5px;
   font-size: 16px;
   line-height: 16px;
}
#service-selection .services-input {
   padding-left: 10%;
}
#service-selection select {
   width: 75%;
   margin: 0 auto;
   border-radius: 0;
   height: 40px;
}
#service-selection .btn-warning {
   border-radius: 5px;
   background-color: #f7b030;
   border-color: #e6a42c;
   width: 75%;
   padding: 7px;
   font-weight: bold;
}
#service-selection .service-submit {
   text-align: center;
}
#service-selection .service-submit img {
   margin-top: 15px;
}
#service-selection span.right-arrow {
   height: 30PX;
   width: 30PX;
   background-color: #f6d190;
   color: #fff;
   border-radius: 50%;
   padding: 2px 8px;
   font-size: 20px;
   text-align: center;
   display: inline-block;
}
#service-selection span.btn-text {
   padding-top: 3px;
   display: inline-block;
   width: 80%;
}
.navbar-default .navbar-collapse {
   float: right;
   margin-left: 20px;
}
.navbar-default .navbar-collapse ul.navbar-nav li {
   padding: 0 20px;
}
/*--- splash ---*/
h2#splash {
   font-size: 16px;
   line-height: 22px;
   margin: 0 0 0px;
   color: #357;
}
#splash_innerContainer {
   background: url(images/splash_bg01.jpg) no-repeat;
   width: 857px;
   height: 337px;
   margin: auto;
}
#landing_innerContainer {
   background: url(images/splash_bg01landing.jpg) no-repeat;
   width: 857px;
   height: 410px;
   margin: auto;
}
#landing_innerContainer h1 {
   color: #007b8c;
   text-align: center;
   padding: 10px 0 2px 0;
   font-family: arial;
   font-size: 24pt
}
#stateinfo_innerContainer {
   background: url(images/splash_bg01stateinfo.jpg) no-repeat;
   width: 857px;
   height: 410px;
   margin: auto;
}
#stateinfo_innerContainer h1 {
   color: #007b8c;
   text-align: center;
   padding: 10px 0 2px 0;
   font-family: arial;
   font-size: 24pt
}
#splash_innerContainer2 {
   background: url(images/splash_bg02.jpg) no-repeat;
   width: 857px;
   height: 337px;
   margin: auto;
}
#splash_innerContainer h1 {
   color: #007b8c;
   text-align: center;
   padding: 10px 0 2px 0;
   font-family: arial;
   font-size: 24pt
}
.splash_mainTextBox {
   width: 470px;
   margin: 45px 0 0 50px;
   height: 170px;
   font-family: arial;
   overflow: hidden;
}
.splash_selectBox {
   float: right;
   margin-right: 300px;
   margin-top: 15px;
}
.splash_getStarted {
   float: right;
   margin: 5px -420px 0px 0px;
}
.splash_start {
   width: 200px;
   height: 24px;
   background: url("images/splash_bt01.png") no-repeat;
}
.stateinfo-cont {
   margin-left: 135px;
   margin-top: 15px;
   cursor: pointer;
}

#stateinfoBox {
   padding: 10px 40px;
   font-size: 12px;
   width: 100%;
}

/*--- servsplash ---*/

h1.texas {
   background: url("images/texasflag.png") no-repeat;
   height: 70px;
   padding-left: 105px !important;
}

#splash_innerContainerTX {
   background: url(images/splash01new.jpg) no-repeat;
   width: 857px;
   height: 337px;
   margin: auto;
}
#splash_innerContainer2TX {
   background: url(images/splash_bg02.jpg) no-repeat;
   width: 857px;
   height: 337px;
   margin: auto;
}
#splash_innerContainerTX h1 {
   color: #007b8c;
   text-align: center;
   padding: 10px 0 2px 0;
   font-family: arial;
   font-size: 24pt
}
.splash_mainTextBoxTX {
   width: 470px;
   margin: 45px 0 0 50px;
   height: 170px;
   font-family: arial;
   overflow: hidden;
}
.splash_selectBoxTX {
   float: right;
   margin-right: 300px;
   margin-top: 30px;
}
.splash_startTX {
   width: 200px;
   height: 60px;
   background: url("images/splash_bt01.png") no-repeat;
   margin: 0px 30px 0px 130px;
   float: left;
}

/*STATEINFO-ADS*/
.stateinfo-ads {
   padding-top: 15px;
   border: 2px solid #e3e3e3;
   background-color: #f1f3f5;
   -moz-box-shadow: 0 0 5px 5px #eee;
   -webkit-box-shadow: 0 0 5px 5px #eee;
   box-shadow: 0 0 5px 5px #d3dcdc;
   border-radius: 10px;
}

.stateinfo-ads #stateinfo-title {
   font-size: 2em;
   font-weight: 700;
}

.stateinfo-ads .stateinfo-description {
   border: 2px solid #e3e3e3;
   padding: 8px 10px 8px 10px;
   border-radius: 10px;
}

.stateinfo-ads .stateinfo-description h2 {
   margin-top: 3px;
   font-size: 1.8em;
}

.stateinfo-ads .stateinfo-ads-picture {
   border: 2px solid #e3e3e3;
   padding: 0px;
   border-radius: 10px;
}
.stateinfo-ads .stateinfo-ads-picture img {
   width: 100%;
}

.stateinfo-ads .ads-btn {
   width: 100%;
   padding: 13px;
   font-size: 1.5em;
   font-weight: 500;
}

@media (min-width: 1200px) {
   .step2-box-left-header .left-info {
      width: 21%;
   }
   .step2-box-left-header .left-info {
      margin-right: 35px;
      font-size: 9px;
   }
   .step2-box-right-disclaimer p {
      padding: 2px 15px;
   }

   .icons-nav .container {
      width: 1148px;
   }
}
@media (max-width: 1199px) and (min-width: 992px) {
   .step2-box-left-header .left-info {
      width: 26%;
   }
   .step2-box-left-header .left-info {
      margin-right: 35px;
      font-size: 9px;
   }
   .step2-box-right-disclaimer p {
      height: 65px;
      padding: 18px 15px;
   }
   .icons-nav .container {
      width: 977px;
   }
}
@media (max-width: 991px) and (min-width: 768px) {
   .step2-box-left-header .left-info {
      width: 23%;
   }
   .step2-box-left-header .left-info {
      margin-right: 35px;
      font-size: 9px;
   }

}
@media (max-width: 767px) and (min-width: 581px) {
   .step2-box-left-header .left-info {
      width: 115px;
      margin-right: 24px;
      font-size: 7px;
   }
   .step2-box-left .header > div p {
      font-size: 20px;
      padding-left: 67px;
   }

}
@media (min-width: 580px) {
   .step2-box-left .header > div p {
      transform: scale(1.05,1.1);
   }
}
@media (max-width: 580px) {
   .step2-box-left-header .left-info {
      display: none;
   }
   .step2-box-left .header > div p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .step2-box-left .header > div p {
      padding-left: 46px;
      font-weight: bold;
   }
}
@media (max-width: 1200px) {
   .dld-block .title-dld h2 {
      font-size: 1.1em !important;
   }
   #service-selection h2.subtitle {
      font-size: 18px;
   }
   #service-selection .number {
      height: 30px;
      width: 30px;
      font-size: 19px;
   }
}
@media (max-width: 991px) {
   .step2-box-right-disclaimer p {
      padding: 0px 15px;
   }
   .btn-dld {
      font-size: .8em;
   }
}
@media (max-width: 768px) {
   .title-dld h2 {
      height: auto;
   }
   .dld-block {
      float: none;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 80% !important;
   }
   .dld-top {
      margin-top: 0;
   }
   .dld-block .title-dld h2 {
      font-size: 1.5em !important;
      line-height: 1em !important;
   }
   .btn-dld {
      font-size: 1em;
   }
   section.boton img.pay-badges {
      width: 100%;
   }
   #service-selection .service-container {
      width: 100%;
   }

   #service-selection span > input[type="radio"]+ label {
      font-size: 13px;
   }
   .navbar-default .navbar-collapse ul.navbar-nav li {
      padding: 0 5px;
   }
}
@media (min-width: 768px) {
   .step2-box-left .header > div {
      background-size: 30px;
      background-position: 13px 7px;
   }
   .step2-box-left .header > div p {
      font-size: 20px;
      padding-left: 67px;
   }
   /*
    header .navbar-default .navbar-nav li {
    padding: 0;
    }
    */
   header .navbar-default .navbar-nav li a {
      padding-top: 60px
   }
}
@media (min-width: 700px) and (max-width: 994px) {
   section.step3 {
      margin-right: -15px;
      margin-left: 0;
      width: 60%
   }
   .border-left {
      border-left: 0;
   }
   section.summary {
      width: 25%
   }
}
@media (max-width: 699px) {
   section.step3 {
      margin: 0 20px 20px;
      width: 90%
   }
   .border-left {
      border-left: 0;
   }
   section.summary {
      width: 88%;
      margin: 0 20px;
   }
}
.step2-box-left .header > div p {
   padding-top: 11px;
   text-transform: capitalize;
   font-weight: bold;
}
@media (max-width: 414px) {
   section.step3 {
      margin: 0 auto 20px;
   }
   section.summary {
      margin: 0 auto;
   }
   div#bs-example-navbar-collapse-1 {
      width: 100%;
      margin: 0 auto;
   }
}
@media (max-width: 412px) {
   .checkbox_label {
      float: left;
      width: 91%;
      margin-left: 5px !important;
   }
   .checkbox_input {
      float: left;
      width: 5%;
      margin: 5px 0 !important;
   }
}
.footerCustomModal {
   padding: 0 !important;
   background-color: #43ab44;
}
.footerCustomButton {
   color: #fff !important;
   font-weight: bold !important;
   padding: 10px 24px !important;
   text-transform: uppercase;
   background-color: #43ab44 !important;
   border-color: #43ab44 !important;
   position: relative;
   width: 100%
}
.footerCustomButton:hover {
   background-color: #43ab44;
}
.modalCustomHeader {
   padding: 1% !important;
   background: #1f5b91;
}
.modalCustomTitle {
   color: #eee;
   font-weight: bold;
   text-align: center;
   font-size: 30px;
   padding: 10px 0 0 0;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.modal-backdrop.in {
   height: 100%
}
#myModal {
   top: 10%
}
.obtain-title {
   margin-bottom: 0px !important;
   margin: 5px 0;
   margin-bottom: 2px !important;
}
.icons-nav {
   background-color: #6d97a8;
   padding: 0;
}

.icons-nav .container p {
   text-align: center;
   color: #fff;
   font-size: 13px;
}
.icons-nav .container img {
   display: block;
   margin: 0 auto;
   padding: 5px 0;
}
.icons-nav .container a {
   color: #fff;
}
/*----Blog Section--*/
.blog .main {
   margin-top: 20px;
   margin-bottom: 20px;
}
.blog .post {
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 1px solid #999;
}
.blog .post p {
   text-align: justify;
}
.blog .post ol {
   text-align: justify;
   list-style-position: inside;
   margin-left: 0;
   padding-left: 0;
}
.blog .post ul {
   list-style-position: inside;
   margin-left: 0;
}
.blog .post .thumb {
   margin-right: 15px;
   width: 40%;
}
.blog .post .thumb img {
   width: 100%;
}
.blog .posts h1 {
   font-size: 1.8em;
}
.blog .posts h2 {
   font-size: 1.3em;
}
@media (max-width: 768px) {
   .step2-box-left .header > div {
      background-size: 30px;
      background-position: 13px 7px;
   }
   section.boton {
      margin-top: 0 !important;
   }
   .step2-box-left .header > div p {
      font-size: 17px;
   }
   .blog .post .thumb {
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0;
   }
}
.leadid {
   display: none;
}
.step1-box div.row {
   margin-bottom: 0px;
}
.step1-box .text-content {
   padding: 24px;
   background-color: #fff;
   border-top: 1px solid rgba(234, 225, 225, 0.52);
   display: table-cell;
   position: relative;
}
.step1-box .text-content.hidden-xs.hidden-sm .text-content-footer {
   position: absolute;
   bottom: 22px;
   right: 24px;
}
.step1-box .text-content .text-content-footer img {
   float: right;
}
.step2-box-right-content .text-content-footer img {
   max-width: 100%;
}
.step2-box-right-content .text-content-footer {
   margin: 20px auto;
   text-align: center;
}
.step1-box .input {
   height: 25px;
   padding: 3px 5px;
}
.step2-box-left .header > div {
   height: 50px;
   background-color: #fff;
   background-image: url(images/check.png);
   background-repeat: no-repeat;
   padding-right: 0px;
   padding-left: 0px;
}
.step2-box-left .header > div .border-top {
   border-top: 5px solid #328BCD;
}
.step2-box-left .header > div, .step2-box-right {
   border-radius: 4px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}
.step2-box-right .header > div p {
   padding-left: 37px;
   font-size: 20px;
   font-weight: bold;
   padding-top: 5px;
}
.step2-box-right .header .step2-box-right-header-tag div {
   width: 92px;
   height: 25px;
   font-size: 10px;
   padding-top: 5px;
   text-align: center;
   float: right;
   border-radius: 12px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-color: #6d97a8;
}
.step2-box-right .header .step2-box-right-header-title {
   border-top-left-radius: 6px;
   padding-top: 9px;
   border-top: none;
   height: 50px;
}
.step2-box-right .header .step2-box-right-header-tag div, .step2-box-right .header .step2-box-right-header-title {
   background-color: #6d97a8;
   text-transform: uppercase;
   color: white;
}
.step2-box-right {
   float: right;
}

.step2-box-right .header .step2-box-right-header-title {
   background-image: url(images/right-arrow.png);
   background-size: 29px;
   background-repeat: no-repeat;
   background-position: 14px 7px;
}
.step2-box-right-content {
   padding-left: 10px;
   padding-right: 10px;
   background-color: #fff;
   border: 5px solid #6d97a8;
   border-top: none;
   min-height: 414px;
}

.step2-box-right-content #submit-index {
   margin-bottom: 8px;
}

.step2-box-right-content, .step2-box-left-content {
   padding-top: 20px;
}
.step1-box .form {
   height: 70px;
}
.step2-box-left .customized-select {
   background: url(images/select-arrow.png) no-repeat 96% 42%;
   background-color: #6d97a8;
   border: 1px solid #6d97a8;
   border-radius: 4px;
}
.step2-box-left .customized-select select {
   background: transparent;
   width: 100%;
   height: 50px;
   cursor: pointer;
   color: white;
   overflow: hidden !important;
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
}
.step2-box-left .customized-select select option {
   color: black;
}
.step2-box-left .customized-select select option:hover {
   color: white;
   background-color: #6d97a8;
   box-shadow: inset 20px 20px #00f;
}
.step2-box-left-header .left-info {
   float: right;
   color: #ff8929;
   text-transform: uppercase;
   text-align: justify;
   line-height: 1.5;
   font-weight: bold;
}
/* NEW BILLING TEST 2017-07-24 */
.billing-heading {
   padding: 20px;
   background-color: #eaeaea;
   font-weight: bold;
   font-size: 1.7em;
   color: #4e4e50;
}

.billing-page {
   margin: 30px auto;
}
.padtopbot20 {
   padding-top: 20px;
   padding-bottom: 20px;
}
.customer-info .row {
   padding: 5px 0;
}
.billing-disclaimer {
   margin-top: 5px;
   line-height: 12px;
}
section#confirmation {
   padding: 10px;
   border: 1px #e4e4e4 solid;
   border-top: none;
   line-height: 2.0;
   background-color: #e0e4eb;
}
section#confirmation input[type="text"], section#confirmation input[type="tel"] {
   width: 100%;
   box-shadow: none;
   border: 1px solid #ccc;
}
section#confirmation h2 {
   font-size: 16px;
   font-weight: bold;
}
section#confirmation #billingSubmit {
   height: 50px;
   width: 100%;
   padding: 0;
   text-shadow: none;
   border-radius: 0;
   border: none;
   background: #fb0406;
}
section.billing-page .trackright {
   float: right;
}
section.billing-page .trackleft {
   float: left;
}
section.billing-page .address-radios span {
   margin-left: 4px;
}
section.billing-page .billing-disclaimer p {
   font-size: 11px;
   letter-spacing: -0.1px;
   color: #888888;
   line-height: 16px;
}
section.billing-page label {
   display: inline-block;
   max-width: 100%;
   margin-bottom: 5px;
   font-weight: 700;
   padding: 0;
   font-size: 13px;
   line-height: 26px;
}
.billing-page .row {
   margin-right: -15px;
   margin-left: -15px;
   width: initial;
}
.billing-page [class*="col-"] {
   padding-right: 15px;
   padding-left: 15px;
}
section.billing-page .margbottomtildiv {
   margin-bottom: 10px;
}
.billing-page select, .billing-page .form-control {
   font-size: 13px;
}
.nomargin {
   margin: 0 !important;
}
.nopadding {
   padding: 0 !important;
}
.greyborder {
   border: solid 1px #d2d2d2;
}
.billing-page label.error {
   font-size: 9px;
   line-height: normal;
   margin: 0;
   display: block;
}
section.billing-page img {
   max-width: 100%;
}
section.billing-page img.ssl-img {
   width: 60%;
}
.gdcerts {
   float: right;
   padding: 18px 15px;
   text-align: right;
}
section.billing-page .terms label {
   font-size: 10px;
}
.terms input[type=checkbox] {
   vertical-align: bottom;
   position: relative;
   top: -7px;
}
.billing-page img#submitLoad {
   display: none;
   width: auto;
}
.billing-page #terms-error {
   display: block;
}
.billing-disclaimer a, .billing-disclaimer a:hover, .billing-disclaimer a:visited, .billing-disclaimer a:active {
   color: #888888;
}
@media (max-width: 1200px) {
   h2#subhead-1 {
      font-size: 21px;
   }
   h2#subhead-2 {
      font-size: 25px;
      margin: 15px 0;
   }
   .top .btn-block {
      font-size: 11.5px;
      padding: 8px 3px;
   }
   img.btn-check {
      width: 24px;
   }
   #assistantBenefits li {
      font-size: 11.5px;
   }
   #assistantBenefits {
      min-height: 164px;
   }
   #subhead-1 img {
      width: 80px;
   }
   .disclaimer {
      font-size: 9.1px;
   }
   .step2-box-right .header > div p {
      font-size: 16px;
   }
}
@media (max-width: 991px) {
   .margtopbot20 {
      margin-top: 20px;
      margin-bottom: 20px;
   }
   .step2-box-right .header > div p {
      font-size: 18px;
   }
   .navbar-default .navbar-collapse ul.navbar-nav li {
      padding: 0 5px;
   }
}
@media (max-width: 767px) {
   section.billing-page .customer-info {
      margin-top: 10px;
   }
   section.billing-page input[type="text"], input[type="email"], input[type="tel"], select {
      margin-bottom: 5px;
   }
   section#confirmation h2 {
      font-size: 1em;
      margin: 20px 0 5px;
   }
   .billing-heading {
      padding: 10px;
      font-size: 22px;
   }

   select#card_type.form-control {
      padding-left: 0px;
      padding-right: 0px;
   }
   .nopad-left-mob {
      padding-left: 0 !important;
   }
   .nopad-right-mob {
      padding-right: 0 !important;
   }
   section.billing-page .terms {
      padding-top: 10px;
      padding-bottom: 5px;
   }
   section.billing-page .terms label {
      font-size: 10px;
   }
   .billing-page {
      margin-top: 5px;
   }
   .billing-page #billingSubmit {
      margin-top: 0;
   }
   section.billing-page .margbottomtildiv {
      margin-bottom: 15px;
   }
   .billing-page div.row {
      margin-bottom: 10px;
   }
   .gdcerts {
      padding: 10px 15px;
   }
   .gdcerts img {
      width: 70%;
   }
   .container > .navbar-header {
      margin-left: 0;
   }
}
@media (max-width: 480px) {
   .billinglabel {
      font-size: 15px;
   }
   section.billing-page img.ssl-img {
      width: 75%;
   }
   .navbar-default .navbar-collapse {
      float: left;
   }
}
@media (max-width: 375px) {
   .billinglabel {
      font-size: 13px;
   }
   .step2-box-right .header > div p {
      font-size: 17px;
   }
}
@media (max-width: 320px) {
   section.billing-page label {
      font-size: 12px;
   }
   .terms {
      padding: 0;
   }
   section.billing-page .terms label {
      font-size: 8.7px;
   }
}

/* END NEW BILLING TEST 2017-07-24 */

@media (min-width: 768px) {
   .step2-box-left-header {
      float: left;
   }
   .step2-box-left {
      margin-top: 26px;
   }
}
@media (min-width: 992px) {
   .step1-box > div, .step2-box-right-header-tag {
      padding-right: 0px;
   }
   .step2-box-left {
      padding-left: 0px;
   }
   .step2-box-right-header-tag, .step2-box-right {
      padding-left: 13px;
   }
   .navbar-default .navbar-collapse ul.navbar-nav li a {
      padding-left: 0;
      padding-right: 0;
   }
}
@media (max-width: 991px) {
   .step1-box > div, .step2-box-right-header-tag {
      padding-right: 0px;
      padding-left: 0px;
   }
   .step2-box-left .header > div, .step2-box-right {
      margin-top: 6px;
   }
   .step2-box-right {
      margin-bottom: 29px;
   }
   .step2-box-right-header-tag {
      height: 25px;
   }
}
.step2-box-right-disclaimer p {
   font-size: 10px;
   line-height: 11px;
   text-align: left;
   text-align: justify;
   display: table-cell;
}
.principal-bottom {
   margin-top: 35px;
   margin-bottom: 20px;
}