<!--$hometemplate.html$-->
<div class="form-section top-padding-10 bottom-padding-10 bottom-buffer-10">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-4 col-md-push-8">
            <div class="progress marginless" style="height:10px;">
               <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" data-total="7" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  &nbsp;
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <form action="/colorado/end-collect" method="post" id="orderForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <div class="tab-content">
               <div id="step-2" class="tab-pane fade in active">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Driver License Information:</strong></h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Colorado Customer Identifier</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <input type="hidden" value="co" class="form-control" name="driver_license_state" id="driver_license_state" data-fv-field="driver_license_state">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="driver_license_state" style="display: none;"></i>
                           <input type="text" name="driver_license" class="form-control" value="" placeholder="DL Number" oncopy="return false" onpaste="return false" data-fv-field="driver_license">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="driver_license" style="display: none;"></i><small class="help-block" data-fv-validator="callback" data-fv-for="driver_license" data-fv-result="NOT_VALIDATED" style="display: none;">DL Number is not valid</small><small class="help-block" data-fv-validator="notEmpty" data-fv-for="driver_license_state" data-fv-result="NOT_VALIDATED" style="display: none;">DL State is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="driver_license_state" data-fv-result="NOT_VALIDATED" style="display: none;">Select a State</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="col-xs-12">
                              <p>
                                 <strong>Current Address</strong>
                              </p>
                           </div>
                           <div class="col-xs-12 col-md-8">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_address" class="form-control" value="" placeholder="Street Address" data-fv-field="current_address">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="current_address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_apto" class="form-control" value="" placeholder="Apt / Suite" data-fv-field="current_apto">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_apto" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="current_apto" data-fv-result="NOT_VALIDATED" style="display: none;">The apto seem to have invalid characters</small>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_city" class="form-control" value="" placeholder="City" data-fv-field="current_city">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="current_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="current_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="current_state" data-fv-field="current_state">
                                    <option value="CO" selected="">Colorado</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_state" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="current_state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="current_zipcode">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="current_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="current_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="current_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <strong>Mailing Address</strong>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group">
                           <div class="checkbox">
                              <label>
                                 <input type="checkbox" value="1" name="same_address">
                                 Select if your current mailing address is different. Your new driver license/ID card will be mailed to this address. </label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row mailing_address_wrap" style="display: none;">
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="col-xs-12 col-md-8">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_address" class="form-control" value="" placeholder="Street Address" data-fv-field="mailing_address">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_apto" class="form-control" value="" placeholder="Apt / Suite" data-fv-field="mailing_apto">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_apto" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_apto" data-fv-result="NOT_VALIDATED" style="display: none;">The apto seem to have invalid characters</small>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_city" class="form-control" value="" placeholder="City" data-fv-field="mailing_city">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="mailing_state" data-fv-field="mailing_state">
                                    <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO" selected="">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="DC">Washington DC</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_state" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="mailing_zipcode">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Demographic Information:</strong></h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 col-md-4">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="gender" data-fv-field="gender">
                              <option value="">Gender</option><option value="Male">Male</option><option value="Female">Female</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="gender" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="gender" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="eye" data-fv-field="eye">
                              <option value="">Eye Color</option><option value="Black">Black</option><option value="Blue">Blue</option><option value="Brown">Brown</option><option value="Dichromatic">Dichromatic</option><option value="Gray">Gray</option><option value="Green">Green</option><option value="Hazel">Hazel</option><option value="Pink">Pink</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="eye" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="eye" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="hair" data-fv-field="hair">
                              <option value="">Hair Color</option><option value="Auburn">Auburn</option><option value="Bald">Bald</option><option value="Black">Black</option><option value="Blonde">Blonde</option><option value="Brown">Brown</option><option value="Gray">Gray</option><option value="Red">Red</option><option value="Sandy">Sandy</option><option value="White">White</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="hair" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="hair" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 col-md-8">
                        <div class="row">
                           <div class="col-xs-12">
                              <p>
                                 <strong>Height:</strong>
                              </p>
                           </div>
                           <div class="col-xs-6">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="height_feet" data-fv-field="height_feet">
                                    <option value="">Feet</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="height_feet" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="height_feet" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                              </div>
                           </div>
                           <div class="col-xs-6">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="height_inches" data-fv-field="height_inches">
                                    <option>Inches</option><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="height_inches" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="height_inches" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="row">
                           <div class="col-xs-12">
                              <p>
                                 <strong>Weight (lbs):</strong>
                              </p>
                           </div>
                           <div class="col-xs-12">
                              <div class="form-group has-feedback">
                                 <input type="tel" name="weight" class="form-control" value="" placeholder="Weight" data-fv-field="weight">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="weight" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="weight" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small><small class="help-block" data-fv-validator="between" data-fv-for="weight" data-fv-result="NOT_VALIDATED" style="display: none;">Weight is out of range</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-12 col-md-4 col-md-push-8">
                        <a data-toggle="tab" href="#step-3" data-step="3" class="btn btn-block btn-danger next">Next</a>
                     </div>
                  </div>
               </div>
               <div id="step-3" class="tab-pane fade ">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Emergency Information:</strong> &nbsp; <small class="font-size-14">( <i>Optional</i> )</small></h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 col-md-6">
                        <div class="form-group has-feedback">
                           <input type="text" name="emergency_full_name" class="form-control" value="" placeholder="Contact full name" data-fv-field="emergency_full_name">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="emergency_full_name" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="emergency_full_name" data-fv-result="NOT_VALIDATED" style="display: none;">The full name can only contain the letters, digits and spaces</small>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-6">
                        <div class="form-group has-feedback">
                           <input type="tel" name="emergency_phone" class="form-control" value="" placeholder="Contact phone" maxlength="10" data-fv-field="emergency_phone">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="emergency_phone" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="emergency_phone" data-fv-result="NOT_VALIDATED" style="display: none;">The phone number can only have 10 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="emergency_phone" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div>
                  <div class="row table-hover">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Questions:</strong></h2>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10 odd-row">
                     <div class="col-xs-12 col-md-10">
                        &bull;Do you attest under penalty of perjury that you have had an eye examination by an optometrist or ophthalmologist within the last three years and that, if you require vision correction, your visition correction prescription is correct? <span class="red-text">*</span>
                     </div>
                     <div class="col-xs-12 col-md-2 text-left">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group has-feedback">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_1" data-fv-field="requirement_1">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_1" data-fv-field="requirement_1">
                              <i class="form-control-feedback" data-fv-icon-for="requirement_1" style="display: none;"></i>No</label><small class="help-block" data-fv-validator="notEmpty" data-fv-for="requirement_1" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10">
                     <div class="col-xs-12 col-md-10">
                        &bull;Would you like to register to be an organ/tissue donor? <span class="red-text">*</span>
                     </div>
                     <div class="col-xs-12 col-md-2 text-left">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group has-feedback">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_2" data-fv-field="requirement_2">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_2" data-fv-field="requirement_2">
                              <i class="form-control-feedback" data-fv-icon-for="requirement_2" style="display: none;"></i>No</label><small class="help-block" data-fv-validator="notEmpty" data-fv-for="requirement_2" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10 odd-row">
                     <div class="col-xs-12 col-md-10">
                        &bull;Is your driving privilege under suspension, revocation, or denial in Colorado or any other state? <span class="red-text">*</span>
                        <div class="text-danger text-center requirement_error_3" style="display: none;">
                           <strong><small>Your request cannot be completed at this time. You must visit a Colorado driver license office.</small></strong>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-2 text-left">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group has-feedback">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_3" data-fv-field="requirement_3">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_3" data-fv-field="requirement_3">
                              <i class="form-control-feedback" data-fv-icon-for="requirement_3" style="display: none;"></i>No</label><small class="help-block" data-fv-validator="notEmpty" data-fv-for="requirement_3" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10">
                     <div class="col-xs-12 col-md-10">
                        &bull;During the last two years, have you had any physical, mental, or emotional condition that would interfere with your ability to operate a motor vehicle safely including heart problems, diabetes, paralysis, epilepsy, seizures, lapses of consciousness, or dizziness? <span class="red-text">*</span>
                        <div class="text-danger text-center requirement_error_4" style="display: none;">
                           <strong><small>Your request cannot be completed at this time. You must visit a Colorado driver license office.</small></strong>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-2 text-left">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group has-feedback">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_4" data-fv-field="requirement_4">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_4" data-fv-field="requirement_4">
                              <i class="form-control-feedback" data-fv-icon-for="requirement_4" style="display: none;"></i>No</label><small class="help-block" data-fv-validator="notEmpty" data-fv-for="requirement_4" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10 odd-row">
                     <div class="col-xs-12 col-md-10">
                        &bull;Have you surrendered all out-of-state issued driver licenses or permits in your possession? <span class="red-text">*</span>
                        <div class="text-danger text-center requirement_error_5" style="display: none;">
                           <strong><small>Your request cannot be completed at this time. You must visit a Colorado driver license office.</small></strong>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-2 text-left">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group has-feedback">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_5" data-fv-field="requirement_5">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_5" data-fv-field="requirement_5">
                              <i class="form-control-feedback" data-fv-icon-for="requirement_5" style="display: none;"></i>No</label><small class="help-block" data-fv-validator="notEmpty" data-fv-for="requirement_5" data-fv-result="NOT_VALIDATED" style="display: none;">You need to pick one.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Terms of Agreement</strong></h2>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <div class="checkbox">
                              <label class="dark-label font-size-14">
                                 <input type="checkbox" value="1" name="agreement" data-fv-field="agreement">
                                 By filling out the form above, checking this box and electronically signing your name below, you acknowledge that you have read and agree to our Terms &amp; Conditions and Privacy Policy. I affirm that I am the record holder for this vehicle and that all information I have provided is true and accurate.  By checking this box, you also acknowledge that this website is privately owned and independently operated, having no affiliation with any state or federal agency.  I hereby appoint this site as my agent and expressly authorize its personnel to access and contact CoDMV's online vehicle services portal and process my registration renewal on my behalf for a fee that includes features and benefits exclusive to this site. I also authorize this website to retain my information for future renewals. </label>
                           </div><i class="form-control-feedback" data-fv-icon-for="agreement" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="agreement" data-fv-result="NOT_VALIDATED" style="display: none;">You need to agree to our terms.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Electronic Signature</strong></h2>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <input type="text" name="signature" class="form-control" value="" placeholder="To sign, please enter your full legal name." data-fv-field="signature">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="signature" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="signature" data-fv-result="NOT_VALIDATED" style="display: none;">Electronic signature is required</small>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <a data-toggle="tab" href="#step-2" data-step="2" class="btn btn-block next btn-default">Previous</a>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <input type="hidden" name="csrf_name" value="csrf5a4409ba3a475">
                        <input type="hidden" name="csrf_value" value="b675fb0b1231380b853f8131f717d07a">
                        <input type="submit" value="CONTINUE" class="btn btn-block btn-danger submit-colorado-renew">
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<!--/$hometemplate.html$-->
