.reset {
    padding: 0;
    margin: 0;
}
.imgmain, .imgform {
    display: none;
}
body {
    color: #413d3d;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, li, ul {
    color: #413d3d;
}
.nav>li>a {
    padding: 8px 10px;
}
#site-top-disclaimer {
    background-color: #f1f3f5;
    color: #999;
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}
.top-menu {
    width: 80%;
    margin: 0 auto;
    padding-top: 2px;
}
.zipBox {
    border: solid 2px #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    height: 65px;
}
.zipBox p {
    float: left;
    font-size: 20px;
    padding: 5px 10px;
}
.zipBox div input, .zipBoxMobile input {
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
}
.zipBox div button {
    height: 40px;
    width: 80px;
}
.onlineInfoAccBtn {
    display: block;
    float: none;
    width: 452px;
    height: 65px;
    font-size: 2.5em;
    text-align: center;
    border: solid 1px #033f66;
    border-radius: 4px;
    padding: 4px;
}
.locate-dmv .col-md-12.middle-content {
    margin-top: 30px;
    margin-bottom: 40px;
}
.locate-dmv .col-md-12.top-content h2 {
    font-size: 1.5em;
    color: #413d3d;
}
.locationCtaBtnContainer a:hover {
    text-decoration: none;
}
.locationCtaBtnContainer a {
    text-decoration: none;
}
.contactImportant {
    padding: 1%;
    color: red;
}
.radiusBoxContainer {
    background: rgba(250, 249, 249, 0.71);
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin: 1% 0;
}
.step-1 .left-box .row input, .step-1 .left-box .row label {
    cursor: pointer;
}
.btn-gradient {
    background: #023e67;
    background: -moz-linear-gradient(top, #023e67 0, #2074ad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #023e67), color-stop(100%, #2074ad));
    background: -webkit-linear-gradient(top, #023e67 0, #2074ad 100%);
    background: -o-linear-gradient(top, #023e67 0, #2074ad 100%);
    background: -ms-linear-gradient(top, #023e67 0, #2074ad 100%);
    background: linear-gradient(to bottom, #023e67 0, #2074ad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#023e67', endColorstr='#2074ad', GradientType=0);
}
.main-content {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    min-height: 450px;
}
.h1, h1 {
    font-size: 20px;
    margin: .5% 0;
    color: #283891;
}
.gradient-middle.static-content {
    background: #ecf0f1;
}
.static-content .main-content {
    padding: 1px 0 30px 0;
}
.static-content .main-content a {
    color: #413d3d;
}
.header {
    width: 100%}
.top-menu ul {
    display: block;
    float: right;
    padding-top: 0.5%}
.navbar-inverse .navbar-nav>li>a {
    color: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #2c3e50;
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
    color: #2c3e50;
}
.nav>li>a:hover {
    color: #2c3e50;
    text-decoration: underline;
}
.navbar-inverse {
    background-color: #fff;
    border: 0;
}
.navbar-brand {
    padding: 0;
    padding-top: 5px;
}
.navbar-brand>img {
    width: 65%;
    height: auto;
}
.site-description {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    color: #6d6e71;
}
.description-box {
    border-bottom: 0;
    position: relative;
    z-index: 10;
}
.gradient-top, .gradient-middle {
    background: #ecf0f1;
}
.shadow {
    box-shadow: none;
}
.bottom-menu .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.bottom-menu .navbar {
    border: 0;
}
.bottom-menu .navbar-default {
    background-color: #fff;
    margin: 0;
}
.footer-disclaimer {
    text-align: center;
    color: #777;
}
.icons-nav {
    background-color: #283891;
    padding: 0;
}
.icons-nav .container {
    width: 80%}
.icons-nav .container p {
    text-align: center;
	color:#fff;
}
.icons-nav .container img {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
}
.icons-nav .container a {
    color: #fff;
}
.main-content .content-disclaimer p {
    margin: 0;
    padding: 15px;
    color: #6d6e71;
}
.main-content .content-disclaimer a {
    color: #1b6288;
}
.content-disclaimer {
    width: 80%;
    margin: 0 auto;
}
.main-form {
    height: 400px;
    width: 50%;
    margin: 0 auto;
    border: 0;
}
.main-content .well.well-sm {
    background-color: #dee1e3;
    width: 78%;
    margin: 0 auto;
    border: 0;
}
.main-content .well.well-sm h2 {
    color: #283891;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 5px;
}
.well h2 {
    color: #a6ec38;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 5px;
}
.step-2 h2 {
    margin-left: 20px;
}
.step-3 h2 {
    margin-left: 10px;
}
.well h3 {
    color: #fff;
    margin-top: 5px;
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    padding: 15px;
    background: #fff;
    color: #41738c;
    text-align: center;
    font: 20px Arial, sans-serif;
    font-weight: bold;
    position: relative;
    z-index: 8;
}
.numberCircleTop {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: -moz-linear-gradient(75deg, #2f8fb7 0, #185d7c 100%);
    background: -webkit-gradient(linear, top, bottom, color-stop(0, #2f8fb7), color-stop(100%, #185d7c));
    background: -webkit-linear-gradient(75deg, #2f8fb7 0, #185d7c 100%);
    background: -o-linear-gradient(75deg, #2f8fb7 0, #185d7c 100%);
    background: -ms-linear-gradient(75deg, #2f8fb7 0, #185d7c 100%);
    background: linear-gradient(13deg, #2f8fb7 0, #185d7c 100%);
    position: relative;
    z-index: 1;
    margin-top: -60px;
    margin-left: -10px;
    border-bottom: solid 1px #43b3e1;
}
.numberContainer {
    display: block;
    padding: 20px;
    margin: 0 auto;
    width: 8.33%;
    float: left;
}
.lines {
    width: 10%;
    float: left;
}
hr {
    display: inline;
    float: left;
    margin-top: 20px;
    margin-left: -4em;
    width: 12em;
}
.steps {
    display: inline-block;
    padding-top: 10px;
    text-align: center;
}
.steps-nav p {
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 2em;
}
.active {
    background: #ffa902;
    background: -moz-linear-gradient(top, #ffa902 0, #ffcb31 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffa902), color-stop(100%, #ffcb31));
    background: -webkit-linear-gradient(top, #ffa902 0, #ffcb31 100%);
    background: -o-linear-gradient(top, #ffa902 0, #ffcb31 100%);
    background: -ms-linear-gradient(top, #ffa902 0, #ffcb31 100%);
    background: linear-gradient(to bottom, #ffa902 0, #ffcb31 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa902', endColorstr='#ffcb31', GradientType=0);
}
.visited {
    background: #84cf0e;
    background: -moz-linear-gradient(top, #84cf0e 0, #5cb50c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #84cf0e), color-stop(100%, #5cb50c));
    background: -webkit-linear-gradient(top, #84cf0e 0, #5cb50c 100%);
    background: -o-linear-gradient(top, #84cf0e 0, #5cb50c 100%);
    background: -ms-linear-gradient(top, #84cf0e 0, #5cb50c 100%);
    background: linear-gradient(to bottom, #84cf0e 0, #5cb50c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84cf0e', endColorstr='#5cb50c', GradientType=0);
}
.bg-visited {
    background: #fff;
    border-color: #fff;
}
.wpr {
    width: 400px;
    height: 100px;
    padding: 10px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wpr span {
    width: 100px;
    height: 50px;
    float: left;
    margin: 0 5px;
}
.top-menu .navbar {
    position: relative;
    z-index: 9;
    margin-bottom: 0;
}
.step-4.well .row {
    margin-bottom: 0;
}
.well.well-sm .row {
    margin-left: 0;
    margin-right: 0;
    color: #413d3d;
}
.well.well-sm .row small a {
    color: #413d3d;
    padding-top: 5px;
}
.well .col-md-6.line {
    border-left: 1px solid rgba(255, 255, 255, .3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.well.well-sm .row label {
    font-size: .95em;
    font-weight: lighter;
}
.well.well-sm .row input[type="radio"] {
    margin: .7em .7em .7em 0;
    transform: scale(1.5, 1.5);
    * scale(1.5, 1.5);
    * scale(1.5, 1.5);
    * scale(1.5, 1.5);
    * scale(1.5, 1.5);
}
.row .col-md-6 .container-fluid {
    padding-right: 10%;
    padding-left: 10%}
.well.well-sm .row .step1.btn.btn-default {
    width: 100%;
    font-size: 1.5em;
    margin: 10px 0;
    background: #84d00e;
    background: -moz-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #84d00e), color-stop(100%, #5cb50c));
    background: -webkit-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: -o-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: -ms-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: linear-gradient(to bottom, #84d00e 0, #5cb50c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84d00e', endColorstr='#5cb50c', GradientType=0);
}
.well.well-sm .row .step2.btn.btn-default {
    font-size: 1.5em;
    margin-bottom: 5px;
    display: block;
    width: 75%;
    background: #283891;
    color: #fff;
}
.well.well-sm .row .step4.btn.btn-default {
    font-size: 1.9em;
    width: 55%;
    margin-bottom: 30px;
    display: block;
    background: #283891;
    color: #fff;
}
.step-3.btn.btn-default {
    font-size: 2em;
    width: 250px;
    margin-bottom: 10px;
    display: block;
    background: #84d00e;
    background: -moz-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #84d00e), color-stop(100%, #5cb50c));
    background: -webkit-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: -o-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: -ms-linear-gradient(top, #84d00e 0, #5cb50c 100%);
    background: linear-gradient(to bottom, #84d00e 0, #5cb50c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84d00e', endColorstr='#5cb50c', GradientType=0);
}
.credit-logos {
    margin: 10px auto;
    padding: .5em;
    background: white;
    border-radius: 4px;
}
.credit-logos img {
    max-width: 100%}
.step-2 .container.col-md-6 {
    max-width: 100%}
.noPadding {
    padding-right: 1px;
    padding-left: 1px;
}
.row.dob .col-md-4 {
    padding-left: 1px;
    padding-right: 1px;
    display: inline-table;
}
.form-group.col-md-6 {
    padding-left: 1px;
    padding-right: 1px;
}
.step-2 .form-group {
    height: 80px;
}
.row.form-group.no-bottom-margin {
    margin-left: 8px;
    margin-right: 0;
}
form .well.well-sm .row label.error, form .well .row label.error {
    color: red;
    font-size: 11px;
    font-weight: normal;
    float: left;
}
.form-control.error {
    color: #555;
}
#frm #frmLoadingGif {
    display: none;
    margin: 0 auto;
}
.step-3 .well {
    background-color: #bdc3c7;
    color: #fff;
    border: 0;
    width: 100%;
    height: 39em;
}
.step-3 .descriptor {
    color: #fff;
}
.step-3 .product {
    font-weight: bold;
}
.step-3.container {
    max-width: 100%;
    margin-bottom: 10px;
}
.step-3 .noPadding {
    padding-right: 5px;
    padding-left: 5px;
}
.step-3 .noPadding {
    padding-left: 1px;
    padding-right: 1px;
}
.step-3 .form-group {
    height: 70px;
}
.well.right .row {
    margin-right: 10px;
}
.openCard {
    margin-left: 5px;
    margin-top: -1px;
}
.step-3 hr {
    width: 100%;
    border: .5px solid rgba(238, 238, 238, 1);
    border-top-width: 1px;
    margin: 2em 0;
}
.col-md-6.billing {
    padding-right: 25px;
    padding-left: 25px;
}
.summary {
    padding-left: 0;
}
.colheight.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#billingForm #billingLoadingGif, #billingForm #submitLoad {
    display: none;
}
.text-right {
    padding-right: 20px;
}
.ctr {
    width: 60%;
    margin: 0 auto;
}
.ctr div {
    display: block;
}
.step-4.well p {
    font-size: 1.2em;
    line-height: 40px;
}
.step-4.well .ctr .row h2 {
    margin-top: 10px;
}
.ctr-logos {
    display: block;
    text-align: center;
}
.confirmation.well {
    margin-top: 50px;
}
.checkbox.agree a {
    color: #00bcff;
}
.bottom-disclaimer {
    width: 83%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
.step-3 .bottom-disclaimer {
    width: 100%}
.step-3.content-disclaimer {
    margin-top: -20px;
}
div .checkbox.agree label {
    padding-left: 0;
}
.form-control {
    padding: 6px 5px;
}
.info-box .boxtitle {
    background: #dcdcdc;
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    padding: 1% 2%;
    margin: 0;
}
.info-box {
    border: 1px solid #dcdcdc;
    border-top: 0;
    border-radius: 10px;
    padding: 0 0 2% 0;
    background: #dcdcdc;
}
.info-box p {
    padding: 3px 10px;
    text-align: justify;
}
.roadAdvisorsSealsBox div {
    background: #fff;
    padding: 0;
    border: 1px solid #ccc;
    font-size: 16px;
}
.roadAdvisorsSealsBox img {
    float: none;
    display: block;
    margin: 0 auto;
}
.roadAdvisorsSealsBox div:nth-child(odd) {
    background: #e0eef5;
}
.info-box img {
    float: left;
    margin: 3%;
    padding: 0 1%}
.site-map-cols.state-lines ul {
    float: left;
    margin-bottom: 50px;
}
.step1 select, .step2 select, .step2 input, .step3 select, .step3 input {
    padding: 0;
    height: 25px;
    padding: 3px 5px;
}
span>input[type="radio"] {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
span>input[type="radio"]+label {
    position: relative;
    background: transparent url("images/no-check.png") no-repeat scroll left center;
    clear: none;
    padding: 8px 10px 5px 25px;
    cursor: pointer;
}
input[type="radio"]:checked+label {
    background-image: url("images/checked.png");
}
.main {
    color: #2c3e50;
}
.main .container h1 {
    font-size: 18px;
    color: #497698;
    text-transform: uppercase;
    margin-bottom: 20px;
}
div.title small, div.title h3 {
    margin: 10px 5px;
}
div.title small {
    color: #afb3b7;
    font-size: 8px;
    float: right;
}
.homepage .row {
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}
.row.homepage {
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}
div.row {
    margin-bottom: 20px;
}
div.step1, section.step2, section.step3 {
    background: #fff;
    box-sizing: content-box;
}
div.step1, section.step2, section.step3 {
    border-radius: 4px;
    padding-bottom: 20px;
}
div.title h3 {
    color: #283891;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
}
section.step2 h3, section.step3 h3 {
    padding-left: 10px;
}
div.border-top, section.border-top {
    border-top: 4px solid #283891;
}
.border-left {
    border-left: 1px solid lightgray;
}
div.gap {
    width: 1%;
    padding: 1px;
}
form label.error {
    position: static;
    padding: 1px 5px;
    color: red;
    font-size: 10px;
}
.step23 p {
    margin: 1em 0;
}
.form {
    margin: 0;
    padding: 0 4px;
}
.clearSpace {
    margin: 0;
    padding: 0 4px;
}
div.col-md-3 {
    width: 20%}
div.col-md-3, div.col-xs-1, div.col-sm-4 {
    display: table-cell;
    float: none;
}
section.boton {
    margin-top: 20px !important;
}
section.boton p {
    text-align: center;
    color: #b4b4b4;
    font-size: 10px;
}
section.boton a {
    color: #b4b4b4;
    text-decoration: underline;
}
section.boton img {
    display: block;
    width: 95%;
    margin: 0 auto;
}
#billingForm section.boton img {
    width: 50%
}
#billingForm section.boton #paymentImages {
	text-align: center;
}
#billingForm section.boton img.pay1 {
	display: inline-block;
    width: 30%;
}
#billingForm section.boton img.pay2 {
	display: inline-block;
    width: 10%;
}
section.boton img#frmLoadingGif, section.boton img#billingLoadingGif, section.boton img#submitLoad {
    display: none;
    width: auto;
}
input.btn {
    display: block;
    height: 44px;
    width: 60%;
    margin: 0 auto;
    border-radius: 0;
    background-color: #ff7300;
    border-color: #ff7300;
    color: #fff;
    margin-bottom: 10px;
}
div.col-md-3, div.col-xs-1 {
    display: table-cell;
    float: none;
}
section.step2 {
    display: table-cell;
    width: 60% !important;
    padding-top: 5px;
}
.date-left {
    margin: 0;
    padding-left: 0;
}
.date-right {
    margin: 0;
    padding-right: 2px;
    padding-left: 10px;
}
.date-day {
    margin: 0;
    padding-right: 3px;
    padding-left: 2px;
}
section.summary {
    background: #f8f9fa;
    border-radius: 4px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid groove none groove;
    box-sizing: content-box;
    margin-left: 10px;
    padding: 0 30px 0 15px;
}
span.secure {
    color: #7ab02c;
    font-weight: 600;
}
span.secure::after {
    content: url(images/lock.png);
}
span.help::after {
    content: url(images/help.png);
    padding-left: 5px;
    cursor: pointer;
}
img.credit-card {
    padding-top: 0;
}
section.disabled p, h3, input, select {
    color: #bdbdbd;
}
div.last_step {
    background: #fff;
}
div.last_step img {
    margin-top: 0;
    margin-bottom: 10px;
}
div.last_step h2 {
    display: inline-block;
    margin: 25px 0 10px 5px;
}
a.download {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #a87936;
    font-size: 20px;
    color: #283645;
    font-weight: bold;
    text-transform: uppercase;
    background: #eda135;
}
.imgmain, .imgform {
    display: none;
}
p.completed {
    font-weight: bold;
    margin: 20px 0;
}
p.thank-you {
    font-size: 13px;
}
div.thankyou-loader h2, div.thankyou-loader p {
    text-align: center;
}
p.click {
    font-size: 13px;
    margin: 30px 0 20px 0;
}
p.bottom-disclaimer {
    margin-bottom: 20px;
}
p strong.price {
    padding-left: 8px;
}
input#agree {
    height: auto;
    padding: 0;
    margin: 10px 0;
}
label#agree {
    margin: 0 0 0 5px;
}
.info-box {
    border: 1px solid #dcdcdc;
    border-top: 0;
    border-radius: 5px;
}
.info-box p {
    padding: 1%;
    margin: 0;
}
.info-box .boxtitle {
    background: #283891;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    padding: 1% 2%;
    margin: 0;
}
.info-box img {
    float: left;
    margin: 3%;
    padding: 0 1%}
div.roadAdvisorsSealsBox {
    background: #fff;
}
.roadAdvisorsSealsBox div {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 10px 0;
}
.roadAdvisorsSealsBox div:nth-child(odd) {
    background: #e0eef5;
}
.roadAdvisorsSealsBox div p {
    float: left;
    padding: 5%;
    margin: 0;
}
.roadAdvisorsSealsBox img {
    padding-left: 10%;
	width: 50%;
	}
.btn-warning.disabled, .btn-warning.disabled:hover {
    background-color: #ccc;
    border-color: #ccc;
}
span.checkMarks {
    background: url(images/gcheckMark.png) center center no-repeat;
    display: block;
    float: right;
    height: 20px;
    width: 30px;
    padding: 8%;
    margin-right: 10%}
div.important-notice {
    background: rgba(189, 195, 199, .5);
    border: 1px solid #95a5a6;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.contactImportant {
    color: red;
}
.nomargin {
    margin-left: 0;
    margin-right: 0;
}
.row.nomargin {
    margin-left: 0;
    margin-right: 0;
}
.nomargin .row {
    margin-left: 0;
    margin-right: 0;
}
.homepage hr {
    margin: 0 0 10px;
    border-color: #ced3d8 -moz-use-text-color -moz-use-text-color;
    border: 0;
    border-top: 1px solid #eee;
    display: block;
    float: none;
    width: 100%}
div#form span.disabled {
    color: #bdbdbd;
}
p.select {
    margin: 0;
    padding-bottom: 4px;
    font-weight: bold;
}
.form {
    margin: 0;
    padding: 0 4px;
    height: 60px;
}
.services-input {
    font-size: 11px;
}
.content-disclaimer {
    width: 100%}
.main-content .content-disclaimer p {
    padding-left: 0;
    padding-right: 0;
}
.step1 #form {
    font-size: 11px;
}
.clearSpaceMonth {
    padding: 0;
}
hr {
    display: block;
    float: none;
    width: 100%;
    border: 0;
    border-top: solid 1px #eee;
    margin: 0 0 10px;
}
.nopadding {
    padding: 0;
}
.main-content h1 {
    color: #283891;
    margin: 1% 0;
    font-size: 20px;
}
.summary .title {
    padding-top: 5px;
}
.dld-block {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 .5%;
    cursor: pointer;
}
.dld-block .title-dld h2 {
    font-size: 20px;
    margin: 10px 0;
}
.title-dld span {
    color: #2d8eb8;
    font-weight: bold;
}
.btn-dld {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    background-color: #2d8eb8;
    border-radius: 10px;
    text-transform: uppercase;
}
div.last_step {
    padding-bottom: 20px;
}
.title-dld h2 {
    font-size: 1.4em !important;
    height: 60px;
}
.img-dld {
    background: url(images/sprite_checklist_licenses.png) no-repeat;
    width: 100px;
    height: 100px;
    background-position-x: -200px;
    background-size: cover;
    margin: 5px 30%}
.download_blocks {
    margin: 0 auto;
    overflow: hidden;
}
.img-dld.application-dld {
    background-position: -100px;
}
.img-dld.tips-dld {
    background-position: 0 0;
}
.img-dld.audio-dld {
    background-position: -300px;
}
.download_blocks {
    margin: 0 0 30px;
    overflow: hidden;
}
.dld-block a {
    text-decoration: none !important;
}
.btn-dld:hover {
    background-color: #1c5c77;
}
.agreement a {
	color:#337ab7 !important;
}
@media(max-width:1200px) {
    .dld-block .title-dld h2 {
    font-size: 1.1em !important;
}
.img-dld {
    margin: 5px 25%}
}@media(max-width:991px) {
    .img-dld {
    margin: 5px 15%}
.btn-dld {
    font-size: .8em;
}
}@media(max-width:768px) {
    .title-dld h2 {
    height: auto;
}
.dld-block {
    float: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}
.dld-top {
    margin-top: 0;
}
.img-dld {
    margin: 5px auto;
}
.dld-block .title-dld h2 {
    font-size: 1.5em !important;
    line-height: 1em !important;
}
.btn-dld {
    font-size: 1em;
}
}@media(max-width:1280px) {
    .main-content .well.well-sm {
    width: 90%}
}@media(max-width:1205px) {
    .top-menu .nav li a {
    padding: 10px 3px;
}
.navbar.nav {
    padding-top: 5px;
}
.step-3.container {
    width: 100%}
}@media(max-width:1024px) and (min-width:768px) {
    .top-menu .navbar-header {
    width: 20%;
	}
.top-menu .hidden-xs {
    width: 100%;
    height: auto;
    padding-top: 5px;
}
.top-menu .nav li {
    font-size: .75em;
}
.well.well-sm .row label {
    font-size: 1.1em;
}
div.title h3 {
    font-size: 12px;
}
div.title small {
    font-size: 6px;
}
}@media(max-width:991px) {
    .line {
    border-left: none !important;
}
.summary {
    padding-left: 15px;
}
.well.well-sm .row {
    margin-left: 0;
    margin-right: 0;
}
.step-3 .well {
    height: auto;
}
.bottom-disclaimer {
    width: 100%}
.content-disclaimer {
    width: 95%;
    padding: 0 5px;
}
.info-box {
    margin-bottom: 15px;
}
.col-md-4.roadAdvisorsSealsBox {
    padding: 0 30px;
}
.step-4.well p {
    line-height: 25px;
}
.well.well-sm .row label {
    font-size: 1.1em;
}
}@media(max-width:767px) {
    .steps-nav .wpr {
    display: none;
}
#billingForm section.boton img {
    width: 20%}
	
#billingForm section.boton img.pay {
    width: 100%
}
.top-menu {
    width: 100%}
.top-menu .navbar-toggle {
    background-color: #283891;
    border-color: #283891;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #283891;
}
.navbar-inverse .navbar-collapse {
    border-color: #fff;
}
.navbar-collapse ul li {
    font-size: 1.3em;
    left: -20px;
    border-bottom: solid 1px #d0d0d0;
}
.top-menu .nav.navbar-nav {
    width: 100%}
.main-content {
    width: 98%}
.well.well-sm .row .step4.btn.btn-default {
    width: 8em;
}
.step-4 .ctr {
    width: 70%}
.main-content {
    padding-top: 15px;
}
.main-content h1 {
    margin-top: 0;
    font-size: 2em;
}
section.summary {
    margin-left: 0;
    box-sizing: border-box;
    margin-top: 10px;
}
.date-right {
    padding-left: 0;
    padding-right: 0;
}
.date-left {
    padding-right: 0;
}
.step1 select, .step2 select, .step2 input, .step3 select, .step3 input {
    letter-spacing: -0.5px;
    font-size: 13px;
    padding-left: 1px;
    padding-right: 1px;
}
#billingForm .border-left {
    border: 0;
}
}@media(max-width:385px) {
	section.boton img {
    width: 100%;
}
#billingForm section.boton img.pay1 {
    width: 60%;
}

#billingForm section.boton img.pay2 {
    width: 25%;
}

 .top-menu .navbar-brand {
    width: 70%;
    padding-top:0;
}
section.step2 h3, section.step3 h3 {
    padding-left: 10px;
    font-size: 12px;
}
.navbar-default .navbar-nav>li>a {
    text-align: center;
}
span.secure {
    font-size: 11px;
}
.top-menu .navbar-brand img {
    width: 100%;
    height: auto;
    margin-left: 10px;
}
.col-md-6.billing {
    padding-right: 0;
    padding-left: 0;
}
.ctr-logos img {
    max-width: 220px;
}
.step-1.well.well-sm {
    width: 98%;
    padding-right: 0;
    padding-left: 0;
}
.step-1 .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}
.row .col-md-6 .container-fluid {
    padding-right: 3%;
    padding-left: 3%}
.content-disclaimer {
    width: 100%;
    padding: 0;
}
.main-content .well.well-sm {
    width: 100%;
    padding: 10px 5px;
}
.step-4 .ctr {
    width: 95%}
.step-3 h2 {
    margin-left: 0;
    text-align: center;
}
}#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#ouibounce-modal #cModal {
    background: 0;
    position: absolute;
    width: 90%;
    z-index: 12;
    margin: 5%}
#ouibounce-modal #cModal div {
    float: none;
}
#ouibounce-modal #cModal .close-wrapper {
    background: #fff;
    border-radius: 20px;
    width: 30px;
    border: 2px solid #000;
    cursor: pointer;
    float: right;
}
#ouibounce-modal #cModal .close-wrapper .modalClose {
    color: #000;
    padding: 2px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#ouibounce-modal .insideOffer {
    background: #0d2443;
    border: 5px dotted #fff;
    margin: 0 10px 2%;
    padding: 20px;
    width: 100%}
#ouibounce-modal .insideOffer .lines {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    clear: both;
    margin: 1% auto;
    width: 100%;
    float: none;
}
#ouibounce-modal .insideOffer .lines.attention-line {
    text-decoration: underline;
    font-size: 25pt;
}
#ouibounce-modal .insideOffer .lines.mid-line {
    font-size: 22pt;
}
#ouibounce-modal .insideOffer .lines.big-line {
    font-size: 40pt;
    font-weight: bold;
    text-shadow: 3px 2px grey;
}
#ouibounce-modal .insideOffer .btn-getCoupon {
    background: #b32e25;
    display: block;
    width: 60%;
    margin-left: 20%;
    border: 1px solid #974814;
    min-width: 200px;
}
#ouibounce-modal .insideOffer .btn-getCoupon .couponSubmit {
    font-size: 35pt;
    display: block;
    font-weight: bold;
    text-shadow: 2px 3px 3px darkred;
    background: 0;
    border: 0;
    width: 100%}
.showCouponModal {
    background: #000;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main .redeem_coupon_page h1 {
    font-size: 24px;
}
.redeem_form_wrapper {
    margin-bottom: 6%}
.redeem_form_wrapper #couponRedeemForm {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.redeem_form_wrapper div {
    float: none;
    margin: 0 auto;
}
.redeem_form_wrapper p {
    padding: 20px;
}
.redeem_form_wrapper #couponRedeemForm {
    background: #fff;
    float: left;
    padding: 5%;
    margin: 1% 0 10%}
.redeem_form_wrapper .redeem_notification {
    color: #b50b07;
}
.redeem_form_wrapper .redeem_inputs_wrapper {
    list-style-type: none;
    padding: 0;
}
.redeem_form_wrapper .redeem_inputs_wrapper li {
    clear: both;
}
.redeem_form_wrapper .redeem_inputs_wrapper label {
    width: 100%}
.redeem_form_wrapper .couponRedeemSubmit {
    background-color: #bbd149;
    border: 1px solid #839333;
    color: #283645;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 10px;
    text-transform: uppercase;
    width: auto;
}
.redeem_form_wrapper #mail_coupon_redeem {
    width: 99%}
.redeem_form_wrapper #mail_coupon_redeem-error {
    color: red;
}
.redeem_form_wrapper #gift-card-div {
    vertical-align: top;
    margin-top: -35px;
    display: none;
}
.redeem_form_wrapper #gift-card-div h3 {
    margin: 0;
    padding: 0;
    width: 100%}
.redeem_form_wrapper #gift-card-div p {
    padding: 0;
}
.redeem_form_wrapper #gasErrorMsj {
    display: none;
    padding: 0;
    padding-top: 20px;
}
.form-group {
    margin-bottom: 5px;
}
label.rwd-email-lbl span {
    color: red;
    font-size: .8em;
}
form .form-redeem .row {
    padding: 5px 0;
}
input.rwd-email-input {
    height: 35px;
    max-width: 95%}
.rewards {
    overflow: hidden;
}
.rewards-output hr {
    border: 2px double #eee;
}
.rwd_title {
    margin: 30px 0;
}
.rewards-output .rwd_title {
    color: red;
}
ol.rwd-output-steps li {
    list-style-type: decimal;
    float: none;
    font-size: 18px;
}
p.rwd-bottom-txt {
    font-size: 14px;
}
.member-number p {
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}
.rwd-output-img {
    height: 110px;
    text-align: right;
}
.rwd-output-img img {
    max-height: 100%;
    float: none;
}
.row.member-info {
    margin: 20px 0;
}
.member-info-img img {
    max-height: 100%;
    float: none;
}
.member-info-img {
    text-align: right;
}
.form-redeem label#email-error {
    display: block;
    color: #ff0017;
}
.row.nomargin.rwd-email {
    height: 60px;
}
#rewards-output {
    display: none;
}
#rwdEmailError {
    display: none;
}
.form-redeem {
    margin-bottom: 20px;
}
p#rwdEmailError {
    margin-top: 10px;
    color: red;
}
.footerCustomModal {
    padding: 0 !important;
    background-color: #43ab44;
}
.footerCustomButton {
    color: #fff !important;
    font-weight: bold !important;
    padding: 10px 24px !important;
    text-transform: uppercase;
    background-color: #43ab44 !important;
    border-color: #43ab44 !important;
    position: relative;
    width: 100%}
.footerCustomButton:hover {
    background-color: #43ab44;
}
.modalCustomHeader {
    padding: 1% !important;
    background: #1f5b91;
}
.modalCustomTitle {
    color: #eee;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.modal-backdrop.in {
    height: 100%}
#myModal {
    top: 10%}
	
.select-service-container .btn {
    background: #dcdcdc;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: #3e3e3e;
    font-size: 16px;
    height: 55px;
    margin: 2% 0;
    padding: 5px 0;
    width: 100%
}

.select-service-container.radiusBoxContainer {
    float: left;
    margin-bottom: 2%
}

.radiusBoxContainer {
    background: #89bdd3;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin: 1% 0
}

.select-service-container .left-container,.select-service-container .right-container {
    margin-bottom: 2%
}

.select-service-container .btn:hover {
    background-position: center bottom;
    color: #fff
}

/*----Blog Section--*/
.blog .main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog .post {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #999;
}

.blog .post p {
	text-align:justify;
}

.blog .post ol {
	text-align:justify;
	list-style-position:inside;
	padding-left:0;
}

.blog .post ul {
	list-style-position:inside;
	padding-left:0;
}

.blog .post .thumb {
	margin-right:10px;
	width:40%;
}

.blog .post .thumb img {
	width:100%;
}
.blog .posts h1 {
	font-size:1.8em;
}
.blog .posts h2 {
	font-size:1.3em;
}
@media screen and (max-width: 768px) {
	.blog .post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}