<!--$hometemplate.html$-->
<div class="form-section top-padding-10 bottom-padding-10 bottom-buffer-10">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-4 col-md-push-8">
            <div class="progress marginless" style="height:10px;">
               <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" data-total="7" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  &nbsp;
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <form action="/texas/end-collect" method="post" id="orderForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <div class="tab-content">
               <div id="step-2" class="tab-pane fade in active">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Renew Drivers License:</strong></h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 col-md-6">
                        <div id="dl-label" class="row">
                           <div class="col-xs-12">
                              <p>
                                 <strong>Driver License</strong>
                              </p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12">
                              <div class="form-group has-feedback">
                                 <input type="hidden" value="tx" class="form-control" name="driver_license_state" id="driver_license_state" data-fv-field="driver_license_state">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="driver_license_state" style="display: none;"></i>
                                 <input type="text" name="driver_license" class="form-control" value="" placeholder="DL Number" oncopy="return false" onpaste="return false" data-fv-field="driver_license">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="driver_license" style="display: none;"></i><small class="help-block" data-fv-validator="callback" data-fv-for="driver_license" data-fv-result="NOT_VALIDATED" style="display: none;">DL Number is not valid</small><small class="help-block" data-fv-validator="notEmpty" data-fv-for="driver_license_state" data-fv-result="NOT_VALIDATED" style="display: none;">DL State is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="driver_license_state" data-fv-result="NOT_VALIDATED" style="display: none;">Select a State</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xs-12 col-md-6">
                        <div id="dl-label" class="row">
                           <div class="col-xs-12">
                              <p>
                                 <strong>Audit Number <i class="glyphicon glyphicon-info-sign text-primary" aria-hidden="true" data-toggle="modal" data-target="#audit_number"></i></strong>
                              </p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12">
                              <div class="form-group has-feedback">
                                 <input type="tel" name="audit_number" class="form-control" value="" placeholder="Audit Number" data-fv-field="audit_number">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="audit_number" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="audit_number" data-fv-result="NOT_VALIDATED" style="display: none;">Audit number is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="audit_number" data-fv-result="NOT_VALIDATED" style="display: none;">Audit number should contain 11 or 20 numbers.</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Mailing Address</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group">
                           <div class="checkbox">
                              <label>
                                 <input type="checkbox" value="1" name="same_address">
                                 Select if your current mailing address is different. Your new driver license/ID card will be mailed to this address. </label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row mailing_address_wrap" style="display: none;">
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="col-xs-12 col-md-8">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_address" class="form-control" value="" placeholder="Street Address" data-fv-field="mailing_address">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_apto" class="form-control" value="" placeholder="Apt / Suite" data-fv-field="mailing_apto">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_apto" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_apto" data-fv-result="NOT_VALIDATED" style="display: none;">The apto seem to have invalid characters</small>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-md-3">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_city" class="form-control" value="" placeholder="City" data-fv-field="mailing_city">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-3">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="mailing_state" data-fv-field="mailing_state">
                                    <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX" selected="">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="DC">Washington DC</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_state" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-3">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="mailing_zipcode">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-3">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="mailing_county" data-fv-field="mailing_county">
                                    <option value=""> - County - </option><option value="Anderson">Anderson</option><option value="Andrews">Andrews</option><option value="Angelina">Angelina</option><option value="Aransas">Aransas</option><option value="Archer">Archer</option><option value="Armstrong">Armstrong</option><option value="Atascosa">Atascosa</option><option value="Austin">Austin</option><option value="Bailey">Bailey</option><option value="Bandera">Bandera</option><option value="Bastrop">Bastrop</option><option value="Baylor">Baylor</option><option value="Bee">Bee</option><option value="Bell">Bell</option><option value="Bexar">Bexar</option><option value="Blanco">Blanco</option><option value="Borden">Borden</option><option value="Bosque">Bosque</option><option value="Bowie">Bowie</option><option value="Brazoria">Brazoria</option><option value="Brazos">Brazos</option><option value="Brewster">Brewster</option><option value="Briscoe">Briscoe</option><option value="Brooks">Brooks</option><option value="Brown">Brown</option><option value="Burleson">Burleson</option><option value="Burnet">Burnet</option><option value="Caldwell">Caldwell</option><option value="Calhoun">Calhoun</option><option value="Callahan">Callahan</option><option value="Cameron">Cameron</option><option value="Camp">Camp</option><option value="Carson">Carson</option><option value="Cass">Cass</option><option value="Castro">Castro</option><option value="Chambers">Chambers</option><option value="Cherokee">Cherokee</option><option value="Childress">Childress</option><option value="Clay">Clay</option><option value="Cochran">Cochran</option><option value="Coke">Coke</option><option value="Coleman">Coleman</option><option value="Collin">Collin</option><option value="Collingsworth">Collingsworth</option><option value="Colorado">Colorado</option><option value="Comal">Comal</option><option value="Comanche">Comanche</option><option value="Concho">Concho</option><option value="Cooke">Cooke</option><option value="Coryell">Coryell</option><option value="Cottle">Cottle</option><option value="Crane">Crane</option><option value="Crockett">Crockett</option><option value="Crosby">Crosby</option><option value="Culberson">Culberson</option><option value="Dallam">Dallam</option><option value="Dallas">Dallas</option><option value="Dawson">Dawson</option><option value="Deaf Smith">Deaf Smith</option><option value="Delta">Delta</option><option value="Denton">Denton</option><option value="DeWitt">DeWitt</option><option value="Dickens">Dickens</option><option value="Dimmitt">Dimmitt</option><option value="Donley">Donley</option><option value="Duval">Duval</option><option value="Eastland">Eastland</option><option value="Ector">Ector</option><option value="Edwards">Edwards</option><option value="Ellis">Ellis</option><option value="El Paso">El Paso</option><option value="Erath">Erath</option><option value="Falls">Falls</option><option value="Fannin">Fannin</option><option value="Fayette">Fayette</option><option value="Fisher">Fisher</option><option value="Floyd">Floyd</option><option value="Foard">Foard</option><option value="Fort Bend">Fort Bend</option><option value="Franklin">Franklin</option><option value="Freestone">Freestone</option><option value="Frio">Frio</option><option value="Gaines">Gaines</option><option value="Galveston">Galveston</option><option value="Garza">Garza</option><option value="Gillespie">Gillespie</option><option value="Glasscock">Glasscock</option><option value="Goliad">Goliad</option><option value="Gonzales">Gonzales</option><option value="Gray">Gray</option><option value="Grayson">Grayson</option><option value="Gregg">Gregg</option><option value="Grimes">Grimes</option><option value="Guadalupe">Guadalupe</option><option value="Hale">Hale</option><option value="Hall">Hall</option><option value="Hamilton">Hamilton</option><option value="Hansford">Hansford</option><option value="Hardeman">Hardeman</option><option value="Hardin">Hardin</option><option value="Harris">Harris</option><option value="Harrison">Harrison</option><option value="Hartley">Hartley</option><option value="Haskell">Haskell</option><option value="Hays">Hays</option><option value="Hemphill">Hemphill</option><option value="Henderson">Henderson</option><option value="Hidalgo">Hidalgo</option><option value="Hill">Hill</option><option value="Hockley">Hockley</option><option value="Hood">Hood</option><option value="Hopkins">Hopkins</option><option value="Houston">Houston</option><option value="Howard">Howard</option><option value="Hudspeth">Hudspeth</option><option value="Hunt">Hunt</option><option value="Hutchinson">Hutchinson</option><option value="Irion">Irion</option><option value="Jack">Jack</option><option value="Jackson">Jackson</option><option value="Jasper">Jasper</option><option value="Jeff Davis">Jeff Davis</option><option value="Jefferson">Jefferson</option><option value="Jim Hogg">Jim Hogg</option><option value="Jim Wells">Jim Wells</option><option value="Johnson">Johnson</option><option value="Jones">Jones</option><option value="Karnes">Karnes</option><option value="Kaufman">Kaufman</option><option value="Kendall">Kendall</option><option value="Kenedy">Kenedy</option><option value="Kent">Kent</option><option value="Kerr">Kerr</option><option value="Kimble">Kimble</option><option value="King">King</option><option value="Kinney">Kinney</option><option value="Kleberg">Kleberg</option><option value="Knox">Knox</option><option value="Lamar">Lamar</option><option value="Lamb">Lamb</option><option value="Lampasas">Lampasas</option><option value="La Salle">La Salle</option><option value="Lavaca">Lavaca</option><option value="Lee">Lee</option><option value="Leon">Leon</option><option value="Liberty">Liberty</option><option value="Limestone">Limestone</option><option value="Lipscomb">Lipscomb</option><option value="Live Oak">Live Oak</option><option value="Llano">Llano</option><option value="Loving">Loving</option><option value="Lubbock">Lubbock</option><option value="Lynn">Lynn</option><option value="Madison">Madison</option><option value="Marion">Marion</option><option value="Martin">Martin</option><option value="Mason">Mason</option><option value="Matagorda">Matagorda</option><option value="Maverick">Maverick</option><option value="McCulloch">McCulloch</option><option value="McLennan">McLennan</option><option value="McMullen">McMullen</option><option value="Medina">Medina</option><option value="Menard">Menard</option><option value="Midland">Midland</option><option value="Milam">Milam</option><option value="Mills">Mills</option><option value="Mitchell">Mitchell</option><option value="Montague">Montague</option><option value="Montgomery">Montgomery</option><option value="Moore">Moore</option><option value="Morris">Morris</option><option value="Motley">Motley</option><option value="Nacogdoches">Nacogdoches</option><option value="Navarro">Navarro</option><option value="Newton">Newton</option><option value="Nolan">Nolan</option><option value="Nueces">Nueces</option><option value="Ochiltree">Ochiltree</option><option value="Oldham">Oldham</option><option value="Orange">Orange</option><option value="Palo Pinto">Palo Pinto</option><option value="Panola">Panola</option><option value="Parker">Parker</option><option value="Parmer">Parmer</option><option value="Pecos">Pecos</option><option value="Polk">Polk</option><option value="Potter">Potter</option><option value="Presidio">Presidio</option><option value="Rains">Rains</option><option value="Randall">Randall</option><option value="Reagan">Reagan</option><option value="Real">Real</option><option value="Red River">Red River</option><option value="Reeves">Reeves</option><option value="Refugio">Refugio</option><option value="Roberts">Roberts</option><option value="Robertson">Robertson</option><option value="Rockwall">Rockwall</option><option value="Runnels">Runnels</option><option value="Rusk">Rusk</option><option value="Sabine">Sabine</option><option value="San Augustine">San Augustine</option><option value="San Jacinto">San Jacinto</option><option value="San Patricio">San Patricio</option><option value="San Saba">San Saba</option><option value="Schleicher">Schleicher</option><option value="Scurry">Scurry</option><option value="Shackelford">Shackelford</option><option value="Shelby">Shelby</option><option value="Sherman">Sherman</option><option value="Smith">Smith</option><option value="Somervell">Somervell</option><option value="Starr">Starr</option><option value="Stephens">Stephens</option><option value="Sterling">Sterling</option><option value="Stonewall">Stonewall</option><option value="Sutton">Sutton</option><option value="Swisher">Swisher</option><option value="Tarrant">Tarrant</option><option value="Taylor">Taylor</option><option value="Terrell">Terrell</option><option value="Terry">Terry</option><option value="Throckmorton">Throckmorton</option><option value="Titus">Titus</option><option value="Tom Green">Tom Green</option><option value="Travis">Travis</option><option value="Trinity">Trinity</option><option value="Tyler">Tyler</option><option value="Upshur">Upshur</option><option value="Upton">Upton</option><option value="Uvalde">Uvalde</option><option value="Val Verde">Val Verde</option><option value="Van Zandt">Van Zandt</option><option value="Victoria">Victoria</option><option value="Walker">Walker</option><option value="Waller">Waller</option><option value="Ward">Ward</option><option value="Washington">Washington</option><option value="Webb">Webb</option><option value="Wharton">Wharton</option><option value="Wheeler">Wheeler</option><option value="Wichita">Wichita</option><option value="Wilbarger">Wilbarger</option><option value="Willacy">Willacy</option><option value="Williamson">Williamson</option><option value="Wilson">Wilson</option><option value="Winkler">Winkler</option><option value="Wise">Wise</option><option value="Wood">Wood</option><option value="Yoakum">Yoakum</option><option value="Young">Young</option><option value="Zapata">Zapata</option><option value="Zavala">Zavala</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_county" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_county" data-fv-result="NOT_VALIDATED" style="display: none;">The county is required</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <p class="lead">
                           <strong>Affirmation</strong>
                        </p>
                        <div class="form-group has-feedback">
                           <div class="checkbox">
                              <label>
                                 <input type="checkbox" value="1" name="affirmation" data-fv-field="affirmation">
                                 I agree to the following:
                                 <br>
                                 I am renewing my driver license and affirm the following:
                                 <br>
                                 <ul>
                                    <li>
                                       My vision has not changed; or if it has, it has been corrected.
                                    </li>
                                    <li>
                                       I do not have any physical or mental condition or disease that affects my ability to drive safely.
                                    </li>
                                 </ul>. </label>
                           </div><i class="form-control-feedback" data-fv-icon-for="affirmation" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="affirmation" data-fv-result="NOT_VALIDATED" style="display: none;">Affirmation is required</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p class="lead">
                           <strong>Terms of Agreement</strong>
                        </p>
                        <div class="form-group has-feedback">
                           <div class="checkbox">
                              <label class="dark-label font-size-14">
                                 <input type="checkbox" value="1" name="agreement" data-fv-field="agreement">
                                 By filling out the form above, checking this box and electronically signing your name below, you acknowledge that you have read and agree to our Terms &amp; Conditions and Privacy Policy. I affirm that I am the record holder for this vehicle and that all information I have provided is true and accurate.  By checking this box, you also acknowledge that this website is privately owned and independently operated, having no affiliation with any state or federal agency.  I hereby appoint this site as my agent and expressly authorize its personnel to access and contact TXDMV's online vehicle services portal and process my registration renewal on my behalf for a fee that includes features and benefits exclusive to this site. I also authorize this website to retain my information for future renewals. </label>
                           </div><i class="form-control-feedback" data-fv-icon-for="agreement" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="agreement" data-fv-result="NOT_VALIDATED" style="display: none;">You need to agree to our terms.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p class="lead">
                           <strong>Electronic Signature</strong>
                        </p>
                        <div class="form-group has-feedback">
                           <input type="text" name="signature" class="form-control" value="" placeholder="To sign, please enter your full legal name." data-fv-field="signature">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="signature" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="signature" data-fv-result="NOT_VALIDATED" style="display: none;">Electronic signature is required</small>
                        </div>
                     </div>
                  </div>
                  <div id="audit_number" class="modal fade" role="dialog">
                     <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                           <div class="modal-header bg-primary">
                              <button type="button" class="close" data-dismiss="modal">
                                 ×
                              </button><h4 class="modal-title white-text">Locate Information</h4>
                           </div>
                           <div class="modal-body text-center"><img src="/assets/images/dl-samples/texas.jpg" class="img-responsive center-block">
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">
                                 Close
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <div>
                           &nbsp;
                        </div>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <input type="hidden" name="csrf_name" value="csrf5a440eba1e40c">
                        <input type="hidden" name="csrf_value" value="556898594b743338f83144a34d0370d6">
                        <input type="submit" value="CONTINUE" class="btn btn-block btn-danger submit-texas-renew">
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<!--/$hometemplate.html$-->
