<!--$hometemplate.html$-->
<div class="form-section top-padding-10 bottom-padding-10 bottom-buffer-10">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-4 col-md-push-8">
            <div class="progress marginless" style="height:10px;">
               <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" data-total="7" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  &nbsp;
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <form action="/california/end-collect" method="post" id="orderForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <div class="tab-content">
               <div id="step-2" class="tab-pane fade in active">
                  <!-- <div class="alert alert-danger"></div> -->
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Security Questions:</strong></h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="question_1" required="" data-fv-field="question_1">
                              <option value="">-- Pick one --</option><option value="1">What is the first name of your favorite niece/nephew?</option><option value="2">On what street is your grocery store?</option><option value="3">What is the name of your high school's star athlete?</option><option value="4">What is the first name of the best man/maid of honor at your wedding?</option><option value="5">What was the first live concert you attended?</option><option value="6">What is the name of the medical professional who delivered your first child?</option><option value="7">What is the name of a college you applied to but didn't attend?</option><option value="8">What is the first name of your hairdresser/barber?</option><option value="9">What was the first name of your favorite Teacher or professor?</option><option value="10">What city were you in to celebrate the year 2000?</option><option value="11">As a child, what did you want to be when you grew up?</option><option value="12">Who is your favorite person in history?</option><option value="13">What is the last name of your family physician?</option><option value="14">What sports team do you love to see lose?</option><option value="15">What celebrity do you most resemble?</option><option value="16">In what city did you meet your spouse/significant other?</option><option value="17">What is the last name of your favorite author?</option><option value="18">What was your first job?</option><option value="19">What is the last name of your favorite sports hero?</option><option value="20">Who is your favorite comic book or cartoon character?</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="question_1" style="display: none;"></i><span class="help-block"></span><small class="help-block" data-fv-validator="notEmpty" data-fv-for="question_1" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <input type="text" name="answer_1" class="form-control" value="" placeholder="Answer for Question 1" required="" data-fv-field="answer_1">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="answer_1" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="answer_1" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="question_2" required="" data-fv-field="question_2">
                              <option value="">-- Pick one --</option><option value="1">What is the first name of your favorite niece/nephew?</option><option value="2">On what street is your grocery store?</option><option value="3">What is the name of your high school's star athlete?</option><option value="4">What is the first name of the best man/maid of honor at your wedding?</option><option value="5">What was the first live concert you attended?</option><option value="6">What is the name of the medical professional who delivered your first child?</option><option value="7">What is the name of a college you applied to but didn't attend?</option><option value="8">What is the first name of your hairdresser/barber?</option><option value="9">What was the first name of your favorite Teacher or professor?</option><option value="10">What city were you in to celebrate the year 2000?</option><option value="11">As a child, what did you want to be when you grew up?</option><option value="12">Who is your favorite person in history?</option><option value="13">What is the last name of your family physician?</option><option value="14">What sports team do you love to see lose?</option><option value="15">What celebrity do you most resemble?</option><option value="16">In what city did you meet your spouse/significant other?</option><option value="17">What is the last name of your favorite author?</option><option value="18">What was your first job?</option><option value="19">What is the last name of your favorite sports hero?</option><option value="20">Who is your favorite comic book or cartoon character?</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="question_2" style="display: none;"></i><span class="help-block"></span><small class="help-block" data-fv-validator="notEmpty" data-fv-for="question_2" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <input type="text" name="answer_2" class="form-control" value="" placeholder="Answer for Question 2" required="" data-fv-field="answer_2">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="answer_2" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="answer_2" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="question_3" required="" data-fv-field="question_3">
                              <option value="">-- Pick one --</option><option value="1">What is the first name of your favorite niece/nephew?</option><option value="2">On what street is your grocery store?</option><option value="3">What is the name of your high school's star athlete?</option><option value="4">What is the first name of the best man/maid of honor at your wedding?</option><option value="5">What was the first live concert you attended?</option><option value="6">What is the name of the medical professional who delivered your first child?</option><option value="7">What is the name of a college you applied to but didn't attend?</option><option value="8">What is the first name of your hairdresser/barber?</option><option value="9">What was the first name of your favorite Teacher or professor?</option><option value="10">What city were you in to celebrate the year 2000?</option><option value="11">As a child, what did you want to be when you grew up?</option><option value="12">Who is your favorite person in history?</option><option value="13">What is the last name of your family physician?</option><option value="14">What sports team do you love to see lose?</option><option value="15">What celebrity do you most resemble?</option><option value="16">In what city did you meet your spouse/significant other?</option><option value="17">What is the last name of your favorite author?</option><option value="18">What was your first job?</option><option value="19">What is the last name of your favorite sports hero?</option><option value="20">Who is your favorite comic book or cartoon character?</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="question_3" style="display: none;"></i><span class="help-block"></span><small class="help-block" data-fv-validator="notEmpty" data-fv-for="question_3" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <input type="text" name="answer_3" class="form-control" value="" placeholder="Answer for Question 3" required="" data-fv-field="answer_3">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="answer_3" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="answer_3" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="question_4" required="" data-fv-field="question_4">
                              <option value="">-- Pick one --</option><option value="1">What is the first name of your favorite niece/nephew?</option><option value="2">On what street is your grocery store?</option><option value="3">What is the name of your high school's star athlete?</option><option value="4">What is the first name of the best man/maid of honor at your wedding?</option><option value="5">What was the first live concert you attended?</option><option value="6">What is the name of the medical professional who delivered your first child?</option><option value="7">What is the name of a college you applied to but didn't attend?</option><option value="8">What is the first name of your hairdresser/barber?</option><option value="9">What was the first name of your favorite Teacher or professor?</option><option value="10">What city were you in to celebrate the year 2000?</option><option value="11">As a child, what did you want to be when you grew up?</option><option value="12">Who is your favorite person in history?</option><option value="13">What is the last name of your family physician?</option><option value="14">What sports team do you love to see lose?</option><option value="15">What celebrity do you most resemble?</option><option value="16">In what city did you meet your spouse/significant other?</option><option value="17">What is the last name of your favorite author?</option><option value="18">What was your first job?</option><option value="19">What is the last name of your favorite sports hero?</option><option value="20">Who is your favorite comic book or cartoon character?</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="question_4" style="display: none;"></i><span class="help-block"></span><small class="help-block" data-fv-validator="notEmpty" data-fv-for="question_4" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <input type="text" name="answer_4" class="form-control" value="" placeholder="Answer for Question 4" required="" data-fv-field="answer_4">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="answer_4" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="answer_4" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="question_5" required="" data-fv-field="question_5">
                              <option value="">-- Pick one --</option><option value="1">What is the first name of your favorite niece/nephew?</option><option value="2">On what street is your grocery store?</option><option value="3">What is the name of your high school's star athlete?</option><option value="4">What is the first name of the best man/maid of honor at your wedding?</option><option value="5">What was the first live concert you attended?</option><option value="6">What is the name of the medical professional who delivered your first child?</option><option value="7">What is the name of a college you applied to but didn't attend?</option><option value="8">What is the first name of your hairdresser/barber?</option><option value="9">What was the first name of your favorite Teacher or professor?</option><option value="10">What city were you in to celebrate the year 2000?</option><option value="11">As a child, what did you want to be when you grew up?</option><option value="12">Who is your favorite person in history?</option><option value="13">What is the last name of your family physician?</option><option value="14">What sports team do you love to see lose?</option><option value="15">What celebrity do you most resemble?</option><option value="16">In what city did you meet your spouse/significant other?</option><option value="17">What is the last name of your favorite author?</option><option value="18">What was your first job?</option><option value="19">What is the last name of your favorite sports hero?</option><option value="20">Who is your favorite comic book or cartoon character?</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="question_5" style="display: none;"></i><span class="help-block"></span><small class="help-block" data-fv-validator="notEmpty" data-fv-for="question_5" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <input type="text" name="answer_5" class="form-control" value="" placeholder="Answer for Question 5" required="" data-fv-field="answer_5">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="answer_5" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="answer_5" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Requirements to renew online</strong> &nbsp;
                           <br class="visible-xs">
                           <small>( check all that apply, if none, click next )</small>
                        </p>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10 odd-row">
                     <div class="col-xs-12 col-md-8">
                        Does your driver license expire more than 60 days from today's date?
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_6">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_6">
                              No</label>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10">
                     <div class="col-xs-12 col-md-8">
                        Will you be 70 years of age or older when your current driver license expires?
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_7">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_7">
                              No</label>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10 odd-row">
                     <div class="col-xs-12 col-md-8">
                        Are you currently on any type of driving probation or suspension?
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_8">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_8">
                              No</label>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10">
                     <div class="col-xs-12 col-md-8">
                        Did you violate a written promise to appear in court within the last two years?
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_9">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_9">
                              No</label>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10 odd-row">
                     <div class="col-xs-12 col-md-8">
                        Have you already received two consecutive five year extensions by mail?
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_10">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_10">
                              No</label>
                        </div>
                     </div>
                  </div>
                  <div class="row bottom-padding-10 top-padding-10">
                     <div class="col-xs-12 col-md-8">
                        Do you have a driver license from more than one state or jurisdiction?
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <div class="visible-xs top-padding-5"></div>
                        <div class="form-group">
                           <label class="radio-inline right-buffer-25">
                              <input type="radio" value="yes" name="requirement_11">
                              Yes</label><label class="radio-inline">
                              <input type="radio" value="no" name="requirement_11">
                              No</label>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-12 col-md-4 col-md-push-8">
                        <a data-toggle="tab" href="#step-3" data-step="3" class="btn btn-block btn-danger next">Next</a>
                     </div>
                  </div>
               </div>
               <div id="step-3" class="tab-pane fade ">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Medical Information Acknowledgement</strong></h2>
                     </div>
                     <div class="col-xs-12">
                        <p>
                           Please read the following and click the box below to confirm you have read the information:The Department of Motor Vehicles must be notified through this application if, within the last 3 years, you have:
                        </p>
                        <ul type="disc">
                           <li>
                              Experienced a loss of consciousness; or
                           </li>
                           <li>
                              Had any episode of marked confusion caused by any condition which may bring about recurring lapse; or
                           </li>
                           <li>
                              Had any disease, disorder, or disability (examples of these are epilepsy, diabetes, stroke, Parkinson's disease); or other progressive condition; or
                           </li>
                           <li>
                              Health problems because of alcohol or drug abuse; or
                           </li>
                           <li>
                              Have had any vision changes since your last renewal. Examples of these are:
                              <ul type="circle">
                                 <li>
                                    Cataracts
                                 </li>
                                 <li>
                                    Diabetic retinopathy
                                 </li>
                                 <li>
                                    Glaucoma
                                 </li>
                                 <li>
                                    Macular degeneration
                                 </li>
                                 <li>
                                    Retinitis pigmentosa
                                 </li>
                              </ul>
                           </li>
                        </ul>
                        <div class="checkbox alert alert-warning">
                           <label>
                              <input type="checkbox" value="">
                              I have read the above medical information.</label>
                        </div>
                        <p>
                           Since your last renewal, have you had or experienced any medical or vision condition(s) which affects your ability to operate a motor vehicle safely?
                        </p>
                        <div>
                           <label class="radio-inline">
                              <input type="radio" name="optradio">
                              Yes</label><label class="radio-inline">
                              <input type="radio" name="optradio">
                              No</label>
                        </div>
                        <p>
                           <br>
                           If "Yes" please provide an explanation below:
                           <br>
                        </p>
                        <div class="form-group">
                           <textarea class="form-control" rows="2" id="comment" name="health_reason"></textarea>
</div>                        <p></p>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <a data-toggle="tab" href="#step-2" data-step="2" class="btn btn-block next btn-default">Previous</a>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <a data-toggle="tab" href="#step-4" data-step="4" class="btn btn-block btn-danger next">Next</a>
                     </div>
                  </div>
               </div>
               <div id="step-4" class="tab-pane fade ">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Out of State Driver License Collection</strong> &nbsp;
                        <br class="visible-xs">
                        <small>( Last 10 Year Driving History )</small></h2>
                     </div>
                     <div class="col-xs-12">
                        <p>
                           Have you ever been issued a Driver License under the same or a different name to operate any type of motor
                           vehicle in another state or jurisdiction during the past ten years?
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="radio">
                           <label>
                              <input type="radio" name="other-states" value="0">
                              No, please continue to the next page.</label>
                        </div>
                        <div class="radio">
                           <label>
                              <input type="radio" name="other-states" value="1">
                              Yes, I had other state/jurisdiction driver licenses issued.</label>
                        </div>
                     </div>
                  </div>
                  <div id="other-state-section" style="display: none;">
                     <div class="row other-state-license">
                        <div class="col-xs-12">
                           <div class="well">
                              <div class="row">
                                 <div class="col-xs-12">
                                    <p>
                                       <strong>Out of State Driver License</strong>
                                    </p>
                                 </div>
                                 <div class="col-xs-12">
                                    <div class="row">
                                       <div class="col-xs-12 col-md-4">
                                          <div class="form-group">
                                             <input type="text" name="first_name[]" class="form-control" value="" placeholder="First Name">
                                          </div>
                                       </div>
                                       <div class="col-xs-12 col-md-4">
                                          <div class="form-group">
                                             <input type="text" name="middle_name[]" class="form-control" value="" placeholder="Middle Name">
                                          </div>
                                       </div>
                                       <div class="col-xs-12 col-md-4">
                                          <div class="form-group">
                                             <input type="text" name="last_name[]" class="form-control" value="" placeholder="Last Name">
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-xs-12 col-md-4">
                                          <div class="form-group">
                                             <select class="form-control" name="license_state[]">
                                                <option>State</option><option value="alabama">Alabama</option><option value="alaska">Alaska</option><option value="arizona">Arizona</option><option value="arkansas">Arkansas</option><option value="california">California</option><option value="colorado">Colorado</option><option value="connecticut">Connecticut</option><option value="delaware">Delaware</option><option value="florida">Florida</option><option value="georgia">Georgia</option><option value="hawaii">Hawaii</option><option value="idaho">Idaho</option><option value="illinois">Illinois</option><option value="indiana">Indiana</option><option value="iowa">Iowa</option><option value="kansas">Kansas</option><option value="kentucky">Kentucky</option><option value="louisiana">Louisiana</option><option value="maine">Maine</option><option value="maryland">Maryland</option><option value="massachusetts">Massachusetts</option><option value="michigan">Michigan</option><option value="minnesota">Minnesota</option><option value="mississippi">Mississippi</option><option value="missouri">Missouri</option><option value="montana">Montana</option><option value="nebraska">Nebraska</option><option value="nevada">Nevada</option><option value="new-hampshire">New Hampshire</option><option value="new-jersey">New Jersey</option><option value="new-mexico">New Mexico</option><option value="new-york">New York</option><option value="north-carolina">North Carolina</option><option value="north-dakota">North Dakota</option><option value="ohio">Ohio</option><option value="oklahoma">Oklahoma</option><option value="oregon">Oregon</option><option value="pennsylvania">Pennsylvania</option><option value="rhode-island">Rhode Island</option><option value="south-carolina">South Carolina</option><option value="south-dakota">South Dakota</option><option value="tennessee">Tennessee</option><option value="texas">Texas</option><option value="utah">Utah</option><option value="vermont">Vermont</option><option value="virginia">Virginia</option><option value="washington">Washington</option><option value="district-of-columbia">Washington DC</option><option value="west-virginia">West Virginia</option><option value="wisconsin">Wisconsin</option><option value="wyoming">Wyoming</option>
                                             </select>
                                          </div>
                                       </div>
                                       <div class="col-xs-12 col-md-4">
                                          <div class="form-group">
                                             <input type="text" name="license_number[]" class="form-control" value="" placeholder="DL Number">
                                          </div>
                                       </div>
                                       <div class="col-xs-12 col-md-4">
                                          <div class="form-group">
                                             <select class="form-control" name="gender[]">
                                                <option>Gender</option><option value="M">Male</option><option value="F">Female</option>
                                             </select>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-xs-6 col-md-4">
                                          <a href="#" class="btn btn-block btn-danger remove" data-action="delete">Remove</a>
                                       </div>
                                       <div class="col-xs-6 col-md-4 col-md-push-4">
                                          <a href="#" class="btn btn-block btn-success duplicate" data-action="add">Add another</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <a data-toggle="tab" href="#step-3" data-step="3" class="btn btn-block next btn-default">Previous</a>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <a data-toggle="tab" href="#step-5" data-step="5" class="btn btn-block btn-danger next">Next</a>
                     </div>
                  </div>
               </div>
               <div id="step-5" class="tab-pane fade ">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Driver License 10 Year History Record Check</strong></h2>
                     </div>
                     <div class="col-xs-12">
                        <div class="checkbox">
                           <label>
                              <input type="checkbox" value="">
                              I have completed the <i>Driver License 10 Year History Record Check</i> survey form if I have been issued another license under a different name or from another state/jurisdiction. I certify under penalty of perjury, under the laws of the State of California, that the information I have provided is true and correct.</label>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Do You Want To Become an Organ and Tissue Donor?</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="radio">
                           <label>
                              <input type="radio" name="optradio">
                              YES! I want to register/continue as an organ and tissue donor.</label>
                        </div>
                        <div class="radio">
                           <label>
                              <input type="radio" name="optradio">
                              I do not wish to register at this time.</label>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Have You Served in the Military?</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="checkbox">
                           <label>
                              <input type="checkbox" value="">
                              I have served in the U.S. Armed Forces and I want to receive veteran benefits information regarding services and benefits for which I might be eligible.</label>
                        </div>
                        <div class="alert alert-warning">
                           If you are not a veteran and/or are not interested in receiving information regarding services and benefits for U.S. Armed Forces Veterans. Please press next.
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <a data-toggle="tab" href="#step-4" data-step="4" class="btn btn-block next btn-default">Previous</a>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <a data-toggle="tab" href="#step-6" data-step="6" class="btn btn-block btn-danger next">Next</a>
                     </div>
                  </div>
               </div>
               <div id="step-6" class="tab-pane fade ">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Certification/Disclosure Information Acknowledgement</strong></h2>
                     </div>
                     <div class="col-xs-12">
                        <p>
                           Please read the following and click the box below to confirm you have read and agree with the information:
                        </p>
                        <ul type="disc">
                           <li>
                              I agree to submit to a chemical test of my blood, breath, or urine for the purpose of determining the alcohol or drug content of my blood when testing is requested by a peace officer acting in accordance with Vehicle Code §23137 or §23157.
                           </li>
                           <li>
                              I understand that if I'm under 21 years of age, I cannot legally drive with a blood alcohol concentration (BAC) of 0.01% or more. Driving with a BAC of 0.01% or more, refusing to take, or failing to complete an alcohol screening or drug test, results in a one-year suspension of my driving privilege.
                           </li>
                           <li>
                              I am the person whose name appears on the renewal notice used to process this application. The mailing address shown on the renewal notice is valid, existing, and accurate. I agree to accept service of process at this mailing address according to §415.20(b), §415.30(a), and §416.90 of the Civil Procedure Code.
                           </li>
                           <li>
                              I understand that DMV will add convictions reported by other states' licensing authorities to my driving record, which may result in sanctions against my California driving privilege pursuant to the applicable sections of the California Vehicle Code.
                           </li>
                           <li>
                              Social Security Number Collection Disclosure - You are required by law to provide your social security number or your application will be denied. Authority to collect the social security number is 42 U.S.C. 405 and California Vehicle Code Sections 1653.5, 4150, 4150.2, 12800, and 12801.
                              <blockquote style="border-left:none;">
                                 <p>
                                    It will be used in the administration of driver license laws and motor vehicle registration laws and to respond to requests for information from the:
                                 </p>
                                 <ul type="circle">
                                    <li>
                                       Franchise Tax Board for tax administration
                                    </li>
                                    <li>
                                       Any agency operations pursuant to 42 U.S.C. 601 et.seq.
                                    </li>
                                 </ul>
                                 <br>
                                 <p>
                                    It will be used to aid in the collection of monies owed in connection with:
                                 </p>
                                 <ul type="circle">
                                    <li>
                                       Failure to pay fines or failure to appear in court by an applicant
                                    </li>
                                    <li>
                                       Aid to Families with Dependent Children
                                    </li>
                                    <li>
                                       Child Support
                                    </li>
                                    <li>
                                       Establishment of Paternity
                                    </li>
                                 </ul>
                              </blockquote>
                           </li>
                        </ul>
                     </div>
                     <div class="col-xs-12">
                        <div class="checkbox">
                           <label>
                              <input type="checkbox" value="">
                              "I have read, understand and agree with certifications/disclosures in this application. I certify (or declare) under penalty of perjury under the law of the State of California that the forgoing is true and correct."</label>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <a data-toggle="tab" href="#step-5" data-step="5" class="btn btn-block next btn-default">Previous</a>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <a data-toggle="tab" href="#step-7" data-step="7" class="btn btn-block btn-danger next">Next</a>
                     </div>
                  </div>
               </div>
               <div id="step-7" class="tab-pane fade ">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Terms of Agreement</strong></h2>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <div class="checkbox">
                              <label class="dark-label font-size-14">
                                 <input type="checkbox" value="1" name="agreement" data-fv-field="agreement">
                                 By filling out the form above, checking this box and electronically signing your name below, you acknowledge that you have read and agree to our Terms &amp; Conditions and Privacy Policy. I affirm that I am the record holder for this vehicle and that all information I have provided is true and accurate.  By checking this box, you also acknowledge that this website is privately owned and independently operated, having no affiliation with any state or federal agency.  I hereby appoint this site as my agent and expressly authorize its personnel to access and contact CADMV's online vehicle services portal and process my registration renewal on my behalf for a fee that includes features and benefits exclusive to this site. I also authorize this website to retain my information for future renewals. </label>
                           </div><i class="form-control-feedback" data-fv-icon-for="agreement" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="agreement" data-fv-result="NOT_VALIDATED" style="display: none;">You need to agree to our terms.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Electronic Signature</strong></h2>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <input type="text" name="signature" class="form-control" value="" placeholder="To sign, please enter your full legal name." data-fv-field="signature">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="signature" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="signature" data-fv-result="NOT_VALIDATED" style="display: none;">Electronic signature is required</small>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <a data-toggle="tab" href="#step-6" data-step="6" class="btn btn-block next btn-default">Previous</a>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <input type="hidden" name="csrf_name" value="csrf5a4407d81f18a">
                        <input type="hidden" name="csrf_value" value="64ca9eb45c1d97fdd33c65ff5ea502f4">
                        <input type="submit" value="CONTINUE" class="btn btn-block btn-danger submit-california-renew">
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<!--/$hometemplate.html$-->
