/*Mixins import */
/* ========= START: Color codes ========= */
/* ========= END: Color codes ========= */
/* ========= START: Sitemap ========= */
.sitemap figure {
  margin-left: auto;
  margin-right: auto; }
  .sitemap figure a {
    color: #333; }

@media only screen and (max-width: 1068px) {
  .sitemap figure {
    width: 692px; }
  .sitemap section {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
  .sitemap .topic {
    width: 230.66667px; } }
@media (min-width: 1200px) {
  .sitemap .topic.long dl {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
@media (min-width: 1025px) and (max-width: 1199px) {
  .sitemap .topic.long dl {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }
@media only screen and (max-width: 735px) {
  .sitemap figure {
    width: 90%; }
  .sitemap section {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
  .sitemap .topic {
    width: 100%; }
  .sitemap .topic h5 {
    padding-right: 0; }
  .sitemap dl {
    padding-right: 0; } }
.sitemap {
  /* .category-support 
   * 	.category-section
   * 		display: block
   * 		dl 
   * 			margin: 0
   * 			dd
   * 				display: inline-block
   * 				position: relative
   * 				width: 100%
   * 				z-index: 1 */ }
  .sitemap ul {
    list-style: none;
    padding-left: 0; }
  .sitemap a, .sitemap h3, .sitemap h4, .sitemap h5 {
    text-transform: capitalize; }
  .sitemap figure > div {
    display: inline-block;
    margin-bottom: 26px;
    vertical-align: top;
    width: 230px;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1; }
  .sitemap h4 {
    font-size: 28px;
    line-height: 1.71429;
    font-weight: 200;
    letter-spacing: normal;
    border-bottom: 1px solid #d6d6d6;
    display: block;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px; }
    .sitemap h4 a {
      color: inherit; }
  .sitemap section {
    margin: 10px 0 45px;
    clear: both; }
  .sitemap .topic {
    margin-bottom: 26px;
    position: relative;
    vertical-align: top;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1; }
  .sitemap .topic h5 {
    font-size: 18px;
    line-height: 1.45;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 10px;
    padding-right: 34px; }
  .sitemap dl {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: normal;
    list-style: none;
    margin: 9px 0;
    margin: 0; }
    .sitemap dl dt {
      margin-left: -20px;
      padding-bottom: 7px; }
    .sitemap dl dd {
      display: list-item;
      padding: 4px 0; }

/* ========= END: Sitemap ========= */
/* ========= START: Responsive ========= */
@media (min-width: 1200px) {
  .container {
    width: 1250px; }

  .ypa.full .block {
    width: 33%; }

  .custom-landing .post-featured-img img {
    /* width: 144% !important
     * position: relative
     * right: 15%
     * padding-left: 15%
     * height: auto */ }

  .featured-img > .col-lg-offset-1 {
    margin-left: 9.33333%; } }
@media (min-width: 1025px) and (max-width: 1199px) {
  .adbody ul li {
    font-size: 1.5vw; } }
@media (min-width: 1025px) {
  .featured-img {
    background: url("//s3.amazonaws.com/{domain}/img/home-bg.jpg") center 51% no-repeat;
    background-size: 125% auto !important; } }
@media (min-width: 991px) and (max-width: 1024px) {
  .featured-img {
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-1024.jpg") center 51% no-repeat; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .ypa.full .block {
    width: 50%; } }
@media (min-width: 992px) {
  .secondary-nav li {
    display: inline; } }
@media (max-width: 991px) {
  /* ====== Secondary Menu */
  #nav-contain.mobile {
    border-bottom: 4px solid #dddada; }
    #nav-contain.mobile #nav-trigger span {
      background-color: #e2e2e2;
      color: #686c3a; }
    #nav-contain.mobile nav#secondary-menu {
      background-color: #f4f4f4 !important; }
      #nav-contain.mobile nav#secondary-menu li {
        background: url("//s3.amazonaws.com/{domain}/img/chevron.gif") center right no-repeat; }
        #nav-contain.mobile nav#secondary-menu li > a {
          color: #686c3a;
          border-bottom: 1px solid #d4d7b5; }
          #nav-contain.mobile nav#secondary-menu li > a:focus, #nav-contain.mobile nav#secondary-menu li > a:hover {
            background-color: #d4d7b5 !important; }

  .secondary-nav li {
    display: block; }
    .secondary-nav li a {
      display: block; } }
@media (min-width: 991px) {
  #custom-search {
    width: 2%;
    float: left;
    margin-top: 30px;
    position: relative; }

  nav#secondary-menu {
    display: block !important; }
    nav#secondary-menu.secondary-nav ul {
      display: inline-block !important; }

  #nav-contain #nav-trigger {
    display: none;
    text-align: center; }

  .popular-articles .column-grid h3 {
    text-align: center; }

  aside#secondary {
    float: left; }

  body:not(.full-width) #primary {
    float: right;
    border-left: 1px solid #e8e8e8; }

  .popular-articles .column-grid p:first-of-type {
    height: 16.5em;
    overflow: hidden; }

  article:not(.page-map) .page-title {
    float: left; }

  .page-header .print-pdf-wrap {
    margin-top: 2.8em;
    float: right; }

  .mini-ad .custom-quicklinks li, .mini.search-results .custom-quicklinks li {
    float: left;
    width: 50%; }

  .custom-landing #primary {
    width: 80%;
    /*padding-left: 8px
     *  padding-right: 8px */ }
  .custom-landing #secondary {
    width: 20%;
    /*padding-left: 8px
     *  padding-right: 8px */ } }
@media (max-width: 990px) {
  .popular-articles .column-grid {
    float: none;
    margin-left: 0; }
    .popular-articles .column-grid h3 {
      text-align: left; }
  .popular-articles .one-fifth, .popular-articles .one-fourth {
    width: 100%;
    border-top: 1px solid #777;
    padding-top: 15px;
    margin-bottom: 30px; }
    .popular-articles .one-fifth:first-child, .popular-articles .one-fourth:first-child {
      border-top: 0; }

  .post-featured-img {
    display: none; }

  .custom-quicklinks li:nth-child(3), .custom-quicklinks li:nth-child(4) {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .disclaimer {
    font-size: 1.7vw; }

  #custom-search {
    position: absolute;
    right: 0;
    top: 0; }

  .ypa.full .block {
    width: 50%; }

  .featured-img {
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-990.jpg") center 51% no-repeat; } }
@media screen and (min-width: 768px) {
  #custom-search .search-form {
    position: absolute;
    right: 147px;
    top: 30px;
    display: none; }
    #custom-search .search-form.show {
      display: block; }
    #custom-search .search-form input {
      width: auto;
      -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 1, 0.16);
      -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 1, 0.16);
      box-shadow: 0px 5px 13px 0px rgba(0, 0, 1, 0.16); }

  .one-fifth {
    width: 17.94872%; }

  .one-fourth {
    width: 23%; }

  .column-grid:first-child {
    margin-left: 0; }

  #menu-main-menu li .sub-menu {
    -webkit-box-shadow: 0px 11px 13px 0px rgba(0, 0, 1, 0.16);
    -moz-box-shadow: 0px 11px 13px 0px rgba(0, 0, 1, 0.16);
    box-shadow: 0px 11px 13px 0px rgba(0, 0, 1, 0.16); }
  #menu-main-menu li:not(.megamenu) .sub-menu {
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2); }

  .navbar-toggle {
    display: none; }

  body .adbox .adTitle, body .adbox .list-group-item-heading, body .adbox .title-wrap a {
    font-size: 2em; }

  iframe .ypaAdAnchor {
    font-size: 2em; }

  #wrapper .block {
    float: left; }

  .hide-onmobile {
    display: block; }

  .show-onmobile {
    display: none !important; }

  .search ol {
    padding-left: 25px; }

  .featured-services nav ul.featured-menu li {
    width: 32%;
    /*--- for 5 boxes use -> width: 19% */
    margin: 0.5%; }
    .featured-services nav ul.featured-menu li a {
      position: relative;
      left: 7%;
      width: 80% !important;
      background-color: red; }

  .page-title {
    font-size: 2em; }

  .page-header {
    margin-bottom: 0; }

  .mini-ad .title a {
    font-size: 14px; }
  .mini-ad .url a {
    font-size: 12px; }
  .mini-ad .description a, .mini-ad .custom-quicklinks a {
    font-size: 13px; } }
@media screen and (max-width: 767px) {
  .breadcrumb, #custom-search {
    display: none; }

  #custom-search {
    clear: text;
    left-align: right;
    padding: 7px 16px; }
    #custom-search #custom-search-trigger {
      display: none; }
    #custom-search .search-form {
      text-align: left; }
      #custom-search .search-form:before {
        font-size: 1.2em;
        margin-bottom: 7px;
        content: "Search";
        display: inline-block; }

  .one-fifth, .one-fourth {
    width: 100%; }

  .hide-onmobile {
    display: none !important; }

  .show-onmobile {
    display: block; }

  .ypa.full .block {
    width: 100%; }

  #primary-nav #menu-main-menu {
    background-color: #fff; }

  #menu-main-menu {
    margin: auto; }
    #menu-main-menu li a {
      border-bottom: 1px solid #f8f8f8;
      position: static;
      display: block; }

  .nav > li {
    position: static; }

  nav > li * {
    box-shadow: none !important; }

  #menu-main-menu li .sub-menu {
    display: block;
    position: static !important;
    width: 100%;
    z-index: initial;
    float: none;
    box-shadow: none; }
    #menu-main-menu li .sub-menu li a {
      font-weight: normal; }
    #menu-main-menu li .sub-menu li:hover a {
      background-color: #ededed; }
    #menu-main-menu li .sub-menu img {
      display: none; }

  .featured-img {
    background-size: cover !important; }

  .page-header h1 {
    text-align: center;
    font-size: 1.2em; }

  /*Ypa Mini: Display 1 ad */
  article.cat-cosmetology .ad-block .ad-item {
    display: none; }
    article.cat-cosmetology .ad-block .ad-item:first-of-type {
      display: block; }
  article.cat-cosmetology .ad-block #ypaAdWrapper-licenses {
    display: none; }

  .ad-block {
    background-color: white;
    -webkit-box-shadow: inset 3px 0px 29px 3px rgba(99, 190, 221, 0.15);
    -moz-box-shadow: inset 3px 0px 29px 3px rgba(99, 190, 221, 0.15);
    box-shadow: inset 3px 0px 29px 3px rgba(99, 190, 221, 0.15);
    padding: 20px;
    margin-bottom: 10px; }
    .ad-block .mini-ad .url a {
      font-size: 14px; }

  .footer-nav.pull-left, .copyright.pull-right {
    float: none;
    width: 100%;
    text-align: center; } }
@media (min-width: 640px) and (max-width: 767px) {
  .disclaimer {
    font-size: 1.7vw; }

  .featured-services nav ul.featured-menu li {
    width: 24%; }

  .featured-img {
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-768.jpg") center 51% no-repeat; } }
@media screen and (max-width: 640px) {
  .featured-services nav ul.featured-menu li {
    width: 50%; }

  .featured-img {
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-640.jpg") center 51% no-repeat; }

  .adbody ul li {
    font-size: 3vw; }

  .faq-section .panel-heading {
    margin-bottom: 13px; }

  .child-category .img-wrap {
    float: none !important; }

  .state-select button.dropdown-toggle {
    font-size: 12px;
    font-size: 3vw; } }
@media (min-width: 600px) and (max-width: 639px) {
  .faq-section .panel-heading {
    height: 6%; }

  .disclaimer {
    font-size: 3vw; } }
@media only screen and (max-width: 600px) {
  .faq-section .panel-heading {
    height: 9%; } }
@media (min-width: 480px) and (max-width: 599px) {
  .disclaimer {
    font-size: 3vw; } }
@media screen and (max-width: 479px) {
  .disclaimer {
    font-size: 3.5vw; } }
/* ========= END: Responsive ========= */
/* ========= START: Global ========= */
/* Temporarily hide ads for initial launch */
.ypa.full {
  display: none; }

.highlight {
  border: 1px solid red; }

div:empty, section:empty {
  display: none; }

.clear {
  clear: both; }

.noPadding {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #686c3a; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background: #f7f3e8;
  color: #382817; }

.disclaimer {
  color: #acaaa2;
  float: none;
  margin: 0;
  background-color: #f7f3e8;
  border-bottom: none;
  padding: 3px 0;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase; }

.brand img {
  width: 115%;
  height: auto;
  max-width: 475px; }

.post-featured-img {
  overflow: hidden; }
  .post-featured-img img {
    height: auto;
    width: 100%; }

.well {
  background: #ededed; }

/*/------- Buttons */
.btn-primary {
  border: 1px solid #c87905;
  background: #e18806; }
  .btn-primary:focus, .btn-primary:hover {
    background: #f89708;
    border: 1px solid #a56404; }

/*/------- Main nav */
.navbar.yamm {
  margin-bottom: 0;
  padding: 0; }

.navbar-default {
  background: transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  margin: 15px auto 0;
  padding: 0;
  text-transform: capitalize; }
  .navbar-default .navbar-nav {
    width: 100%; }
  .navbar-default .navbar-nav > .active > a:hover {
    color: #153156 !important; }
  .navbar-default .navbar-nav > li > a {
    color: #153156;
    text-shadow: none; }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
      color: #4186c9 !important;
      background-color: transparent;
      text-decoration: underline; }
  .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: transparent !important;
    text-decoration: underline; }

#primary-nav #menu-main-menu li {
  font-size: 0.9em; }

#menu-main-menu li a {
  transition: all 0.2s ease-in-out; }
#menu-main-menu li .sub-menu {
  background-color: rgba(252, 252, 252, 0.97);
  border: 0;
  text-transform: capitalize; }
  #menu-main-menu li .sub-menu .level-2 {
    top: 0;
    left: 219px;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 1, 0.16);
    height: 100%; }
#menu-main-menu li:not(.megamenu) .sub-menu {
  padding: 15px 10px;
  min-width: 220px; }
  #menu-main-menu li:not(.megamenu) .sub-menu li a {
    display: block;
    padding: 5px 15px; }
#menu-main-menu li .sub-menu li {
  line-height: 2em;
  list-style: none; }
  #menu-main-menu li .sub-menu li a {
    color: #000; }
#menu-main-menu li:not(.megamenu) .sub-menu li:hover, #menu-main-menu li:not(.megamenu) .sub-menu li:focus, #menu-main-menu li:not(.megamenu) .sub-menu li.hover {
  background-color: rgba(181, 230, 246, 0.4); }
#menu-main-menu li:not(.megamenu) .sub-menu li:hover a, #menu-main-menu li:not(.megamenu) .sub-menu li:focus a, #menu-main-menu li:not(.megamenu) .sub-menu li.hover a {
  background: transparent; }

/* ==== Targeting Primary nav ==== */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open {
  color: #4186c9;
  background: transparent;
  box-shadow: none;
  text-decoration: underline; }
  .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open:focus, .navbar-default .navbar-nav > .open:hover {
    color: #4186c9;
    background: transparent;
    text-decoration: underline; }

/* Grid styles */
.grid {
  padding: 30px 30px 15px; }

/*.grid [class*="col-"] {
 *    margin-top: 5px
 *    margin-bottom: 5px
 *    font-size: 1em
 *    text-align: center
 *    line-height: 2
 *    background-color: #e5e1ea
 *    border: 1px solid #d1d1d1
 *} */
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
  position: static; }
.yamm .container {
  position: relative; }
.yamm .dropdown-menu {
  left: auto; }
.yamm .yamm-content {
  padding: 20px 30px; }
.yamm .dropdown.megamenu .dropdown-menu {
  left: -1px;
  right: -1px; }

.megamenu img {
  width: 100%;
  border: 1px solid #c5c5c5; }
.megamenu dt {
  font-size: 1.2em;
  color: #193559;
  border-bottom: 2px solid #ffb388;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 7px; }
.megamenu dd {
  line-height: 1.8em;
  font-size: 1.1em; }
  .megamenu dd a {
    color: #193559; }
  .megamenu dd .glyphicon-triangle-right {
    color: #8c95a5; }

/*Toggle */
.navbar-toggle {
  border: none;
  margin-right: 0; }
  .navbar-toggle .icon-bar {
    background-color: #000;
    width: 22px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -o-transform-origin: 10% 10%;
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -o-transform-origin: 10% 90%;
    transform-origin: 10% 90%; }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggle.collapsed .bottom-bar, .navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0); }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0); }

/*/------- Columns */
.column-grid {
  float: left;
  margin-left: 2.5641%; }

header .container > .row {
  position: relative; }

/* Search */
#custom-search a {
  color: #153156; }
  #custom-search a:hover {
    color: #4186c9; }
#custom-search #search-trigger {
  float: left;
  width: 6%;
  position: relative;
  right: 0px;
  top: 30px; }
#custom-search .search-form {
  z-index: 10;
  width: 100%; }
  #custom-search .search-form.show {
    display: block; }

/* ========= END: Global ========= */
/* ========= START: Font Icons ========= */
/* ========= END: Font Icons ========= */
/* ========= START: Header ========= */
.site-search {
  padding-top: 2.666%; }

.state-select {
  width: 100%;
  position: relative;
  top: 10px; }
  .state-select button.dropdown-toggle {
    border: solid 1px #1272e5;
    background: white;
    /*height: 50px */
    border-radius: 0;
    color: #777;
    width: 75%;
    position: relative;
    text-align: left;
    float: left; }
  .state-select .btn-default.active, .state-select .btn-default:active {
    background: white; }
  .state-select.open > .dropdown-toggle.btn-default {
    background: white; }
  .state-select .btn.search-submit {
    /* height: 50px */
    width: 25%;
    border-radius: 0;
    font-size: 1.05em; }
  .state-select .btn .caret {
    color: #777;
    position: absolute;
    right: 10px;
    top: 41%; }
  .state-select .btn.dropdown-toggle:hover {
    border: solid 1px #3399ff;
    background: white; }
  .state-select .dropdown-menu {
    transition: all 0.2s ease-in-out;
    width: 75%;
    text-transform: capitalize; }
    .state-select .dropdown-menu > li > a:focus, .state-select .dropdown-menu > li > a:hover {
      background: #f3f3f3; }

.dropdown-menu li {
  padding: 3px 20px; }

/* ==== Targeting Secondary nav ==== */
nav#secondary-menu {
  background-color: #696d3b !important;
  width: 100%; }
  nav#secondary-menu ul {
    /* === Make sub menu stay collapsed by default
     * display: none */ }
    nav#secondary-menu ul.expanded {
      display: block; }
  nav#secondary-menu .open > a {
    color: #fff;
    background-color: #4f5135 !important;
    border-color: transparent; }
    nav#secondary-menu .open > a:focus, nav#secondary-menu .open > a:hover {
      color: #fff;
      background-color: #4f5135 !important;
      border-color: transparent; }
  nav#secondary-menu li > a {
    color: #fff;
    text-shadow: none; }
    nav#secondary-menu li > a:hover, nav#secondary-menu li > a:focus {
      background-color: #4f5135 !important; }

/* ========= END: Header ========= */
/* ========= START: Secondary menu ========= */
#nav-trigger span {
  display: block;
  padding: 10px 30px;
  background-color: #115167;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center; }
  #nav-trigger span:after {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 10px;
    content: "";
    border-left: solid 10px transparent;
    border-top: solid 10px #fff;
    border-right: solid 10px transparent; }
  #nav-trigger span:hover {
    background-color: #2d7790; }
  #nav-trigger span.open:after {
    border-left: solid 10px transparent;
    border-top: none;
    border-bottom: solid 10px #fff;
    border-right: solid 10px transparent; }

nav#secondary-menu {
  transition: all 0.5s ease; }
  nav#secondary-menu ul {
    transition: all 0.5s ease; }

/* ========= END: Secondary menu ========= */
/* ========= START: Breadcrumbs ========= */
.breadcrumb {
  background-color: transparent;
  font-size: 0.8em;
  margin-bottom: 10px;
  letter-spacing: 1px; }
  .breadcrumb li {
    text-transform: capitalize;
    line-height: 2em; }
    .breadcrumb li.active {
      font-weight: bold;
      color: #049763; }

/* ========= END: Breadcrumbs ========= */
/* ========= START: Featured Services ========= */
.featured-services {
  padding: 0;
  background-color: transparent;
  margin-bottom: 0; }

.featured-img {
  /*background: url("//s3.amazonaws.com/{domain}/img/home-bg.jpg") center 51% no-repeat */
  min-height: 485px;
  position: relative;
  padding: 5% 0; }

.featured-content {
  z-index: 1; }

.featured-img .filter {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 17%, transparent 63%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.28)), color-stop(17%, transparent), color-stop(63%, transparent), color-stop(100%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 17%, transparent 63%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 17%, transparent 63%, rgba(0, 0, 0, 0.4) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, transparent 17%, transparent 63%, rgba(0, 0, 0, 0.4) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.28) 0%, transparent 17%, transparent 63%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#47000000', endColorstr='#66000000', GradientType=0) */
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.18); }

.featured-services h1 {
  font-size: 2.5em;
  color: white;
  line-height: 1.2;
  text-shadow: 1px 1.732px 4.5px rgba(0, 0, 1, 0.75);
  text-align: center; }
.featured-services nav ul.featured-menu li {
  max-width: 50%;
  display: inline-block;
  position: relative;
  float: left; }
  .featured-services nav ul.featured-menu li a:hover {
    border: 1px solid; }
  .featured-services nav ul.featured-menu li:nth-child(1) a {
    color: #0d9973; }
  .featured-services nav ul.featured-menu li:nth-child(2) a {
    color: #eb2629; }
  .featured-services nav ul.featured-menu li:nth-child(3) a {
    color: #a66b0e; }
  .featured-services nav ul.featured-menu li:nth-child(4) a {
    color: #075dc5; }
  .featured-services nav ul.featured-menu li:nth-child(5) a {
    color: #ecb801; }
  .featured-services nav ul.featured-menu li:nth-child(6) a {
    color: #398aec; }
  .featured-services nav ul.featured-menu li:nth-child(7) a {
    color: #ff782c; }
  .featured-services nav ul.featured-menu li:nth-child(8) a {
    color: #153156; }
  .featured-services nav ul.featured-menu li:nth-child(9) a {
    color: #8a2be2; }
  .featured-services nav ul.featured-menu li:nth-child(10) a {
    color: #5644ee; }
  .featured-services nav ul.featured-menu li a {
    border: 1px solid #8bbbf4;
    background-color: rgba(255, 255, 255, 0.961);
    /*width: 164px
     *width: 95% */
    width: 95%;
    height: 120px;
    display: inline-block;
    margin: 10px;
    padding: 8px 12px;
    text-align: center; }
    .featured-services nav ul.featured-menu li a:hover {
      text-decoration: none; }

#home ul.featured-menu {
  padding-left: 0; }
  #home ul.featured-menu li i {
    display: block;
    font-size: 3em; }

.icon-bar {
  width: 100%;
  height: 60px;
  /*height: 67.5%
   *background-color: red */ }

#home ul.featured-menu a span {
  text-transform: capitalize;
  margin-top: 5px;
  display: inline-block; }

/* ========= END: Featured Services ========= */
.popular-articles {
  background: #ededed;
  padding: 30px 15px; }
  .popular-articles .column-grid {
    text-align: justify; }
    .popular-articles .column-grid h3 {
      font-weight: bold; }
    .popular-articles .column-grid:nth-child(1) h3 {
      color: #0d9973; }
    .popular-articles .column-grid:nth-child(2) h3 {
      color: #eb2629; }
    .popular-articles .column-grid:nth-child(3) h3 {
      color: #a66b0e; }
    .popular-articles .column-grid:nth-child(4) h3 {
      color: #075dc5; }
    .popular-articles .column-grid:nth-child(5) h3 {
      color: #ecb801; }

.read-more {
  font-size: 1em;
  color: #398aec; }

/* ========= START: Ads ========= */
.adbox a.adTitle {
  color: #003292;
  font-weight: bold; }
  .adbox a.adTitle:hover {
    color: #00526e; }

a.adSitehost {
  color: #787878;
  text-decoration: underline; }
  a.adSitehost:hover {
    color: #00526e; }
a.adDescription {
  color: #003366;
  text-decoration: none;
  display: block; }
  a.adDescription:hover {
    text-decoration: none; }

.additional-ads-list {
  list-style: none;
  overflow: hidden; }
  .additional-ads-list li {
    font-weight: bold; }

.ad-related-searches {
  color: #000000;
  font-size: 1.3em;
  margin: 10px 0; }

/*Ypa ads */
html .ypa-ads .container {
  background-color: #fff; }

body.ypa-ads .page-header h1 {
  text-transform: capitalize; }

ol#wrapper {
  list-style: none;
  padding-left: 15px; }

#wrapper .block {
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0; }
#wrapper li {
  margin-bottom: 7.5px; }

.ypa.half .block {
  width: 50%; }

.size-reduce {
  font-size: 0.97em; }

.dropdown-header {
  padding-left: 15px; }

a.adlink.in-para {
  text-decoration: underline; }

.ypa.full {
  min-height: 20px;
  padding: 19px;
  background-color: #ededed;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  margin: 0.375em auto 1em; }
  .ypa.full a {
    display: block; }
  .ypa.full ol {
    padding-left: 0; }

.adbody {
  background-color: #f7f3e8;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  margin: 0.375em auto 1em; }

.panel-title {
  background-color: #696d3b;
  color: #fff;
  font-size: 1.2em;
  padding: 10px; }

.adbody ul {
  list-style: none; }
.adbody li {
  width: 42%;
  float: left;
  display: block;
  margin: 10px 4%; }
  .adbody li a {
    border-radius: 4px;
    background-color: #e18806;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    text-decoration: none; }
    .adbody li a:hover {
      background-color: #f89708; }
.adbody small {
  display: block;
  text-align: right; }
.adbody ul {
  padding-left: 0; }

.panel-content {
  padding: 10px; }

/*mobile device */
/*/------- Mini Ads above ypa */
.mini-ad {
  background-color: white;
  line-height: 17px;
  background-color: #FFFFFF;
  padding: 5px;
  border: 1px solid #FFFFFF;
  font-family: Arial, Sans-serif;
  word-wrap: break-word;
  min-height: 311px; }
  .mini-ad a {
    display: inline;
    width: initial;
    vertical-align: middle; }
  .mini-ad small {
    color: #BBB;
    font-size: 11px; }
  .mini-ad a:hover {
    text-decoration: underline; }
  .mini-ad .title a {
    font-size: 14px;
    color: #0000D2;
    font-weight: bold; }
  .mini-ad .url a {
    color: #008A00; }
  .mini-ad .description a {
    color: #000000; }
  .mini-ad .ad-item {
    margin-top: 7px; }
    .mini-ad .ad-item:first-of-type {
      margin-top: 0; }
  .mini-ad .custom-quicklinks {
    padding-left: 0;
    margin: 3px 0 0; }
    .mini-ad .custom-quicklinks a {
      color: #0000D2;
      line-height: 1.9em; }
    .mini-ad .custom-quicklinks li {
      list-style: none; }

.ad-img {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 10px auto; }
  .ad-img img {
    width: 90%;
    height: auto; }

/* ========= END: Ads ========= */
/* ========= START: Custom Landing ========= */
.post-page {
  background-color: #f4f4f4;
  padding: 0 25px 25px; }

.page-title {
  /*font-size: 2em */
  line-height: 1.2;
  margin: 10px 0 5px; }
  .page-title a {
    color: #686c3a; }
    .page-title a:hover {
      text-decoration: none; }

.page-header {
  border-bottom: 1px solid #ddd;
  margin-top: 0; }

.sidebar {
  background-color: #153156;
  /*background-color: rgb(13, 119, 182) */ }

.sidebar-title {
  color: #99ccff;
  /*font-size: 1.2em */
  font-weight: bold;
  padding: 10px;
  display: block; }

.sidebar ul li {
  list-style: none;
  font-size: 13px;
  letter-spacing: 0.5px; }
  .sidebar ul li a, .sidebar ul li span {
    padding: 10px;
    display: block;
    color: #8fbef6; }
  .sidebar ul li a:hover {
    text-decoration: none; }
.sidebar ul.level-2 {
  padding-left: 0; }
.sidebar > ul {
  padding-left: 0;
  list-style: none; }
  .sidebar > ul > li {
    /*targets first <li>s in level 1 */
    background-color: #1a375e;
    border-bottom: 1px solid rgba(204, 204, 255, 0.2); }
    .sidebar > ul > li:last-child.active {
      border-bottom-color: #e3e3e3; }
    .sidebar > ul > li:hover {
      background-color: #2c4a71; }
    .sidebar > ul > li a {
      color: #fff; }
    .sidebar > ul > li.active > a, .sidebar > ul > li.active > span {
      background-color: #efefef;
      color: #153156; }
    .sidebar > ul > li.active > a:hover {
      background-color: #e0e0e0; }
    .sidebar > ul > li.active > ul li:first-of-type {
      -webkit-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2);
      -moz-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2);
      box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2); }
      .sidebar > ul > li.active > ul li:first-of-type a:hover {
        -webkit-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2);
        -moz-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2);
        box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2); }

ul.level-2 > li {
  background-color: #0d2a4a;
  border-top: 1px solid #336699;
  /*background-color: rgb(134, 246, 215) border-top: 1px solid rgb(120, 228, 198) */ }

.sidebar ul.level-2 li a, .sidebar ul.level-2 li span {
  padding-left: 2em; }
.sidebar ul.level-2 > li > a:hover, .sidebar ul.level-2 > li > span:hover {
  background-color: #274769;
  /*background-color: rgb(41, 236, 182) */ }
.sidebar ul.level-2 > li.active > span {
  background-color: #274769;
  /*background-color: rgb(41, 236, 182) */ }
.sidebar ul.level-2 > li.active:before {
  content: "";
  border-color: transparent rgba(255, 255, 255, 0.45);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: 1em;
  top: 1.6em;
  position: relative; }
.sidebar ul.level-3 {
  padding-left: 0;
  text-indent: 1.5em; }
  .sidebar ul.level-3 > li:before {
    content: "";
    border-color: transparent rgba(255, 255, 255, 0.45);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: 2em;
    top: 1.6em;
    position: relative; }
.sidebar ul.level-2 li.active a {
  background-color: #081b2f; }
.sidebar ul.level-3 li {
  background-color: #081b2f; }
.sidebar ul.level-3 > li > a:hover, .sidebar ul.level-3 > li > span:hover {
  background-color: rgba(255, 255, 255, 0.15);
  /*background-color: rgb(41, 236, 182) */ }
.sidebar ul.level-3 > li.active > span {
  background-color: rgba(255, 255, 255, 0.15);
  /*background-color: rgb(41, 236, 182) */ }

/*show arrows on list items */
.custom-landing main .row:nth-child(2) > article {
  padding-top: 10px; }

.popular-posts article {
  border-bottom: 1px solid rgba(56, 110, 155, 0.1);
  margin-top: 15px; }
  .popular-posts article:first-of-type {
    border-top: none; }
.popular-posts h2 a, .popular-posts h4 a {
  font-size: 0.95em;
  color: #686c3a; }
.popular-posts .read-more a {
  color: #ff5c00;
  text-transform: capitalize; }

.child-category .read-more a {
  color: #ff5c00;
  text-transform: capitalize; }

.child-page {
  background-color: #eac28e;
  color: #43301c;
  /*--- grey
   *
   *background-color: rgb(159, 166, 179)
   *color: #000
   *--- Like LMS
   *color: #e7e7e7
   *background-color: #008cba */
  padding: 20px;
  margin: 15px auto;
  font-size: 1.1em; }
  .child-page h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0; }
    .child-page h3 a {
      color: #43301c; }
  .child-page .summary {
    margin: 10px auto; }
    .child-page .summary a {
      color: #fff;
      text-decoration: underline; }
  .child-page .btn-primary {
    font-weight: 700;
    background-color: #43301c;
    border: 1px solid black; }
    .child-page .btn-primary:hover, .child-page .btn-primary:focus {
      background-color: #674a2b;
      border: 1px solid black; }

/*/------- Article Pages */
ol, ul {
  margin-bottom: 15px; }

/* ========= END: Custom Landing ========= */
/*START: Sub-CAt */
.s-sub-cat .child-page {
  display: none; }

/* ========= START: Pages ========= */
.cat-what-type-of-cosmetologist-are-you ol > li {
  margin-bottom: 0.5em; }
.cat-what-type-of-cosmetologist-are-you ol li ul li {
  list-style: upper-alpha; }

/* ========= END: Pages ========= */
/* ========= START: FAQ Section ========= */
/* FAQ Page */
.page-faq #primary section h1 {
  border-bottom: 2px solid;
  padding-bottom: 0.53em; }

.btn-default, .faq-item .questions, body.home nav.widget.featured ul#menu-featured-home li a {
  color: #382817;
  background-color: #ededed;
  border-color: #e8e8e8; }

.btn-block {
  display: block;
  width: 100%; }

.faq-item .questions {
  display: block;
  width: 100%;
  white-space: normal; }

.popover {
  white-space: normal; }

.btn, .comment-form input[type=submit], .faq-item .questions, body.home nav.widget.featured ul#menu-featured-home li a {
  padding: 8px 12px; }

.faq-section {
  margin: 30px auto; }
  .faq-section .faq-item .answers {
    padding: 10px; }
  .faq-section .panel {
    box-shadow: none;
    background: transparent;
    border: none; }
  .faq-section .panel-heading {
    position: relative; }
    .faq-section .panel-heading a {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      padding-top: 0.5em;
      color: #382817;
      background-color: #ededed;
      border-color: #e8e8e8;
      text-decoration: none; }
      .faq-section .panel-heading a:hover, .faq-section .panel-heading a:focus {
        color: #382817;
        background-color: #d3d3d3;
        border-color: #c9c9c9; }

.fullstretch + .faq-section {
  width: 100%;
  margin-bottom: 30px; }

.faq-section-title h3 {
  margin-top: 0; }

/* ========= END: FAQ Section ========= */
/* ========= START: Bottom Posts ========= */
.img-wrap {
  margin: 15px; }
  .img-wrap.pull-left, .img-wrap.pull-right {
    margin-top: 0; }
  .img-wrap.pull-left {
    margin-left: 0; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.img-thumbnail, .table, label {
  max-width: 100%; }

.child-category article {
  margin-top: 5px;
  margin-bottom: 5px; }
.child-category .img-wrap {
  margin-top: 15px; }
  .child-category .img-wrap img {
    width: 220px; }
.child-category p, .child-category #excerpt {
  display: inline; }
.child-category h4 a {
  font-weight: bold; }
.child-category .read-more {
  display: block; }

.template-article #excerpt {
  visibility: hidden;
  height: 0; }

/* ========= END: Bottom Posts ========= */
/* ========= START: FOOTER ========= */
footer {
  background-color: #fff;
  border-top: 1px solid #382817;
  text-align: center; }
  footer .navbar-nav {
    margin: 0; }
  footer .copyright {
    margin-top: 10px;
    width: auto; }

/* ========= END: FOOTER ========= */
/* ========= START: Recreation ========= */
.cat-recreational.page-national .full.related-search, .cat-recreational.page-california .full.related-search, .cat-recreational.page-florida .full.related-search, .cat-recreational.page-colorado .full.related-search, .cat-recreational.page-texas .full.related-search {
  display: none; }

/* ========= END: Recreation ========= */
/* ========= START: Tips and FAQs ========= */
body.tips-and-faqs .show-for-mobile .adbox {
  display: none; }

.faq-section .faq-item .answers {
  padding: 10px; }

/* ========= END: Tips and FAQs ========= */
/* ========= START: Maps ========= */
.page-map {
  border-top: 6px solid #696d3b; }
  .page-map .page-title {
    margin-bottom: 15px; }
    .page-map .page-title span {
      display: block; }

/* ========= END: Maps ========= */
 * /* ========= START: Slimdown Site ========= */
.post-featured-img {
  /*height: 262px */
  height: 311px; }

.custom-landing #secondary {
  display: none; }

.custom-landing #primary {
  width: 100%;
  word-wrap: break-word; }

body:not(.full-width) #primary {
  border-left: 0; }

/* ========= END: Slimdown Site ========= */
.col-md-12 {
  margin-top: 20px; }

/*# sourceMappingURL=extend.css.map */
