@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.ttf?c4psrj') format('truetype'),
        url('../fonts/icomoon.woff?c4psrj') format('woff'),
        url('../fonts/icomoon.svg?c4psrj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-featured-icons-boat .path1:before {
    content: "\e900";
    /*color: rgb(0, 0, 0);*/
}
.icon-featured-icons-boat .path2:before {
    content: "\e901";
    margin-left: -1.455078125em;
    /*color: rgb(0, 0, 0);*/
}
.icon-featured-icons-boat .path3:before {
    content: "\e902";
    margin-left: -1.455078125em;
    /*color: rgb(255, 255, 255);*/
}
.icon-featured-icons-boat .path4:before {
    content: "\e903";
    margin-left: -1.455078125em;
    color: rgb(255, 255, 255);
}
.icon-featured-icons-boat .path5:before {
    content: "\e904";
    margin-left: -1.455078125em;
    color: rgb(255, 255, 255);
}
.icon-featured-icons-boat .path6:before {
    content: "\e905";
    margin-left: -1.455078125em;
    color: rgb(255, 255, 255);
}
.icon-featured-icons-firearms:before {
    content: "\e906";
}
.icon-featured-icons-fish:before {
    content: "\e907";
}
.icon-featured-icons-questions .path1:before {
    content: "\e908";
    /*color: rgb(0, 0, 0);*/
}
.icon-featured-icons-questions .path2:before {
    content: "\e909";
    margin-left: -1.455078125em;
    color: rgba(255, 255, 255, 0);
}
.icon-featured-icons-questions .path3:before {
    content: "\e90a";
    margin-left: -1.455078125em;
    color: rgba(255, 255, 255, 0);
}
.icon-featured-icons-rv .path1:before {
    content: "\e90b";
    /*color: rgb(0, 0, 0);*/
}
.icon-featured-icons-rv .path2:before {
    content: "\e90c";
    margin-left: -1.455078125em;
    /*color: rgb(0, 0, 0);*/
}
.icon-featured-icons-rv .path3:before {
    content: "\e90d";
    margin-left: -1.455078125em;
    /*color: rgb(255, 255, 255);*/
}
.icon-featured-icons-rv .path4:before {
    content: "\e90e";
    margin-left: -1.455078125em;
    color: rgb(255, 255, 255);
}
.icon-featured-icons-target:before {
    content: "\e90f";
}