.ypaAdLabel {
    display: none;
}
@media (max-width: 990px) {
    .ypaAdSiteLinks .ypaAdSiteLinkLine {
        display: block !important;
        width: auto;
        margin: 5px auto;
    }
    .ypaAdSiteLinks .ypaAdSiteLinkLine:nth-child(3),
    .ypaAdSiteLinks .ypaAdSiteLinkLine:nth-child(4) {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    article.cat-nursing .ypaAdUnit .ypaAdElement:first-of-type {
        display: table-row;
        background-color: rgba(255,200,123)
    }
    article.cat-nursing .ypaAdUnit .ypaAdElement {
        display: none;
    }
}
