<!--$hometemplate.html$-->
<div class="form-section top-padding-10 bottom-padding-10 bottom-buffer-10">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-4 col-md-push-8">
            <div class="progress marginless" style="height:10px;">
               <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" data-total="2" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                  &nbsp;
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <form action="/florida/end-collect" method="post" id="orderForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <div class="tab-content">
               <div id="step-2" class="tab-pane fade in active">
                  <div class="row">
                     <div class="col-xs-12">
                        <h2 class="line-left left-padding-10 black-text"><strong>Change Address Only:</strong></h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Driver License</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group has-feedback">
                           <input type="hidden" value="fl" class="form-control" name="driver_license_state" id="driver_license_state" data-fv-field="driver_license_state">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="driver_license_state" style="display: none;"></i>
                           <input type="text" name="driver_license" class="form-control" value="" placeholder="DL Number" oncopy="return false" onpaste="return false" data-fv-field="driver_license">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="driver_license" style="display: none;"></i><small class="help-block" data-fv-validator="callback" data-fv-for="driver_license" data-fv-result="NOT_VALIDATED" style="display: none;">DL Number is not valid</small><small class="help-block" data-fv-validator="notEmpty" data-fv-for="driver_license_state" data-fv-result="NOT_VALIDATED" style="display: none;">DL State is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="driver_license_state" data-fv-result="NOT_VALIDATED" style="display: none;">Select a State</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="col-xs-12">
                              <p>
                                 <strong>Address on Driver License</strong>
                              </p>
                           </div>
                           <div class="col-xs-12 col-md-8">
                              <div class="form-group has-feedback">
                                 <input type="text" name="on_driver_license_address" class="form-control" value="" placeholder="Street Address" data-fv-field="on_driver_license_address">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="on_driver_license_address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="on_driver_license_address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="on_driver_license_apto" class="form-control" value="" placeholder="Apt / Suite" data-fv-field="on_driver_license_apto">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="on_driver_license_apto" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="on_driver_license_apto" data-fv-result="NOT_VALIDATED" style="display: none;">The apto seem to have invalid characters</small>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="on_driver_license_city" class="form-control" value="" placeholder="City" data-fv-field="on_driver_license_city">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="on_driver_license_city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="on_driver_license_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="on_driver_license_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="on_driver_license_state" data-fv-field="on_driver_license_state">
                                    <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="FL" selected="">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="DC">Washington DC</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="on_driver_license_state" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="on_driver_license_state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="on_driver_license_zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="on_driver_license_zipcode">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="on_driver_license_zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="on_driver_license_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="on_driver_license_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="on_driver_license_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Current Address</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="col-xs-12 col-md-8">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_address" class="form-control" value="" placeholder="Street Address" data-fv-field="current_address">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="current_address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_apto" class="form-control" value="" placeholder="Apt / Suite" data-fv-field="current_apto">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_apto" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="current_apto" data-fv-result="NOT_VALIDATED" style="display: none;">The apto seem to have invalid characters</small>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_city" class="form-control" value="" placeholder="City" data-fv-field="current_city">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="current_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="current_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="current_state" data-fv-field="current_state">
                                    <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="FL" selected="">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="DC">Washington DC</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_state" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="current_state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="current_zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="current_zipcode">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="current_zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="current_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="current_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="current_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Mailing Address</strong>
                        </p>
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group">
                           <div class="checkbox">
                              <label>
                                 <input type="checkbox" value="1" name="same_address">
                                 Select if your current mailing address is different. Your new driver license/ID card will be mailed to this address. </label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row mailing_address_wrap" style="display: none;">
                     <div class="col-xs-12">
                        <div class="row">
                           <div class="col-xs-12 col-md-8">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_address" class="form-control" value="" placeholder="Street Address" data-fv-field="mailing_address">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_apto" class="form-control" value="" placeholder="Apt / Suite" data-fv-field="mailing_apto">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_apto" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_apto" data-fv-result="NOT_VALIDATED" style="display: none;">The apto seem to have invalid characters</small>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_city" class="form-control" value="" placeholder="City" data-fv-field="mailing_city">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <select class="form-control" name="mailing_state" data-fv-field="mailing_state">
                                    <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="FL" selected="">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="DC">Washington DC</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
                                 </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_state" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-4">
                              <div class="form-group has-feedback">
                                 <input type="text" name="mailing_zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="mailing_zipcode">
                                 <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="mailing_zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="mailing_zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p class="lead">
                           <strong>Terms of Agreement</strong>
                        </p>
                        <div class="form-group has-feedback">
                           <div class="checkbox">
                              <label class="dark-label font-size-14">
                                 <input type="checkbox" value="1" name="agreement" data-fv-field="agreement">
                                 By filling out the form above, checking this box and electronically signing your name below, you acknowledge that you have read and agree to our Terms &amp; Conditions and Privacy Policy. I affirm that I am the record holder for this vehicle and that all information I have provided is true and accurate.  By checking this box, you also acknowledge that this website is privately owned and independently operated, having no affiliation with any state or federal agency.  I hereby appoint this site as my agent and expressly authorize its personnel to access and contact FLDMV's online vehicle services portal and process my registration renewal on my behalf for a fee that includes features and benefits exclusive to this site. I also authorize this website to retain my information for future renewals. </label>
                           </div><i class="form-control-feedback" data-fv-icon-for="agreement" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="agreement" data-fv-result="NOT_VALIDATED" style="display: none;">You need to agree to our terms.</small>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                        <p class="lead">
                           <strong>Electronic Signature</strong>
                        </p>
                        <div class="form-group has-feedback">
                           <input type="text" name="signature" class="form-control" value="" placeholder="To sign, please enter your full legal name." data-fv-field="signature">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="signature" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="signature" data-fv-result="NOT_VALIDATED" style="display: none;">Electronic signature is required</small>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer-20">
                     <div class="col-xs-6 col-md-4">
                        <div>
                           &nbsp;
                        </div>
                     </div>
                     <div class="col-xs-6 col-md-4 col-md-push-4">
                        <input type="hidden" name="csrf_name" value="csrf5a3a812f59548">
                        <input type="hidden" name="csrf_value" value="95712249a5d15267c555a23a573a234c">
                        <input type="submit" value="CONTINUE" class="btn btn-block btn-danger submit-florida-address">
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<!--/$hometemplate.html$-->
