.container {
    width: 100% !important;
    padding: 0 5%}
.logo {
    display: block;
}
.mobile {
    display: none;
}
.col-md-12, .col-xs-12 {
    padding: 0;
}
.align-wrapper {
    padding: 0 5%}
.mobileElements {
    display: none;
}
.desktopElements {
    display: block;
    z-index: 999;
}
a {
    color: #1d5380;
}
h3, img, .logo {
    float: left;
}
p {
    font-size: 16px;
}
li {
    list-style: none;
    float: left;
    font-size: 16px;
}
img, a {
    border: 0;
}
h4 {
    clear: both;
}
.boldThis {
    font-weight: bold;
}
.strongThis {
    color: #1d5380;
}
.content-future-unknown {
    color: red;
}
.onlineInfoAccBtn {
    background: url("images/onlineInfoAcc.png") 0 0 no-repeat;
    display: block;
    float: none;
    width: 452px;
    height: 58px;
    margin: 2% auto;
}
.page-old-title {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: #000;
}
.disclaimer {
    background: #363636;
}
.disclaimer p {
    color: #888;
    font-family: arial;
    font-size: 14px;
    padding: 5px;
    margin: 0;
    text-align: center;
}
.banner {
    background: url(images/banner.jpg) center right repeat-x;
    height: 89px;
}
.banner a {
    margin: 1% 5%}
.navigation {
    background: #494949;
    padding: 0 3.5%}
.nav-tabs>li {
    margin: 0 1%}
.nav-tabs>li>a {
    border: 0;
    border-radius: 0;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #205c79;
    text-decoration: none;
    color: #fff;
}
.nav-tabs {
    border-bottom: 0;
}
.select-service-container h1 {
    margin-left: 1%}
.footer-section {
    background: url("images/bottomshadow2.png") center top repeat-x #dcdcdc;
}
.footer-section ul {
    margin: 2% 0 1%}
.footer-section li {
    margin: 0 5px;
}
.footer-section a {
    color: #4a4a4a;
    font-weight: bold;
    font-size: 13px;
}
.bottomDisclaimer {
    color: #6a6a69;
    font-size: 10px;
    margin: 0 0 1%;
    text-align: center;
}
.footer-section ul {
    clear: both;
}
.footer-options {
    width: 700px;
    margin: 0 auto;
}
.select-service-container .btn {
    background: url("images/btnbg.jpg") repeat-x scroll center top;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: #3e3e3e;
    font-size: 16px;
    height: 55px;
    margin: 2% 0;
    padding: 5px 0;
    width: 100%}
.select-service-container .btn:hover {
    background-position: center bottom;
    color: #fff;
}
.select-service-container .btn.serviceWanted {
    background: url("images/btnbg.jpg") center bottom repeat-x;
    color: #fff;
    text-shadow: 0 0 1px #000;
}
.select-service-container select#state {
    margin: 2% 0;
}
.select-service-container .btncontinue {
    margin: 5% 0;
}
.btncontinue {
    background: url(images/btncontinue1.png) 0 0 no-repeat;
    height: 58px;
    width: 223px;
    display: block;
    margin: 10% 0;
}
.btn2 {
    background: url("images/btnbg.jpg") repeat-x center bottom;
    border-radius: 10px;
    height: 55px !important;
    width: 200px;
    color: #fff;
    font-size: 22pt;
}
.btn3 {
    background: url("images/btnbg1.jpg") repeat-x center bottom;
    border-radius: 10px;
    height: 55px !important;
    width: 200px;
    color: #fff;
    font-size: 22pt;
}
#homeValidationModal h4.modal-title {
    margin: 0 0 2em 0;
}
hr.faded {
    clear: both;
    float: left;
    width: 100%;
    height: 1px;
    margin: 1.4em 0 0;
    border: 0;
    background: #ddd;
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, #fff), color-stop(0.1, #ddd), color-stop(0.9, #ddd), color-stop(1, #fff));
    background-image: -moz-linear-gradient(left center, #fff 0, #ddd 10%, #ddd 90%, #fff 100%);
}
.notice-container {
    background: #274160;
}
.notice-container p {
    margin: 7px auto;
    font-size: 15px;
    float: none;
    width: 97%;
    font-weight: bold;
    color: #fff;
}
.radiusBoxContainer {
    background: #faf9f9;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin: 1% 0;
}
.small-content {
    min-height: 600px;
}
.bottom-content {
    clear: both;
}
.official-forms-container h2 {
    color: #1d5380;
    font-weight: bold;
}
.official-forms-container li {
    float: none;
    clear: both;
    list-style: circle;
}
.official-forms-container a {
    font-size: 20px;
}
.locate-dmv h1 {
    color: #2d2c28;
    font-size: 24px;
    font-weight: bold;
}
.locate-dmv h2 {
    color: #1d5380;
    font-weight: normal;
    font-size: 18px;
}
.locate-dmv .zipBoxContainer, .locate-dmv .locationCtaBtnContainer {
    margin: 4% 0;
}
.locate-dmv .zipBox, .zipBoxMobile {
    background: #fafafa;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    float: none;
}
.zipBoxMobile {
    padding: 8%;
    height: 180px;
}
.locate-dmv .zipBox form {
    float: left;
    height: 100px;
    width: 100%}
.locate-dmv .zipBox div {
    padding: 25px 0;
    width: 92%;
    margin: 0 auto;
    float: none;
    height: 50px;
}
.locate-dmv .zipBox div p, .zipBoxMobile p {
    font-size: 20px;
    display: inline-block;
}
.locate-dmv .zipBox div input, .zipBoxMobile input {
    width: 40%;
    margin: 0;
    height: 44px;
    font-size: 20px;
}
.locate-dmv .zipBox div button, .zipBoxMobile a {
    background: url(images/btnbg.jpg) center bottom repeat-x;
    border: 0;
    border-radius: 5px;
    color: #fff;
    height: 44px;
    width: 90px;
    font-size: 20px;
    float: right;
}
.zipBoxMobile .index-page h1 {
    margin: 10px 0 5px;
}
.select-service-container.radiusBoxContainer {
    float: left;
    margin-bottom: 2%}
.select-service-container .left-container, .select-service-container .right-container {
    margin-bottom: 2%}
.select-service-container .left-container {
    float: left;
}
.select-service-container .right-container {
    float: right;
}
.stepNumber {
    background: #2075ae;
    color: #fff;
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    line-height: 35px;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}
.select-state-container .stepNumber {
    margin-top: 15px;
}
.right-container .btncontinue {
    clear: both;
    float: none;
}
.right-container p {
    clear: both;
}
.choose-state {
    padding: 0;
}
#state {
    width: 224px;
    margin: 5% 0;
    font-size: 18px;
    display: block;
}
.servicesInfo-content {
    margin: 1% 4%;
    padding: 2% 1%}
.servicesInfo-content div.row {
    margin: 0 0 3em 0;
}
.servicesInfo-content div {
    margin: 5px 0 0;
    position: relative;
}
.servicesInfo-content div p {
    float: left;
}
.servicesInfo-content div a {
    float: left;
    clear: both;
}
.servicesInfo-content h2 {
    margin: 0 0 1%}
.toServiceTitle {
    font-size: 14pt;
    font-weight: bold;
}
.toServiceLink {
    font-size: 16px;
}
.index-page .select-service-container .stepNumber {
    margin: 15px 5px 15px 0;
}
.index-page .container-cancel-visit {
    text-align: center;
    font-size: 11px;
    clear: both;
}
.index-page .select-service-container .btncontinue {
    margin: 5% 0 0 0;
}
.index-page .home-disclaimer-big {
    width: 100%;
    clear: both;
}
.index-page .cardLogos {
    width: 241px;
}
.container-specific-services>span>input[type='radio'], .container-specific-services>span>input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 18px;
    display: none;
}
.container-specific-services>span>input[type='radio']+label, .container-specific-services>span>input[type='checkbox']+label {
    margin: 0;
    clear: none;
    padding: 5px 0 4px 30px;
    cursor: pointer;
    background: url('images/off.png') left center no-repeat;
}
.container-specific-services>span>input[type='radio']:checked+label {
    background-image: url('images/check.png');
}
.container-specific-services>span>input[type='checkbox']:checked+label {
    background-image: url('images/check.png');
}
.container-specific-services>span {
    width: 100%;
    float: left;
    font-size: 16px;
}
.service-page .middle-content h2 {
    margin-top: 10px;
}
.service-page .middle-content h3 {
    float: none;
}
.service-page .middle-content li {
    float: none;
    list-style: disc;
}
.service-information-boxes h1 {
    margin: 10px 0;
}
.service-information-boxes .btncontinue {
    margin: 2% 33%}
.service-information-boxes {
    width: 100%;
    background: #f5f5f5;
    float: left;
    padding: 0 5%}
.info-title {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 1% 0;
    font-size: 24px;
    padding: 1% 0 1% 4%;
    float: left;
    width: 100%}
.info-subtitle {
    font-size: 24px;
    color: #2d2c28;
    margin: 1.5% 0;
    float: none;
}
.left-box {
    background: #fff;
    border: 1px solid #dcdcdc;
    margin: 1% 0;
    min-height: 260px;
    padding: 0;
    float: left;
    position: relative;
}
.left-box .info-title {
    background: #1d5380;
}
.left-box .service-desc {
    margin: 1% 2%;
    float: left;
    font-size: 16px;
}
.right-box {
    margin: 1% 0 0 0;
    min-height: 260px;
    position: relative;
}
.right-box .info-title {
    background: #2a4057;
}
.right-box .service-info-container {
    background: url(images/patternbg.jpg) 0 0 repeat;
    margin: 0;
    width: 100%;
    float: left;
}
.right-box .service-desc {
    float: left;
    width: 70%;
    margin: 0 2%;
    padding: 0 2%;
    text-align: justify;
    font-size: 16px;
}
.right-box .service-title {
    margin: 2%;
    padding: 0 2%;
    font-weight: bold;
}
.box-shadow {
    width: 100%}
.serviceCTA {
    background: url("images/GetStarted_btn.png") 0 0 no-repeat;
    font-size: 34px;
    padding: 3px 60px;
    float: left;
    width: 300px;
    height: 58px;
    margin: 4% 27%}
span.stateName {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
    float: none;
}
.state-service-icon {
    margin: -2px 2% 2% 2%}
.service-title {
    font-size: 17px;
    color: #30302f;
}
.form-control.error {
    color: #555;
}
.continueFlow {
    margin: 1% auto;
}
.full-state-list {
    padding-top: 2%;
    padding-bottom: 2%}
.select-state-container ul {
    float: left;
}
.select-state-container li {
    float: left;
    list-style: circle;
    padding-bottom: 15px;
    width: 100%}
.select-state-container .selectStateLink {
    font-size: 20px;
    color: #1d5380;
}
.select-state-container p {
    clear: both;
}
.select-state-container .row .col-md-12 {
    padding: 0 20px;
}
.info-subtitle, span.stateName {
    font-size: 26px;
}
.left-box .service-desc, .right-box .service-desc {
    font-size: 16px;
}
.service-title {
    font-size: 20px;
}
.info-subtitle {
    line-height: 35px;
}
.banner-steps {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #000;
    padding: 0 0 1%}
.current-step {
    padding: 0;
    margin: 0;
}
.current-step li {
    padding-right: 1%;
    width: auto;
    line-height: 38px;
    margin: 1% 0;
    font-size: 20px;
}
.current-step li span {
    background: #000;
    float: left;
    display: block;
    height: 35px;
    margin: 2px 10px;
    width: 35px;
    font-weight: bold;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
.current-step li span.current-page-step {
    background: #1d5380;
}
.download-desc {
    padding: 2% 1% 2% 0;
}
.download-desc img {
    padding: 0 2% 3%}
.billing-page .banner-steps {
    border: 0;
}
.billing-page ul.current-step {
    width: 100%;
    margin: 0;
}
.billing-page .current-step li {
    padding-right: 1%;
    width: auto;
    line-height: 38px;
    margin: 1% 0;
    font-size: 20px;
    clear: none;
}
.billing-page .transaction-container {
    float: none;
    margin: 0 auto;
    max-width: 1110px;
}
.billing-page .billing-bottom-wrapper {
    float: none;
    margin: 0 auto;
    max-width: 1110px;
}
.billing-page label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    float: left;
    width: 180px;
    text-transform: capitalize;
}
.billing-page label.error {
    color: red;
}
.billing-page input.error,  .billing-page select.error{
    color: #333;
}
.billing-page ul {
    float: left;
    clear: both;
    margin: 2% 0;
}
.billing-page li {
    clear: both;
    width: 525px;
    margin: 1% 0;
}
.billing-page input {
    width: 300px;
    float: left;
}
.billing-page input#card_number, .billing-page input#zip {
    width: 225px;
}
.billing-page h2 {
    color: #fff;
    float: left;
    margin: 5px 0;
    font-size: 18px;
}
.billing-page img {
    float: left;
    margin: 5px 0 0 1%;
    padding: 0;
}
.billing-page input.btncontinue {
    width: 225px;
    cursor: pointer;
    border: 0;
    margin: 2% auto;
    float: none;
}
.billing-page #billingLoadingGif, .billing-page #submitLoad {
    margin: 2% auto;
    float: none;
    display: none;
    padding: 0;
}
.billing-page #state {
    margin: 0;
    font-size: 16px;
}
.billing-page #card_number, .billing-page #month {
    margin: 0 5px 0 0;
}
.billing-page .transaction-container p {
    float: left;
}
.billing-page .summary_specifics {
    float: left;
}
.billing-page #items-price {
    border-radius: 0 10px 0 0;
    width: 20%}
.billing-page .items-cart {
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    background: #d9e4ed;
}
.billing-page .items-cart span {
    float: right;
    padding: 4% 4% 0 4%}
.billing-page .items-cart span.road-advisors-price {
    padding: 0;
}
.billing-page .items-cart img {
    margin: 0;
    padding: 4% 4% 0 4%}
.billing-page .items-cart img.card {
    margin: 0 0 5px 0;
    padding: 0;
}
.billing-page .items-cart img.small-cards {
    margin: 0;
    padding: 0;
}
.billing-page .items-cart p {
    margin: 0;
    padding: 4% 4% 0 4%}
.billing-page .items-cart ul.billing-form-left {
    float: left;
    clear: none;
    width: 50%}
.billing-page .items-cart ul.billing-form-left label {
    width: 110px;
}
.billing-page .items-cart ul.billing-form-right {
    float: right;
    clear: none;
    width: 50%}
.billing-page .items-cart #billing-error {
    width: 80%;
    color: red;
    font-size: 11px;
    font-weight: bold;
}
.billing-page .row .container-left {
    float: left;
    padding: 1.5% 0 0 3%;
    width: 35%}
.billing-page .row .container-left p.price-container {
    font-size: 18px;
    font-weight: bold;
    float: right;
}
.billing-page .row .container-right {
    float: right;
    padding: 0 3% 0 0;
    width: 33%}
.billing-page span.processing-fee {
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.billing-page .billing-descriptor {
    font-size: 14px;
}
#cvvModal img.cvv {
    float: none;
    clear: both;
}
#cvvModal button {
    display: block;
    margin: 5% auto 0;
}
#cvvModal button.close {
    display: none;
}
.visaSeals img {
    width: 250px;
    float: none;
    margin: 2% auto;
    display: block;
}
object {
    float: left;
}
.summary-container {
    width: 100%;
    margin: 0;
    border: 1px solid #dcdcdc;
    background: #fafafa;
    border-radius: 10px;
}
.summary-details {
    background: #25425e;
    float: left;
    margin: 0;
    padding: 0 3%;
    color: #fff;
    width: 100%}
.finish-step {
    clear: both;
    float: left;
    width: 100%}
#items-selected {
    border-radius: 10px 10px 0 0;
    width: 100%;
    border-right: 1px solid #2f95d8;
}
#total-price {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin: 0 0 5px 0;
}
.first-row {
    margin: 1% 0;
}
.last-row {
    background: #d9e4ed;
    border: 1px solid #dcdcdc;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    padding: 1% 0;
}
#security_code {
    width: 10%;
    margin: 0 5px 0 0;
}
.last-row img {
    float: right;
    margin: 2% 1%;
    display: block;
}
.last-row img.product {
    float: left;
    margin: 2% 3% 2% 0;
}
.billing-page .items-cart span.cardHelpBtn {
    cursor: pointer;
    float: none;
    padding: 0;
}
.billing-page .items-cart span.cardHelpBtn img {
    float: none;
    padding: 0;
    margin: 0;
}
.billing-page .billing-bottom {
    margin: 10px auto 0 auto;
}
.billing-page .billing-bottom #agree-tc {
    width: auto;
    margin: 0 5px 0 0;
}
.billing-page .billing-bottom p.billing-disclaimer {
    font-size: 11px;
    float: left;
    width: 97%;
    display: block;
    text-align: justify;
    text-justify: inter-word;
}
.billing-page .billing-bottom img {
    float: right;
    width: auto;
    display: block;
    margin: 0;
}
.billing-page .item-product {
    width: 60%}
.home-zip-code {
    float: right;
}
.personal-form tbody tr {
    float: left;
}
.personal-form tbody tr td .lbls {
    width: 120px;
    float: left;
}
.personal-form tbody tr td select#gender, .personal-form tbody tr td#main_12b {
    width: 180px !important;
}
.personal-form tbody tr td #label_zip_1 {
    width: 71px;
}
.personal-form tbody tr td #zip_1 {
    font-size: 11px;
    font-weight: normal;
}
.personal-form tbody tr#main_2 {
    float: none;
}
.personal-form tbody tr#main_14 {
    margin: 2% 0 0;
}
.personal-form .personal-frm {
    padding: 3% 5%;
    margin: -3% 0 1%}
.personal-form .personal-frm tr {
    margin: 0 0 2%}
.personal-form .personal-frm td input, .personal-form tbody tr td#main_12b {
    width: 250px !important;
}
.personal-form select#gender {
    margin-right: 70px;
}
.personal-form label, .personal-form td {
    font-size: 16px;
}
.personal-form input, .personal-form select {
    height: 28px;
}
.personal-form tbody tr td input#zip_1 {
    font-size: 16px;
    width: 122px !important;
}
.personal-form tbody tr#main_17 {
    margin: 0 -7px !important;
}
.personal-form-coa h2 {
    color: #2779a4;
}
.personal-form-coa .personal-frm {
    padding: 2%}
.personal-form-coa .personal-frm tr {
    margin: 0 0 1%;
    float: left;
    width: 100%}
.personal-form-coa input, .personal-form-coa select {
    height: 28px;
}
.personal-form-coa .personal-frm td input, #main_9b {
    width: 250px !important;
}
.personal-form-coa #main_29 .personal-frm.radiusBoxContainer {
    border: 0;
    margin: 0;
    padding: 0;
}
.personal-form-coa #main_13, .personal-form-coa #main_24, .personal-form-coa #main_28, .personal-form-coa #extra_4, .personal-form-coa #extra_13, .personal-form-coa #extra_21 {
    float: none;
}
.personal-form-coa tbody tr td .lbls {
    width: 120px;
}
.personal-form-coa tbody tr td #label_zip_1, .personal-form-coa tbody tr td #label_zip_2 {
    width: 71px;
}
.personal-form-coa tbody tr td input#zip_1, .personal-form-coa tbody tr td input#zip_2 {
    width: 122px !important;
}
.personal-form-coa tbody tr #extra_1e .lbls, .personal-form-coa tbody tr #extra_10a .lbls, .personal-form-coa tbody tr #extra_11a .lbls {
    width: auto;
}
.personal-form-coa tbody tr #extra_3 {
    margin: -4% 0 1%}
.personal-form-coa tbody tr #extra_23 input, .personal-form-coa tbody tr #extra_25 input {
    width: 20px !important;
}
a.underline.searcharb {
    display: none;
}
.site-map .site-map-cols ul li {
    float: none;
}
.site-map .site-map-cols.state-lines ul {
    float: left;
    margin-bottom: 50px;
}
.site-map .site-map-cols h2 {
    color: #274160;
}
.tc-content h2.checkContent {
    color: red;
}
.tc-content h3.tc {
    color: #2d2c28;
    font-size: 24px;
}
.tc-content ul li {
    list-style: disc;
}
.contactImportant {
    padding: 1%;
    color: red;
}
.moneyBackImg {
    float: left;
    padding: 30% 20%}
.money-back p {
    clear: both;
}
.money-back ol li {
    list-style: decimal;
    float: left;
    clear: both;
}
.money-back ol {
    float: left;
    clear: both;
}
.info-box {
    border: 1px solid #dcdcdc;
    border-top: 0;
    border-radius: 10px;
    padding: 0 0 2% 0;
}
.info-box .boxtitle {
    background: #1d5380;
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    padding: 1% 2%;
    margin: 0;
}
span.checkMarks {
    background: url(images/gcheckMark.png) center center no-repeat;
    display: block;
    float: right;
    height: 20px;
    width: 30px;
}
.roadAdvisorsSealsBox div {
    background: #fff;
    padding: 5%;
    border: 1px solid #ccc;
    font-size: 12px;
}
.roadAdvisorsSealsBox div:nth-child(odd) {
    background: #e0eef5;
}
.roadAdvisorsSealsBox p {
    float: left;
}
.roadAdvisorsSealsBox img {
    float: none;
    display: block;
    margin: 0 auto;
}
.info-box img {
    float: left;
    margin: 3%;
    padding: 0 1%}
.info-box p {
    padding: 1% 0 0;
    margin: 0;
}
.thank-you-pay h2 {
    color: #1d5380;
    text-align: center;
    margin: 2% auto;
}
.thank-you-pay p {
    text-align: center;
    margin: 2% auto;
}
.thank-you-pay img {
    display: block;
    float: none;
    margin: 4% auto;
}
a.btndownloadadvisor {
    background: url(images/droadadvisor.png) 0 0 no-repeat;
}
#submit2 {
    background: url(images/audiobook.png) 0 0 no-repeat;
}
.btndownload {
    float: left;
    display: block;
    width: 530px;
    height: 70px;
    margin: 2%}
.successMsj span {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #1d5380;
    float: none;
}
.successMsj p {
    color: #1d5380;
    padding: 1%}
.getRAbox .btndownload {
    width: 559px;
}
#indexAlert .modal-body div {
    float: left;
    width: 100%;
    background: #fff;
}
#indexAlert .modal-body {
    padding: 0;
}
#indexAlert #alertModalContent {
    padding: 1em 2em 4em 2em;
    text-align: justify;
    border-bottom: 1px solid #ccc;
}
#indexAlert .btn-default {
    border: 0;
    text-align: left;
    width: 242px;
    margin: 2% auto;
}
#indexAlert .btn-default:hover {
    border: 0;
    background: 0;
}
#indexAlert #cboxClose {
    width: 100%;
    text-align: center;
    position: relative !important;
    bottom: 0;
    display: block;
    color: #444;
    float: left;
}
#indexAlert #discheader img {
    float: none;
    margin: 0 1% 1%}
#indexAlert #discheader {
    background: #1d5380;
    color: #eee;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
.hideMobile {
    display: block;
}
.showMobile {
    display: none;
}
.footer-link-container {
    text-align: center;
}
.serviceCTA.showMobile {
    z-index: 100;
}
.iphone-landscape {
    -webkit-text-size-adjust: 70%}
.iphone-landscape .logo {
    background-size: 50% !important;
    height: 40px;
}
.iphone-landscape .banner {
    height: 40px;
}
.iphone-landscape .mobileElements {
    float: left;
    width: 100%}
.iphone-landscape .disclaimer p {
    font-size: 9px;
}
.iphone-landscape .info-title {
    font-size: 12px;
    padding: 0 0 0 2%}
.iphone-landscape .state-service-icon {
    width: 4%}
.iphone-landscape .info-subtitle {
    line-height: 16px;
    font-size: 16px;
}
.iphone-landscape .service-information-boxes .left-box a.serviceCTA.showMobile {
    background-size: 50% !important;
    background-position: center top;
    height: 40px;
}
.iphone-landscape .rmm.minimal .rmm-button {
    top: 1px;
}
.iphone-landscape .rmm.minimal .rmm-toggled-controls {
    height: 20px;
}
.iphone-landscape .rmm.minimal .rmm-toggled {
    min-height: 20px;
}
.iphone-landscape .rmm.minimal .rmm-toggled-title {
    top: 3px;
}
.iphone-landscape .rmm.minimal .rmm-button span {
    width: 20px;
    margin: 2px 0;
    height: 2px;
}
.iphone-landscape .checklist-page h1 {
    float: left;
}
.iphone-landscape .checklist-page .radiusBoxContainer.successMsj {
    width: 100%;
    float: left;
}
.billing-bottom-wrapper #agree-tc {
    display: none;
}
.n_landing .n_landing-disclaimer {
    margin-top: 90px;
}
@media(max-width:1440px) {
    .right-box .service-desc {
    width: 62%}
}@media(max-width:1030px) {
    .serviceCTA {
    position: relative;
}
.nav>li>a {
    padding: 10px 7px;
}
.current-step li, .billing-page .current-step li {
    padding-right: 0;
}
.billing-page input#card_number {
    width: 175px;
}
.billing-page .row .container-right {
    width: 36%}
}@media(max-width:770px) {
    .page-old-title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: #000;
}
}@media(max-width:992px) {
    .home-zip-code {
    float: left;
    clear: both;
}
.hideMobile {
    display: none;
}
.showMobile {
    display: block;
}
h1, .h1 {
    font-size: 30px;
}
.select-service-container.radiusBoxContainer {
    margin-bottom: 10%}
.right-box .service-desc {
    width: 95%}
.disclaimer p {
    margin: 0;
    padding: 5px;
}
.banner a {
    margin: 0;
}
.logo {
    background: url("images/mobileLogo.png") 0 0 no-repeat;
    display: block;
    float: left;
    width: 286px;
    height: 52px;
    margin: 4% !important;
}
.logo img {
    display: none;
}
.state-service-icon {
    margin: 2% 2% 10%}
.service-info-container img {
    display: none;
}
.service-information-boxes .btncontinue {
    margin: 2% 6%}
.service-information-boxes .left-box {
    margin-bottom: 10%}
.service-information-boxes .left-box a.serviceCTA.showMobile {
    margin: 5px 10px 15px;
}
.continueFlow.btncontinue {
    margin: 1% auto;
}
.banner-steps {
    display: none;
}
.info_boxes.left-box, .info_boxes.right-box {
    height: auto !important;
    min-height: 10px;
}
.billing-page ul {
    padding: 0 2%}
.billing-page form, .billing-page label {
    width: 100%}
.billing-page input#card_number {
    width: 200px;
}
.billing-page img.small-cards {
    display: block;
}
.billing-page input#zip {
    width: 300px;
}
.billing-page input {
    width: 44%;
    float: left;
}
.middle-input img {
    display: none;
}
.transaction-container {
    float: left;
    margin-bottom: 5%}
.billing-page h2 {
    width: 100%}
.billing-page .last-row img {
    margin: 2% auto;
    width: 25px;
}
.billing-page img.secureCards3D {
    margin: 2% -55% 2% 0;
}
.zipBoxContainer .zipBox {
    height: 180px;
}
.zipBoxContainer .zipBox p, .zipBoxMobile p {
    width: 100%}
.locate-dmv .zipBox div input, .zipBoxMobile input {
    width: 80%}
.locate-dmv .zipBox div button, .zipBoxMobile a {
    float: left;
    margin: 2% 0;
}
.mobileElements {
    display: block;
}
.desktopElements {
    display: none;
}
.personal-form .personal-frm tr {
    margin: 0 0 -1%;
    width: 100%}
.personal-form label, .personal-form td, .personal-form-coa label, .personal-form-coa td {
    display: block;
    clear: both;
}
#main_8g table {
    float: left;
    margin: 2% auto 0 !important;
}
.personal-frm tbody tr td #label_zip_1, .personal-frm tbody tr td #label_zip_2 {
    text-align: left;
}
#frm tr td .err_msg.err_on {
    margin: 2% -5px 0;
}
.personal-frm table {
    width: 100%;
    display: block;
    overflow: hidden;
}
.service-page .middle-content {
    float: left;
}
.personal-form-coa #main_13, .personal-form-coa #main_24, .personal-form-coa #main_28, .personal-form-coa #extra_4, .personal-form-coa #extra_13, .personal-form-coa #extra_21 {
    float: left;
    width: 270px;
}
.onlineInfoAccBtn {
    background: url("images/oiaBtn.png") 0 0 no-repeat;
    float: left;
    width: 290px;
    margin: 2% 0;
    padding: 0;
}
.locationCtaBtnContainer {
    float: left;
    margin: 0;
    padding: 0;
}
.locate-dmv .small-content {
    float: left;
}
.getRAbox .btndownload {
    width: 272px;
    margin: 10px auto;
    float: none;
}
a.btndownloadadvisor {
    background: url(images/downloadNow.png) 0 0 no-repeat;
    cursor: pointer;
}
.zipBoxMobile a {
    text-align: center;
    padding: 3% 0;
}
.zipBoxMobile a:hover {
    text-decoration: none;
}
.billing-page li {
    width: 100%}
.billing-page input {
    width: 100%}
.download-desc, .getRAbox {
    width: 100%;
    float: left;
    margin-bottom: 2%}
.download-desc {
    padding: 2% 1% 2% 0;
}
.download-desc p {
    text-align: justify;
}
.download-desc img {
    padding-bottom: 12% !important;
}
#security_code {
    width: 40%}
.visaSeals {
    float: left;
}
.lock, .price-container {
    display: none;
}
.billing-page .item-product {
    width: 60%}
.personal-form tbody tr#main_17 {
    margin: 0 10px !important;
}
.personal-form-coa .personal-frm tr {
    float: none;
}
.personal-form-coa #main_5, .personal-form-coa #main_15, .personal-form-coa #main_16, .personal-form-coa #main_18, .personal-form-coa #main_20 {
    height: 90px;
    float: left;
}
.personal-form-coa #main_29 {
    width: 100% !important;
    display: block;
}
.personal-form-coa #main_26, .personal-form-coa #main_27, .personal-form-coa #extra_5, .personal-form-coa #extra_15 {
    float: left;
    height: 90px;
}
.personal-form-coa .personal-frm, .personal-form-coa {
    width: 100% !important;
}
.personal-form-coa #main_29 .personal-frm, .personal-form-coa #extra_16, .personal-form-coa #extra_17 {
    float: left;
}
.personal-form-coa #main_29 .personal-frm {
    width: 53% !important;
}
.personal-form-coa #extra_16a, .personal-form-coa #extra_17a, .personal-form-coa #extra_23b, .personal-form-coa #extra_25b {
    width: 270px !important;
}
.billing-page .billing-bottom p.billing-disclaimer, .billing-page .row .container-left, .billing-page .items-cart ul.billing-form-left, .billing-page #label-state-1 {
    width: 100%}
.billing-page .items-cart ul.billing-form-right {
    width: 100%;
    float: left;
}
.billing-page .transaction-container p {
    padding: 0 5%;
    font-size: 14px;
}
.finish-step {
    margin: 5% 0;
}
.billing-page .row .container-right {
    float: none;
    margin: 0 auto;
}
img.product {
    margin: 2% 5%}
.billing-page .items-cart #billing-error {
    width: 100%}
.footer-section {
    float: left;
    height: auto !important;
    position: relative;
    width: 100%}
.footer-section .footer-options {
    text-align: center;
    width: 100% !important;
}
.footer-link-container {
    width: 90%;
    margin: 0 auto;
}
.disclaimer p {
    font-size: 12px;
    padding: 0;
}
.banner {
    height: 80px;
}
.service-information-boxes {
    padding: 0 2%}
.info-title {
    font-size: 16px;
}
.info-subtitle {
    line-height: 22px;
    font-size: 20px;
}
span.stateName {
    font-size: 20px;
}
.state-service-icon {
    margin: 0 2%;
    width: 10%}
.service-information-boxes .left-box a.serviceCTA.showMobile {
    margin: 0 10px 5px;
}
.service-information-boxes .left-box {
    margin-bottom: 2%}
.info_boxes.left-box, .info_boxes.right-box {
    padding: 0;
}
.service-information-boxes .left-box a.serviceCTA.showMobile {
    background: url("images/GetStarted_btn2.png") center center no-repeat;
    background-size: 80% !important;
    padding: 0;
    margin: 0 auto;
    display: block;
}
.personal-frm #main_15, .personal-frm #main_16, .personal-frm #main_18 {
    display: none;
}
.personal-frm.radiusBoxContainer {
    margin: 0 0 5% !important;
}
h1, .h1 {
    font-size: 22px;
    font-weight: bold;
}
h2, .h2 {
    font-size: 20px;
    font-weight: bold;
}
h3, .h3 {
    font-size: 22px;
}
.select-service-container.radiusBoxContainer {
    margin-bottom: 5%;
    max-width: 580px;
}
.select-service-container .right-container {
    width: 100%}
.select-service-container select#state {
    margin: 2% auto;
}
.select-service-container .btncontinue {
    margin: 5% auto;
}
.select-service-container .securityLogos {
    margin: 0 auto;
    float: none;
    display: block;
}
.servicesInfo-content div.row {
    margin: 0;
}
.servicesInfo-content div a.toServiceLink {
    margin: 0 0 20px 0;
}
.personal-frm table tr td#main_4d, .personal-frm table tr td#main_5a, .personal-frm table tr td#main_6d, .personal-frm table tr td#main_7a, .personal-frm table tr td#main_8d, .personal-frm table tr td#main_9a, .personal-frm table tr td#main_10d, .personal-frm table tr td#main_11a, .personal-frm table tr td#main_12e, .personal-frm table tr td#main_13a {
    display: none;
}
.billing-page .row.last-row .container-left {
    width: 45%}
.billing-page .row.last-row .container-right {
    width: 55%;
    float: right;
}
.billing-page .row.last-row .container-right img.secureCards3D {
    margin: 0;
}
.moneyBackImg {
    float: none;
    padding: 0 0 30px 0;
    display: block;
    margin: 0 auto;
}
.personal-form #frm table #main_1, .personal-form #frm table #main_2, .personal-form #frm table #main_3, .personal-form .personal-frm #main_14 #main_14b, .personal-form .personal-frm #main_14 #main_14c, .personal-form .personal-frm #main_14 #main_14d, .personal-form .personal-frm #main_14 #main_14e, .personal-form .personal-frm #main_14 #main_14f, .personal-form .personal-frm #main_14 #main_14g {
    display: none;
}
.wrapper.landing-state-image .header .disclaimer.pages {
    display: none;
}
.n_landing .n_landing-disclaimer {
    margin-top: 0;
}
}.billing-page .transaction-container.new-billing-page .full-trans-wrapper {
    float: left;
    background: #d9e4ed;
    border-radius: 10px;
    border: 1px solid #acacac;
    margin-bottom: 2%}
.billing-page .transaction-container.new-billing-page .col-md-8, .billing-page .transaction-container.new-billing-page .col-md-4 {
    padding: 0;
}
.billing-page .transaction-container.new-billing-page .col-md-8 {
    border-right: 1px solid #acacac;
}
.billing-page .new-billing-page #items-selected {
    border-radius: 10px 0 0 0;
    border: 0;
}
.billing-page .transaction-container.new-billing-page p.price-container, .billing-page .new-billing-page .road-advisors-price {
    float: right;
}
.billing-page .new-billing-page .summary-details {
    border-radius: 0 10px 0 0;
}
.billing-page .new-billing-page input, .billing-page .new-billing-page select {
    clear: both;
}
.billing-page .new-billing-page input {
    width: 250px;
}
.billing-page .new-billing-page .items-cart ul.billing-form-left {
    clear: none;
    width: 100%}
.billing-page .new-billing-page .items-cart ul.billing-form-left label {
    width: auto;
}
.billing-page .new-billing-page li {
    width: 300px;
    clear: none;
}
.billing-page .new-billing-page.v2 li {
    height: 60px;
}
.billing-page .new-billing-page.v2 li.agreetc {
    height: 20px;
}
.billing-page .new-billing-page li.no-height {
    height: auto;
}
.billing-page .new-billing-page .middle-input {
    clear: both;
    width: 100%}
.billing-page .new-billing-page .middle-input input#card_number {
    width: 340px;
}
.billing-page .new-billing-page input#zip {
    width: 120px;
}
.billing-page .new-billing-page #state {
    width: 250px;
}
.billing-page .new-billing-page .billing-form-left {
    padding-left: 20px;
}
.billing-page .new-billing-page .last-row .container-left {
    padding: 3%;
    float: left;
}
.billing-page .new-billing-page #total-price {
    padding: 1% 5%;
    text-align: left;
    margin: 0;
    border-top: 1px solid #49627b;
    border-bottom: 1px solid #49627b;
    font-size: 16px;
}
.billing-page .new-billing-page #expDate label {
    width: 100%}
.billing-page .new-billing-page #expDate select {
    clear: none;
    float: left;
}
.billing-page .new-billing-page #security_code {
    width: 110px;
}
.billing-page .new-billing-page #subInfoWrapper {
    width: 100%;
    float: left;
}
.billing-page .new-billing-page .items-cart img {
    padding: 0;
}
.billing-page .new-billing-page #submitBilling, .billing-page .new-billing-page #billingSubmit {
    color: #fff;
    font-size: 22pt;
    width: 300px;
}
.billing-page .new-billing-page .logosContainer {
    margin-top: 2%;
    float: left;
}
.billing-page .new-billing-page .items-cart #billing-error {
    width: 100%}
.billing-page .new-billing-page .dSign {
    float: right;
}
.billing-page .billing-content.new-billing-content {
    float: none;
    max-width: 1110px;
    margin: 0 auto;
}
.billing-page .new-billing-page .items-cart label.error {
    font-size: 14px;
    width: auto !important;
    text-transform: none;
}
.billing-page .new-billing-page .items-cart input.error, .billing-page .new-billing-page .items-cart select.error {
    border: 1px solid red;
}
.select-service-container .left-container.comboBoxSelection {
    float: none;
}
.select-service-container .left-container.comboBoxSelection #main-service {
    margin: 0 auto;
    display: block;
    width: 250px;
    font-size: 18px;
}
@media(max-width:992px) {
    .billing-page .new-billing-page #items-selected {
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}
.billing-page .new-billing-page .summary-details {
    border-radius: 0;
}
.billing-page .new-billing-page #total-price {
    border-bottom: 0;
}
.billing-page .new-billing-page .items-cart img {
    display: block;
    margin: 0;
}
.billing-page .transaction-container.new-billing-page p.price-container, .billing-page .new-billing-page .road-advisors-price {
    display: block;
    z-index: 3;
    font-size: 14px;
}
.billing-page .new-billing-page.v2 li.agreetc {
    height: 40px;
}
}@media(max-width:992px) and (orientation:portrait) {
    .billing-page .new-billing-page #submitBilling, .billing-page .new-billing-page #billingSubmit, .billing-page .new-billing-page .middle-input input#card_number {
    width: 270px;
}
.billing-page .new-billing-page .full-trans-wrapper {
    width: 100%}
.billing-page .new-billing-page.v2 li {
    height: auto;
}
}@media(max-width:992px) and (orientation:landscape) {
    .state-service-icon {
    width: 5%}
.download-desc img {
    padding-bottom: 0 !important;
}
.zipBoxMobile input, .zipBoxMobile a {
    float: left;
    clear: both;
}
.zipBoxMobile a {
    padding: 1% 0;
}
.zipBoxMobile {
    padding: 2% 8%}
.iphone-landscape .zipBoxMobile a {
    height: 25px;
    padding: 2% 0;
}
.billing-page .new-billing-page.v2 li {
    height: auto;
}
}@media(max-width:325px) {
    .hideMobile {
    display: none;
}
.showMobile {
    display: block;
}
.service-information-boxes .left-box a.serviceCTA.showMobile {
    background: url("images/GetStarted_btn2.png") center center no-repeat;
    background-size: 80% !important;
    padding: 0;
    margin: 0 auto;
    display: block;
}
.billing-page .new-billing-page #submitBilling, .billing-page .new-billing-page #billingSubmit, .billing-page .new-billing-page .middle-input input#card_number {
    width: 250px;
}
.billing-page .new-billing-page.v2 li {
    height: auto;
}
.billing-page .new-billing-page .items-cart ul li.small-input #security_code-error {
    float: left;
    clear: left;
}
.billing-page .new-billing-page .items-cart #billing-error {
    width: 85%}
.billing-page .new-billing-page li {
    width: 280px;
    clear: none;
}
}@media(max-width:567px) {
    .billing-page .row.last-row .container-left {
    width: 100%}
.billing-page .row.last-row .container-right {
    width: 100%;
    float: none;
}
.billing-page .row.last-row .container-right img.secureCards3D {
    margin: 0;
}
.billing-page .row.last-row .container-right .logosContainer {
    width: 100%;
    margin: 0 auto;
    float: left;
}
.billing-page .row.last-row .container-right .logosContainer img {
    float: none;
    margin: 0 auto;
}
.billing-page .new-billing-page.v2 li {
    height: auto;
}
}@media(max-width:768px) and (orientation:portrait) {
    .zipBoxMobile input, .zipBoxMobile a {
    float: left;
    clear: both;
}
.zipBoxMobile a {
    padding: 1% 0;
}
.zipBoxMobile {
    padding: 2% 8%}
.billing-page .new-billing-page.v2 li {
    height: auto;
}
}.rmm.minimal, .rmm .rmm-toggled ul, .rmm-toggled-title {
    background: #274160;
    color: #fff;
}
.rmm.minimal .rmm-button span {
    background: #fff !important;
}
.rmm .rmm-toggled ul li {
    width: 100%}
.rmm .rmm-toggled ul li:hover, .rmm.minimal .rmm-toggled ul li a:hover {
    background: #428bca !important;
}
.rmm.minimal .rmm-toggled ul li a {
    color: #fff !important;
    text-transform: capitalize;
}
#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#ouibounce-modal #cModal {
    background: 0;
    position: absolute;
    width: 90%;
    z-index: 12;
    margin: 5%}
#ouibounce-modal #cModal div, #ouibounce-modal #cModal form {
    float: left;
}
#ouibounce-modal #cModal .close-wrapper {
    background: #fff;
    border-radius: 20px;
    width: 30px;
    border: 2px solid #000;
    cursor: pointer;
    float: right;
}
#ouibounce-modal #cModal .close-wrapper .modalClose {
    color: #000;
    padding: 2px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#ouibounce-modal .insideOffer {
    background: #0d2443;
    border: 5px dotted #fff;
    margin: 0 10px 2%;
    padding: 20px;
    width: 100%}
#ouibounce-modal .insideOffer .lines {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    clear: both;
    margin: 1% auto;
}
#ouibounce-modal .insideOffer .lines.attention-line {
    text-decoration: underline;
    font-size: 25pt;
}
#ouibounce-modal .insideOffer .lines.small-line {
    font-size: 10px;
}
#ouibounce-modal .insideOffer .lines.mid-line {
    font-size: 22pt;
}
#ouibounce-modal .insideOffer .lines.big-line {
    font-size: 40pt;
    font-weight: bold;
    text-shadow: 3px 2px grey;
}
#ouibounce-modal .insideOffer .btn-getCoupon {
    background: #b32e25;
    display: block;
    width: 20%;
    margin: 0;
    border: 1px solid #974814;
    min-width: 200px;
}
#ouibounce-modal .insideOffer .btn-getCoupon .couponSubmit {
    font-size: 35pt;
    display: block;
    font-weight: bold;
    text-shadow: 2px 3px 3px darkred;
    background: 0;
    border: 0;
    min-width: 200px;
}
#ouibounce-modal #cModal #couponForm {
    width: 100%;
    margin: 2%}
.showCouponModal {
    background: #000;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.coupons_inputs {
    font-size: 35pt;
    width: 100%}
.coupon_form_list {
    float: none;
    margin: 1% auto 3%;
    padding: 0;
    width: 90%}
.coupon_form_list li {
    width: 75%}
.coupons_labels {
    display: none;
}
#mail_coupon-error {
    color: #b32e25;
}
.button_emblem {
    float: none !important;
    text-align: center;
}
.personal-frm.border-left .row.form-group .col-sm-12 .col-xs-4.col-md-6 {
    float: none;
    margin: 0 auto;
}
@media(max-width:1190px) {
    .coupon_form_list li, .coupons_inputs, #ouibounce-modal .insideOffer .btn-getCoupon, #ouibounce-modal .insideOffer .btn-getCoupon .couponSubmit {
    width: 100%}
}@media(max-width:1160px) {
    .coupons_inputs {
    font-size: 20pt;
}
}.redeem_form_wrapper {
    margin-bottom: 6%}
.redeem_form_wrapper, .redeem_form_wrapper #couponRedeemForm {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.redeem_form_wrapper div {
    float: none;
    margin: 0 auto;
}
.redeem_form_wrapper p {
    padding: 20px;
}
.redeem_form_wrapper #couponRedeemForm {
    background: #d9e4ed;
    float: left;
    padding: 5%;
    margin: 1% 0 10%}
.redeem_form_wrapper .redeem_notification {
    color: #b50b07;
}
.redeem_form_wrapper .redeem_inputs_wrapper li {
    clear: both;
}
.redeem_form_wrapper .redeem_inputs_wrapper label {
    width: 100%}
.redeem_form_wrapper .couponRedeemSubmit {
    color: #fff;
    font-size: 20pt;
    margin: 2% 0;
}
.redeem_form_wrapper #mail_coupon_redeem-error {
    color: red;
}
.redeem_form_wrapper #gift-card-div {
    vertical-align: top;
    margin-top: 30px;
    display: none;
}
.redeem_form_wrapper #gift-card-div h3 {
    margin: 0;
    padding: 0;
    width: 100%}
.redeem_form_wrapper #gift-card-div p {
    padding: 0;
}
.redeem_form_wrapper #gasErrorMsj {
    display: none;
    padding: 0;
    padding-top: 20px;
}
.n_landing .col-md-12 {
    margin-bottom: 3%}
.n_landing .col-md-4 {
    padding-left: 0;
    margin-top: 2%}
.n_landing h1 {
    text-align: center;
    display: block;
}
.n_landing h2 {
    color: #2075ae;
}
.n_landing p {
    font-size: 14px;
}
.n_landing .cta_green {
    color: #fff;
    display: block;
    float: left;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 1px #666;
    border: 1px solid #008a00;
    font-size: 22px;
    text-align: center;
    width: 100%;
    background: #b4ddb4;
    background: -moz-linear-gradient(top, #b4ddb4 0, #83c783 31%, #52b152 54%, #008a00 89%, #008a00 100%, #005700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b4ddb4), color-stop(31%, #83c783), color-stop(54%, #52b152), color-stop(89%, #008a00), color-stop(100%, #008a00), color-stop(100%, #005700));
    background: -webkit-linear-gradient(top, #b4ddb4 0, #83c783 31%, #52b152 54%, #008a00 89%, #008a00 100%, #005700 100%);
    background: -o-linear-gradient(top, #b4ddb4 0, #83c783 31%, #52b152 54%, #008a00 89%, #008a00 100%, #005700 100%);
    background: -ms-linear-gradient(top, #b4ddb4 0, #83c783 31%, #52b152 54%, #008a00 89%, #008a00 100%, #005700 100%);
    background: linear-gradient(to bottom, #b4ddb4 0, #83c783 31%, #52b152 54%, #008a00 89%, #008a00 100%, #005700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#005700', GradientType=0);
    -webkit-box-shadow: 0 9px 32px -5px rgba(156, 156, 156, 1);
    -moz-box-shadow: 0 9px 32px -5px rgba(156, 156, 156, 1);
    box-shadow: 0 9px 32px -5px rgba(156, 156, 156, 1);
    position: relative;
    z-index: 10;
}
.n_landing .cta_green:hover {
    text-decoration: none;
}
.n_landing img {
    height: 180px;
    margin: 10% auto;
    float: none;
    display: block;
    max-width: 280px;
}
.personal-form .personal-frm {
    width: 1000px;
    min-width: 1000px;
    margin: 3% 0 1%;
    padding: 2% 5%}
.personal-frm .personal-frm ul, .personal-frm ul li, .personal-frm ul li label, .personal-frm ul li input, .personal-frm ul li select, .button_emblem {
    float: left;
    width: auto;
}
.personal-frm ul {
    margin: 15px 0 0;
    padding: 0;
    float: left;
}
.personal-frm ul li {
    margin-right: 30px;
    height: 42px;
}
.personal-frm ul li label {
    text-align: left;
    width: 130px;
}
.personal-frm ul li label.err_msg, .personal-frm ul li label.error {
    display: none;
    width: 160px;
    font-size: 12px;
    clear: both;
    color: red;
    margin-left: 130px;
}
.personal-frm ul li input {
    width: 250px;
}
.personal-frm ul li input#zip_1 {
    width: 122px;
}
.personal-frm ul li label#zip_1-error {
    margin-left: 220px;
}
.personal-frm ul li label#label_zip_1 {
    width: 35px;
}
.personal-frm ul li span {
    float: left;
    padding: 0 2px;
}
.personal-form select#gender {
    margin-right: 50px;
    width: 200px;
}
.personal-form select#state_1 {
    margin-right: 40px;
}
.personal-form select#_yy_date_of_birth {
    margin-right: 45px;
}
.personal-form ul li.page_disclaimer_container {
    height: auto;
}
@media(max-width:992px) {
    h1 {
    clear: both;
}
.personal-form .personal-frm {
    float: left;
    display: block;
    width: 100%;
    min-width: 100%}
.personal-frm ul {
    margin: 0;
}
.personal-frm ul li {
    clear: both;
    width: 100%;
    height: 45px;
    float: none;
}
.personal-frm ul li label, .personal-frm ul li label#label_zip_1 {
    width: 100%}
.personal-form ul li #label_zip_1 {
    clear: none;
}
.personal-frm.radiusBoxContainer {
    margin: 0 0 5% !important;
}
.personal-form ul li.page_disclaimer_container {
    margin-top: 2%}
.personal-frm ul li label.err_msg, .personal-frm ul li label.error {
    margin-left: 0;
}
.button_emblem {
    margin-top: 15px;
}
.personal-frm ul li label#zip_1-error {
    margin-left: 0;
}
.personal-form select#_yy_date_of_birth {
    margin-right: 10px;
}
}label.rwd-email-lbl span {
    color: red;
    font-size: .8em;
}
form .form-redeem .row {
    padding: 5px 0;
}
input.rwd-email-input {
    height: 35px;
    max-width: 95%}
.rewards {
    overflow: hidden;
}
.rewards-output hr {
    border: 2px double #eee;
}
.rwd_title {
    margin: 30px 0;
}
.rewards-output .rwd_title {
    color: red;
}
ol.rwd-output-steps li {
    list-style-type: decimal;
    float: none;
    font-size: 18px;
}
p.rwd-bottom-txt {
    font-size: 14px;
}
.member-number p {
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}
.rwd-output-img {
    height: 110px;
    text-align: right;
}
.rwd-output-img img {
    max-height: 100%;
    float: none;
}
.row.member-info {
    margin: 20px 0;
}
.member-info-img img {
    max-height: 100%;
    float: none;
}
.member-info-img {
    text-align: right;
}
.form-redeem label#email-error {
    display: block;
    color: #ff0017;
}
.row.nomargin.rwd-email {
    height: 60px;
}
#rewards-output {
    display: none;
}
#rwdEmailError {
    display: none;
}
.form-redeem {
    margin-bottom: 20px;
}
p#rwdEmailError {
    margin-top: 10px;
    color: red;
}
}@media(max-width:325px) {
    .personal-form select#_yy_date_of_birth {
    margin-right: 0;
}
}@media(max-width:1024px) and (orientation:landscape) {
    .select-service-container .right-container {
    float: left;
}
.select-service-container .left-container.comboBoxSelection #main-service {
    margin: 0;
}
}.err_msg {
    color: white;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.hint_msg {
    color: green;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.err_on {
    color: red;
}
.sel_placeholder, .placeholder {
    color: #999;
}
.imgmain, .imgform {
    display: none;
}
.errorlabel {
    color: red;
}
.state_zip_wrapper {
    position: relative;
}
#state_1-error {
    position: absolute;
    top: 30px;
    left: 0;
}
.page_disclaimer_container.outter_disclaimer p {
    float: left;
}
form label.error {
    padding: 1px 5px 1px 0;
    color: red;
    font-size: 10px;
    display: block;
}
.disclaimer p {
    font-size: 11px;
}
.nav-tabs>li>a {
    font-size: 14px;
}
.page-old-title, h1, .h1 {
    font-size: 29px;
}
h3, .h3 {
    font-size: 19px;
}
.container-specific-services>span {
    font-size: 13px;
    line-height: 1.7;
}
.select-service-container select#state {
    margin: 2% 0 35px;
}
#state {
    font-size: 14px;
}
p {
    font-size: 14px;
}
.disabled {
    color: #bdbdbd;
    background: rgba(255, 255, 255, .15);
}
a.disabled {
    color: #b4b4b4;
    pointer-events: none;
}
.btn2 {
    font-size: 20pt;
    height: auto;
}
.help-block {
    font-size: 12px;
    color: #a94442;
}
.border-left {
    border-left: 1px solid lightgray;
}
.col-md-12, .col-xs-12 {
    padding: 0 15px;
}
.title-dld h2 {
    color: #000 !important;
}
.dld-block {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 0 .5%;
    cursor: pointer;
}
.dld-block .title-dld h2 {
    font-size: 20px;
    margin: 10px 0;
}
.title-dld span {
    color: #2d8eb8;
    font-weight: bold;
}
.btn-dld {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    background-color: #2d8eb8;
    border-radius: 10px;
    text-transform: uppercase;
}
div.last_step {
    padding-bottom: 20px;
}
.title-dld h2 {
    font-size: 1.4em !important;
    height: 60px;
}
.img-dld {
    background: url(images/sprite_checklist_licenses.png) no-repeat;
    width: 100px;
    height: 100px;
    background-position-x: -200px;
    background-size: cover;
    margin: 5px auto;
}
.download_blocks {
    margin: 0 auto;
    overflow: hidden;
}
.img-dld.application-dld {
    background-position: -100px;
}
.img-dld.tips-dld {
    background-position: 0 0;
}
.img-dld.audio-dld {
    background-position: -300px;
}
.download_blocks {
    margin: 0 0 30px;
    overflow: hidden;
    border-radius: 6px;
    padding: 20px 0;
    width: 100%}
.dld-block a {
    text-decoration: none !important;
}
.btn-dld:hover {
    background-color: #1c5c77;
}
.privacy-policy li {
    float: none;
    list-style: inherit;
}
.trustee-logo {
    width: 30%;
    margin: 0 auto;
}
.billing-form-left .trustee-logo {
    margin-left: 12%;
    width: auto;
}
@media(max-width:1200px) {
    .dld-block .title-dld h2 {
    font-size: 1.1em !important;
}
}@media(max-width:991px) {
    .btn-dld {
    font-size: .8em;
}
}@media(max-width:768px) {
    .title-dld h2 {
    height: auto;
}
.dld-block {
    float: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}
.dld-top {
    margin-top: 0;
}
.dld-block .title-dld h2 {
    font-size: 1.5em !important;
    line-height: 1em !important;
}
.btn-dld {
    font-size: 1em;
}
}@media(max-width:992px) {
    .billing-page .new-billing-page input, .billing-page .new-billing-page #state {
    max-width: 226px;
}
}

@media (max-width: 767px){
	.disclaimer:first-child {
		display: none!important;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.disclaimer:first-child {
		display: none!important;
	}
}