body {
    background-color: #f1f3f5;
}
p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}
.imgmain, .imgform {
    display: none;
    width: auto;
}
.text-center {
    text-align: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
label {
    padding: 0;
    margin: 0;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 10px;
    font-weight: 600;
    padding-left: 7px;
}
hr {
    margin: 0 0 10px;
    border-color: #ced3d8 -moz-use-text-color -moz-use-text-color;
}
span>input[type="radio"] {
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
span>input[type="radio"]+label {
    position: relative;
    background: transparent url("images/no-check.png") no-repeat scroll left center;
    clear: none;
    padding: 8px 10px 5px 25px;
    cursor: pointer;
}
input[type="radio"]:checked+label {
    background-image: url("images/checked.png");
}
p.principal {
    font-size: 14px;
    line-height: 24px;
}
p.select {
    margin: 0;
    padding-bottom: 4px;
    font-weight: bold;
}
body a:hover {
    color: #3498db;
}
body .wrapper.container-fluid.reset {
    padding: 0;
}
em {
    font-size: 10px;
    color: #b1b5bb;
}
.step1 select, .step2 select, .step2 input, .step3 select, .step3 input {
    padding: 0;
    height: 25px;
    padding: 3px 5px;
}
.row {
    margin: 0;
    width: 100%;
    box-sizing: content-box;
}
.row::before {
    display: none;
}
section.step3 {
    margin-right: -15px;
    margin-left: 0;
    width: 66%}
    
#site-top-disclaimer {
    background-color: #f1f3f5;
    font-size: 13px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
	color:#999;
}
header {
    background-color: #fcfcfc;
    box-shadow: 0 2px 3px #b9bbbc;
}
header div.navbar-default {
    margin-bottom: 0;
}
.container>.navbar-header {
    margin-right: 0;
    margin-left: 15px;
}
header .navbar-default .navbar-brand {
    padding: 5px;
    width: 70%;
}
/*header .navbar-default .navbar-brand img {
    width: 100%;
}*/
header .navbar-default .navbar-nav li {
    text-transform: uppercase;
    padding: 10px 0;
}
header .navbar-default .navbar-nav li a {
    color: #3d3d3d;
    font-size: 12px;
}
header .navbar-default .navbar-nav li a:hover {
    text-decoration: none;
}
header div.navbar-collapse {
    float: right;
    padding: 0;
}
.main {
    color: #2c3e50;
}
.main .container h1 {
    font-size: 18px;
    color: #497698;
    text-transform: uppercase;
    margin-bottom: 20px;
}
div.title small, div.title h3 {
    margin: 10px 5px;
}
div.title small {
    color: #afb3b7;
    font-size: 8px;
    float: right;
}
div.row {
    margin-bottom: 20px;
}
div.step1, section.step2, section.step3 {
    background: #fff;
    box-sizing: content-box;
}
div.step1, section.step2, section.step3 {
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-bottom: 20px;
}
div.title h3 {
    color: #497698;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
}
section.step2 h3, section.step3 h3 {
    padding-left: 10px;
}
div.border-top, section.border-top {
    border-top: 5px solid #328BCD;
}
.border-left {
    border-left: 1px solid lightgray;
}
div.gap {
    width: 1%;
    padding: 1px;
}
form label.error {
    position: absolute;
    padding: 1px 5px;
    color: red;
    font-size: 10px;
}
#billingForm label#billing-error.error {
    position: relative;
}

#billingForm img.pay-badges{
    width: 50%;
}

.form-control.error {
    color: #555;
}
.form {
    margin: 0;
    padding: 0 4px;
    height: 60px;
}
.clearSpace {
    margin: 0;
    padding: 0 4px;
}
div.col-md-3 {
    width: 20%}
div.col-md-3, div.col-xs-1, div.col-sm-4 {
    display: table-cell;
    float: none;
}
section.boton {
    margin-top: 20px;
}
section.boton p {
    text-align: center;
    color: #b4b4b4;
    font-size: 10px;
}
section.boton a {
    color: #b4b4b4;
    text-decoration: underline;
}
section.boton img {
    display: block;
    width: 57%;
    margin: 0 auto;
}
section.boton img.pay-badges {
    width: 60%;
}
section.boton img#frmLoadingGif, section.boton img#billingLoadingGif, section.boton img#submitLoad {
    display: none;
    width: auto;
}
input.btn {
    display: block;
    height: 44px;
    width: 60%;
    margin: 0 auto;
    border-radius: 0;
    background-color: #ff8929;
    border-color: #d58512;
    color: #fff;
    margin-bottom: 10px;
}
input.btn:hover {
    background-color: #ff8929;
    border-color: #d58512;
}
div.col-md-3, div.col-xs-1 {
    display: table-cell;
    float: none;
}
section.step2 {
    display: table-cell;
    width: 60%}
.date-left {
    margin: 0;
    padding-right: 2px;
    padding-left: 0;
}
.date-right {
    margin: 0;
    padding-right: 2px;
    padding-left: 0;
}
.date-day {
    margin: 0;
    padding-right: 10px;
    padding-left: 8px;
}
section.summary {
    background: #f8f9fa;
    border-radius: 4px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid groove none groove;
    box-sizing: content-box;
    margin-left: 25px;
    padding: 0 20px;
}
span.secure {
    color: #7ab02c;
    font-weight: 600;
}
span.secure::after {
    content: url(images/lock.png);
}
span.help::after {
    content: url(images/help.png);
    padding-left: 5px;
    cursor: pointer;
}
img.credit-card {
    padding-top: 25px;
}
section.disabled p, h3, input, select {
    color: #bdbdbd;
}
div.last_step {
    background: #fff;
}
div.last_step img {
    margin-top: 0;
    margin-bottom: 10px;
}
div.last_step h2 {
    display: inline-block;
    margin: 25px 0 10px 5px;
}
.btn-warning:hover {
    background-color: #ff8929;
    border-color: #d58512;
}
.btn-warning:active:hover {
    background-color: #ff8929;
    border-color: #d58512;
}
a.download {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #a87936;
    font-size: 20px;
    color: #283645;
    font-weight: bold;
    text-transform: uppercase;
    background: #eda135;
}
.imgmain, .imgform {
    display: none;
}
p.completed {
    padding-left: 0;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}
p.thank-you {
    padding-left: 0;
    font-size: 13px;
    text-align: center;
}
div.thankyou-loader h2, div.thankyou-loader p {
    text-align: center;
}
div.thankyou-loader img {
    padding-left: 50%}
p.click {
    padding-left: 0;
    font-size: 13px;
    margin: 30px 0 20px 0;
    text-align: center;
}
.download h3 {
    text-align: center;
}
p.bottom-disclaimer {
    margin-bottom: 20px;
}
p strong.price {
    padding-left: 8px;
}
input#agree {
    height: auto;
    padding: 0;
    margin: 10px 0;
}
label#agree {
    margin: 0;
}
.info-box {
    border: 1px solid #dcdcdc;
    border-top: 0;
    border-radius: 5px;
}
.info-box p {
    padding: 1%;
    margin: 0;
}
.info-box .boxtitle {
    background: #89bdd3;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    padding: 1% 2%;
    margin: 0;
}
.info-box img {
    float: left;
    margin: 3%;
    padding: 0 1%}
.top-content em {
    font-size: 1em;
    color: #000;
}
div.roadAdvisorsSealsBox {
    background: #fff;
}
.roadAdvisorsSealsBox div {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    margin: 10px 0;
}
.roadAdvisorsSealsBox div:nth-child(odd) {
    background: #e0eef5;
}
.roadAdvisorsSealsBox div p {
    float: left;
    padding: 5%;
    margin: 0;
}
.roadAdvisorsSealsBox img {
    padding-left: 15%}
span.checkMarks {
    background: url(images/gcheckMark.png) center center no-repeat;
    display: block;
    float: right;
    height: 20px;
    width: 30px;
    padding: 8%;
    margin-right: 10%}
div.important-notice {
    background: rgba(189, 195, 199, .5);
    border: 1px solid #95a5a6;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.contactImportant {
    color: red;
}
.zipBoxContainer {
    padding-left: 0;
}
.navbar-default {
    background-color: #fff !important;
}
#footer {
    background-color: inherit;
    padding: 25px 0;
}
#footer ul {
    margin-bottom: 10px;
}
#footer ul li {
    padding: 0 20px;
    text-transform: uppercase;
    border-right: 1px solid #5987ab;
}
#footer ul li:last-child {
    border: 0;
}
#footer ul li a {
    color: #3e3e3e;
    font-size: 12px;
    font-weight: bold;
}
#footer ul li a:hover {
    text-decoration: none;
}
#footer p {
    text-align: center;
    font-size: 12px;
    color: #3e3e3e;
    padding: 0;
    margin: 0;
}
section.disabled p, div.step1 p {
    color: #bdbdbd;
}
.disabled div.title h3 {
    color: #bdbdbd;
}
section.boton input.disabled, section.boton input.disabled:hover {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}
.not-active {
    pointer-events: none;
    cursor: default;
}
div#form span.disabled {
    color: #bdbdbd;
}
#ouibounce-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#ouibounce-modal #cModal {
    background: 0;
    position: absolute;
    width: 90%;
    z-index: 12;
    margin: 5%}
#ouibounce-modal #cModal div, #ouibounce-modal #cModal form {
    float: left;
}
#ouibounce-modal #cModal .close-wrapper {
    background: #fff;
    border-radius: 20px;
    width: 30px;
    border: 2px solid #000;
    cursor: pointer;
    float: right;
}
#ouibounce-modal #cModal .close-wrapper .modalClose {
    color: #000;
    padding: 2px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#ouibounce-modal .insideOffer {
    background: #0d2443;
    border: 5px dotted #fff;
    margin: 0 10px 2%;
    padding: 20px;
    width: 100%}
#ouibounce-modal .insideOffer .lines {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    clear: both;
    margin: 1% auto;
}
#ouibounce-modal .insideOffer .lines.attention-line {
    text-decoration: underline;
    font-size: 25pt;
}
#ouibounce-modal .insideOffer .lines.small-line {
    font-size: 10px;
}
#ouibounce-modal .insideOffer .lines.mid-line {
    font-size: 22pt;
}
#ouibounce-modal .insideOffer .lines.big-line {
    font-size: 40pt;
    font-weight: bold;
    text-shadow: 3px 2px grey;
}
#ouibounce-modal .insideOffer .btn-getCoupon {
    background: #b32e25;
    display: block;
    width: 20%;
    margin: 0;
    border: 1px solid #974814;
    min-width: 200px;
}
#ouibounce-modal .insideOffer .btn-getCoupon .couponSubmit {
    font-size: 35pt;
    display: block;
    font-weight: bold;
    text-shadow: 2px 3px 3px darkred;
    background: 0;
    border: 0;
    min-width: 200px;
}
#ouibounce-modal #cModal #couponForm {
    width: 100%;
    margin: 2%}
.showCouponModal {
    background: #000;
    opacity: .7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.coupons_inputs {
    font-size: 35pt;
    width: 100%}
.coupon_form_list {
    float: none;
    margin: 1% auto 3%;
    padding: 0;
    width: 90%}
.coupon_form_list li {
    width: 75%}
.coupons_labels {
    display: none;
}
#mail_coupon-error {
    color: #b32e25;
}
.main .redeem_coupon_page h1 {
    font-size: 24px;
}
.redeem_form_wrapper {
    margin-bottom: 6%}
.redeem_form_wrapper #couponRedeemForm {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.redeem_form_wrapper div {
    float: none;
    margin: 0 auto;
}
.redeem_form_wrapper p {
    padding: 20px;
}
.redeem_form_wrapper #couponRedeemForm {
    background: #fff;
    float: left;
    padding: 5%;
    margin: 1% 0 10%}
.redeem_form_wrapper .redeem_notification {
    color: #b50b07;
}
.redeem_form_wrapper .redeem_inputs_wrapper {
    list-style-type: none;
    padding: 0;
}
.redeem_form_wrapper .redeem_inputs_wrapper li {
    clear: both;
}
.redeem_form_wrapper .redeem_inputs_wrapper label {
    width: 100%}
.redeem_form_wrapper .couponRedeemSubmit {
    background-color: #bbd149;
    border: 1px solid #839333;
    color: #283645;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 10px;
    text-transform: uppercase;
}
.redeem_form_wrapper #mail_coupon_redeem {
    width: 99%}
.redeem_form_wrapper #mail_coupon_redeem-error {
    color: red;
}
.redeem_form_wrapper #gift-card-div {
    vertical-align: top;
    margin-top: 30px;
    display: none;
}
.redeem_form_wrapper #gift-card-div h3 {
    margin: 0;
    padding: 0;
    width: 100%}
.redeem_form_wrapper #gift-card-div p {
    padding: 0;
}
.redeem_form_wrapper #gasErrorMsj {
    display: none;
    padding: 0;
    padding-top: 20px;
}
label.rwd-email-lbl span {
    color: red;
    font-size: .8em;
}
form .form-redeem .row {
    padding: 5px 0;
}
input.rwd-email-input {
    height: 35px;
    max-width: 95%}
.rewards {
    overflow: hidden;
}
.rewards-output hr {
    border: 2px double #eee;
}
.rwd_title {
    margin: 30px 0;
}
.rewards-output .rwd_title {
    color: red;
}
ol.rwd-output-steps li {
    list-style-type: decimal;
    float: none;
    font-size: 18px;
}
p.rwd-bottom-txt {
    font-size: 14px;
}
.member-number p {
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}
.rwd-output-img {
    height: 110px;
    text-align: right;
}
.rwd-output-img img {
    max-height: 100%;
    float: none;
}
.row.member-info {
    margin: 20px 0;
}
.member-info-img img {
    max-height: 100%;
    float: none;
}
.member-info-img {
    text-align: right;
}
.form-redeem label#email-error {
    display: block;
    color: #ff0017;
}
.row.nomargin.rwd-email {
    height: 60px;
}
#rewards-output {
    display: none;
}
#rwdEmailError {
    display: none;
}
.form-redeem {
    margin-bottom: 20px;
}
p#rwdEmailError {
    margin-top: 10px;
    color: red;
}
.title-dld h2 {
    color: #000 !important;
}
.dld-block {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 .5%;
    cursor: pointer;
}
.dld-block .title-dld h2 {
    font-size: 20px;
    margin: 10px 0;
}
.title-dld span {
    color: #328BCD;
    font-weight: bold;
}
.btn-dld {
    width: 100%;
    color: #fff;
    padding: 10px 0;
    background-color: #328BCD;
    border-radius: 10px;
    text-transform: uppercase;
}
div.last_step {
    padding-bottom: 20px;
}
.title-dld h2 {
    font-size: 1.4em !important;
    height: 60px;
}
.img-dld {
    background: url(images/sprite_checklist_licenses.png) no-repeat;
    width: 100px;
    height: 100px;
    background-position-x: -200px;
    background-size: cover;
    margin: 5px auto;
}
.download_blocks {
    margin: 0 auto;
    overflow: hidden;
}
.img-dld.application-dld {
    background-position: -100px;
}
.img-dld.tips-dld {
    background-position: 0 0;
}
.img-dld.audio-dld {
    background-position: -300px;
}
.download_blocks {
    margin: 0 0 30px;
    overflow: hidden;
    border-radius: 6px;
    padding: 20px 0;
}
.dld-block a {
    text-decoration: none !important;
}
.btn-dld:hover {
    background-color: #1879bf;
}
@media(max-width:1200px) {
    .dld-block .title-dld h2 {
    font-size: 1.1em !important;
}
}@media(max-width:991px) {
    .btn-dld {
    font-size: .8em;
}
}@media(max-width:768px) {
    .title-dld h2 {
    height: auto;
}
.dld-block {
    float: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}
.dld-top {
    margin-top: 0;
}
.dld-block .title-dld h2 {
    font-size: 1.5em !important;
    line-height: 1em !important;
}
.btn-dld {
    font-size: 1em;
}
section.boton img.pay-badges {
    width: 100%;
}
}@media(min-width:768px) {
    header .navbar-default .navbar-nav li {
    padding: 0;
}
header .navbar-default .navbar-nav li a {
    padding: 25px 8px;
}
}@media(min-width:700px) and (max-width:994px) {
    section.step3 {
    margin-right: -15px;
    margin-left: 0;
    width: 60%}
.border-left {
    border-left: 0;
}
section.summary {
    width: 25%}
}@media(max-width:699px) {
    section.step3 {
    margin: 0 20px 20px;
    width: 90%}
.border-left {
    border-left: 0;
}
section.summary {
    width: 88%;
    margin: 0 20px;
}
}@media(max-width:414px) {
    section.step3 {
    margin: 0 auto 20px;
}
section.summary {
    margin: 0 auto;
}
div#bs-example-navbar-collapse-1 {
    width: 100%;
    margin: 0 auto;
}
}@media(max-width:412px) {
    .checkbox_label {
    float: left;
    width: 91%;
    margin-left: 5px !important;
}
.checkbox_input {
    float: left;
    width: 5%;
    margin: 5px 0 !important;
}
}.footerCustomModal {
    padding: 0 !important;
    background-color: #43ab44;
}
.footerCustomButton {
    color: #fff !important;
    font-weight: bold !important;
    padding: 10px 24px !important;
    text-transform: uppercase;
    background-color: #43ab44 !important;
    border-color: #43ab44 !important;
    position: relative;
    width: 100%}
.footerCustomButton:hover {
    background-color: #43ab44;
}
.modalCustomHeader {
    padding: 1% !important;
    background: #1f5b91;
}
.modalCustomTitle {
    color: #eee;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.modal-backdrop.in {
    height: 100%}
#myModal {
    top: 10%}


.obtain-title{
    margin-bottom: 0px !important;
    margin: 5px 0;
    margin-bottom: 2px !important;
}

.icons-nav {
    background-color: #328BCD;
    padding: 0;
}
.icons-nav .container {
    width: 80%}
.icons-nav .container p {
    text-align: center;
    color:#fff;
}
.icons-nav .container img {
    display: block;
    margin: 0 auto;
    padding: 5px 0;
}
.icons-nav .container a {
    color: #fff;
}

@media (max-width: 768px){
    section.boton{
        margin-top: 0 !important;
    }
}

.leadid{
    display: none;
}

.prodTotal {
   color:#000;
   font-family:calibri, arial,helvetica,sans-serif; 
   font-size:16px;  
}
img.center {   display: block;   margin-left: auto;   margin-right: auto; }



/*----Blog Section--*/
.blog .main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .post {
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #999;
}

.blog .post p {
    text-align:justify;
}

.blog .post ol {
    text-align:justify;
    list-style-position:inside;
}

.blog .post ul {
    list-style-position:inside;
}

.blog .post .thumb {
    margin-right:10px;
    width:40%;
}

.blog .post .thumb img {
    width:100%;
}
.blog .posts h1 {
    font-size:1.8em;
}
.blog .posts h2 {
    font-size:1.3em;
}

.blog .posts li em {
    font-size:1.2em;
    color: inherit;
    font-style: normal;
}
@media screen and (max-width: 768px) {
    .blog .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

}

/*STATEINFO-ADS*/
.stateinfo-ads{
    padding-top: 15px;
  border: 2px solid #e3e3e3;
  background-color: #f1f3f5;
-moz-box-shadow: 0 0 5px 5px #eee;
-webkit-box-shadow: 0 0 5px 5px#eee;
box-shadow: 0 0 5px 5px #d3dcdc;
border-radius: 10px;
}

.stateinfo-ads #stateinfo-title{
    font-size: 2em;
    font-weight: 700;
}

.stateinfo-ads .stateinfo-description{
    border: 2px solid #e3e3e3;
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
}

.stateinfo-ads .stateinfo-description h2{
    margin-top: 3px;
    font-size: 1.8em;
}

.stateinfo-ads .stateinfo-ads-picture{
    border: 2px solid #e3e3e3;
    padding: 0px;
    border-radius: 10px;
}
.stateinfo-ads .stateinfo-ads-picture img{
    width: 100%;
}

.stateinfo-ads .ads-btn{
    width: 100%;
    padding: 13px;
    font-size: 1.5em;
    font-weight: 500;
}
#splashStep1 h1.obtain-title{
    font-size: 2em !important;
}

@media(max-width: 768px){
      #splashStep1 #step1SubmitButton{
    text-align: center;
    width: 100%;
    height: 54px;
    font-size: 20px;
    background-color: #497698;
    outline: none;
    border-color: #497698;
    text-transform: capitalize;
    transition: all 250ms ease-in-out;
    overflow: hidden;
}
}

@media (min-width: 768px){
    #splashStep1 #step1SubmitButton{
    text-align: center;
    width: 30%;
    height: 54px;
    font-size: 20px;
    background-color: #497698;
    outline: none;
    border-color: #497698;
    text-transform: capitalize;
    transition: all 250ms ease-in-out;
    overflow: hidden;
}

#splashStep1 #step1SubmitButton i{
    position: relative;
    top: -1000px;
    padding: 10px;
    border-radius: 40px;
    background-color: rgba(255,255,255, 0.7);
    height: 40px;
    width: 40px;
    transition: all 250ms ease-in-out;
}
#splashStep1 #step1SubmitButton:hover{
    width: 50%;
}
#splashStep1 #step1SubmitButton:hover i{
    top: 0 !important;
}
}

.splashSubmitRow{
    border-radius: 10px;
    background-color: #497698;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    margin-bottom: 0px;
    padding: 10px;
    
}

.where-you-live p{
    text-transform: uppercase;
    font-size: 1.2em !important;
    color: #fff;
    margin-bottom: 0;
}

.splashAds{
    border-right: 2px solid gray;
}
.splash-ads-btn{
    border-radius: 10px;
    background-color: #497698;
    letter-spacing: 2px;
    width: 100%;
    font-size: 1.5em;
    margin-top: 2%;
}

.df{
    display: flex;
}

.jc{
    justify-content: center;
}
.ac{
    align-items: center;
}

/*Blog*/
#blog_section{
    text-align: center;
}
#blog_section h1{
    font-size: 1.8em;
    text-align: center;

}
    #blog_section ul{
    list-style-type: none;
    counter-reset: blog-number;
        padding-left: 90px !important;
}

#blog_section ul > li{
    background-color: #497EB6;
    color: #fff;
    border: 2px solid #547698;
    text-align: center;
    min-height: 110px;
    width: 200px;
    margin: 20px;
    padding: 10px 10px 0 10px;
    float: left;
    transition: all 300ms ease-in-out;
    font-size: 1.3em;
    -webkit-box-shadow: 10px 10px 36px -5px rgba(158,138,158,1);
    -moz-box-shadow: 10px 10px 36px -5px rgba(158,138,158,1);
    box-shadow: 10px 10px 36px -5px rgba(158,138,158,1);
}

#blog_section ul > li > a{
    text-decoration: none;
    color: inherit;
}
#blog_section ul > li > a:before{
    position: relative;
    top: 0;
    margin: 0 auto;
    transition: all 300ms ease-in-out;
    display: block;
    width: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    color:  #547698;
    content: counter(blog-number);
    counter-increment: blog-number;
}
@media (min-width: 768px){
 
    #blog_section ul > li{
        height: 110px;
    }

    #blog_section ul > li:hover{
        background-color: #ffffff;
        color: #547698;
    }
    #blog_section ul > li:hover a:before{
         background-color: #547698;
        color:  #ffffff;
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 768px){
     #blog_section ul{
        padding-left: 0 !important;
     }
    #blog_section ul > li{
    width: 90%;
}
}
.box{
    border: 1px solid #e3e3e3;
    padding: 20px;
    
}

.is-white-box{
    background-color: #ffffff;
    margin-bottom: 1em;
}

.goto_service_title{
    display: flex;
    align-items: center;
}

.stepNumber{
    background: #2075ae;
    color: #fff;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    line-height: 22px;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    margin-right: 5px;
}
.btn.service{
    width: 100%;
    font-size: 1.1em;
    margin-bottom: .5em;
}

.toServiceTitle{
    font-size: 1.8em;
    color: inherit;
}

.toServiceLink{
    padding-bottom: 1em;
}


