@import "../bourbon/bourbon"
@import "partials/mixins"
//@import "partials/map"
@import "partials/color-codes"
@import "partials/sitemap"
	

/* ========= START: Responsive ========= */

@media (min-width: 1200px)
  .container
    width: 1250px
  .ypa.full .block
    width: 33%
  .custom-landing .post-featured-img img
    /*
      width: 144% !important
      position: relative
      right: 15%
      padding-left: 15%
      height: auto
  .featured-img > .col-lg-offset-1
    margin-left: 9.333333%

@media (min-width: 1025px) and (max-width: 1199px)
  .adbody
    ul li
      font-size: 1.5vw
@media (min-width: 1025px)
  .featured-img
    background: url("//s3.amazonaws.com/{domain}/img/home-bg.jpg") center 51% no-repeat
    background-size: 125% auto !important
@media (min-width: 991px) and (max-width: 1024px)
  .featured-img
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-1024.jpg") center 51% no-repeat

@media (min-width: 992px) and (max-width: 1199px)
  .ypa.full .block
    width: 50%

@media (min-width: 992px)
  .secondary-nav 
    li
      display: inline
@media (max-width: 991px)
  /*
    ====== Secondary Menu
  #nav-contain.mobile
    border-bottom: 4px solid #dddada
    #nav-trigger
      span
        background-color: darken(#f4f4f4, 7%)
        color: $primary
    nav#secondary-menu
      background-color: #f4f4f4 !important
      li
        background: url("//s3.amazonaws.com/{domain}/img/chevron.gif") center right no-repeat
        > a
          color: $primary
          border-bottom: 1px solid lighten($primary, 45%)
          &:focus, &:hover
            background-color: lighten($primary, 45%) !important
  .secondary-nav 
    li
      display: block
      a
        display: block
@media (min-width: 991px)
  #custom-search
    width: 2%
    float: left
    margin-top: 30px
    position: relative
  
  nav#secondary-menu 
    display: block !important
    &.secondary-nav ul 
      display: inline-block !important
  #nav-contain
    #nav-trigger
      display: none
      text-align: center
  .popular-articles .column-grid h3
    text-align: center
  aside#secondary
    float: left
  body:not(.full-width) #primary
    float: right
    border-left: 1px solid #e8e8e8
  .popular-articles .column-grid p:first-of-type
    height: 16.5em
    overflow: hidden
  article:not(.page-map)
    .page-title
      float: left
  .page-header .print-pdf-wrap
    margin-top: 2.8em
    float: right
  .mini-ad .custom-quicklinks li, .mini.search-results .custom-quicklinks li
    float: left
    width: 50%
  .custom-landing
    #primary
      width: 80%
      /*padding-left: 8px
       *  padding-right: 8px
    #secondary
      width: 20%
      /*padding-left: 8px
       *  padding-right: 8px

@media (max-width: 990px)
  .popular-articles
    .column-grid
      float: none
      margin-left: 0
      h3
        text-align: left
    .one-fifth, .one-fourth
      &:first-child
        border-top: 0
      width: 100%
      border-top: 1px solid #777
      padding-top: 15px
      margin-bottom: 30px
  .post-featured-img
    display: none
  .custom-quicklinks li
    &:nth-child(3), &:nth-child(4)
      display: none

@media (min-width: 768px) and (max-width: 991px)
  .disclaimer
    font-size: 1.7vw
  
  #custom-search
    position: absolute
    right: 0
    top: 0
  
  .ypa.full .block
    width: 50%
  .featured-img
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-990.jpg") center 51% no-repeat

@media screen and (min-width: 768px)
  #custom-search
    .search-form
      position: absolute
      right: 147px
      top: 30px
      display: none
      &.show
        display: block
      input
        width: auto
        +box-shadow(0px, 5px, 13px, 0px, rgba(0, 0, 1, 0.16))

  .one-fifth
    width: 17.9487179487179488%
  .one-fourth
    width: 23%
  .column-grid:first-child
    margin-left: 0
  #menu-main-menu li
    .sub-menu
      -webkit-box-shadow: 0px 11px 13px 0px rgba(0, 0, 1, 0.16)
      -moz-box-shadow: 0px 11px 13px 0px rgba(0, 0, 1, 0.16)
      box-shadow: 0px 11px 13px 0px rgba(0, 0, 1, 0.16)
    &:not(.megamenu) .sub-menu
      -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2)
      -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2)
      box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2)
  .navbar-toggle
    display: none
  body .adbox
    .adTitle, .list-group-item-heading, .title-wrap a
      font-size: 2em
  iframe .ypaAdAnchor
    font-size: 2em
  #wrapper .block
    float: left
  .hide-onmobile
    display: block
  .show-onmobile
    display: none !important
  .search ol
    padding-left: 25px
  .featured-services nav ul.featured-menu li
    width: 32%
    /*--- for 5 boxes use -> width: 19%
    margin: 0.5%
    a
      position: relative
      left: 7%
      width: 80% !important
      background-color: red
  .page-title
    font-size: 2em
  .page-header
    margin-bottom: 0
  .mini-ad
    .title a
      font-size: 14px
    .url a
      font-size: 12px
    .description a, .custom-quicklinks a
      font-size: 13px

@media screen and (max-width: 767px)
  .breadcrumb, #custom-search
    display: none
  #custom-search
    clear: text
    left-align: right
    padding: 7px 16px
    #custom-search-trigger
      display: none
    .search-form
      text-align: left
      &:before
        font-size: 1.2em
        margin-bottom: 7px
        content: "Search"
        display: inline-block
  .one-fifth, .one-fourth
    width: 100%
  .hide-onmobile
    display: none !important
  .show-onmobile
    display: block
  .ypa.full .block
    width: 100%
  #primary-nav
    #menu-main-menu
      background-color: $whiteout
  #menu-main-menu
    margin: auto
    li a
      border-bottom: 1px solid #f8f8f8
      position: static
      display: block
  .nav > li
    position: static
  nav > li *
    box-shadow: none !important

  #menu-main-menu li .sub-menu
    display: block
    position: static !important
    width: 100%
    z-index: initial
    float: none
    box-shadow: none
    li
      a
        font-weight: normal
      &:hover a
        background-color: #ededed
    img
      display: none
  .featured-img
    background-size: cover !important
  .page-header h1
    text-align: center
    font-size: 1.2em

  /*Ypa Mini: Display 1 ad
  article.cat-cosmetology .ad-block
    .ad-item
      &:first-of-type
        display: block
      display: none
    #ypaAdWrapper-licenses
      display: none
  .ad-block
    background-color: rgb(255, 255, 255)
    -webkit-box-shadow: inset 3px 0px 29px 3px rgba(99, 190, 221, 0.15)
    -moz-box-shadow: inset 3px 0px 29px 3px rgba(99, 190, 221, 0.15)
    box-shadow: inset 3px 0px 29px 3px rgba(99, 190, 221, 0.15)
    padding: 20px
    margin-bottom: 10px
    .mini-ad 
      .url 
        a
          font-size: 14px
  .footer-nav.pull-left, .copyright.pull-right
    float: none
    width: 100%
    text-align: center

@media (min-width: 640px) and (max-width: 767px)
  .disclaimer
    font-size: 1.7vw
  .featured-services nav ul.featured-menu li
    width: 24%
  .featured-img
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-768.jpg") center 51% no-repeat

@media screen and (max-width: 640px)
  .featured-services nav ul.featured-menu li
    width: 50%
  .featured-img
    background: url("//s3.amazonaws.com/{domain}/img/home-bg-640.jpg") center 51% no-repeat
  .adbody
    ul li
      font-size: 3vw
  .faq-section .panel-heading
    margin-bottom: 13px
  .child-category 
    .img-wrap
      float: none !important
  .state-select
    button.dropdown-toggle
      font-size: 12px
      font-size: 3vw

@media (min-width: 600px) and (max-width: 639px)
  .faq-section .panel-heading
    height: 6%
  .disclaimer
    font-size: 3vw


@media only screen and (max-width: 600px)
  .faq-section .panel-heading
    height: 9%

@media (min-width: 480px) and (max-width: 599px)
  .disclaimer
    font-size: 3vw

@media screen and (max-width: 479px)
  .disclaimer
    font-size: 3.5vw
/* ========= END: Responsive ========= */

/* ========= START: Global ========= */
/*
  Temporarily hide ads for initial launch
.ypa.full
  display: none

.highlight
  border: 1px solid red

div:empty, section:empty
  display: none

.clear
  clear: both

.noPadding
  padding: 0

h1, h2,h3, h4, h5,h6
  color: $primary

body
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 1.4
  background: $page_bg
  color: $text

.disclaimer
  color: #acaaa2
  float: none
  margin: 0
  background-color: #f7f3e8
  border-bottom: none
  padding: 3px 0
  text-align: center
  font-size: 11px
  text-transform: uppercase

.brand img
  width: 115%
  height: auto
  max-width: 475px

.post-featured-img
  overflow: hidden
  img
    height: auto
    width: 100%

.well
  background: #ededed

/*/------- Buttons

.btn-primary
  border: 1px solid $primary_btn_border
  background: $primary_btn

  &:focus, &:hover
    background: $primary_btn_hover
    border: 1px solid darken($primary_btn_border, 7%)

/*/------- Main nav

.navbar.yamm
  margin-bottom: 0
  padding: 0

.navbar-default
  background: $nav_bg
  border-top: 1px solid $clear
  border-bottom: 1px solid $clear
  border-left: 0
  border-right: 0
  box-shadow: none
  margin: 15px auto 0
  padding: 0
  text-transform: capitalize
  .navbar-nav
    width: 100%
  .navbar-nav >
    .active > a:hover
      color: $nav_link !important
    li > a
      color: $nav_link
      text-shadow: none
      &:focus, &:hover
        color: $nav_link_hover !important
        background-color: $nav_bg_hover
        text-decoration: $link_decoration
    .open
      > a
        &:hover, &:focus
          background: $nav_bg_hover !important
          text-decoration: $link_decoration

#primary-nav
  #menu-main-menu 
    li
      font-size: 0.9em

#menu-main-menu li
  a
    transition: all 0.2s ease-in-out
  .sub-menu
    background-color: rgba(252, 252, 252, 0.97)
    border: 0
    text-transform: capitalize
    .level-2
      top: 0
      left: 219px
      box-shadow: none !important
      border: 1px solid rgba(0, 0, 1, 0.16)
      height: 100%
  &:not(.megamenu) .sub-menu
    padding: 15px 10px
    min-width: 220px
    li a
      display: block
      padding: 5px 15px
  .sub-menu li
    line-height: 2em
    list-style: none
    a
      color: #000
  &:not(.megamenu) .sub-menu li
    &:hover, &:focus, &.hover
      background-color: rgba(181, 230, 246, 0.4)
    &:hover a, &:focus a, &.hover a
      background: $clear


/* ==== Targeting Primary nav ====*/
.navbar-default .navbar-nav > 
  .active > a, .open > a, .open
    color: $nav_link_hover 
    background: $nav_bg_hover
    box-shadow: none
    text-decoration: $link_decoration
    &:focus, &:hover
      color: $nav_link_hover
      background: $nav_bg_hover
      text-decoration: $link_decoration

/* Grid styles

.grid
  padding: 30px 30px 15px

/*.grid [class*="col-"] {
 *    margin-top: 5px
 *    margin-bottom: 5px
 *    font-size: 1em
 *    text-align: center
 *    line-height: 2
 *    background-color: #e5e1ea
 *    border: 1px solid #d1d1d1
 *}

.yamm
  .nav, .collapse, .dropup, .dropdown
    position: static
  .container
    position: relative
  .dropdown-menu
    left: auto
  .yamm-content
    padding: 20px 30px
  .dropdown.megamenu .dropdown-menu
    left: -1px
    right: -1px

.megamenu
  img
    width: 100%
    border: 1px solid #c5c5c5
  dt
    font-size: 1.2em
    color: rgb(25, 53, 89)
    border-bottom: 2px solid rgb(255, 179, 136)
    font-weight: bold
    text-transform: capitalize
    margin-bottom: 7px
  dd
    line-height: 1.8em
    font-size: 1.1em
    a
      color: rgb(25, 53, 89)
    .glyphicon-triangle-right
      color: rgb(140, 149, 165)

/*Toggle

.navbar-toggle
  border: none
  margin-right: 0
  .icon-bar
    background-color: #000
    width: 22px
    -webkit-transition: all .2s
    -o-transition: all .2s
    transition: all 0.2s
  .top-bar
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    -o-transform: rotate(45deg)
    transform: rotate(45deg)
    -webkit-transform-origin: 10% 10%
    -ms-transform-origin: 10% 10%
    -o-transform-origin: 10% 10%
    transform-origin: 10% 10%
  .middle-bar
    opacity: 0
  .bottom-bar
    -webkit-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    transform: rotate(-45deg)
    -webkit-transform-origin: 10% 90%
    -ms-transform-origin: 10% 90%
    -o-transform-origin: 10% 90%
    transform-origin: 10% 90%
  &.collapsed
    .top-bar
      transform: rotate(0)
    .bottom-bar, .top-bar
      -webkit-transform: rotate(0)
      -ms-transform: rotate(0)
      -o-transform: rotate(0)
    .middle-bar
      opacity: 1
    .bottom-bar
      transform: rotate(0)

/*/------- Columns

.column-grid
  float: left
  margin-left: 2.564102564102564%

header
  .container
    > .row
      position: relative
/* Search
#custom-search
  a
    color: $nav_link
    &:hover
      color: $nav_link_hover
  #search-trigger
    float: left
    width: 6%
    position: relative
    right: 0px
    top: 30px
  .search-form
    z-index: 10
    width: 100%
    &.show
      display: block
    


/* ========= END: Global ========= */

/* ========= START: Font Icons ========= */

/* ========= END: Font Icons =========*/

/* ========= START: Header ========= */

.site-search
  padding-top: 2.666%

.state-select
  width: 100%
  position: relative
  top: 10px
  button.dropdown-toggle
    border: solid 1px rgb(18, 114, 229)
    background: rgb(255, 255, 255)
    /*height: 50px
    border-radius: 0
    color: #777
    width: 75%
    position: relative
    text-align: left
    float: left
  .btn-default
    &.active, &:active
      background: rgb(255, 255, 255)
  &.open > .dropdown-toggle.btn-default
    background: rgb(255, 255, 255)
  .btn
    &.search-submit
      /* height: 50px
      width: 25%
      border-radius: 0
      font-size: 1.05em
    .caret
      color: #777
      position: absolute
      right: 10px
      top: 41%
    &.dropdown-toggle:hover
      border: solid 1px #3399ff
      background: rgb(255, 255, 255)
  .dropdown-menu
    transition: all 0.2s ease-in-out
    width: 75%
    text-transform: capitalize
    > li > a
      &:focus, &:hover
        background: #f3f3f3

.dropdown-menu li
  padding: 3px 20px



/* ==== Targeting Secondary nav ====*/
nav#secondary-menu
  background-color: $secondNav_bg !important
  width: 100%
  ul
    /* 
       === Make sub menu stay collapsed by default
       display: none
    &.expanded
      display: block
  .open > a
    color: $secondNav_text
    background-color: $secondNav_bg_hover !important
    border-color: $clear
    &:focus, &:hover
      color: $secondNav_text
      background-color: $secondNav_bg_hover !important
      border-color: $clear
  li >
    a
      color: $secondNav_text
      text-shadow: none
      &:hover, &:focus
        background-color: $secondNav_bg_hover !important

/* ========= END: Header ========= */

/* ========= START: Secondary menu ========= */

#nav-trigger span 
  display: block
  padding: 10px 30px
  background-color: $secondNavTrigger_bg
  color: white
  cursor: pointer
  text-transform: uppercase
  text-align: center
  &:after 
    display: inline-block
    margin-left: 10px
    width: 20px
    height: 10px
    content: ""
    border-left: solid 10px transparent
    border-top: solid 10px #fff
    border-right: solid 10px transparent
  &:hover 
    background-color: $secondNavTrigger_bg_hover
  &.open:after 
    border-left: solid 10px transparent
    border-top: none
    border-bottom: solid 10px #fff
    border-right: solid 10px transparent

nav#secondary-menu 
  transition: all 0.5s ease
  ul 
    transition: all 0.5s ease

/* ========= END: Secondary menu ========= */
/* ========= START: Breadcrumbs ========= */

.breadcrumb
  background-color: $clear
  font-size: 0.8em
  margin-bottom: 10px
  letter-spacing: 1px
  li
    text-transform: capitalize
    line-height: 2em
    &.active
      font-weight: bold
      color: $breadcrumb_active

/* ========= END: Breadcrumbs ========= */

/* ========= START: Featured Services ========= */

.featured-services
  padding: 0
  background-color: $clear
  margin-bottom: 0

.featured-img
  /*background: url("//s3.amazonaws.com/{domain}/img/home-bg.jpg") center 51% no-repeat
  min-height: 485px
  position: relative
  padding: 5% 0

.featured-content
  z-index: 1

.featured-img .filter
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 0.4) 100%)
  /* FF3.6+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.28)), color-stop(17%, rgba(0, 0, 0, 0)), color-stop(63%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4)))
  /* Chrome,Safari4+
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 0.4) 100%)
  /* Chrome10+,Safari5.1+
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 0.4) 100%)
  /* Opera 11.10+
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 0.4) 100%)
  /* IE10+
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 0.4) 100%)
  /* W3C
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#47000000', endColorstr='#66000000', GradientType=0)
  /* IE6-9
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.18)

.featured-services
  h1
    font-size: 2.5em
    color: rgb(255, 255, 255)
    line-height: 1.2
    text-shadow: 1px 1.732px 4.5px rgba(0, 0, 1, 0.75)
    text-align: center
  nav ul.featured-menu li
    a:hover
      border: 1px solid
    &:nth-child(1) a
      color: #0d9973
    &:nth-child(2) a
      color: #eb2629
    &:nth-child(3) a
      color: #a66b0e
    &:nth-child(4) a
      color: #075dc5
    &:nth-child(5) a
      color: #ecb801
    &:nth-child(6) a
      color: #398aec
    &:nth-child(7) a
      color: #ff782c
    &:nth-child(8) a
      color: #153156
    &:nth-child(9) a
      color: #8a2be2
    &:nth-child(10) a
      color: #5644ee
    max-width: 50%
    display: inline-block
    position: relative
    float: left
    a
      border: 1px solid rgb(139, 187, 244)
      background-color: rgba(255, 255, 255, 0.961)
      /*
       *width: 164px
       *width: 95%
      width: 95%
      height: 120px
      display: inline-block
      margin: 10px
      padding: 8px 12px
      text-align: center
      &:hover
        text-decoration: none

#home ul.featured-menu
  padding-left: 0
  li
    i
      display: block
      font-size: 3em

.icon-bar
  width: 100%
  height: 60px
  /*
   *height: 67.5%
   *background-color: red

#home ul.featured-menu a span
  text-transform: capitalize
  margin-top: 5px
  display: inline-block

/* ========= END: Featured Services ========= */

.popular-articles
  background: #ededed
  padding: 30px 15px
  .column-grid
    text-align: justify
    h3
      font-weight: bold
    &:nth-child(1) h3
      color: rgb(13, 153, 115)
    &:nth-child(2) h3
      color: rgb(235, 38, 41)
    &:nth-child(3) h3
      color: rgb(166, 107, 14)
    &:nth-child(4) h3
      color: rgb(7, 93, 197)
    &:nth-child(5) h3
      color: rgb(236, 184, 1)

.read-more
  font-size: 1em
  color: rgb(57, 138, 236)

/* ========= START: Ads ========= */

.adbox a.adTitle
  color: #003292
  font-weight: bold
  &:hover
    color: #00526e

a
  &.adSitehost
    color: #787878
    text-decoration: underline
    &:hover
      color: #00526e
  &.adDescription
    color: #003366
    text-decoration: none
    display: block
    &:hover
      text-decoration: none

.additional-ads-list
  list-style: none
  overflow: hidden
  li
    font-weight: bold

.ad-related-searches
  color: #000000
  font-size: 1.3em
  margin: 10px 0

/*Ypa ads

html .ypa-ads .container
  background-color: #fff

body.ypa-ads .page-header h1
  text-transform: capitalize

ol#wrapper
  list-style: none
  padding-left: 15px

#wrapper
  .block
    background: 0 0
    -webkit-box-shadow: none
    box-shadow: none
    margin: 0
  li
    margin-bottom: 7.5px

.ypa.half .block
  width: 50%

.size-reduce
  font-size: 0.97em

.dropdown-header
  padding-left: 15px

a.adlink.in-para
  text-decoration: underline

.ypa.full
  min-height: 20px
  padding: 19px
  background-color: #ededed
  border: 1px solid #e8e8e8
  +box-shadow(inset, 0, 1px, 5px, rgba(0, 0, 0, 0.05))
  margin: 0.375em auto 1em
  a
    display: block
  ol
    padding-left: 0

.adbody
  background-color: $panel_body
  border: 1px solid $panel_body_border
  +box-shadow(inset, 0, 1px, 5px, rgba(0, 0, 0, 0.05))
  margin: 0.375em auto 1em
.panel-title
  background-color: $panel_title
  color: $panel_title_text
  font-size: 1.2em
  padding: 10px

.adbody
  ul
    list-style: none
  li
    width: 42%
    float: left
    display: block
    margin: 10px 4%
    a
      border-radius: 4px
      background-color: $panel_btn
      width: 100%
      padding: 10px 15px
      text-align: center
      color: $panel_btn_text
      font-size: 1.1em
      font-weight: bold
      display: block
      text-decoration: none
      &:hover
        background-color: $panel_btn_hover
  small
    display: block
    text-align: right
  ul
    padding-left: 0

.panel-content
  padding: 10px

/*mobile device

/*/------- Mini Ads above ypa

.mini-ad
  background-color: white
  line-height: 17px
  background-color: #FFFFFF
  padding: 5px
  border: 1px solid #FFFFFF
  font-family: Arial, Sans-serif
  word-wrap: break-word
  min-height: 311px
  a
    display: inline
    width: initial
    vertical-align: middle
  small
    color: #BBB
    font-size: 11px
  a:hover
    text-decoration: underline
  .title a
    font-size: 14px
    color: #0000D2
    font-weight: bold
  .url a
    color: #008A00
  .description a
    color: #000000
  .ad-item
    &:first-of-type
      margin-top: 0
    margin-top: 7px
  .custom-quicklinks
    padding-left: 0
    margin: 3px 0 0
    a
      color: #0000D2
      line-height: 1.9em
    li
      list-style: none

.ad-img
  width: 100%
  display: inline-block
  text-align: center
  margin: 10px auto
  img
    width: 90%
    height: auto

/* ========= END: Ads ========= */

/* ========= START: Custom Landing ========= */

.post-page
  background-color: #f4f4f4
  padding: 0 25px 25px

.page-title
  a
    color: $primary
    &:hover
      text-decoration: none
  /*font-size: 2em
  line-height: 1.2
  margin: 10px 0 5px

.page-header
  border-bottom: 1px solid #ddd
  margin-top: 0

.sidebar
  background-color: $sidebar_bg
  /*background-color: rgb(13, 119, 182)

.sidebar-title
  color: #99ccff
  /*font-size: 1.2em
  font-weight: bold
  padding: 10px
  display: block

.sidebar
  ul
    li
      list-style: none
      font-size: 13px
      letter-spacing: 0.5px
      a, span
        padding: 10px
        display: block
        color: rgb(143, 190, 246)
      a:hover
        text-decoration: none
    &.level-2
      padding-left: 0
  > ul
    padding-left: 0
    list-style: none
    > li
      /*targets first <li>s in level 1
      background-color: #1a375e
      border-bottom: 1px solid rgba(204, 204, 255, 0.2)
      &:last-child.active
        border-bottom-color: #e3e3e3
      &:hover
        background-color: rgb(44, 74, 113)
      a
        color: #fff
      &.active >
        a, span
          background-color: #efefef
          color: #153156
        a:hover
          background-color: #e0e0e0
        ul li:first-of-type
          -webkit-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2)
          -moz-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2)
          box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2)
          a:hover
            -webkit-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2)
            -moz-box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2)
            box-shadow: inset -1px 4px 7px -2px rgba(50, 50, 50, 0.2)

ul.level-2 > li
  background-color: #0d2a4a
  border-top: 1px solid #336699
  /*background-color: rgb(134, 246, 215) border-top: 1px solid rgb(120, 228, 198)

.sidebar ul
  &.level-2
    li
      a, span
        padding-left: 2em
    > li
      >
        a:hover, span:hover
          background-color: #274769
          /*background-color: rgb(41, 236, 182)
      &.active
        > span
          background-color: #274769
          /*background-color: rgb(41, 236, 182)
        &:before
          content: ""
          border-color: $clear rgba(255, 255, 255, 0.45)
          border-style: solid
          border-width: 0.35em 0 0.35em 0.45em
          display: block
          height: 0
          width: 0
          left: 1em
          top: 1.6em
          position: relative
  &.level-3
    > li:before
      content: ""
      border-color: $clear rgba(255, 255, 255, 0.45)
      border-style: solid
      border-width: 0.35em 0 0.35em 0.45em
      display: block
      height: 0
      width: 0
      left: 2em
      top: 1.6em
      position: relative
    padding-left: 0
    text-indent: 1.5em
  &.level-2 li.active a
    background-color: #081b2f
  &.level-3
    li
      background-color: #081b2f
    > li
      >
        a:hover, span:hover
          background-color: rgba(255, 255, 255, 0.15)
          /*background-color: rgb(41, 236, 182)
      &.active > span
        background-color: rgba(255, 255, 255, 0.15)
        /*background-color: rgb(41, 236, 182)

/*show arrows on list items

.custom-landing main .row:nth-child(2) > article
  padding-top: 10px

.popular-posts
  article
    &:first-of-type
      border-top: none
    border-bottom: 1px solid rgba(56, 110, 155, 0.1)
    margin-top: 15px
  h2 a, h4 a
    font-size: 0.95em
    color: $primary
  .read-more a
    color: $link_hover
    text-transform: capitalize

.child-category .read-more a
  color: #ff5c00
  text-transform: capitalize

.child-page
  background-color: $childpage_bg
  color: $childpage_text
  /*
   *--- grey
   *
   *background-color: rgb(159, 166, 179)
   *color: #000
   *--- Like LMS
   *color: #e7e7e7
   *background-color: #008cba
  padding: 20px
  margin: 15px auto
  font-size: 1.1em
  h3
    font-size: 1.8em
    font-weight: bold
    margin-top: 0
    a
      color: $childpage_text
  .summary
    margin: 10px auto
    a
      color: #fff
      text-decoration: underline
  .btn-primary
    font-weight: 700
    background-color: $childpage_btn
    border: 1px solid $childpage_btn_border
    &:hover, &:focus
      background-color: $childpage_btn_hover
      border: 1px solid $childpage_btn_border

/*/------- Article Pages

ol, ul
  margin-bottom: 15px

/* ========= END: Custom Landing ========= */

/*START: Sub-CAt

.s-sub-cat .child-page
  display: none

/* ========= START: Pages ========= */

.cat-what-type-of-cosmetologist-are-you ol
  > li
    margin-bottom: 0.5em
  li ul li
    list-style: upper-alpha

/* ========= END: Pages ========= */

/* ========= START: FAQ Section ========= */
/*
  FAQ Page
.page-faq
  #primary
    section
      h1
        border-bottom: 2px solid
        padding-bottom: 0.53em
.btn-default, .faq-item .questions, body.home nav.widget.featured ul#menu-featured-home li a
  color: $text
  background-color: #ededed
  border-color: #e8e8e8

.btn-block
  display: block
  width: 100%

.faq-item .questions
  display: block
  width: 100%
  white-space: normal

.popover
  white-space: normal

.btn, .comment-form input[type=submit], .faq-item .questions, body.home nav.widget.featured ul#menu-featured-home li a
  padding: 8px 12px

.faq-section
  margin: 30px auto
  .faq-item .answers
    padding: 10px
  .panel
    box-shadow: none
    background: $clear
    border: none
  .panel-heading
    position: relative
    a
      position: absolute
      width: 100%
      top: 0
      bottom: 0
      left: 0
      padding-left: 10px
      padding-top: 0.5em
      color: $text
      background-color: #ededed
      border-color: #e8e8e8
      text-decoration: none
      &:hover, &:focus
        color: $text
        background-color: #d3d3d3
        border-color: #c9c9c9

.fullstretch + .faq-section
  width: 100%
  margin-bottom: 30px

.faq-section-title h3
  margin-top: 0

/* ========= END: FAQ Section ========= */

/* ========= START: Bottom Posts ========= */

.img-wrap
  margin: 15px
  &.pull-left, &.pull-right
    margin-top: 0
  &.pull-left
    margin-left: 0

.img-responsive
  display: block
  height: auto
  max-width: 100%

.img-thumbnail, .table, label
  max-width: 100%

.child-category
  article
    margin-top: 5px
    margin-bottom: 5px
  .img-wrap
    margin-top: 15px
    img
      width: 220px
  p, #excerpt
    display: inline
  h4 a
    font-weight: bold
  .read-more
    display: block

.template-article #excerpt
  visibility: hidden
  height: 0

/* ========= END: Bottom Posts ========= */

/* ========= START: FOOTER =========*/

footer
  background-color: #fff
  border-top: 1px solid $text
  text-align: center
  .navbar-nav
    margin: 0
  .copyright
    margin-top: 10px
    width: auto

/* ========= END: FOOTER ========= */

/* ========= START: Recreation ========= */
.cat-recreational
  &.page-national, &.page-california, &.page-florida, &.page-colorado, &.page-texas
    .full.related-search
      display: none
/* ========= END: Recreation ========= */


/* ========= START: Tips and FAQs ========= */

body.tips-and-faqs .show-for-mobile .adbox
  display: none

.faq-section .faq-item .answers
  padding: 10px

/* ========= END: Tips and FAQs ========= */
/* ========= START: Maps ========= */

.page-map
  border-top: 6px solid $secondNav_bg
  .page-title
    margin-bottom: 15px
    span
      display: block
/* ========= END: Maps ========= */
 /* ========= START: Slimdown Site ========= */
.post-featured-img
  /*height: 262px
  height: 311px
.custom-landing #secondary
  display: none
.custom-landing #primary
  width: 100%
  word-wrap: break-word
body:not(.full-width) #primary
  border-left: 0
/* ========= END: Slimdown Site ========= */

.col-md-12
  margin-top: 20px