@import "skin"; // skin.less file
.logo {
	div.navbar-toggle.visible-xs {
	    /* margin: 10px; */
	    padding: 10px 16px;
	    border: 1px solid black;
	    cursor: pointer;
	    display: block;
	    box-sizing: border-box;
	    margin-right:0px;
	}
   img.img-responsive {
	max-height: 75px;
	margin-top: -25px;
	}
} 
.imageLoader {
	width:1px;
	height:1px;
}
.clearfix {
	clear: both;
	height: 100px;
}

.clear {
	clear:both;
}

.fact {
	font-family: georgia;
	font-size:17px;
	font-style: italic;
}

.nopad-left {
	padding-left:0px;
}

.nopad-right {
	padding-right:0px;
}

.payment {
	h3 {
		font-size:18px;
		color: @primaryColor;
	}
	// box-sizing:border-box;
	padding:10px 20px;
	background:#fcfcfc;
	border:1px solid #ddd;
	border-radius: 4px;

	-webkit-border-radius: 4px;
	p {
		font-size:11px;
		text-align: justify;
		line-height: 13px;
	}
	.row>.error-msg {
		margin:15px!important;
	}
	.form-group .error-msg {
		margin:15px 0;
	}
}


header {
	background: url('//s3.amazonaws.com/movingsimplified.org/img/head.jpg');
	background-size: cover;
	margin-bottom: 40px;
	.notification {
		text-align:center; 
		color:@thirdColor;
		font-size:16px;
	}
	.logo {
		padding: 20px 0;
	}
	.navbar {
		border:0px!important;
		border-bottom:4px solid @navBorder!important;

	}
	nav,.navbar-default,.navbar-nav{
		.navbar-brand {
			color:#FFF;
		}
		&.navbar{
			min-height: 37px;
		}
		ul {
			li {
				
				a {
					&:hover{
						background-color: @navHover;
					}
					// padding:0px;
					color: @navLinkColor!important;
					font-family: latha;
					font-size: 20px;
					padding: 5px 0;
				}
			}
		}
		margin-bottom: 0px;
		border-radius: 0px;
		background-color: @navBackground;

	}	
}


footer {
	background: @footerWrapBackground;
	padding-top:40px;
	.footer {
		background: @footerBackground;
		padding-top:40px;
		padding-bottom: 40px;
		.footerLinks {
			display: none;
		}
		#bottom_legal {
			.footerlinks {
				padding-top: 20px;
			}
			font-size:11px;
			.copyright {
				padding-top: 25px;
				text-align: right;
				float:right;
			}
			color: @footerBody;
			ul li {
				color: @footerBody;
				list-style: none;
		
				border-right: 1px solid #FFF;
				line-height: 9px;
				padding-top:5px;
				padding-right:10px;
				margin-right:10px;
				float: left;
				&.last {
					border:none;
				}
				a {
					font-size: 11px;
					color: @lightLinkColor;
					&:hover {
						color: @lightHoverColor;
					}
				}
			}
			span {
				// float:right;
				// color: #FFF;
			}
			p {
				// padding: 25px 32px 0;
				padding: 0 15px;
				text-align: justify;
				font-size: 11px;
				color: @footerBody;
			}
		}
	}
}

p {
	font-size: 13px;
	text-align: justify;
}

.breathe {
	margin:20px auto;
	margin-top:-30px;
}
#main_info {
	a {
		color: @bodyColor;
		text-decoration: underline;
	}
	h1 {
		clear: left;
		font-size: 30px;
		font-weight: normal;
		padding: 0 0 9px;
		margin: 0 0 9px;
		color: @primaryColor;
	}
	h3 {
		color: @primaryColor;
		display: block;
		font-size: 1.35em;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;
	}
	padding:0px;
	margin:0px;
	padding-left: 35px;
}
#benefits {
	// margin-right:15px!important;
	h2 {
		a {
			color: #FFF;
			font-family: lathra;
			font-size:20px;
			// line-height: 45px;
		}
	   	margin-left: -17px;
		margin-right: -17px;
	    background: @navBackground;
	    padding: 10px 25px;
	    border-bottom:4px solid @navBorder!important;
	    margin-top: 0px;
		margin-bottom: 20px;
	}
	ul {
		margin-left:-10px;
		a {
				color: #000;
			}
		li {
			list-style-image: url('//movingsimplified.org.s3.amazonaws.com/img/check.png');
			font-size: 12px;
			line-height: 40px;
		}
	}

	box-shadow: 0px 5px 15px 0 #ccc;
	padding: 0 17px 20px;
	margin-bottom: 20px;
}
.disclaimer {
	margin: 35px 6px 30px 0px;
	color: @thirdColor;
	float: right;
	font-size: 12px;
}

.seals {
	.seal {
		text-align: center;
		margin:50px 0;
		margin-bottom:100px;
	}
}

//Home Page Specific
.homepage {

	.topics {
		border-top: 1px solid #e5e5e5;
		float: right;
		p {
			font-size: 13px;
		}
		// .topicOne {
		// 	margin: 20px 0;
		// }
	}
	.topic_title {
		color: @faqColor;
		font-family: latha;
		font-size: 20px;
		font-weight: bold;
	}
	a {
		&.readmore {
			// float:right;
			display: block;
			// margin:40px 0;
			text-align: right;
			text-decoration: none;
			color: #000;
			&:after {
				clear:both;
			}
			&:before {
				clear:both;
			}
		}
	}
	
}
//Contact Page Custom Styles
.contact-us {
	#contactUs {
		border:1px solid #ccc; padding:20px;margin-top:30px;
		// .submit {
		// 	width:100px;
		// 	height:40px;
		// 	background:#eee;
		// 	font-weight:bold;
		// 	margin-left: 25%;
		// 	border: 1px solid #ddd;
		// 	border-radius: 4px;
		// 	padding: 4px;
		// 	margin-top:20px;
		// }
	}
}
//FAQ Page Custom Styles
.faq {
	#faq_main li {
		color: #af1b1b;
		font-weight: bold;
		font-size: 14px;
	}
	#faq_main p {
		padding: 0 0 25px 0;
		font-size: 13px;
		margin: 13px 0;
	}
}
.services {
	a {
		color: #000;
	}
	#main_info {
		a {
			text-decoration: underline;
		}
		h3 {
			a {
				text-decoration: none;
			}
		}
	}
}
.informing-parties {
	a {
		color: #000;
	}
	#main_info {
		a {
			text-decoration: underline;
		}
	}
}

.callcenter {
	h3 {
		margin: 0 auto;
		display: inline-block;
		text-align: center;
	}
	margin:0 auto;
}

.action-box {
padding: 10px;
margin-bottom: 30px;
background: #eee;
}
.call2action1 {
background: url('//movingsimplified.org.s3.amazonaws.com/img/go-form-big.png') no-repeat;
height:106px;
float:left;
display:inline;
cursor:pointer;
}

.call2action2 {
background: url('//movingsimplified.org.s3.amazonaws.com/img/go-form-big.png') no-repeat;
height:106px;
float:left;
display:inline;
cursor:pointer;
}

.action-text1 {
font-family:calibri;
font-size:19px;
color:white;
position: relative;
top: 30px;
left: 10px;
}

.action-text2 {
font-family:calibri;
font-size:19px;
color:white;
position: relative;
top: 18px;
left: 10px;
}

.action-box {
padding: 10px;
margin-bottom: 30px;
background: #eee;
}

/* Form Pages */
#forms {
	#radioBtn {
		.last{
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
	.error-msg {
		margin-top: 10px;
	}
	#hiddenTempDate {
		display: none;
	}
	.input-group {
		width:100%;
	}
	h2 {	
		color: @primaryColor;
		display: block;
		font-size: 1.35em;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold;
	}

	#radioBtn .notActive{
	    color: @primaryColor;
	    background-color: #fff;
	}
	span.description {
			clear:both;
			display: block;
			font-size: 11px;
			margin-bottom:15px;
		}
	.form-control {
		.last{
			border-top-right-radius: 4px!important;
			border-bottom-right-radius: 4px!important;
		}
		&.border {
			border: 1px solid @primaryColor;
		}
		&.date {
			.border;
			float: left;
			width: 32.33%;
			margin-right:.5%;
			&.last {
				margin-right:0px;
				width: 33.33%
			}
		}

		
	}

	.has-error .form-control {
		border-color: #b94a48!important;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)!important;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)!important;
	}

	.form-wrapper {
		
		.hidden-label {
			display: none;
		}
		.nopadright {
			padding-right: 0px;
			margin-right: -15px;
		}
		.fieldset {
			border-right:2px solid @formColor;
			@media (min-width : 320px) and ( max-width: 640px) {
				border-right: none;
			}
			&.last {
				border-right: none;
			}
			margin-top:20px;
			margin-bottom:20px;
		}
	    border: 1px solid @primaryColor;
	    border-top-right-radius: 10px;
	    border-top-left-radius: 10px;
		@media (min-width : 320px) and ( max-width: 767px) {
			border:none;
		}
		h3.hidden-xs {
		    background: @primaryColor;
		    margin: 0;
		    margin-left: -15px;
		    margin-right: -15px;
		    border-top-right-radius: 6px;
		    border-top-left-radius: 6px;
		    padding: 10px;
		    color: #FFF;
		    font-size: 17px;
		    // margin-bottom: 20px;
		}
		.steps {
			padding:10px 0;
			padding-bottom:0px;
			// margin-bottom: 20px;
			box-shadow: 0 4px 2px -2px rgba(51,51,51,.3);
			span.badge {
				background: @primaryColor;
				color: #FFF;
				margin-right:8px;
				margin-left:25px;
			}
			li {
				color: @primaryColor;
				font-weight: bold;
			}
		}
		.glyphicon-info-sign {
			// background: @primaryColor;
			color: @primaryColor;
			font-size:18px;
			// float:right;
		}
		.description {
				font-size: 11px;
				padding:10px;
				padding-top: 0px;
				&.header {
					border-bottom: 2px solid @formColor;
				}
			}
		p {
			&.description {
				font-size: 11px;
				padding:10px;
				padding-top: 0px;
				&.header {
					border-bottom: 2px solid @formColor;
				}
			}
		}
		.header {
			h3 {
				font-size:15px;
				font-weight: bold;
				color: @formColor;
				padding:10px 0;
				padding-top:0px;
				border-bottom: 2px solid @formColor;

			}
		}
	}

}

@media (min-width : 320px) and ( max-width: 800px) {
	#main_info {
		padding:0px;
		margin:0px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width : 320px) and (max-width: 990px)  {
	header {
		.notification {
			font-size: 12px;
		}
	}
	footer {
		.footer {
			#bottom_legal {
				.copyright {
					clear: both;
					float:left;
					text-align: left;
				}
			}
		}
	}
}

@media (min-width : 480px) and (max-width: 990px) {
	footer {
		.footer {
			#bottom_legal {
				.copyright {
					clear: both;
					float:left;
					text-align: left;
				}
			}
		}
	}
	
}



/*==========  Non-Mobile First Method  ==========*/
	@media (min-width : 767px) and (max-width:992px) {
		#forms .form-wrapper .fieldset {
			min-height: 684px!important;
		}
		
	}
	/* Large Devices, Wide Screens */
	@media (min-width : 1200px) {
		#forms .form-wrapper .fieldset {
			min-height: 620px!important;
		}
		
	}

	/* Medium Devices, Desktops */
	@media (min-width : 992px) {
		#forms .form-wrapper .fieldset {
			min-height: 620px!important;
		}
	}

	/* Small Devices, Tablets */
	@media (min-width : 641px) and (max-width: 991px) {
		#forms {
			.form-wrapper {
				@media (min-width : 768px) and (max-width: 991px) {
					margin-left:0px!important;
				}
				&.row {
					// padding-left:0px;
					// padding-right:0px;
				}
					// margin-left:-15px;
    				// margin-right:-15px;
			
				.steps {
					span.badge {
						background: @primaryColor;
						color: #FFF;
						margin-right: 8px;
						margin-left: 5px;
					}
				}
			}
		}
	}
	
	@media (min-width : 320px) and (max-width: 1200px) {
		#radioBtn.btn-group {
				display: table;
				width: 100%;
				border-collapse: separate;
				table-layout: fixed;
			}
			a.btn.btn-primary.btn-md.hidden-lg {
				width: 50%;
				margin-right: 0px;
				float: left;
				// font-size:80%;
			}
			#radioBtn.btn-group.three { 
				a.btn.btn-primary.btn-md.hidden-lg {
					width: 33.33%;
					margin-right: 0px;
					float: left;
				}
			}
	}

	/* Custom, iPhone upto iPad */ 
	@media (min-width : 320px) and (max-width: 767px) {
		.form-template {
			.mobileSteps hr {
					margin: 10px 0!important;
				}
			header {
				margin-bottom:0px;
				box-shadow: 0 4px 2px -2px rgba(51,51,51,.4);
				.notification {
					// display:none!important;
					font-size: 9px!important;
					padding: 2px 0;
				}
				.logo {
					padding:0px!important;
				}
				nav {
					// display: none!important;
				}
				
			}
			#radioBtn.btn-group {
				display: table;
				width: 100%;
				border-collapse: separate;
				table-layout: fixed;
			}
			a.btn.btn-primary.btn-md.hidden-lg {
				width: 50%;
				margin-right: 0px;
				float: left;
			}
			#radioBtn.btn-group.three { 
				a.btn.btn-primary.btn-md.hidden-lg {
					width: 33.33%;
					margin-right: 0px;
					float: left;
				}
			}
			#forms{
				.form-wrapper {
				.fieldset {
					margin-top:10px;
					margin-left:-15px;
    				margin-right:-15px;
    				border-right:0px;
				}
				p {
					&.description {
						background: #F1F1F1;
						padding:10px;
						border-radius: 5px;
						&.header {
							border-bottom: 0px solid @formColor;
						}
					}
				}
			}
			}
			
			.nav-pills>li.active>a {
				background:#333;
				border:1px solid #000;
			}
			.nav-pills>li>a {
				padding: 0px 5px;
				border-radius: 0px;
				border: 1px solid #000;
				margin-right: 3px;
			}
			
			.nav-pills .done > a {
			    background-color:#5cb85c!important;
			    color:#FFF;
			    border:1px solid #4cae4c;
			 } 
			
			#shColumn5 {
				
				.description {
					background: transparent!important;
					padding:0px!important;
					border-radius: 0px!important;
					&.header {
						border-bottom: 0px solid @formColor;
					}
				}

				.col-xs-10.description {
					margin-left:10px;
				}
			}
		}
		
		footer {
			padding-top:0px;
			.footer {
				padding: 15px 0;
			}
		}
		.clearfix {
			height:25px;
		}
		.form-wrapper {
			// padding-left:15px;
			// margin-left:-15px;
		}
}

	@media (min-width : 768px) and (max-width: 991px) {
		#radioBtn.btn-group.three a.btn.btn-primary.btn-md.hidden-lg {
			float: none;
			width: 100%;
			border-radius: 4px;
			margin-top: 3px;
		}
	}

	@media (min-width : 320px) and (max-width: 767px) {
		header nav.navbar, header .navbar-default.navbar, header .navbar-nav.navbar {
			min-height: 0px;
			border-bottom:none!important;
		}
		.mobileFormControl {
			// background:#f1f1f1;
			// width:100%;
			// margin-left:-15px;
			// margin-right:-15px;
			// padding: 15px;
			// box-shadow: 0px 0px 4px 0px rgba(51,51,51,.5);
			hr {
				border-color:lighten(black,84%);
			}

		}
		.payment {
			// box-sizing:border-box;
			padding:0px;
			background:#FFF;
			border:none;
			border-radius: 0px;

			-webkit-border-radius: 0px;
		}
	}
#processError img {
    margin-top: 5px;
    margin-left: 15px;
}

#forms #benefits h2 {
    margin: -17px;
    margin-bottom: 10px;
    border-radius: 0;
}
#forms #benefits {
    margin-top: 17px;
    margin-right: 0px;
}
.factsContainer p {
    margin-bottom: 22px;
}

.btn-primary, .fieldset .btn-primary.finalSubmitDesktop, .fieldset .btn-primary.finalSubmit {
	background: @btnPrimaryBackground;
	border-color: @btnPrimaryBorder;
	&:hover {
		background: @btnPrimaryHoverBackground;
		border-color: @btnPrimaryHoverBorder;
	}
	&:active {
		background: @btnPrimaryHoverBackground;
		border-color: @btnPrimaryHoverBorder;
	}
}

.fieldset {
	.btn-primary {
		background: @primaryColor;
		border-color: @secondaryColor;
		&:hover {
			background: @primaryColor;
			border-color: @secondaryColor;
		}
		&:active {
			background: @primaryColor;
			border-color: @secondaryColor;
		}

	}
}