/* Solid Colors */
/* Navigation */
/* a link color */
/* Form Colors */
/* Body */
/* Footer */
/* FAQ */
/* Buttons */
.logo div.navbar-toggle.visible-xs {
  /* margin: 10px; */
  padding: 10px 16px;
  border: 1px solid black;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  margin-right: 0px;
}
.logo img.img-responsive {
  max-height: 111px;
  margin-top: -15px;
  margin-bottom: 0px;
}
.imageLoader {
  width: 1px;
  height: 1px;
}
.clearfix {
  clear: both;
  height: 100px;
}
.clear {
  clear: both;
}
.fact {
  font-family: georgia;
  font-size: 17px;
  font-style: italic;
}
.nopad-left {
  padding-left: 0px;
}
.nopad-right {
  padding-right: 0px;
}
.payment {
  padding: 10px 20px;
  background: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 auto;
  max-width: 704px;
}
.payment h3 {
  font-size: 18px;
  color: #014e78;
}
.payment p {
  font-size: 11px;
  text-align: justify;
  line-height: 13px;
}
.payment .row > .error-msg {
  margin: 15px!important;
}
.payment .form-group .error-msg {
  margin: 15px 0;
}
header {
  background-color: #eee;
  margin-bottom: 40px;
  border-bottom: 4px solid #ccc;
  box-shadow: 0px 0px 2px 4px rgba(51,51,51,.09);
}
header .notification {
  text-align: center;
  color: #808080;
  font-size: 16px;
}
header .logo {
  padding: 20px 0;
  padding-bottom: 10px;
}
header .navbar {
  border: 0px!important;
  border-bottom: 4px solid #789abd !important;
}
header nav,
header .navbar-default,
header .navbar-nav {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #014e78;
}
header nav .navbar-brand,
header .navbar-default .navbar-brand,
header .navbar-nav .navbar-brand {
  color: #FFF;
}
header nav.navbar,
header .navbar-default.navbar,
header .navbar-nav.navbar {
  min-height: 37px;
}
header nav ul li a,
header .navbar-default ul li a,
header .navbar-nav ul li a {
  color: #ffffff !important;
  font-family: latha;
  font-size: 20px;
  padding: 5px 0;
}
header nav ul li a:hover,
header .navbar-default ul li a:hover,
header .navbar-nav ul li a:hover {
  background-color: #56c7ff;
}
footer {
  background: #eee;
  padding-top: 0px;
  border: 1px solid #ccc;
}
footer .footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #333!important;
}
footer .footer .footerLinks {
}
footer .footer #bottom_legal {
  font-size: 11px;
  color: #ffffff;
}
footer .footer #bottom_legal .footerlinks {
  padding-top: 0px;
  padding-bottom: 31px;
  margin-top: -20px;
}
footer .footer #bottom_legal .copyright {
  padding-top: 25px;
  text-align: right;
  float: left;
  color: #333;
}
footer .footer #bottom_legal ul li {
  color: #ffffff;
  list-style: none;
  border-right: none;
  line-height: 9px;
  padding-top: 5px;
  padding-right: 10px;
  margin-right: 10px;
  float: left;
}
footer .footer #bottom_legal ul li.last {
  border: none;
}
footer .footer #bottom_legal ul li a {
  font-size: 11px;
  color: #333;
  text-decoration: underline;
}
footer .footer #bottom_legal ul li a:hover {
  color: #e6e6e6;
}
footer .footer #bottom_legal p {
  padding: 0 15px;
  text-align: justify;
  font-size: 11px;
  color: #333;
}
p {
  font-size: 13px;
  text-align: justify;
}
.breathe {
  margin: 20px auto;
  margin-top: -30px;
}
#main_info {
  padding: 0px;
  margin: 0px;
  padding-left: 35px;
}
#main_info a {
  color: #000000;
  text-decoration: underline;
}
#main_info h1 {
  clear: left;
  font-size: 30px;
  font-weight: normal;
  padding: 0 0 9px;
  margin: 0 0 9px;
  color: #014e78;
}
#main_info h3 {
  color: #014e78;
  display: block;
  font-size: 1.35em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
#benefits {
  box-shadow: 0px 5px 15px 0 #ccc;
  padding: 0 17px 20px;
  margin-bottom: 20px;
}
#benefits h2 {
  margin-left: -17px;
  margin-right: -17px;
  background: #014e78;
  padding: 10px 25px;
  border-bottom: 4px solid #789abd !important;
  margin-top: 0px;
  margin-bottom: 20px;
}
#benefits h2 a {
  color: #FFF;
  font-family: lathra;
  font-size: 20px;
}
#benefits ul {
  margin-left: -10px;
}
#benefits ul a {
  color: #000;
}
#benefits ul li {
  list-style-image: url('//s3.amazonaws.com/movingsimplified.org/img/check.png');
  font-size: 12px;
  line-height: 40px;
}
.disclaimer {
  margin: 35px 6px 30px 0px;
  color: #808080;
  float: none;
  font-size: 12px;
  margin: 0;
  padding: 20px 0;
}
.seals .seal {
  text-align: center;
  margin: 50px 0;
  margin-bottom: 100px;
}
.homepage .topics {
  border-top: 1px solid #e5e5e5;
  float: right;
}
.homepage .topics p {
  font-size: 13px;
}
.homepage .topic_title {
  color: #af1b1b;
  font-family: latha;
  font-size: 20px;
  font-weight: bold;
}
.homepage a.readmore {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #000;
}
.homepage a.readmore:after {
  clear: both;
}
.homepage a.readmore:before {
  clear: both;
}
.contact-us #contactUs {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 30px;
}
.faq #faq_main li {
  color: #af1b1b;
  font-weight: bold;
  font-size: 14px;
}
.faq #faq_main p {
  padding: 0 0 25px 0;
  font-size: 13px;
  margin: 13px 0;
}
.services a {
  color: #000;
}
.services #main_info a {
  text-decoration: underline;
}
.services #main_info h3 a {
  text-decoration: none;
}
.informing-parties a {
  color: #000;
}
.informing-parties #main_info a {
  text-decoration: underline;
}
.callcenter {
  margin: 0 auto;
}
.callcenter h3 {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
.action-box {
  padding: 10px;
  margin-bottom: 30px;
  background: #eee;
}
.call2action1 {
  background: url('//s3.amazonaws.com/movingsimplified.org/img/go-form-big.png') no-repeat;
  height: 106px;
  float: left;
  display: inline;
  cursor: pointer;
}
.call2action2 {
  background: url('//s3.amazonaws.com/movingsimplified.org/img/go-form-big.png') no-repeat;
  height: 106px;
  float: left;
  display: inline;
  cursor: pointer;
}
.action-text1 {
  font-family: calibri;
  font-size: 19px;
  color: white;
  position: relative;
  top: 30px;
  left: 10px;
}
.action-text2 {
  font-family: calibri;
  font-size: 19px;
  color: white;
  position: relative;
  top: 18px;
  left: 10px;
}
.action-box {
  padding: 10px;
  margin-bottom: 30px;
  background: #eee;
}
/* Form Pages */
#forms #radioBtn .last {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#forms .error-msg {
  margin-top: 10px;
}
#forms #hiddenTempDate {
  display: none;
}
#forms .input-group {
  width: 100%;
}
#forms h2 {
  color: #014e78;
  display: block;
  font-size: 1.35em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
#forms #radioBtn .notActive {
  color: #014e78;
  background-color: #fff;
}
#forms span.description {
  display: block;
  font-size: 11px;
  margin-bottom: 15px;
}
#forms .form-control .last {
  border-top-right-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
}
#forms .form-control.border {
  border: 1px solid #ccc;
}
#forms .form-control.date {
  border: 1px solid #ccc;
  float: left;
  width: 32.33%;
  margin-right: .5%;
}
#forms .form-control.date.last {
  margin-right: 0px;
  width: 33.33%;
}
#forms .has-error .form-control {
  border-color: #b94a48!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}
#forms .form-wrapper {
  border: 1px solid #014e78;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#forms .form-wrapper .hidden-label {
  display: none;
}
#forms .form-wrapper .nopadright {
  padding-right: 0px;
  margin-right: -15px;
}
#forms .form-wrapper .fieldset {
  border-right: 1px solid #CCC;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 640px) {
  #forms .form-wrapper .fieldset {
    border-right: none;
  }
}
#forms .form-wrapper .fieldset.last {
  border-right: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  #forms .form-wrapper {
    border: none;
  }
}
#forms .form-wrapper h3.hidden-xs {
  background: #014e78;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 10px;
  color: #FFF;
  font-size: 17px;
}
#forms .form-wrapper .steps {
  padding: 10px 0;
  padding-bottom: 0px;
  box-shadow: 0 4px 2px -2px rgba(51, 51, 51, 0.3);
}
#forms .form-wrapper .steps span.badge {
  background: #014e78;
  color: #FFF;
  margin-right: 8px;
  margin-left: 25px;
}
#forms .form-wrapper .steps li {
  color: #014e78;
  font-weight: bold;
}
#forms .form-wrapper .glyphicon-info-sign {
  color: #014e78;
  font-size: 18px;
}
#forms .form-wrapper .description {
  font-size: 11px;
  padding-top: 0px;
}
#forms .form-wrapper .description.header {
  border-bottom: 2px solid #993300;
}
#forms .form-wrapper p.description {
  font-size: 11px;
  padding: 10px;
  padding-top: 0px;
}
#forms .form-wrapper p.description.header {
  border-bottom: 1px solid #CCC;
}
#forms .form-wrapper .header h3 {
  font-size: 15px;
  font-weight: bold;
  color: #993300;
  padding: 10px 0;
  padding-top: 0px;
  border-bottom: 2px solid #993300;
}
@media (min-width: 320px) and (max-width: 800px) {
  #main_info {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 320px) and (max-width: 990px) {
  header .notification {
    font-size: 12px;
  }
  footer .footer #bottom_legal .copyright {
    clear: both;
    float: left;
    text-align: left;
  }
}
@media (min-width: 480px) and (max-width: 990px) {
  footer .footer #bottom_legal .copyright {
    clear: both;
    float: left;
    text-align: left;
  }
}
/*==========  Non-Mobile First Method  ==========*/
@media (min-width: 767px) and (max-width: 992px) {
  #forms .form-wrapper .fieldset {
    min-height: 684px!important;
  }
}
/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  #forms .form-wrapper .fieldset {
    min-height: 620px!important;
  }
}
/* Medium Devices, Desktops */
@media (min-width: 992px) {
  #forms .form-wrapper .fieldset {
    min-height: 590px!important;
  }
}
/* Small Devices, Tablets */
@media (min-width: 641px) and (max-width: 991px) {
  #forms .form-wrapper .steps span.badge {
    background: #014e78;
    color: #FFF;
    margin-right: 8px;
    margin-left: 5px;
  }
}
@media (min-width: 641px) and (max-width: 991px) and (min-width: 768px) and (max-width: 991px) {
  #forms .form-wrapper {
    margin-left: 0px!important;
  }
}
@media (min-width: 320px) and (max-width: 1200px) {
  #radioBtn.btn-group {
    display: table;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
  }
  a.btn.btn-primary.btn-md.hidden-lg {
    width: 50%;
    margin-right: 0px;
    float: left;
  }
  #radioBtn.btn-group.three a.btn.btn-primary.btn-md.hidden-lg {
    width: 33.33%;
    margin-right: 0px;
    float: left;
  }
}
/* Custom, iPhone upto iPad */
@media (min-width: 320px) and (max-width: 767px) {
  .form-template .mobileSteps hr {
    margin: 10px 0!important;
  }
  .form-template header {
    margin-bottom: 0px;
    box-shadow: 0 4px 2px -2px rgba(51, 51, 51, 0.4);
  }
  .form-template header .notification {
    font-size: 9px!important;
    padding: 2px 0;
  }
  .form-template header .logo {
    padding: 0px!important;
  }
  .form-template #radioBtn.btn-group {
    display: table;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
  }
  .form-template a.btn.btn-primary.btn-md.hidden-lg {
    width: 50%;
    margin-right: 0px;
    float: left;
  }
  .form-template #radioBtn.btn-group.three a.btn.btn-primary.btn-md.hidden-lg {
    width: 33.33%;
    margin-right: 0px;
    float: left;
  }
  .form-template #forms .form-wrapper .fieldset {
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    border-right: 0px;
  }
  .form-template #forms .form-wrapper p.description {
    background: #F1F1F1;
    padding: 10px;
    border-radius: 5px;
  }
  .form-template #forms .form-wrapper p.description.header {
    border-bottom: 0px solid #993300;
  }
  .form-template .nav-pills > li.active > a {
    background: #333;
    border: 1px solid #000;
  }
  .form-template .nav-pills > li > a {
    padding: 0px 5px;
    border-radius: 0px;
    border: 1px solid #000;
    margin-right: 3px;
  }
  .form-template .nav-pills .done > a {
    background-color: #5cb85c!important;
    color: #FFF;
    border: 1px solid #4cae4c;
  }
  .form-template #shColumn5 .description {
    background: transparent!important;
    padding: 0px!important;
    border-radius: 0px!important;
  }
  .form-template #shColumn5 .description.header {
    border-bottom: 0px solid #993300;
  }
  .form-template #shColumn5 .col-xs-10.description {
    margin-left: 10px;
  }
  footer {
    padding-top: 20px;
  }
  footer .footer {
    padding: 15px 0;
  }
  .clearfix {
    height: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #radioBtn.btn-group.three a.btn.btn-primary.btn-md.hidden-lg {
    float: none;
    width: 100%;
    border-radius: 4px;
    margin-top: 3px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header nav.navbar,
  header .navbar-default.navbar,
  header .navbar-nav.navbar {
    min-height: 0px;
    border-bottom: none!important;
  }
  .mobileFormControl hr {
    border-color: #d6d6d6;
  }
  .payment {
    padding: 0px;
    background: #FFF;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
  }
}
#processError img {
  margin-top: 5px;
  margin-left: 15px;
}
#forms #benefits h2 {
  margin: -17px;
  margin-bottom: 10px;
  border-radius: 0;
}
#forms #benefits {
  margin-top: 17px;
  margin-right: 0px;
}
.factsContainer p {
  margin-bottom: 22px;
}
.btn-primary,
.fieldset .btn-primary.finalSubmitDesktop,
.fieldset .btn-primary.finalSubmit {
  background: #f59c08;
  border-color: #e58e01;
}
.btn-primary:hover,
.fieldset .btn-primary.finalSubmitDesktop:hover,
.fieldset .btn-primary.finalSubmit:hover {
  background: #e69308;
  border-color: #cc7e01;
}
.btn-primary:active,
.fieldset .btn-primary.finalSubmitDesktop:active,
.fieldset .btn-primary.finalSubmit:active {
  background: #e69308;
  border-color: #cc7e01;
}
.fieldset .btn-primary {
  background: #014e78;
  border-color: #0a587f;
}
.fieldset .btn-primary:hover {
  background: #014e78;
  border-color: #0a587f;
}
.fieldset .btn-primary:active {
  background: #014e78;
  border-color: #0a587f;
}

nav.navbar.navbar-default {
    display: none;
}
.logo h1 {
    margin-top: 9px;
    font-size: 23px;
    float: right;
    font-style: italic;
    text-shadow: 2px 2px 1px rgba(255,255,255,1);
    color: #3686c6;
}
.top {
    margin-top: -19px;
}
.top .btn-block {
    margin-bottom: 20px;
}
#assistantBenefits li {
list-style-image: url('//s3.amazonaws.com/movingsimplified.org/img/check.png');
color: #114b8b;
margin-bottom: 16px;
font-weight: bold;
font-size: 18px;
padding-left: 11px;
}
input.removeBeforeSubmit {
}
.radioWrap {
    padding: 20px;
    background: #f1f1f1;
}
.radioWrap span.glyphicon {
    display: none;
}
.radioWrap {
    float: left; 
    width: 169px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #eee; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc; 
    margin-right: 10px; padding: .5em; background: #eee; background: -moz-linear-gradient(top, #fff 3%, #fff 5%, #eee 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#fff), color-stop(100%,#eee)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); margin-bottom: 2px; text-align: center; color: #222;
}
.radioWrap span.description {
    display: none;
}
.radioWrap span.description {
    display: none!important;
}
.radioWrap.lg {
    width: 100%;
    text-align: left;
    margin-bottom: 7px;
}
.visible-lg.visible-md.header {
    display: none!important;
}
form .alert.alert-danger {
   /* background-color: #1d7396;
    color: #FFF;
    border: none;
    padding: 10px;*/
}
form .alert.alert-success {
    /*background-color: #1d7396; color: #FFF; border: none; padding: 10px;*/
}
div#billingColumn1 {
    margin: 0 auto;
}

a:hover {
color:#000!important;
}

.text-right.top-links {
    float: right;
}
.text-right.top-links a {
    color:#000;
    text-decoration:underline;
}
.radioWrap.last {
    margin-right: 0px;
}
.space {
    margin-bottom: 30px;
}
.nopadleft {
    padding-left: 0px;
    position: relative;
}
button.btn.btn-lg.btn-block.btn-primary.btn- {}
.btn-overlay {
    position: absolute;
    bottom: -10px;
    margin: 20px;
    width: 91%;
    background: #014e78;
    color: #FFF;
}
.btn-overlay:hover {
    position: absolute;
    bottom: -10px;
    margin: 20px;
    width: 91%;
    background: #014e78;
    color: #FFF;
}
.alert.alert-blue {
    background: #333;
    color: #FFF;
}
.calltoactionbtn img {
    height: 50px;
    margin-bottom: 20px;
    margin-top: -10px;
}
#main_info h1 {
  clear: left;
  font-size: 30px;
  font-weight: normal;
  padding: 0 0 9px;
  margin: 0 0 9px;
  color: #014e78;
  float: left;
}
.calltoactionbtn {
    float: right!important;
}