
/* Solid Colors */
@black: #000000;
@white: #FFFFFF;

@primaryColor: #014e78;
@secondaryColor: #0a587f;
@thirdColor: #808080;

@callOutColorOne: #f59c08;
@callOutColorTwo: #e58e01;
@callOutColorThree: #af1b1b;

/* Navigation */
@navBackground: @primaryColor;
@navHover: #56c7ff;
@navBorder: #789abd;
@navLinkColor: @white;

/* a link color */
@lightLinkColor: @white;
@lightHoverColor: darken(@lightLinkColor,10%);

@darkLinkColor: @black;
@darkHoverColor: lighten(@darkLinkColor,40%);

/* Form Colors */
@formColor: #993300;

/* Body */
@bodyColor: @black;
@bodyLinkColor: @black;
@bodyLinkHover: lighten(@bodyLinkColor,10%);

/* Footer */
@footerWrapBackground: @secondaryColor;
@footerBackground: darken(@primaryColor,08%);
@footerBody: @white;

/* FAQ */
@faqColor: @callOutColorThree;

/* Buttons */
@btnPrimaryBackground: @callOutColorOne;
@btnPrimaryBorder: @callOutColorTwo;
@btnPrimaryHoverBackground: darken(@btnPrimaryBackground,3%);
@btnPrimaryHoverBorder: darken(@btnPrimaryBorder,5%);