html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display : block; }

abbr[title] { border-bottom : 1px dotted; cursor : help; }

body { 
	margin : 0 auto;
	height: 100%;
	font : 16px/1.4 Arial, "Helvetica Neue", Helvetica, sans-serif;
	color : #357;
	text-align:center;
	cursor:default;
	background: #D2DBDA url(img/texture.png);
	}

h1, h2, h3, h4 {font-weight: bold; padding:0px; margin:0px;}

h1 { 
	clear: left; 
	font: bold 30px/1.2 Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	line-height: 100%;
	padding: 0 0 9px;
	margin: 0 0 9px;
	color: #444; 
	text-align:left;
 }
 
 h2#splash { 
	font-size: 16px; 
	line-height: 22px; 
	margin: 0 0 0px; 
	color: #357; }
   
 #header h1 { padding: 0 30px 18px; font-size: 20px; line-height: 26px; color: #999; margin: 0; letter-spacing:-1px;}

 h1 em { font-weight: normal; font-style: normal; font-size: 36px; letter-spacing: -1px; color: #3CBCC6; font-family: Georgia, "Times New Roman", Times, serif; }

 h1 span { font-size: 18px; color: #999; text-transform: uppercase; font-weight: bold; }
 
	.screen-index #mainContent h1 {
		text-align:center; 
		text-transform:uppercase; 
		color: #DB5839;
		text-shadow: 2px 2px 1px #ccc;
		font-style: italic;
		font-size: 18px;
	}
h2 { 
	font-size: 16px; 
	line-height: 22px; 
	margin: 0 0 9px; 
	color: #357; }

	fieldset h2 {
		font-size: 24px; 
		background: transparent url(img/select-form-sprite.png) no-repeat 0 -75px;
		padding: 18px 0 0 50px; 
		height: 34px; 
		color: #00AEC5 }
	fieldset#step2 h2 { background-position: 0 -135px; }
	
p, ol, ul, dl, address { 
	margin-bottom : 1.5em; 
	font-size : 1em; /* 16 / 16 = 1 */ }
   
p#home { margin:0;}

ul, ol { margin : 0 0 1.5em; padding: 0; }

ul#menu {list-style-type: none;}

ul { list-style-type : square;
margin-left: 50px;
line-height: 180%; }

ol { list-style-type : decimal;
margin-left: 50px;
line-height: 180%; }

li ul, li ol { 
	margin : 0;
	font-size : 1em; /* 16 / 16 = 1 */ }

dl, dd { margin-bottom : 1.5em; }

dt { font-weight : normal; }

blockquote  { margin : 0 0 1.5em; font-style : italic; }

blockquote:before, blockquote:after, q:before, q:after { content : ''; content : none; }

b, strong	{ font-weight : bold; }
i, em { font-style : italic; }

sup, sub { 
	position : relative;
	font-size : 75%; 
	line-height : 0; }

sup { top : -.5em; }
sub { bottom : -.25em; }
address { font-style : normal; }

pre { 
	margin-bottom : 1.5em; 
	white-space : pre; 
	white-space : pre-wrap; 
	word-wrap : break-word; }

pre, code { 
	font : .875em 'andale mono', 'lucida console', monospace; 
	line-height : 1.5; }

small { font-size : 1em; /* 16 / 16 = 1 */ }

a {color: #00AEC5; text-decoration: none; }
a:visited {color: #007B8C; }
a:hover {text-decoration: underline; }

.step1 h2 {color: #e00;}

.container {
	text-align:left; 
	margin: 0 auto; 
	padding: 0 0 20px; 
	height:auto;  
}


.page { margin: 0 auto; width: 965px; background: #fff; text-align:justify; }
	.home .page { padding-bottom: 36px; }


/*--- DMV locations / DMVLookup ---*/   
div.DMVlookup { height: 100%; width:340px; background: #fff; padding: 10px; margin-top:20px; margin: 0 auto; border:30px solid #ddd;}

div.dmvLocSearch { height: 55px; width:360px; background:#ddd; padding:10px; border: 1px solid #848484; margin:0 auto}
div.skipDMV { height: 100%; width:350px; background: #fff; padding: 10px; margin-top:20px; margin: 0 auto; border:30px solid #ddd;}
h1#skipDMV { color: #2496C7; font-family: arial black; margin-top:10px;}
h2#less2min { color: black; margin-top:5px; font-family:arial; font-size:16px; letter-spacing:-0.5px;}
div.submit {width:100px; height: 30px; background:#B40404; border: 1px solid #ccc; color:white; font-family:arial; font-weight: bold; text-align:center; margin-top:20px; cursor: pointer; padding: 6px 0 0 0;}
select#skipDMVstate, select#skipDMVservice {margin-top:10px;}

	
#header{
	padding: 30px 0 0;
	overflow: hidden; 
	background: #33414e url(img/stickers.jpg) no-repeat top;
	border-bottom: solid 1px #fff;
	}
	#header .page { background: transparent; padding-bottom: 0; padding-left: 0; }

#login-wrap {
	float: right;
	width: 250px; 
	padding-right: 50px; 
	margin-bottom: 20px; 
	text-align: right; }

#login-wrap a, #login-wrap a:visited { color: #fff; }

#nav { 
	float:left; width:965px; 
}

#nav ul { 
	position:relative; 
	float:left; width:965px; 
	margin: 0; padding: 0; }

#nav li {position: relative; float:left; }

#nav li a {
	display:block;
	color: #357;
	text-align: center; 
	height: 36px;
	padding-left:24.2px;
	padding-right:25px;
	line-height: 36px;
	font-weight: bold;
	text-decoration: none; 
	background: #adc2c4; /* Old browsers */
	background: -moz-linear-gradient(top, #e6f3f4 0%, #adc2c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f3f4), color-stop(100%,#adc2c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f3f4', endColorstr='#adc2c4',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e6f3f4 0%,#adc2c4 100%); /* W3C */
	border-right: solid 1px #ADC2C4;
	border-left: solid 1px #e6e6e6;
}

.ie6 #nav li a, .ie7 #nav li a, .ie8 #nav li a { font-weight: bold; } /* fix ie thin font weights */

#screen-home li a.home, #screen-dmvLocations li a.locations, #screen-practiceTests li a.practice, #screen-aboutUs li a.about, #screen-manuals li a.manuals, #screen-driversEd li a.drivers {
			color:#fff; 
			background: #00AEC5; 
			text-decoration: none;
			}

.home #nav a.home, .Dmv.Locations #nav a.locations, .Practice.Tests #nav a.practice, .Drivers.Manual #nav a.manuals, .Drivers.Ed #nav a.drivers, .About.Us #nav a.about, .State.Info #nav a.state {
			color:#fff; 
			background: #00A2D9; 
	 		filter: none; /* for IE */
			text-decoration: none;
			}

	#nav li a:hover {
		color:#00AEC5; 
		}
	
#mainContent { 
	padding: 20px 30px 72px 30px;
}
#screen-index #mainContent {
	background: transparent url(img/mail.jpg) no-repeat 50px 90px; 
}

.home #mainContent { padding-bottom: 30px; }

	ul.layout { float: left; width: 100%; list-style-type:none; margin-left:-1px;}
	ul.layout li { margin: 0}
		.layout li.intro { float: left; width: 150px; padding: 5px 15px 0 55px; color: #888; background: transparent url(img/current-arrow.png) right center no-repeat; margin-top: 8px; }
		.layout li.form-wrap { float: right; width: 670px; }
		
	ul.layout li p { margin: 0; font-size: 14px; line-height: 1; }
	ul.layout li img { float: left; margin-left: -55px; }


img.banner468 { float: right; margin: 0 0 18px 20px; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7 { float: left; }
.col1 { float: left; width: 350px; margin: 0 30px 0 0;}
.col2 { float: right; width: 480px; }
.col-full { clear: left; }
.col1, .col2 { text-align:justify; }


#screen-dmvLocations iframe { background: #fff; padding: 5px 20px; }

.two-col #mainWrap { float: left; width: 60%; }
#aside { float: right; width: 36%; }
#aside .bucket { padding: 0 0 36px; }

img#networkad { display: block; text-align: right; }

.secondary_nav { margin-bottom: 0; padding: 10 0 0; border-bottom: solid 1px #ddd; }
.secondary_nav li { display: inline; }
.secondary_nav li a { margin: 0 5px 0 0; padding: 8px 15px; line-height: 36px; background: #eee; text-decoration: none; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.secondary_nav li a:hover { background: #00AEC5; color: #fff; text-decoration: none; }
.secondary_nav li a.selected { background: #F7ECB3 }
div.tabContent { clear: left; padding: 18px 30px; }

.page_footer {clear:left; padding: 30px 30px 0; }

#footer { 
	position:relative;
	clear: both;
	margin: 0 0 18px;
	padding: 10px 30px 5px;
	color: #999;
	}

#footer { background-color:#dddddd; padding:30px; }

#footer p { 
	text-align: center; 
	font-size: 12px; 
	line-height: 1.3;
	margin-bottom: .5em; 
	}

#footer a { color: #007B8C }

.dl_submit{ 
	clear: left; 
	background: url(img/select-form-sprite.png) no-repeat 0 -196px; 
	height:54px; 
	text-indent:-9000em; 
	margin: 10px auto; 
	cursor: pointer;
	}

.extrafooter { clear:both; background: #eee; padding: 18px 60px; margin: 0 30px; font-size: 12px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}

/*  form styles  */
#loginForm { padding: 0 120px; margin-bottom: 50px; }

#aside .download {
	background: #e84000 url(img/icon-pdf-dl.png) no-repeat 10px 10px;
	padding: 9px 30px 15px 100px;
	margin-bottom: 18px;
	color: #FBEDC1;
}
#aside .download h2 {
	font-size: 13px;
	color: #FBEDC1;
}
#aside .download button {
	width: 100%;
	margin-bottom: .5em;
}

fieldset {padding: 10px 0 0px;}
	fieldset#step1, fieldset#step2 { padding-left: 40px; }
	fieldset#step1 h2, fieldset#step2 h2 { margin-left: -40px; }
	fieldset#step1 {float: left; width: 330px; }
	div.col { float:left; width: 45%; margin: 0 5% 0 0; }

.input-wrap {margin: 15px 0}

form p { margin: 0; font-size: 14px; }
.radioset, .inputset {clear:left; float: left; padding: .5em 0 .4em 13em; margin: 0 0 9px; }
.radiopair, .inputset .inputpair { margin: 0; }
div.inputpair { clear: left; padding: 0 0 9px; }
#step2 div.inputpair { padding: 0 0 9px 15px; }
div.checkpair, div.radiopair { clear: left; padding: 0 0 .5em 2em }
#step1 div.checkpair { padding-left: 40px }
#registration div.checkpair {padding-left: 10em; }

label {}
td.form label { margin-left: .2em; }

#first-form label {
	font-size: 16px; 
	/* color: #00AEC5; */
	width: auto; 
}

#step1 label { padding-top: 3px; }
#step2 label { float: left; margin-right: .5em; }

div.radio-input { display:inline; margin-bottom: .5em; padding-left: 1.5em; }
.radioset p, .inputset p { margin-left: -1.5em; }

input { padding: 3px 5px; }

input[type="radio"], input[type="checkbox"], div.radio-input input {
	width: auto; 
	margin: 0 .5em 0 -1em; 
	border: none 0; }
	
input.checkBox { 
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border: none 0; 
 }
span.checkBox {
    background: transparent url(img/select-form-sprite.png) no-repeat scroll 0 -32px;
    float:left;
    margin: -10px 0 0 -35px;
    width: 30px;
    height: 30px;
    padding-top: 10px;
}
span.checkBox input {
    margin-left: 0;
    width: 30px;
    height: 30px;
}
span.checkBox.checked {
    background-position: 0 0;
}

#step2 input { width: 10em; }
input:focus {background: #FDFBEC; }


select { 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 3px 5px; 
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/1 Arial, Helvetica, sans-serif;
	padding: 6px 15px;
	margin-bottom: 1em;
	color: #fff;
	font-weight: bold;
	border: solid 1px #b00;
	
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e60000, endColorstr=#b30000); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#b30000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e60000,  #b30000); /* for firefox 3.6+ */

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}
	#registration button {margin-left: 14em;} 
button:active, a.button:active {
	position: relative;
	top: 1px;
	background: #8ac;
}
button span {line-height: 1}

td.form { padding: 0 5px 0 0; }

.statelist { float:left; width: 150px; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



.dl_verisign{ 
	clear: left; 
	background: url(/img/verisign.png) no-repeat;
	height:50px; 
	text-indent:-9000em; 
	margin: 15px 0 10px 90px; 
	}
.imgform, .imgmain { display:none; }

/*------DEEP LINK CHECKLIST  (excel)------*/

#scenarioP {text-align:justify;}

div.pdfynY{
background:url(img/pdfBoxNew1.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
}

div.pdfynN{background: transparent; width:0px; height:0px;}

div.checklistynY{
background:url(img/checklistBoxNew.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
}
div.checklistynN{background:transparent; width:0px; height:0px;}


div.linksynY{
background:url(img/dmv-appBoxNew1.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
}

div.linksynN {
background:url(img/dmv-locBoxNew1.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
}

div.ebookY {
background:url(img/ebookBoxNew.png) no-repeat;
float:left;
width:444px;
height:87px;
margin-bottom: 15px;
}

div#leftChecklist {
width:545px;
float:left;
}


div#hr {
background:url(img/hr.jpg) repeat-x;
height:30px;
}

/*------END DEEP LINK CHECKLIST  (excel)------*/


/*--- splash ---*/
#splash_innerContainer{background: url(img/splash_bg01.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#landing_innerContainer{background: url(img/splash_bg01landing.jpg) no-repeat; width:857px; height:410px;  margin:auto;}
#landing_innerContainer h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
#stateinfo_innerContainer {background: url(img/splash_bg01stateinfo.jpg) no-repeat; width:857px; height:410px;  margin:auto;}
#stateinfo_innerContainer h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
#splash_innerContainer2{background: url(img/splash_bg02.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#splash_innerContainer h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
.splash_mainTextBox {width: 470px; margin: 45px 0 0 50px; height:170px; font-family: arial; overflow:hidden; }
.splash_selectBox {float:right; margin-right: 300px; margin-top: 15px; }
.splash_getStarted  {float:right; margin: 5px -420px 0px 0px; }
.splash_start { width:200px; height:24px; background:url("img/splash_bt01.png") no-repeat; }
.stateinfo-cont {margin-left: 135px; margin-top: 15px;cursor:pointer; }

#stateinfoBox { padding:10px 40px;font-size:12px;width:100%;}

/*--- servsplash ---*/

h1.texas { background:url("img/texasflag.png") no-repeat; height:70px; padding-left:105px !important;  }

#splash_innerContainerTX{background: url(img/splash01new.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#splash_innerContainer2TX{background: url(img/splash_bg02.jpg) no-repeat; width:857px; height: 337px;  margin:auto;}
#splash_innerContainerTX h1{color:#007b8c; text-align:center; padding: 10px 0 2px 0 ; font-family: arial; font-size: 24pt}
.splash_mainTextBoxTX {width: 470px; margin: 45px 0 0 50px; height:170px; font-family: arial; overflow:hidden; }
.splash_selectBoxTX {float:right; margin-right: 300px; margin-top: 30px; }
.splash_startTX { width:200px; height:60px; background:url("img/splash_bt01.png") no-repeat; margin: 0px 30px 0px 130px; float:left; }
.zip {float:left;padding-top:17px;}
.continue { float:left;display:inline; }
.linkHome { height:40px; float:left;display:inline; margin-left:30px; color:black;padding-top:10px;color:#007b8c;}

h1#notice {font-size:24px; color:#B50B07; font-weight:bold; text-align:center;}

/*---- freebuy -----*/
#feeLeft {background-image:url(img/fee7.png); width:422px; height:289px; margin:0px;float:left;margin-left:15px;}
#freeRight {background-image:url(img/free.png); width:419px; height:289px; float:left;display:inline;}
#feeOrFree {margin-top:30px;}

#dl-success {display:none;border:2px solid #ccc; padding:15px;margin-bottom:20px;background:#eee;}

.tooltip {
  display:none;
  width:185px;
  position:absolute;
  border-radius:5px;
  box-shadow:2px 2px 3px rgba(0,0,0,.2);
  background-color:#eee;
  border:2px solid #ababab;
  text-shadow:-1px -1px 0 #F4F4F4;
  color:#666;
  font:12px Calibri, Geneva, sans-serif;
  padding:10px;
  text-align:left;
}

.center {   display: block;   margin-left: auto;   margin-right: auto; }

#greenPricePoint {color:#267F00; font-size: 30px; font-weight:bold; margin-left:300px; margin-top:5px; }
#feeParagraph {margin-left:165px;margin-top:47px;width:210px;color:black; }
#ifApplicable {clear:both;font-size:12px;color:#404040;margin-left:20px;margin-top:50px; }

div#seals {
 clear:both;
 padding-top:5px;
 text-align:center;
 border-top:2px solid #ccc;
 margin-top:10px;
}

#showResult {
border: 2px solid #eee;
height:auto;
padding:15px;
color:navy;
width:830px;
font-size:26px;
font-weight:bold
}

.prodGrey {
   border: 2px solid #ccc;
   color:#000;
   padding:10px;
   border-radius: 8px; 
   -webkit-border-radius: 8px; 
   -moz-border-radius: 8px; 
   -khtml-border-radius: 8px;
   font-family:calibri, arial,helvetica,sans-serif; 
   font-size:16px;  
   box-shadow: 0 5px 12px rgba(0,0,0,.4); 
   -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
   -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
   -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);    
}

.prodTotal {
   border: 2px solid #ccc;
   color:#000;
   border-radius: 8px; 
   -webkit-border-radius: 8px; 
   -moz-border-radius: 8px; 
   -khtml-border-radius: 8px;
   font-family:calibri, arial,helvetica,sans-serif; 
   font-size:16px;  
}
img.center {   display: block;   margin-left: auto;   margin-right: auto; }

#floatLeft {
float:left;
display:inline;
}

#floatRight {
float:right;
}


div#leftChecklist {
width:545px;
float:left;
}


div#hr {
background:url(img/hr.jpg) repeat-x;
height:30px;
}

/*------END DEEP LINK CHECKLIST  (excel)------*/

#dl-success {display:none;border:2px solid #ccc; padding:15px;margin-bottom:20px;background:#eee;}

.tooltip {
  display:none;
  width:185px;
  position:absolute;
  border-radius:5px;
  box-shadow:2px 2px 3px rgba(0,0,0,.2);
  background-color:#eee;
  border:2px solid #ababab;
  text-shadow:-1px -1px 0 #F4F4F4;
  color:#666;
  font:12px Calibri, Geneva, sans-serif;
  padding:10px;
  text-align:left;
}

.center {   display: block;   margin-left: auto;   margin-right: auto; }


/* --------------easyguide page --------------- */
#easyGuide {
background:url("img/easyGuideBox.png") no-repeat; width:555px; height:600px;padding:20px; float:left;}
}

#easyGuidePar {
padding:32px 60px 0px 20px; line-height:140%;
}

/*--- dmv-links ---*/
.col-official{ float: left; text-align:justify; background:#eee;}
.col-official { float: left; width: 250px; margin: 0 30px 0 0;}

/*--- new splash campaigns for google [splash --> landing  || servsplash --> servlanding ---*/ 
#indexBox {
border:1px solid #eee;padding:10px;font-size:12px;margin-top:350px;width:530px; line-height:110%; 
}

#indexBoxSplash {
clear:left;padding:10px;font-size:12px;margin-top:325px;line-height:110%; width:60%;border:1px solid #eee;
}

#landingBox {
padding:10px 40px;margin-top:80px;font-size:12px;width:100%;
}

#servLandingBox {
padding:10px;font-size:12px;width:94%;
}

/*--- dl billing ---*/
#item {
padding-left:4px;width:260px;margin-top:10px;margin-bottom:10px;border-bottom:1px dotted #eee;
}

#itemForm {
padding-left:4px;width:260px;margin-top:10px;margin-bottom:10px;border-bottom:1px dotted #eee;
}

#cartPrice {
float:right;margin-right:10px;
}

#greenFree {
float:right;margin-right:10px;color:green;
}

#ssTotal {
background:#eee;text-align:center;font-weight:bold;padding:5px;
}

#termsBox {
clear:both;padding:7px;font-size:11px;border:1px solid #eee;
}

#cartText {
float:left;display:inline;margin-left:5px;
}

#thanksCT {
color:green;font-size:26px;padding:20px;text-align:center;
}

#easyGuidePar {
padding:32px 40px 0px 20px; line-height:140%;
}

#noticeBox {
width:80%; margin:0 auto; border:1px solid #ccc;padding:15px;
}

/*-----------DISCLAIMER-------------*/
  div.disclaimer{
	background-color:#f1f3f5;
   display:block;
   position:absolute;
   top:0;
   right:0;
   width:98%;
   margin:0 auto;
   color:#999;
   text-align:center;
   font-family:arial;
   font-size:13px;
   font-weight:bold;
   padding:2px 20px;
  }
  
  /*---restuarant.com gift ---*/
#giftBig {
width:70%; margin:0 auto; border:1px solid #ccc;padding:30px 20px;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

#giftInputs, #refundInputs {
width:70%;margin:0 auto; background:#eee;padding:15px;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

#noticeBox {
width:80%; margin:0 auto; border:1px solid #ccc;padding:15px;
}

.err_mess {
background: #fff; color:black; font-size:14px; border:2px solid red; width:70%; display:none; margin:auto;padding:10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}

table#refundform td#pad {
padding-top:20px;
}

textarea#reason {
font-size:14px; font-family:arial;
}

#road {
font-size:20px;color:#376092;text-align:center;font-weight:bold;border-bottom:2px dotted silver;margin-bottom:15px;
}


#no-line-spacing {
line-height:110%;
}


div#seals {
 clear:both;
 padding-top:5px;
 text-align:center;
 border-top:2px solid #ccc;
 margin-top:10px;
}

.margin25 {
margin-left:25px;
}

/*--- checklist page ---*/
.dld-block {
	float:left;
	width:32.33%;
	text-align:center;
	padding:0 0.5%;
	cursor:pointer;
}
.dld-block .title-dld h2 {
	font-size: 20px;
	margin: 10px 0;
}
.title-dld span {
	color: #2d8eb8;
	font-weight: bold;
}
.btn-dld {
	width: 100%;
	color: #fff;
	padding: 10px 0;
	background-color: #2d8eb8;
	border-radius: 10px;
	text-transform:uppercase;
}
div.last_step {
	padding-bottom:20px;
}
.title-dld h2 {
	font-size:1.4em !important;
	height:60px;
}
.img-dld {
	background: url(img/Sprite_Checklist_Licenses.png) no-repeat;
	width: 100px;
	height: 100px;
	background-position-x: -200px;
	background-size: cover;
	margin: 5px auto;
}
.download_blocks {
	margin:10px auto;
	overflow:hidden;
}
.img-dld.application-dld {
	background-position: -100px;
}
.img-dld.tips-dld {
	background-position: 0;
}
.img-dld.audio-dld {
	background-position: -300px;
}
.download_blocks {
	margin: 10px 0 30px;
	overflow: hidden;
}
.dld-block a {
	text-decoration:none !important;
}
.btn-dld:hover {
	background-color: #1c5c77;
}

/*----Blog Section--*/
.blog .main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog .post {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #999;
}

.blog .post p {
	text-align:justify;
}

.blog .post ol {
	text-align:justify;
	list-style-position:inside;
}

.blog .post ul {
	list-style-position:inside;
}

.blog .post .thumb {
	margin-right:10px;
	width:40%;
}

.blog .post .thumb img {
	width:100%;
}

@media screen and (max-width: 768px) {
	.blog .post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}

