/* GLOBAL */

.form-group {
  margin-bottom: 5px!important;
}

.form-control {
  height: 28px!important;
  padding: 4px 6px!important;
}

.nopad {
  padding: 0!important;
}

.noleftpad {
  padding-left: 0!important;
}

.norightpad {
  padding-right: 0!important;
}

.spacer {
  padding: 10px;
}


/* HEADER */

#header > .container {
  padding-bottom: 0;
}

h1.main {
  background: url("img/logo.png") no-repeat scroll 0 0 transparent;
  height: 75px;
  padding-left: 105px !important;
}

#step1 > p {
  margin-left: 12px;
  color: #334872;
}


/* NAV MENU */


/* CONTENT PAGE */

.trustee-logo {
  margin-top: 15px;
}

.agreement {
  margin: 10px auto;
}

.agreement .col-xs-1 {
  padding-right: 0px;
}

.agreement.warning-border {
  padding: 10px;
  border: 2px solid red;
  background-color: rgb(255, 170, 170);
}


/* CUSTOM RADIO */


/* FORM */

.dottedline {
  margin: 10px 0px!important;
  height: 4px;
  width: 100%;
  background: url(//car-registration.org/img/hr.png) repeat-x;
}

.formtitle {
  font-weight: bold;
  font-size: 24px;
  color: #2779A4;
}

.inputrow {
  padding: 5px 0px;
}


/*
.input {
  width: 225px;
}

.monthinput {
  width: 76px;
}

.dayinput {
  width: 60px;
}

.yearinput {
  width: 68px;
}
*/

.submitrow {
  padding: 5px 0px 40px 0px;
}

.coltitle {
  font-weight: bold;
  font-size: 14px;
}

.breadcrumbstatus {
  width: 95%;
}

.step {
  padding: 10px;
  float: left;
}

.step .circle {
  float: left;
  text-align: center;
  width: 20px;
  height: 20px;
  background: #eee;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border: 1px solid #666;
  font-size: 13px;
  color: #666;
  margin-right: 10px;
}

.step .breadcrumbtitle {
  float: left;
  color: #666;
  font-weight: bold;
  font-size: 14px;
}

.step .selected {
  border: 1px solid #5096C7;
  background: #5096C7;
  color: #fff;
}

#splash_innerContainerTX {
  background: transparent!important;
  width: auto!important;
  height: auto!important;
  margin: 20px auto;
}

#splash_innerContainerTX .pageimage {
  margin: 0 auto;
}

.splash_mainTextBoxTX {
  width: auto!important;
  height: auto!important;
  margin: 0 0 0 35px!important;
}

.continue {}

.linkHome {
  margin-left: 35px;
  float: left;
}


/* FORM */


/* FOOTER */


/*STATE Info page*/

.col1 {
  float: none;
  width: auto !important;
  margin: 0 auto;
}


/* SLICK NAV */

.slicknav_menu {
  display: none;
}

.slicknav_nav {
  text-align: center;
}

@media screen and (max-width: 767px) {
  /* #menu is the original menu */
  #menu {
    display: none;
  }
  fieldset#step1,
  fieldset#step2 {
    width: 95%!important;
  }
  fieldset#step1splash {
    width: 95%!important;
  }
  h1.main {
    font-size: 15px!important;
  }
  .slicknav_menu {
    display: block;
    z-index: 1001;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    background: none!important;
    padding: 0!important;
    margin: 0;
  }
  .slicknav_nav {
    margin-top: 113px!important;
    background: #33414e;
  }
  #splash_innerContainerTX .pageimage {
    display: table-cell;
  }
  .splash_mainTextBoxTX {
    width: auto!important;
    height: auto!important;
    overflow: visible!important;
  }
  .splash_startTX {
    float: none!important;
    width: auto!important;
  }
  .linkHome {
    display: block;
    float: none!important;
    height: 80px!important;
    width: auto!important;
  }
  .easyguide-benefits {
    margin-top: 15px;
  }
  body em#siteForm {
    font-size: 22px;
  }
}


/* HOME PAGE EXTRA FOOTER */

.extrafooter {
  background: #eee;
  padding: 18px 60px;
  margin: 30px 30px 0 30px;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}


/* MEDIA QUERIES */


/* SMALL DESKTOP */

@media (min-width: 992px) and (max-width: 1199px) {
  #nav li a {
    padding-left: 33px;
    padding-right: 32px;
  }
  .nopad {
    padding: 0px!important;
  }
  .noleftpad {
    padding-left: 0px!important;
  }
}


/* TABLET */

@media (min-width: 768px) and (max-width: 991px) {
  #nav li a {
    padding-left: 16.7px;
    padding-right: 17px;
  }
  .form-group {
    margin-bottom: 10px!important;
  }
}

@media (min-width: 535px) and (max-width: 615px) {
  .coltitle {
    padding-left: 0px!important;
  }
}

@media (max-width: 767px) {
  .colmobpadding {
    padding-top: 25px!important;
  }
  .noleftpad {
    padding-left: 15px!important;
  }
  .col1 .statelist{
    float: none;
    width: auto;
  }
}

@media (max-width: 615px) {
  #easyGuide {
    overflow: hidden;
    background: transparent;
    border: 1px solid #999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 50px 0px #eee inset;
    width: 95%!important;
  }
  #easyGuide h3 {
    font-size: 18px!important;
  }
}

@media (max-width: 482px) {
  h1 {
    font-size: 20px!important;
  }
  h2 {
    font-size: 25px!important;
  }
  h1.main {
    font-size: 15px!important;
    padding-left: 80px!important;
  }
  fieldset h2 {
    font-size: 20px!important;
  }
  .coltitle {
    padding-left: 0px!important;
  }
  .nopad {
    padding: 0px!important;
  }
  .noleftpad {
    padding-left: 15px!important;
  }
  #step1 label {
    font-size: 13px!important;
  }
  #indexBox {
    width: 100%!important;
  }
  .extrafooter {
    padding: 15px 10px;
    margin: 30px 0px;
  }
  .dmvLocSearch {
    width: 95%;
    background: #ddd;
    padding: 10px;
    border: 1px solid #848484;
    margin: 0 auto
  }
  #easyGuide {
    padding: 10px!important;
  }
  #easyGuide h3 {
    font-size: 13px!important;
  }
  .checklist {
    width: 100%!important;
  }
  #step1icon {
    display: none!important;
  }
  #step2icon {
    display: none!important;
  }
  #step3icon {
    display: none!important;
  }
  #step4icon {
    display: none!important;
  }
  /*  #mainContent {
    padding: 0px!important;
  }*/
  div.checklistynN,
  div.checklistynY {
    margin-left: 0px!important;
    width: 95%!important;
    height: 70px!important;
    background-image: none;
    background-color: #303083;
    border-radius: 10px;
    color: #fff;
    line-height: 18px;
    font-size: 20px;
    padding: 10px;
  }
  div.checklistynN:before,
  div.checklistynY:before {
    content: "Your Registration Easy is ready for download";
  }
  div.pdfynN,
  div.pdfynY {
    margin-left: 0px!important;
    width: 95%!important;
    height: 70px!important;
    background-image: none;
    background-color: #E84000;
    border-radius: 10px;
    color: #fff;
    line-height: 18px;
    font-size: 20px;
    padding: 10px;
  }
  div.pdfynN:before,
  div.pdfynY:before {
    content: "Your Registration Easy is ready for download.";
  }
  div.linksynN,
  div.linksynY {
    margin-left: 0px!important;
    width: 95%!important;
    height: 70px!important;
    background-image: none;
    background-color: #ccc;
    border-radius: 10px;
    color: #000;
    line-height: 18px;
    font-size: 20px;
    padding: 10px;
  }
  div.linksynN:before,
  div.linksynY:before {
    content: "Find the DMV office nearest you. Download Now";
  }
  div.ebookN,
  div.ebookY {
    margin-left: 0px!important;
    width: 95%!important;
    height: 70px!important;
    background-image: none;
    background-color: #81C3E4;
    border-radius: 10px;
    color: #000;
    line-height: 18px;
    font-size: 20px;
    padding: 10px;
  }
  div.ebookN:before,
  div.ebookY:before {
    content: "Driver tips and resouces handbook. Download Now";
  }
}


/* MOBILE */

@media only screen and (min-width: 600px) {
  .agreement .col-xs-1 {
    width: auto;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  #nav li a {
    padding-left: 13.4px;
    padding-right: 14px;
  }
  /* FORM */
}

@media (min-width: 320px) {}

/*---------MODAL------------*/
.footerCustomModal
{
	padding: 0px!important;
	background-color:#43AB44;
}

.footerCustomButton
{
	    
	color: #FFFFFF !important;
    font-weight: bold !important;
    padding: 10px 24px!important;
    text-transform: uppercase;
    background-color: #43AB44 !important;
    border-color: #43AB44 !important;
    position: relative;
    width: 100%;
}

.footerCustomButton:hover
{
	background-color:#43AB44;
	
}

.modalCustomHeader
{
	padding: 1% !important;
	background: #1f5b91;
   

}

.modalCustomTitle
{
	color: #eee;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.modal-backdrop.in
{
	height:100%;
}

#myModal
{
	top: 10%;
}


/*---------END MODAL------------*/
