html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display : block; }

abbr[title] { border-bottom : 1px dotted; cursor : help; }

body { 
	margin : 0 auto;
	height: 100%;
	font : 16px/1.4 Arial, "Helvetica Neue", Helvetica, sans-serif;
	color : #444;
	text-align:center;
	background: #ddd;
	cursor:default;
	text-align:justify;
	}

h1, h2, h3, h4 {font-weight: bold; padding:0px; margin:0px;}

h1 { 
	clear: left; 
	font: bold 30px/1.2 Arial, "Helvetica Neue", Helvetica, sans-serif;;
	margin: 0 0 8px;
	color: #363; 
 }
 #header h1 {
   padding: 0 100px 18px; font-size: 15px; line-height: 26px; color: #999; margin: 0; 
   background:url("img/logo.png") no-repeat scroll 0 0 transparent;
 }

 h1 em { font-weight: normal; font-style: normal; font-size: 36px; letter-spacing: -1px; color: #693; font-family: Georgia, "Times New Roman", Times, serif; }

 h1 span { font-size: 28px; color: #336633; font-weight: bold; }
 
	.screen-index #mainContent h1 {
		text-align:center; 
		text-transform:uppercase; 
		color: #DB5839;
		text-shadow: 2px 2px 1px #ccc;
		font-style: italic;
		font-size: 18px;
	}
h2 { 
	font-size: 16px; 
	line-height: 22px;
	text-transform: uppercase; 
	margin: 0 0 9px; 
	color: #666; }

	fieldset h2 {
		font-size: 24px;
		text-transform: none; 
		background: transparent url(img/select-form-sprite.png) no-repeat 0 -75px;
		padding: 18px 0 0 50px; 
		height: 34px; 
		}
	fieldset#step2 h2 { background-position: 0 -135px; }

h3 { color: #777}
	
p, ol, ul, dl, address { 
	margin-bottom : 1.5em; 
	font-size : 1em; /* 16 / 16 = 1 */
	text-align:justify;
}

ul, ol { margin : 0 0 1.5em; padding: 0; }

ul { list-style-type : none; }
ul#content {list-style-type: square;}

ol { list-style-type : decimal; }

li ul, li ol { 
	margin : 0;
	font-size : 1em; /* 16 / 16 = 1 */ }

dl, dd { margin-bottom : 1.5em; }

dt { font-weight : normal; }

blockquote  { margin : 0 0 1.5em; font-style : italic; }

blockquote:before, blockquote:after, q:before, q:after { content : ''; content : none; }

b, strong	{ font-weight : bold; }
i, em { font-style : italic; }

sup, sub { 
	position : relative;
	font-size : 75%; 
	line-height : 0; }

sup { top : -.5em; }
sub { bottom : -.25em; }
address { font-style : normal; }

pre { 
	margin-bottom : 1.5em; 
	white-space : pre; 
	white-space : pre-wrap; 
	word-wrap : break-word; }

pre, code { 
	font : .875em 'andale mono', 'lucida console', monospace; 
	line-height : 1.5; }

small { font-size : 1em; /* 16 / 16 = 1 */ }

a {color: #693; text-decoration: none; }
a:visited {color: #666; }
a:hover {text-decoration: underline; }

.step1 h2 {color: #e00;}

.container {
	text-align:left; 
	margin: 0 auto; 
	padding: 0 0 20px; 
	height:auto;  
}


.page { margin: 0 auto; width: 965px; background: #fff; }
/*
	#screen-index .page { width: 990px; padding-bottom: 36px; }
	#header .page { width: 965px; padding-bottom: 0; }
*/
#header{
	background: #131;
	overflow: hidden; 
	border-bottom: solid 1px #fff;
	}
	#header .page { 
		background: #131 url(img/header-bkgd.jpg) 300px 0 no-repeat;
		padding: 15px 0 0; 
		}

#login-wrap {
	float: right;
	width: 250px; 
	padding-right: 50px; 
	margin-bottom: 20px; 
	text-align: right; }
		#login-wrap a, #login-wrap a:visited { color: #fff; }

#nav { 
	float:left; width:965px; 
}

#nav ul { 
	position:relative; 
	float:left; width:965px; 
	margin: 0; padding: 0; }

	#nav li {position: relative; float:left; }

	#nav li a {
		display:block;
		color: #E2F4CE;
		width: 191px; 
		text-align: center; 
		height: 36px;
		line-height: 36px;
		font-weight: bold;
		text-decoration: none; 

		background: #4a9425; /* Old browsers */
		background: -moz-linear-gradient(top, #6c3 0%, #4a9425 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c3), color-stop(100%,#4a9425)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #6c3 0%,#4a9425 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #6c3 0%,#4a9425 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #6c3 0%,#4a9425 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cc33', endColorstr='#4a9425',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #6c3 0%,#4a9425 100%); /* W3C */

		border-right: solid 1px #4a9425;
		border-left: solid 1px #6c3;
		}

		.ie6 #nav li a, .ie7 #nav li a, .ie8 #nav li a { font-weight: bold; } /* fix ie thin font weights */

		#screen-home li a.home, #screen-dmvLocations li a.locations, #screen-practiceTests li a.practice, #screen-aboutUs li a.about, #screen-manuals li a.manuals, #screen-driversEd li a.drivers {
			color:#fff; 
			background: #669933; 
			text-decoration: none;
			}

		.home #nav a.home, .Dmv.Locations #nav a.locations, .Practice.Tests #nav a.practice, .Drivers.Manual #nav a.manuals, .Drivers.Ed #nav a.drivers, .About.Us #nav a.about, .State.Info #nav a.state {
			color:#fff; 
			background: #00A2D9; 
	 		filter: none; /* for IE */
			text-decoration: none;
			}

	#nav li a:hover {
		color:#fff; 
		}
	
#mainContent { 
	padding: 20px 30px 72px 30px;
}
#screen-index #mainContent {
	background: transparent url(img/sample-title-california.jpg) no-repeat 0 130px; 
}
.home #mainContent { padding-bottom: 30px; }

	ul.layout { float: left; width: 100%; }
	ul.layout li { margin: 0 0 18px}
		.layout li.intro { float: left; width: 150px; padding: 0 15px 0 55px; color: #888; background: transparent url(img/current-arrow.png) right center no-repeat; }
		.layout li.form-wrap { float: right; width: 670px; }
		
	ul.layout li p { margin: 0; font-size: 14px; line-height: 1; }
	ul.layout li img { float: left; margin-left: -55px; }


img.banner468 { float: right; margin: 0 0 18px 20px; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7 { float: left; text-align:justify; }
.col1 { float: left; width: 350px; margin: 0 30px 0 0;}
.col2 { float: right; width: 480px; }
.col-full { clear: left; }
#screen-dmvLocations iframe { background: #fff; padding: 5px 20px; }

.two-col #mainWrap { float: left; width: 60%; }
#aside { float: right; width: 36%; }
#aside .bucket { padding: 0 0 36px; }

img#networkad { display: block; text-align: right; }

.secondary_nav { margin-bottom: 0; padding: 10 0 0; border-bottom: solid 1px #ddd; }
.secondary_nav li { display: inline; }
.secondary_nav li a { margin: 0 5px 0 0; padding: 8px 15px; line-height: 36px; background: #eee; text-decoration: none; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.secondary_nav li a:hover { background: #669933; color: #fff; text-decoration: none; }
.secondary_nav li a.selected { background: #F7ECB3 }
div.tabContent { clear: left; padding: 18px 30px; }

.page_footer {clear:both; padding: 0 30px; }

#footer { 
	position:relative;
	clear: both;
	margin: 0 0 18px;
	padding: 10px 30px 5px;
	color: #999;
	}

#footer p { 
	text-align: center; 
	font-size: 12px; 
	line-height: 1.3;
	margin-bottom: .5em; 
	}

#footer a { color: #007B8C; }
#footer { background-color:#dddddd; padding:30px; }

.extrafooter { clear:both; background: #eee; padding: 18px 60px; margin: 0 30px; font-size: 12px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}

/*  form styles  */
#loginForm { padding: 0 120px; margin-bottom: 50px; }

#aside .download {
	background: #e84000 url(img/icon-pdf-dl.png) no-repeat 10px 10px;
	padding: 9px 30px 15px 100px;
	margin-bottom: 18px;
	color: #FBEDC1;
}
#aside .download h2 {
	font-size: 13px;
	color: #FBEDC1;
}
#aside .download button {
	width: 100%;
	margin-bottom: .5em;
}

fieldset {padding: 0 0 20px;}
	fieldset#step1, fieldset#step2 { padding-left: 40px; }
	fieldset#step1 h2, fieldset#step2 h2 { margin-left: -40px; }
	fieldset#step1 {float: left; width: 330px; }
	div.col { float:left; width: 45%; margin: 0 5% 0 0; }

.input-wrap {margin: 15px 0}

form p { margin: 0; font-size: 14px; }
.radioset, .inputset {clear:left; float: left; padding: .5em 0 .4em 13em; margin: 0 0 9px; }
.radiopair, .inputset .inputpair { margin: 0; }
div.inputpair { clear: left; padding: 0 0 9px; }
	#step2 div.inputpair { padding: 0 0 9px 15px; }
div.checkpair, div.radiopair { clear: left; padding: 0 0 .5em 2em }
	#step1 div.checkpair { padding-left: 40px }
	#registration div.checkpair {padding-left: 10em; }

label {
}
	td.form label { margin-left: .2em; }
	#first-form label {
		font-size: 16px; 
		color: #669933; 
		width: auto; 
		}
	#step1 label { padding-top: 3px; }
	#step2 label { float: left; margin-right: .5em; }

div.radio-input { display:inline; margin-bottom: .5em; padding-left: 1.5em; }
	.radioset p, .inputset p { margin-left: -1.5em; }

input { padding: 3px 5px; }

	input[type="radio"], input[type="checkbox"], div.radio-input input {
		width: auto; 
		margin: 0 .5em 0 -1em; 
		border: none 0; }
		
	input.checkBox { 
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		border: none 0; 
	 }
	span.checkBox {
	    background: transparent url("img/select-form-sprite.png") no-repeat scroll 0 -32px;
	    float:left;
	    margin: -10px 0 0 -35px;
	    width: 30px;
	    height: 30px;
	    padding-top: 10px;
	}
	span.checkBox input {
	    margin-left: 0;
	    width: 30px;
	    height: 30px;
	}
	span.checkBox.checked {
	    background-position: 0 0;
	}

	#step2 input { width: 10em; }
	input:focus {background: #FDFBEC; }


select { 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 3px 5px; 
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/1 Arial, Helvetica, sans-serif;
	padding: 6px 15px;
	margin-bottom: 1em;
	color: #fff;
	font-weight: bold;
	border: solid 1px #b00;
	
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e60000, endColorstr=#b30000); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#b30000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e60000,  #b30000); /* for firefox 3.6+ */

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}
	#registration button {margin-left: 14em;} 
button:active, a.button:active {
	position: relative;
	top: 1px;
	background: #8ac;
}
button span {line-height: 1}

.dl_submit{ 
	clear: left; 
	background: url(img/select-form-sprite.png) no-repeat 0 -196px; 
	width:180px; 
	height:54px; 
	text-indent:-9000em; 
	margin: 20px 10px 0px 50px;
	cursor: pointer;
	}


td.form { padding: 0 5px 0 0; }

.statelist { float:left; width: 150px; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.dl_verisign{ 
	clear: left; 
	background: url(/img/verisign.png) no-repeat;
	height:50px; 
	text-indent:-9000em; 
	margin: 15px 0 10px 90px; 
	}
.imgform, .imgmain { display:none; }
