*{
	margin: 0;
	padding: 0;
}

body{
	background: #fff;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
}

h5{
	font-weight: bold;
}

.topbar-ad{
	background: #e3e3e3;
}

.btn a:hover{
	text-decoration: none !important;
}

.topbar-ad p{
	padding: 0.5em;
	margin: 0;
}

.navbar-brand{
	padding: 0;
	margin-top: -0.5em;
    height: 87px;
}

.navbar-collapse{
	padding-top: 1.5em;
}

.navbar-default{
	padding: 2em 0;
	border-radius: 0;
	border-color: transparent;
}

.glyphicon-shopping-cart{
	font-size: 20px;
}

.shopping-car{
	position: relative;
}
.wrapperstar,
.star-rating{
	display:none;
}

#total-car{
	position: absolute;
    background: #fdaf42;
    top: -9px;
    right: -5px;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    font-size: 12px;
    text-align: center;
}

/* Estilos background cajas */

.bg-white{
	background: white;
}

.bg-gray{
	background: #3a3a3c;
}

.bg-light-gray{
	background: #f1f1f1;
}

.tags .col-md-2{
	width: 19%; 
	border: 1px solid #959597;
	margin-right: 1%;
	color: #959597;
} 

.tags .col-md-2:hover{
	background: #959597;
	color: white;
	cursor: pointer;
}

.tags .col-md-2 a{
	color: #959597;
	text-decoration: none;
}

.tags .col-md-2:hover a{
	color: white;
}

.tags .col-md-2:first-child,
.tags .col-md-2:last-child{
	border: 0;
}
.tags .col-md-2:first-child,
.tags .col-md-2:last-child,
.tags .col-md-2:last-child a{
	background: transparent;
	color: #959597;
}

/* navegacion */

.navbar-form input,
.navbar-form .btn{
	border-radius: 0;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover
{
	background-color: #4B4B4B;
    color: white;
}
.btn-search{
	position: absolute;
    right: 30px;
    top: 8px;
	border: 0;
	padding: 0px !important;
}

.btn-search:hover{
	background: transparent;
}

.form-control{
	-webkit-box-shadow: none;
}
.navbar-form{
	position: relative;
	border-color: transparent !important;
}

.icons-group >div{
	width:35px;
	height:35px;
	display: inline-block;
	/* padding: 0.6em 0.8em; */
    /* text-align: center; */
	/* border-radius: 100%; */
    /* margin: 10px 4px; */
	/* border: 1px solid #fcb040; */
	/* background: #fcb040; */
}

/* .icons-group >div span{ */
	/* color: white !important; */
/* } */
/* media querys */

@media(min-width: 768px){
	.navbar-collapse{
		float: right;
	}
}

@media(max-width: 767px){
	.imgwrapper-special{
		width: 50%;
		margin: 0 auto;
		margin-bottom: 3em;
	}
	.section-content{
		width: 100% !important;
	}
	
	.btn-search{
		top: 18px;
	}
	.tags .col-md-2{
		width: 48%;
		margin-bottom: 1em;
	}

}

@media(max-width: 863px) and (min-width: 768px){
	.navbar-header{
		width: 22%;
	}
	
	.collapse{
		font-size: 13px;
	}
	
	.collapse .nav>li>a{
		padding: 12px;
	}
}

@media(max-width: 992px) and (min-width: 768px){
	.section-content{
		width: 75% !important;
	}
}
/* estilos generios */

.imgwrapper-special img,
.imgwrapper img{
	width: 100%;
}

/* .title-bg-dark-green{ */
	/* background: #25718b;  */
	/* color: white; */
	/* padding: 1em; */
	/* position: absolute; */
	/* bottom: 0; */
	/* margin-bottom: 0; */
	/* width:100%; */
	/* transition: 1s; */
	/* font-size: 14px; */
/* } */

/* .image:hover .bg-dark-blue{ */
	/* max-height: 100%; */
/* } */


.btn-lg-orange{
    height: 44px;
    width: 40%;
    margin: 0 auto;
    border-radius: 0;
    background-color: #ff7300;
    border-color: #ff7300;
}

.btn-lg-orange:hover,
.btn-lg-orange:focus,
.btn-lg-orange:active,
.btn-lg-orange:active:focus{
	background: #E56803;
	border-color: #E56803;
}

.btn-lg-orange:hover a,
.btn-lg-orange:focus a,
.btn-lg-orange:active a,
.btn-lg-orange:active:focus a{
	color: white !important;
	text-decoration: none !important;
}

.btn-lg-orange a{
	color: white;
	font-size: 16px;
}


.btn-dark-green .btn{
	background: #25718b;
	border-color:  #25718b;
	padding: 6px 26px;
}
.btn{
	border-radius: 0;
	padding: 9px 50px;
	
}

.btn-dark-green .btn:hover,
.btn-dark-green .btn:focus{
	background: #194e60;
	border-color: #194e60;
}

.btn-orange .btn{
	background: #fdb03e;
	border-color: #fdb03e;
	
}

.btn-orange .btn a{
	color: white;
	text-decoration: none;
	
}

.btn-orange .btn:hover,
.btn-orange .btn:focus,
.product-demo .btn-orange .btn:first-child:hover{
		border-color: #ad7728;
		outline: 0;
		background: #ad7728;
		color: white;
}
.mb-2{
	margin-bottom: 2em;
}

.btn-orange .btn:hover a,
.btn-orange .btn:focus a,
.product-demo .btn-orange .btn:first-child:hover a{
	text-decoration: none;
	color: white;
}

.btn-large .btn{
	font-size: 16px;
	padding: 0.5em 6em;
	text-align: center;
}

.btn-orange .btn:active:focus{
	background: #fdb03e;
	border-color: #fdb03e;
}


.product-demo .btn-orange .btn:last-child{
		background: transparent;
		color: #fdb03e;
}

.color-gray{
	color: #9d9d9d;
}

.color-white{
	color: white;
}

.description-product{
	line-height: 2;
	font-size: 13px;
}

.link-more{
	color: #045FB4;
	text-decoration: underline;
}

.section-content{
	width: 60%;
	margin: 0 auto;
}

.section-content h3{
	width: auto;
	float: left;
	margin-top: 0.5em;
}

.border-gray{
	border-bottom: 1px solid #ccc;
}

.border-gray-top{
	border-top: 1px solid #ccc;
}

/* class margin and padding */


.m-0{
	margin: 0;
}
.mt-0{
	margin-top: 0;
}

.mt-1{
	margin-top: 1em;
}

.mt-2{
	margin-top: 2em;
}

.mt-3{
	margin-top:3em;
}

.mr-1{
	margin-right: 1em;
}

.mb-0{
	margin-bottom: 0;
}

.mb-1{
	margin-bottom: 1em;
}

.pt-1{
	padding-top:1em;
}

.pt-2{
	padding-top: 2em;
}
.pt-3{
	padding-top: 3em;
}

.pt-4{
	padding-top: 4em;
}

.pb-1{
	padding-bottom:1em;
}

.pb-2{
	padding-bottom:2em;
}

.pb-3{
	padding-bottom: 3em;
}

/* rating-star */

.lead{
	font-size: 17px;
}
.fa-star-o{
	color: #fdb03e;
	margin-right: 4px;
}

.fa-star{
	color: #fab140;
	margin-right: 4px;
}

.star-white .fa-star-o,
.star-white .fa-star{
	color: white;
	font-size: 13px;
}


.carousel {
    margin-bottom: 0;
    padding: 0 0 30px 0;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
	width: 12px;
	height: 12px;
	margin: 0;
}
.carousel-indicators .active {
background: #b0b0b2;
}

/* image carousel background */
.carousel.slide img {
    width:100%;
    height:267px;
}

#carousel-generic .item .image{
	width: 100%;
	height:208px;
	display: block;
}


/* overlay */

.image-content{
	position: relative;
}

.image{
	display: block;
	width: 100%;
	height: auto;
}



.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #25718b;
  overflow: hidden;
  width: 100%;
  height: 50px;
  transition: .5s ease;
  z-index: 4;
}

.overlay .text {
  /* white-space: nowrap;  */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding-top: 16.5em;

}
.image-content:hover .overlay{
  height: 100%;
  background: rgba(45, 117, 141, 0.87);
  z-index: 50;
}

.image-content:hover .overlay .text{
	top: 20%;
	padding-top: 9em;
	width:85%;
}

.overlay p{
	font-size: 13px;
	color: #85a7b1;
}

.overlay h4{
	font-size: 15px;
	/* white-space: nowrap; */
}

.view-more,
.view-more:hover{
	border: 1px solid white;
	padding: 10px 15px;
	color:white;
	text-decoration: none;
	cursor:pointer;
}

/* star-favorite */
.wrapperstar{
	position: absolute;
	top: 0;
	z-index:30;
	width:90%;	
	height: 170px;
}

.star-favorite{
	width:30px;
	height:30px;
	display: inline-block;
	background: white;
	padding: 0.5em 0.6em;
    text-align: center;
	border-radius: 100%;
    margin: 10px;
}

.glyphicon-star{
	font-size: 16px;
}

.image-content:hover .wrapperstar{
	display: none;
}

.alert-success{
	position: absolute;
    z-index: 2;
    left: 2em;
    top: 4em;;
    /* width: 90%; */
	transition: all 0.4s ease-in-out;
	padding:7px;
	/* height: 100%; */
	margin-bottom: 0;
	background: white;
	box-shadow: 2px 2px #25718b;
	color: #25718b;
}

.alert-success p{
	padding: 2em 0.5em;
}



#universe {
  overflow: hidden;
  width: 120px;
  margin: 10px auto;
  /* min-height: 270px; */
  border-radius: 5px;
  margin: 0 auto;
}

.star-rating-top {
	list-style-type: none;
	font-size: 122%;
	color: gold;
    margin: 0 0 0 5px;
    width: 100%;
}

.star-rating-top li {
  float: left;
  margin: 1.5%;
  color: white;
}

.star-rating-top li:hover {
	cursor: pointer
}

.display-rating {
  float:left;
  clear:both;
  padding:5px;
  width: 100%;
}


/* estilos billing */

.disclaimer {
  color: #939393;
  float: none;
  margin: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #c2c2c2;
  padding: 3px 0;
  text-align: center;
  font-size: 13px;
}
.security {
  margin-top: 10px;
}
#slider {
  visibility: hidden !important;
}
#state {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .swiper_wrapper:not(.full-screen):nt(.canvas-slider-grid),
  .swiper_wrapper:not(.full-screen):not(.canvas-slider-grid) .swiper-slide {
    height: auto !important;
    background-color: green;
  }
  .customized-service h1 {
    font-size: 15px;
    font-size: 2vw;
  }
}
.customized-service {
  margin-top: 16px;
}
.customized-service #step1 h2:before,
.customized-service #step2 h2:before,
.customized-service #step3 h2:before {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px !important;
  background-color: #F5F5F5;
  padding: 4px 18px 8px;
  margin-right: 5px;
  color: #000;
}
.promo.promo-light {
  padding: 80px 0 40px !important;
}
.customized-service #step1 h2:before {
  content: '1';
}
.customized-service #step2 h2:before {
  content: '2';
}
.customized-service #step3 h2:before {
  content: '3';
}
.customized-service label {
  text-transform: capitalize;
  margin-top: 7px;
}
#slider {
  height: 0 !important;
}
/*input[type="radio"] {
      width: 20px;
      height: 14px;
  }*/
/*============ START: General ============*/
body.modal-open {
  position: fixed;
}
body ul {
  margin-left: 30px;
}
.single-post .entry {
  border-bottom: none;
}
#header.full-header #primary-menu > ul {
  border-right-color: transparent;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  background-color: rgba(245, 245, 245, 0.5);
}
a:hover,
a:focus {
  color: #222;
}
#current-state {
  text-transform: capitalize;
}
.section-testimonials {
  display: none;
}
/*============ END: General ============*/
/*============ START: Responsive ============*/
@media (min-width: 1426px) {
  /*on billing page when the window with is maxed out*/
  .billing .col_three_fourth .col_three_fourth,
  .billing .col_three_fourth .col_half,
  .billing .col_three_fourth .col_one_fourth,
  .marginbottom10 {
    margin-bottom: 0px !important;
  }
  form .col_full,
  form .col_half,
  form .col_one_third,
  form .col_two_third,
  form .col_three_fourth,
  form .col_one_fourth,
  form .col_one_fifth,
  form .col_two_fifth,
  form .col_three_fifth,
  form .col_four_fifth,
  form .col_one_sixth,
  form .col_five_sixth {
    margin-bottom: 15px !important;
  }
  figure.ad-space h3 {
    font-size: 22px;
    font-size: 1.2vw;
  }
}
@media (max-width: 1425px) {
  .billing .col_three_fourth .col_three_fourth,
  .billing .col_three_fourth .col_half,
  .billing .col_three_fourth .col_one_fourth,
  .marginbottom-ten {
    margin-bottom: 10px !important;
  }
}
@media (min-width: 1364px) {
  .postcontent.bothsidebar {
    width: 77.9% !important;
  }
}
/*  @media (min-width: 1358px) {
      .postcontent.bothsidebar {
          width: 59.9%;
      }
  }*/
@media (min-width: 1359px) and (max-width: 1425px) {
  figure.ad-space h3 {
    font-size: 22px;
  }
}
@media (min-width: 1298px) and (max-width: 1358px) {
  figure.ad-space h3 {
    font-size: 22px;
  }
}
@media (min-width: 1164px) and (max-width: 1297px) {
  #logo {
    width: 36%;
  }
  /* #logo img {
          padding-top: 10px;
          padding-bottom: 10px;
      }*/
  #header:not(.sticky-header) #logo {
    height: 100px;
  }
  .lead.amount {
    font-size: 1.3vw;
  }
}
@media (min-width: 1200px) {
  .registration .col-sm-3 {
    width: 27%;
  }
}
@media (min-width: 1024px) and (max-width: 1062px) {
  figure.ad-space h3 {
    font-size: 22px;
  }
}
@media (min-width: 1000px) and (max-width: 1161px) {
  body #header.sticky-header #primary-menu {
    width: 117%;
    left: -48px;
  }
  body #header.sticky-header #nav-contain {
    top: 64px;
    position: relative;
  }
}
@media (min-width: 991px) and (max-width: 1163px) {
  body #logo {
    float: none;
    text-align: center;
  }
  body #logo img {
    margin: auto;
  }
  body #header.full-header #logo,
  body #header.full-header #primary-menu > ul {
    border-right: none;
  }
  #logo a.standard-logo {
    display: inline-block;
  }
  body #primary-menu {
    width: 100%;
    /*overflow: hidden;*/
    border-top: 1px solid #EEE;
  }
  body #primary-menu ul {
    width: 95%;
  }
  .top-search-open #top-search form input {
    background-color: white;
  }
  .top-search-open #top-search #top-search-trigger {
    bottom: 52px;
  }
  body #header.full-header #primary-menu > ul {
    width: 92%;
  }
  body #primary-menu > ul > li {
    width: 19%;
    display: inline-block;
  }
  body #primary-menu ul li {
    float: none;
  }
  #primary-menu ul li a {
    text-align: left;
  }
  body #primary-menu > ul > li > a {
    text-align: center;
  }
  body #primary-menu ul li a {
    display: block;
  }
  #header,
  #header-wrap,
  #logo img,
  #primary-menu:not(.style-2),
  #primary-menu:not(.style-2) > ul {
    height: auto;
  }
  #header.sticky-header #primary-menu {
    background-color: #FFF;
    box-shadow: 0 10px 5px -4px rgba(0, 0, 0, 0.1);
    -webkit-backface-visibility: hidden;
    margin: 0 -30px;
    position: absolute;
    width: 100%;
  }
  #top-search,
  #top-cart,
  #side-panel-trigger {
    float: left !important;
  }
  body .billing label:not(#label_agree_tc) {
    height: 34px;
  }
  .lead.amount {
    font-size: 1.5vw;
  }
}
@media (min-width: 1000px) {
  #content section .sub-title,
  #content section h3 {
    display: inline-block;
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
  body #content p,
  .postcontent dl {
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 20px;
  }
  .postcontent ul:not(.entry-meta),
  .postcontent ol {
    margin-left: 45px;
  }
  #page-title.page-title-parallax.state-page {
    padding: 40px 0;
  }
}
@media (min-width: 992px) {
  /*query just before going into Single Column view*/
  body label {
    font-size: 0.95em;
  }
  /*.container {
          width: 86.1%;
      }
      #nav-contain {
          .container {
              width: 86.1%;
          }
      }*/
  #header,
  #header-wrap,
  #logo img,
  #primary-menu:not(.style-2),
  #primary-menu:not(.style-2) > ul {
    transition: none;
  }
  .customized-service h1 {
    float: left;
    width: 100%;
  }
  .landing .content-wrap .container {
    width: 1170px;
  }
  .category-blog .container {
    width: 1170px;
  }
  .postcontent.bothsidebar {
    padding: 0 3.4%;
    position: relative;
    border-left: 1px solid rgba(56, 110, 155, 0.1);
    border-right: 1px solid rgba(56, 110, 155, 0.1);
  }
  .postcontent,
  .sidebar {
    margin-right: 0;
  }
  .sidebar {
    min-width: 219px;
  }
  .sidebar.left {
    margin-right: 3%;
  }
  .category-blog.single .sidebar.left {
    margin-right: 5%;
  }
  .sidebar.right {
    margin-left: 3%;
  }
  .sidebar {
    width: 17%;
  }
  figure.headline {
    float: right;
    width: 38%;
    max-width: 474px;
  }
  .secondary-nav li {
    display: inline;
  }
  .billing form .col_full,
  .billing form .col_half,
  .billing form .col_one_third,
  .billing form .col_two_third,
  .billing form .col_three_fourth,
  .billing form .col_one_fourth,
  .billing form .col_one_fifth,
  .billing form .col_two_fifth,
  .billing form .col_three_fifth,
  .billing form .col_four_fifth,
  .billing form .col_one_sixth,
  .billing form .col_five_sixth {
    margin-bottom: 15px !important;
  }
}
@media (max-width: 991px) {
  /* /-- START: Hide items Landing Pages Only*/
  .state-cleanup #nav-contain,
  .state-cleanup #page-title,
  .state-cleanup .breadcrumb,
  .state-cleanup .sidebar {
    display: none !important;
  }
  .state-cleanup .page-name {
    font-size: 4vw;
    text-align: center;
  }
  .state-cleanup .content-wrap {
    padding: 20px 0;
  }
  /* /-- END: Hide items Landing Pages Only*/
  #header-wrap #primary-menu-trigger {
    top: 4px;
  }
  .trans-summary {
    margin-top: 30px;
  }
  .sidebar-widgets-wrap .widget {
    width: 100%;
  }
  .secondary-nav li {
    display: block;
  }
  .secondary-nav li a {
    display: block;
  }
  #top-search-trigger {
    top: -17px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #logo a {
    margin: auto;
    width: 75%;
  }
  body label {
    font-size: 14px;
  }
  .billing form .col_full,
  .billing form .col_half,
  .billing form .col_one_third,
  .billing form .col_two_third,
  .billing form .col_three_fourth,
  .billing form .col_one_fourth,
  .billing form .col_one_fifth,
  .billing form .col_two_fifth,
  .billing form .col_three_fifth,
  .billing form .col_four_fifth,
  .billing form .col_one_sixth,
  .billing form .col_five_sixth {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  figure.ad-space {
    /*
   label {
              font-size: 11px;
          }
*/
  }
  figure.ad-space .img-contain {
    width: 40%;
    float: left;
  }
  figure.ad-space .content {
    width: 55%;
    float: right;
  }
  .hide-onmobile {
    display: block !important;
  }
  .show-onmobile {
    display: none !important;
  }
  .states-list {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    padding: 20px;
  }
  .summary-contain {
    margin-left: 10%;
  }
  .cc-last3 {
    margin-top: 0.3em;
  }
  .page-name {
    font-size: 2em;
  }
}
@media (max-width: 767px) {
  .promo {
    text-align: center;
  }
  .state-cleanup .container,
  .state-cleanup #header.full-header .container,
  .state-cleanup .container-fullwidth {
    width: auto !important;
  }
  #logo {
    width: 100%;
    height: 75px !important;
  }
  .hide-onmobile {
    display: none !important;
  }
  .show-onmobile {
    display: block !important;
  }
  .show-onmobile.inline {
    display: inline !important;
  }
  .show-onmobile.inline.cc-img {
    width: 32%;
  }
  #page-title h1 .show-onmobile {
    display: block;
    font-size: 12px;
    font-size: 4vw;
  }
  figure.ad-space > .button.show-onmobile {
    margin-bottom: 20px;
  }
  figure.ad-space .img-contain,
  figure.ad-space .content {
    width: 100%;
    float: none;
  }
  figure.ad-space .img-contain {
    margin-bottom: 30px;
  }
  figure.ad-space .content h3 {
    font-size: 15px;
    font-size: 4.5vw;
    margin-bottom: 5px;
  }
  figure.ad-space label {
    font-size: 11px !important;
    /*font-size: 3vw !important;*/
    padding-top: 14px !important;
  }
  body .landing-hero .landing-content h1 {
    font-size: 15px;
  }
  body .landing-hero .landing-content p {
    font-size: inherit;
  }
  body .landing form > div:first-of-type {
    padding: 0;
  }
  body .landing #content .content-wrap {
    padding-top: 20px;
  }
  .summary-contain {
    margin-left: 5%;
  }
  .billing fieldset:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .customized-service h1 {
    font-size: 15px;
    font-size: 3.5vw;
    text-align: center;
  }
  .customized-service h2 {
    font-size: 13px;
    font-size: 4vw;
  }
}
@media (max-width: 380px) {
  #first-form p,
  #first-form label {
    font-size: 10.5px;
    font-size: 3.5vw;
  }
  #first-form label {
    margin-top: 5px;
  }
  #first-form fieldset {
    margin-bottom: 15px;
  }
  .customized-service h1 {
    font-size: 15px;
    font-size: 4.5vw;
    text-align: center;
  }
  .customized-service h2 {
    font-size: 13px;
    font-size: 5vw;
  }
  .customized-service #step1 h2:before,
  .customized-service #step2 h2:before,
  .customized-service #step3 h2:before {
    background-color: #eee;
  }
}
/*Custom Query list
------------------------------*/
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) and (max-width: 1357.5px) {
  .postcontent.bothsidebar {
    /*width: 55.9%;*/
    width: 71.9%;
  }
}
/*  
  @media only screen and (min-width: 1024px) and (max-width: 1223.5px) {
  here
  .postcontent.bothsidebar {
          width: 48%;
      }
  }*/
@media only screen and (min-width: 1153px) {
  .swiper-wrapper .swiper-slide {
    background-image: url('//s3.amazonaws.com/{domain}/images/slider/swiper/fishing-license.jpg') !important;
  }
  /*START: load General pic*/
  #page-title.page-title-parallax.page-gear {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-gear.jpg');
  }
  #page-title.page-title-parallax.page-types-of-fishing {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-types-of-fishing.jpg');
  }
  #page-title.page-title-parallax.page-tools {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-tools.jpg');
  }
  #page-title.page-title-parallax.page-environment {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-environment.jpg');
  }
  #page-title.page-title-parallax.page-how-to {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-how-to.jpg');
  }
  #page-title.page-title-parallax.page-faq {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/faq.jpg');
  }
  #page-title.page-title-parallax.page-about-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/about-us.jpg');
  }
  #page-title.page-title-parallax.page-contact-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/contact-us.jpg');
  }
  #page-title.page-title-parallax.page-site-map {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/site-map.jpg');
  }
  #page-title.page-title-parallax.page-fisherman-club {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/fisherman-club.jpg');
  }
  /* END: load General pic*/
  /* START: load state cat pic*/
  #page-title.page-title-parallax.category-florida {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/florida-keys.jpg');
  }
  #page-title.page-title-parallax.category-california {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/california-fishing.jpg');
  }
  #page-title.page-title-parallax.category-colorado {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/colorado-rocky-mountains.jpg');
  }
  #page-title.page-title-parallax.category-minnesota {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/minnesota-kekekabic-lake.jpg');
  }
  #page-title.page-title-parallax.category-texas {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/texas-fishing.jpg');
  }
}
@media only screen and (min-width: 990px) and (max-width: 1040.5px) {
  figure.ad-space #step2 div {
    float: none;
    width: 100%;
  }
  figure.ad-space h3 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1040px) {
  .featured-articles .col_one_fifth.nobottommargin {
    width: 100%;
    margin-bottom: 50px !important;
  }
  .feature-box img {
    margin: auto;
  }
  .testimonials-grid li:last-of-type {
    width: 100%;
  }
}
@media only screen and (min-width: 981px) and (max-width: 1153px) {
  .swiper-wrapper .swiper-slide {
    background-image: url('//s3.amazonaws.com/{domain}/images/slider/swiper/fishing-license-1280.jpg') !important;
  }
  /*START: load General pic*/
  #page-title.page-title-parallax.page-gear {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-gear-1280.jpg');
  }
  #page-title.page-title-parallax.page-types-of-fishing {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-types-of-fishing-1280.jpg');
  }
  #page-title.page-title-parallax.page-tools {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-tools-1280.jpg');
  }
  #page-title.page-title-parallax.page-environment {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-environment-1280.jpg');
  }
  #page-title.page-title-parallax.page-how-to {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-how-to-1280.jpg');
  }
  #page-title.page-title-parallax.page-faq {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/faq-1280.jpg');
  }
  #page-title.page-title-parallax.page-about-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/about-us-1280.jpg');
  }
  #page-title.page-title-parallax.page-contact-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/contact-us-1280.jpg');
  }
  #page-title.page-title-parallax.page-site-map {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/site-map-1280.jpg');
  }
  #page-title.page-title-parallax.page-fisherman-club {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/fisherman-club-1280.jpg');
  }
  /* END: load General pic*/
  /* START: load state cat pic*/
  #page-title.page-title-parallax.category-florida {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/florida-keys-1280.jpg');
  }
  #page-title.page-title-parallax.category-california {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/california-fishing-1280.jpg');
  }
  #page-title.page-title-parallax.category-colorado {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/colorado-rocky-mountains-1280.jpg');
  }
  #page-title.page-title-parallax.category-minnesota {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/minnesota-kekekabic-lake-1280.jpg');
  }
  #page-title.page-title-parallax.category-texas {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/texas-fishing-1280.jpg');
  }
}
@media only screen and (min-width: 768px) and (max-width: 980.5px) {
  .disclaimer {
    font-size: 1.7vw;
  }
  .swiper-wrapper .swiper-slide {
    background-image: url('//s3.amazonaws.com/{domain}/images/slider/swiper/fishing-license-980.jpg') !important;
  }
  /*START: load General pic*/
  #page-title.page-title-parallax.page-gear {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-gear-980.jpg');
  }
  #page-title.page-title-parallax.page-types-of-fishing {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-types-of-fishing-980.jpg');
  }
  #page-title.page-title-parallax.page-tools {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-tools-980.jpg');
  }
  #page-title.page-title-parallax.page-environment {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-environment-980.jpg');
  }
  #page-title.page-title-parallax.page-how-to {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-how-to-980.jpg');
  }
  #page-title.page-title-parallax.page-faq {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/faq-980.jpg');
  }
  #page-title.page-title-parallax.page-about-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/about-us-980.jpg');
  }
  #page-title.page-title-parallax.page-contact-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/contact-us-980.jpg');
  }
  #page-title.page-title-parallax.page-site-map {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/site-map-980.jpg');
  }
  #page-title.page-title-parallax.page-fisherman-club {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/fisherman-club-980.jpg');
  }
  /* END: load General pic*/
  /* START: load state cat pic*/
  #page-title.page-title-parallax.category-florida {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/florida-keys-980.jpg');
  }
  #page-title.page-title-parallax.category-california {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/california-fishing-980.jpg');
  }
  #page-title.page-title-parallax.category-colorado {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/colorado-rocky-mountains-980.jpg');
  }
  #page-title.page-title-parallax.category-minnesota {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/minnesota-kekekabic-lake-980.jpg');
  }
  #page-title.page-title-parallax.category-texas {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/texas-fishing-980.jpg');
  }
}
@media screen and (max-width: 1024px) {
  body .postcontent.bothsidebar {
    width: 100%;
    border-right: 0;
  }
  body .sidebar.right,
  body .img-contain {
    display: none !important;
  }
  body figure.ad-space .content {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 991px) {
  nav#secondary-menu {
    display: block !important;
  }
  .secondary-nav ul {
    display: inline-block !important;
  }
  #nav-trigger {
    display: none;
    text-align: center;
  }
  .billing fieldset {
    margin-bottom: 0;
  }
  /* .steps { */
    /* float: left; */
    /* margin-right: 5%; */
    /* width: 60%; */
  /* } */
  /* .guide-download { */
    /* float: right; */
    /* border-left: 1px solid #EEE; */
    /* padding: 0 15px; */
    /* width: 35%; */
  /* } */
  .bonus {
    float: left;
    width: 60%;
  }
}
@media screen and (max-width: 990.5px) {
  #first-form .row {
    margin-bottom: 5px;
  }
  #nav-trigger {
    display: block;
  }
  nav#secondary-menu {
    display: none;
  }
  nav#secondary-menu.show {
    display: block;
  }
  nav#nav-mobile {
    display: block;
  }
  nav#secondary-menu.show li {
    display: block;
  }
  #primary-menu ul ul,
  #primary-menu ul li .mega-menu-content {
    display: block !important;
  }
  .steps,
  .guide-download {
    margin-bottom: 15px;
  }
  .guide-download {
    border-top: 1px solid #EEE;
  }
  .err_msg {
    padding-left: 15px !important;
  }
  .billing fieldset .col_one_fourth,
  .billing fieldset .col_three_fourth {
    margin-bottom: 0 !important;
  }
  #buySS > p:first-of-type {
    text-align: left;
  }
  #page-title.page-title-parallax h1 {
    font-size: 9vw;
  }
  .landing .state-select {
    width: 100%;
  }
  .landing #submit {
    width: 100%;
    margin: 15px auto 0;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767.5px) {
  .disclaimer {
    font-size: 1.7vw;
  }
  .swiper-wrapper .swiper-slide {
    background-image: url('//s3.amazonaws.com/{domain}/images/slider/swiper/fishing-license-767.jpg') !important;
  }
  /*START: load General pic*/
  #page-title.page-title-parallax.page-gear {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-gear-767.jpg');
  }
  #page-title.page-title-parallax.page-types-of-fishing {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-types-of-fishing-767.jpg');
  }
  #page-title.page-title-parallax.page-tools {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-tools-767.jpg');
  }
  #page-title.page-title-parallax.page-environment {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-environment-767.jpg');
  }
  #page-title.page-title-parallax.page-how-to {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-how-to-767.jpg');
  }
  #page-title.page-title-parallax.page-faq {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/faq-767.jpg');
  }
  #page-title.page-title-parallax.page-about-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/about-us-767.jpg');
  }
  #page-title.page-title-parallax.page-contact-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/contact-us-767.jpg');
  }
  #page-title.page-title-parallax.page-site-map {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/site-map-767.jpg');
  }
  #page-title.page-title-parallax.page-fisherman-club {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/fisherman-club-767.jpg');
  }
  /* END: load General pic*/
  /* START: load state cat pic*/
  #page-title.page-title-parallax.category-florida {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/florida-keys-767.jpg');
  }
  #page-title.page-title-parallax.category-california {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/california-fishing-767.jpg');
  }
  #page-title.page-title-parallax.category-colorado {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/colorado-rocky-mountains-767.jpg');
  }
  #page-title.page-title-parallax.category-minnesota {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/minnesota-kekekabic-lake-767.jpg');
  }
  #page-title.page-title-parallax.category-texas {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/texas-fishing-767.jpg');
  }
  .states-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 480px) and (max-width: 639.5px) {
  .disclaimer {
    font-size: 3vw;
  }
  .swiper-wrapper .swiper-slide {
    background-image: url('//s3.amazonaws.com/{domain}/images/slider/swiper/fishing-license-640.jpg') !important;
  }
  /*START: load General pic*/
  #page-title.page-title-parallax.page-gear {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-gear-640.jpg');
  }
  #page-title.page-title-parallax.page-types-of-fishing {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-types-of-fishing-640.jpg');
  }
  #page-title.page-title-parallax.page-tools {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-tools-640.jpg');
  }
  #page-title.page-title-parallax.page-environment {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-environment-640.jpg');
  }
  #page-title.page-title-parallax.page-how-to {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-how-to-640.jpg');
  }
  #page-title.page-title-parallax.page-faq {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/faq-640.jpg');
  }
  #page-title.page-title-parallax.page-about-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/about-us-640.jpg');
  }
  #page-title.page-title-parallax.page-contact-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/contact-us-640.jpg');
  }
  #page-title.page-title-parallax.page-site-map {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/site-map-640.jpg');
  }
  #page-title.page-title-parallax.page-fisherman-club {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/fisherman-club-640.jpg');
  }
  /* END: load General pic*/
  /* START: load state cat pic*/
  #page-title.page-title-parallax.category-florida {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/florida-keys-640.jpg');
  }
  #page-title.page-title-parallax.category-california {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/california-fishing-640.jpg');
  }
  #page-title.page-title-parallax.category-colorado {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/colorado-rocky-mountains-640.jpg');
  }
  #page-title.page-title-parallax.category-minnesota {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/minnesota-kekekabic-lake-640.jpg');
  }
  #page-title.page-title-parallax.category-texas {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/texas-fishing-640.jpg');
  }
}
@media only screen and (max-width: 480.5px) {
  .disclaimer {
    font-size: 3.5vw;
  }
  .swiper-wrapper .swiper-slide {
    background-image: url('//s3.amazonaws.com/{domain}/images/slider/swiper/fishing-license-480.jpg') !important;
  }
  /*START: load General pic*/
  #page-title.page-title-parallax.page-gear {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-gear-480.jpg');
  }
  #page-title.page-title-parallax.page-types-of-fishing {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-types-of-fishing-480.jpg');
  }
  #page-title.page-title-parallax.page-tools {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-tools-480.jpg');
  }
  #page-title.page-title-parallax.page-environment {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-environment-480.jpg');
  }
  #page-title.page-title-parallax.page-how-to {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/general-how-to-480.jpg');
  }
  #page-title.page-title-parallax.page-faq {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/faq-480.jpg');
  }
  #page-title.page-title-parallax.page-about-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/about-us-480.jpg');
  }
  #page-title.page-title-parallax.page-contact-us {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/contact-us-480.jpg');
  }
  #page-title.page-title-parallax.page-site-map {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/site-map-480.jpg');
  }
  #page-title.page-title-parallax.page-fisherman-club {
    background-image: url('//s3.amazonaws.com/{domain}/images/parallax/fisherman-club-480.jpg');
  }
  /* END: load General pic*/
  /* START: load state cat pic*/
  #page-title.page-title-parallax.category-florida {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/florida-keys-480.jpg');
  }
  #page-title.page-title-parallax.category-california {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/california-fishing-480.jpg');
  }
  #page-title.page-title-parallax.category-colorado {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/colorado-rocky-mountains-480.jpg');
  }
  #page-title.page-title-parallax.category-minnesota {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/minnesota-kekekabic-lake-480.jpg');
  }
  #page-title.page-title-parallax.category-texas {
    background-image: url('//s3.amazonaws.com/{domain}/images/category-state/texas-fishing-480.jpg');
  }
}
/*============ END: Responsive ============*/
/*============ START: State fonts ============*/
@font-face {
  font-family: 'StateFaceRegular';
  src: url('fonts/stateface-regular-webfont.eot');
  src: url('fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/stateface-regular-webfont.woff') format('woff'), url('fonts/stateface-regular-webfont.ttf') format('truetype'), url('fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.stateface:before {
  font-family: StateFaceRegular;
  margin-right: 5px;
  text-transform: none;
}
.stateface-replace {
  text-indent: -999em;
  display: inline-block;
  position: relative;
  min-width: 1em;
  text-transform: none;
}
.stateface-replace:before {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;
}
.stateface-ak:before {
  content: "A";
}
.stateface-al:before {
  content: "B";
}
.stateface-ar:before {
  content: "C";
}
.stateface-az:before {
  content: "D";
}
.stateface-ca:before {
  content: "E";
}
.stateface-co:before {
  content: "F";
}
.stateface-ct:before {
  content: "G";
}
.stateface-dc:before {
  content: "y";
}
.stateface-de:before {
  content: "H";
}
.stateface-fl:before {
  content: "I";
}
.stateface-ga:before {
  content: "J";
}
.stateface-hi:before {
  content: "K";
}
.stateface-ia:before {
  content: "L";
}
.stateface-id:before {
  content: "M";
}
.stateface-il:before {
  content: "N";
}
.stateface-in:before {
  content: "O";
}
.stateface-ks:before {
  content: "P";
}
.stateface-ky:before {
  content: "Q";
}
.stateface-la:before {
  content: "R";
}
.stateface-ma:before {
  content: "S";
}
.stateface-md:before {
  content: "T";
}
.stateface-me:before {
  content: "U";
}
.stateface-mi:before {
  content: "V";
}
.stateface-mn:before {
  content: "W";
}
.stateface-mo:before {
  content: "X";
}
.stateface-ms:before {
  content: "Y";
}
.stateface-mt:before {
  content: "Z";
}
.stateface-nc:before {
  content: "a";
}
.stateface-nd:before {
  content: "b";
}
.stateface-ne:before {
  content: "c";
}
.stateface-nh:before {
  content: "d";
}
.stateface-nj:before {
  content: "e";
}
.stateface-nm:before {
  content: "f";
}
.stateface-nv:before {
  content: "g";
}
.stateface-ny:before {
  content: "h";
}
.stateface-oh:before {
  content: "i";
}
.stateface-ok:before {
  content: "j";
}
.stateface-or:before {
  content: "k";
}
.stateface-pa:before {
  content: "l";
}
.stateface-pr:before {
  content: "3";
}
.stateface-ri:before {
  content: "m";
}
.stateface-sc:before {
  content: "n";
}
.stateface-sd:before {
  content: "o";
}
.stateface-tn:before {
  content: "p";
}
.stateface-tx:before {
  content: "q";
}
.stateface-us:before {
  content: "z";
}
.stateface-ut:before {
  content: "r";
}
.stateface-va:before {
  content: "s";
}
.stateface-vt:before {
  content: "t";
}
.stateface-wa:before {
  content: "u";
}
.stateface-wi:before {
  content: "v";
}
.stateface-wv:before {
  content: "w";
}
.stateface-wy:before {
  content: "x";
}
/*============ END: State fonts ============*/
/*======== START: Global ========*/
a.disclaimerGovLink {
  color: inherit;
  text-decoration: underline !important;
}
.remove-widget-spacing {
  margin-top: 0;
  padding-top: 0 !important;
  border-top: none !important;
}
.divider:after {
  left: 0;
}
/*START: Secondary menu*/
#nav-contain {
  background-color: #115167;
}
.secondary-nav {
  width: 100%;
  z-index: 1;
  position: relative;
}
.secondary-nav ul {
  display: inline-block;
  margin: 12px auto;
  width: 100%;
}
.secondary-nav li a,
.secondary-nav {
  color: #115167;
}
.secondary-nav li a {
  background-color: #f5f5f5;
  border: 1px solid;
  padding: 0.5em 1em;
  margin: 0 0.5%;
}
.secondary-nav li a:hover,
.secondary-nav li.current a {
  background-color: #88dca5;
  border: 1px solid transparent;
}
#nav-trigger span {
  display: block;
  padding: 10px 30px;
  background-color: #115167;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
#nav-trigger span:after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
  border-left: solid 10px transparent;
  border-top: solid 10px #fff;
  border-right: solid 10px transparent;
}
#nav-trigger span:hover {
  background-color: #2d7790;
}
#nav-trigger span.open:after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #fff;
  border-right: solid 10px transparent;
}
nav#secondary-menu ul,
nav#secondary-menu {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*END: Secondary menu*/
/*START: Header*/
.button {
  background-color: #4B4B4B;
}
body .button:hover,
body .button:focus {
  background-color: rgba(75, 75, 75, 0.75);!important;
}
.page-home .slider-caption .button:hover,
.page-home .slider-caption .button:focus {
  background-color: white !important;
}
#logo img {
  width: 100%;
  height: auto;
}
#logo img.large {
  max-width: 333px;
}
#logo img.standard {
  max-width: 555px;
}
/*END: Header*/
/* STATE: Main navigation*/
#primary-menu ul ul > li.sub-menu > a {
  text-transform: capitalize;
}
body #primary-menu ul ul a {
  /* in the <ul> under sub-menu 
   adjust properties to allow legibility for long link names   */
  height: auto !important;
  line-height: 2em !important;
  color: #666 !important;
  padding: 1em !important;
  text-transform: capitalize !important;
  font-style: inherit;
  font-size: 0.95em;
}
/* END: Main navigation*/
/*======== END: Global ========*/
/*============ START: Content ============*/
.postcontent dd {
  margin: auto;
  line-height: normal;
  font-size: 1em;
}
.postcontent section div > h2 {
  border-bottom: 1px solid #386e9b;
  padding-bottom: 10px;
}
.postcontent li {
  line-height: 2em;
}
#content .breadcrumb {
  position: relative !important;
  font-size: 1em;
  top: -42px !important;
  left: 0 !important;
  display: none;
}
.more {
  margin-bottom: 0.5em;
}
#content section a.sub-title {
  /*make sub-title links look like regular text*/
  font-weight: bold;
  color: inherit;
}
.parent-category .postcontent section > div:first-child {
  padding-top: 0;
  border-top: none;
}
.parent-category .postcontent section > div {
  border-top: 1px solid rgba(56, 110, 155, 0.1);
  padding-top: 30px;
  margin-bottom: 15px;
}
/*  .parent-category,
  .billing {
      .content-wrap {
          padding: 20px 0;
      }
  }*/
.content-wrap {
  padding: 20px 0;
}
#content section a.sub-title:hover {
  text-decoration: underline !important;
}
.breadcrumb li {
  text-transform: capitalize;
}
.breadcrumb li.active {
  font-weight: bold;
  color: #1ABC9C;
}
#page-title {
  position: relative;
}
#page-title.page-title-parallax .container {
  text-shadow: 2px 2px 5px #333;
  margin-top: 30px;
}
#page-title.page-title-parallax .container .modal {
  text-shadow: none;
}
.page-title-parallax:not(.ad) {
  height: 350px;
}
.swiper-slide .blackout {
  background-color: rgba(0, 0, 0, 0.3);
}
#page-title .blackout {
  background-color: rgba(0, 0, 0, 0.05);
}
#page-title .blackout,
.swiper-slide .blackout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* END: load state cat pic*/
.page-name {
  text-transform: uppercase;
  color: #1abc9c;
  margin-bottom: 0.5em;
}
/* START: Ad in headline section */
figure {
  background-color: #fff;
  padding: 18px;
  text-shadow: none;
}
figure.headline {
  display: none;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.6);
  position: relative;
  text-align: left;
}
figure.headline .button,
figure.ad-space .button {
  display: block;
  text-align: center;
}
#page-title.page-title-dark figure.headline h1 {
  color: #35849e !important;
  text-transform: uppercase;
  border-bottom: 1px solid #35849e;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: normal;
  padding-bottom: 0.25em;
}
figure.headline > p {
  margin: 0.9em auto;
  font-size: 1.2em;
}
/* END: Ad in headline section */
/* START: Ad in page */
figure.ad-space {
  border: 1px solid rgba(56, 110, 155, 0.1);
  margin-bottom: 30px;
}
figure.ad-space img {
  width: 100%;
  height: auto;
}
figure.ad-space h3 {
  color: #35849e;
  font-weight: bold;
}
figure.ad-space p {
  text-align: justify;
  line-height: normal;
}
/* END: Ad in page */
ol.noformat {
  margin-left: 1em;
}
#content ol.noformat .sub-title,
#content ol.noformat h3 {
  display: inline;
}
/*============ END: Content ============*/
/*============ START: Home ============*/
#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky):not(.sticky-style-2) #logo img,
#header.sticky-header:not(.static-sticky) #primary-menu,
#header.sticky-header:not(.static-sticky) #primary-menu > ul,
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  height: 80px;
}
body .dark .slider-caption p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-weight: 500;
}
.feature-box .fbox-icon a,
.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
  height: auto;
}
.feature-box .subtitle {
  text-align: justify;
}
.feature-box.fbox-center .fbox-icon {
  width: 100%;
  height: auto;
}
section.home .feature-box .fbox-icon i {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
section .feature-box .fbox-icon img {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.feature-box h3 a {
  color: inherit;
}
.feature-box img {
  max-width: 440px;
}
/*START: Slider*/
.swiper-wrapper,
.swiper-wrapper .swiper-slide {
  width: 100% !important;
}
.swiper-wrapper .swiper-slide {
  background-size: cover;
}
.swiper-slide.noSwiping {
  cursor: default;
}
#slider-arrow-left,
#slider-arrow-right,
#slide-number {
  display: none !important;
}
/*END: Slider*/
/*start: Testimonial*/
.testi-image img {
  border: 1px solid #ccc;
}
/*end: Testimonial*/
/*True Landing page*/
.landing-hero {
  margin-bottom: 20px;
}
.landing-hero .img-contain {
  overflow: hidden;
  height: 308px;
  padding-right: 0;
}
.landing-hero .img-contain img {
  max-width: 919px;
}
.landing-hero .landing-content {
  background-color: #155268;
  color: #fff;
  padding: 20px;
}
.landing-hero .landing-content p {
  font-size: 1.5em;
}
.landing-hero .landing-content h1 {
  color: #fff;
  font-size: 3em;
}
.landing-hero .landing-content .state-select-label {
  margin-top: 5px;
}
.landing .intro {
  text-align: justify;
  /*.column-count(3);*/
  margin-bottom: 30px;
}
.landing .featured-articles p {
  font-size: 1.1em;
}
/*============ END: Home ============*/
/* ========= START: Select State ========= */
.states-list a {
  display: block;
  color: #333;
  text-decoration: underline;
  line-height: 2.5em;
}
/* ========= END: Select State ========= */
/*============= START: Blog =============*/
/*============= END: Blog =============*/
/*============ START: Sidebar ============*/
.sidebar {
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sidebar ul {
  margin-left: 0;
}
.sidebar li {
  list-style: none;
  border-bottom: 1px solid #0f465b;
}
.sidebar li a {
  display: block;
  font-size: 1.2em;
  padding: 1em 0;
  text-indent: 0.93em;
  color: #001a38;
  white-space: nowrap;
}
.sidebar li a:hover {
  background-color: #88dca5;
}
.sidebar h4 {
  color: #333333;
  text-transform: uppercase;
  /*font-size: 1.5em;*/
  font-weight: bold;
  border-bottom: 1px solid #0f465b;
}
/*============ END: Sidebar ============*/
/*============ START: Billing / Checkout ============*/
.summary-contain .cart_item {
  border-top: 1px solid #dddddd;
  padding: 10px 0;
}
.summary-contain .cart_item.alpha {
  border-top: 0;
}
.summary-contain .theader {
  border-bottom: 2px solid #dddddd;
}
.summary-contain .cart-product-price,
.summary-contain .cart-product-quantity,
.summary-contain .cart-product-subtotal {
  text-align: left !important;
}
.summary-contain .cart-product-name,
.summary-contain .theader {
  font-weight: 300;
}
.err_msg {
  display: none;
  text-align: center;
}
#frm .row {
  margin-bottom: 12px;
}
.form-contain {
  margin: auto;
}
body label {
  padding: 5.5px 0;
  display: inline-block;
  /* font-size: 0.85em;*/
}
figure.ad-space label {
  color: initial;
  font-weight: bold;
}
#content.billing {
  background-color: #f5f5f5;
}
#content.billing .container {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
  padding: 15px 30px;
}
#page-title.billing-title {
  padding: 25px 0;
}
.billing a:link,
.billing a:visited,
.billing a:hover,
.billing a:active {
  color: #000000;
  text-decoration: underline;
}
.billing .content-wrap {
  padding: 0 0 80px;
}
.billing .col-md-4.reducepadding {
  border: 1px solid rgba(56, 110, 155, 0.1);
  padding-top: 15px;
}
.billing .button {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.billing #billingSubmit {
  width: 65%;
}
.billing .label {
  padding: 10px;
  display: block;
  font-size: 1em;
  white-space: normal;
}
#submit img {
  width: 25%;
  height: auto;
  margin-left: 10px;
}
#buySS .button {
  position: relative;
  top: 0;
  /*right: 25%;*/
}
/*
  #content.billing {
    background-color: #F5F5F5;
  }
  
  #page-title.billing-title {
    padding: 25px 0;
  }
  
  .billing a:link,
  .billing a:visited,
  .billing a:hover,
  .billing a:active {
    color: #000000;
    text-decoration: underline !important;
  }
  
  .billing .content-wrap {
    padding: 0 0 80px;
  }
  
  #content.billing .container {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
    padding: 15px 30px;
  }
  
  .billing .col-md-4.reducepadding {
    border: 1px solid rgba(56, 110, 155, 0.1);
    padding-top: 15px;
  }
  
  #submit img {
    width: 25%;
    height: auto;
    margin-left: 10px;
  }
  
  .billing .button {
    width: 65%;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  
  #buySS .button {
    position: relative;
    top: 0;
    right: 25%;
  }
  
  .billing .label {
    padding: 10px;
    display: block;
    font-size: 1em;
    white-space: normal;
  }
  */
.row {
  margin-bottom: 0px;
}
.col-md-4.morepadding {
  padding: 0 22px;
}
label[for="agree_tc"] {
  text-transform: none;
  font-size: 0.9em;
}
/*============ END: Billing / Checkout ============*/
#site-map h2 {
  border-bottom: 1px solid #eee;
}
body #site-map h2 a,
#site-map h2 {
  color: #444 !important;
}
/*============= START: Custom.css =============*/
/* FORM */
.dottedline {
  margin: 10px 0px !important;
  height: 4px;
  width: 100%;
  background: url('//s3.amazonaws.com/{domain}/images/hr.png') repeat-x;
}
.spacer {
  padding: 10px;
}
.submitrow {
  padding: 5px 0px;
}
.step {
  padding: 10px;
  float: left;
}
.step .circle {
  float: left;
  text-align: center;
  width: 20px;
  height: 20px;
  background: #eee;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border: 1px solid #666;
  font-size: 13px;
  color: #666;
  margin-right: 10px;
}
.step .breadcrumbtitle {
  float: left;
  color: #666;
  font-weight: bold;
  font-size: 14px;
}
.step .selected {
  border: 1px solid #5096C7;
  background: #5096C7;
  color: #fff;
}
/* FORM */
/* SLICK NAV */
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 767px) {
  /* #menu is the original menu */
  .page-name {
    font-size: 16px;
    font-size: 3.5vw;
  }
  #menu {
    display: none;
  }
  fieldset#step1,
  fieldset#step2 {
    width: 95%!important;
  }
  fieldset#step1splash {
    width: 95%!important;
  }
  h1.main {
    font-size: 15px!important;
  }
  .billing .cc-last3 {
    margin-left: 0.8em;
  }
  .billing #billingSubmit.show-onmobile {
    margin-right: 17%;
  }
}
/* MEDIA QUERIES */
/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  .form-group {
    margin-bottom: 10px!important;
  }
}
@media (max-width: 767px) {
  .colmobpadding {
    padding-top: 25px!important;
  }
  .noleftpad {
    padding-left: 15px!important;
  }
}
/*============= END: Custom.css =============*/
/*============ START: Footer ============*/
.dark .copyright-links a {
  color: #666;
}
/*============ END: Footer ============*/
/*============ START: Thank you ============*/
/*http://codeitdown.com/demos/ol-css-styles*/
ol.simple-list {
  list-style-type: none;
  list-style-type: decimal !ie;
  /*IE 7- hack*/
  margin: 0;
  margin-left: 3em;
  padding: 0;
  counter-reset: li-counter;
}
ol.simple-list > li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0.5em;
  min-height: 3em;
  border-left: 2px solid #CCCCCC;
}
ol.simple-list > li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.8em;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #464646;
  content: counter(li-counter);
  counter-increment: li-counter;
}
#thank-you .steps li:before {
  position: absolute;
  top: 0;
  left: -1em;
  width: 0.8em;
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #923297;
  content: counter(li-counter);
  counter-increment: li-counter;
}
#thank-you .steps li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0.5em;
  min-height: 3em;
  border-left: 2px solid #CCCCCC;
}
#thank-you {
  background-color: #fff;
  margin-top: 5px;
}
#thank-you .steps li span {
  font-size: 1em;
}
.guide-download {
  text-align: center;
}
.guide-download h2 a {
  /*  font-size: 0.8em;
  color: rgb(146, 50, 151);*/
}

.list-download .btn{
	padding: 2px;
	margin-top: 0.3em;
}
.border-gray-top{
	border-top: 1px solid #ccc;
}

.list-download{
	padding: 0.5em 0;
}

.pl-0{
	padding-left: 0;
}

.border-gray-left{
	border-left: 1px solid #ccc;
}

/* .guide-download img { */
  /* width: 100%; */
  /* margin: 10px auto; */
  /* max-width: 300px; */
  /* display: block; */
/* } */

#thank-you .bonus li a {
  font-size: 1.3em;
}
#thank-you .bonus li a:hover {
  text-decoration: none;
}
#thank-you h3 {
  font-weight: bold;
}
/*============ END: Thank you ============*/
/*============ START: Scale down site ======*/
/*  #page-title:not(.billing-title) > .container,*/
#page-title.page-title-parallax.state-page .blackout,
.sidebar.left,
.sidebar.right {
  display: none;
}
.category-blog .sidebar.left {
  display: block;
}
#page-title h1 span {
  font-size: 24px;
}
.page-title-parallax:not(.ad) {
  height: auto;
}
@media only screen and (max-width: 1223.5px) and (min-width: 1025px) {
  .postcontent.bothsidebar {
    /*width: 73%;*/
    width: 71%;
  }
}
@media (max-width: 1240px) {
  .landing-hero .img-contain img {
    height: 100%;
  }
}
@media (min-width: 1164px) {
  #page-title.page-title-parallax.state-page {
    /*padding: 20px 0;*/
    padding: 20px 0 30px;
  }
  #logo img.large {
    display: block;
  }
  #logo img.standard {
    display: none;
  }
}
@media (max-width: 1163px) {
  #logo img.large {
    display: none;
  }
  #logo img.standard {
    display: block;
  }
}
@media (min-width: 1000px) {
  #page-title.page-title-parallax.state-page {
    background-image: none !important;
  }
}
@media (min-width: 1000px) and (max-width: 1163px) {
  #page-title.page-title-parallax.state-page {
    padding: 0 !important;
  }
}
@media (min-width: 1000px) and (max-width: 1150px) {
  .blog-parent .entry-c {
    width: 58%;
  }
}
@media (min-width: 992px) and (max-width: 999px) {
  #page-title.page-title-parallax.state-page {
    padding: 0 !important;
    background-image: none !important;
  }
}
@media (min-width: 992px) {
  .postcontent.bothsidebar {
    padding-left: 0 !important;
    border-left: 0 !important;
    /*width: 73%;*/
  }
}
@media (min-width: 768px) {
  figure.ad-space .img-contain {
    height: 294px;
    overflow: hidden;
  }
  label {
    padding-right: 0;
  }
}
/*============ END: Scale down site ======*/
/* CONDENSED FORM */
.expdate {
  padding: 0;
}
.tcp {
  font-weight: 100;
  font-size: 15px;
}
.margtop20 { margin-top: 20px; }
.rowleftindex { margin-left: -30px; }
.alignleft { text-align: left;}
.nopad { padding: 0px;}
.nopadleft { padding-left: 0;}
.nopadright { padding-right: 0;}
.billrow { margin-bottom: 15px;}

/*-----------------------------------------------------------------------------------

	Theme Name: Canvas
	Theme URI: http://themes.semicolonweb.com/html/canvas
	Description: The Multi-Purpose Template
	Author: SemiColonWeb
	Author URI: http://themeforest.net/user/semicolonweb
	Version: 2.1

-----------------------------------------------------------------------------------*/


dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

::selection {
	background: #1ABC9C;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: #1ABC9C; /* Firefox */
	color: #FFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #1ABC9C; /* Safari */
	color: #FFF;
	text-shadow: none;
}

:active,
:focus { outline: none !important; }

#page-title h1{
	padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 600;
    color: #777;
    font-size: 25px;
	font-family: 'Raleway';
}

#page-title{
	position: relative;
    padding: 20px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}
/* form { margin-bottom: 30px; } */

small { font-family: 'Lato', sans-serif; }

.uppercase { text-transform: uppercase !important; }

.tright { text-align: right !important; }

.tleft { text-align: left !important; }

.fright { float: right !important; }

.fleft { float: left !important; }

.fnone { float: none !important; }

.ohidden {
	position: relative;
	overflow: hidden !important;
}

#wrapper {
	position: relative;
	float: none;
	width: 1220px;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.line,
.double-line {
	clear: both;
	position: relative;
	width: 100%;
	margin: 60px 0;
	border-top: 1px solid #EEE;
}

.line.line-sm { margin: 30px 0; }

span.middot {
	display: inline-block;
	margin: 0 5px;
}

.double-line { border-top: 3px double #E5E5E5; }

.emptydiv {
	display: block !important;
	position: relative !important;
}

.allmargin { margin: 50px !important; }

.leftmargin { margin-left: 50px !important; }

.rightmargin { margin-right: 50px !important; }

.topmargin { margin-top: 50px !important; }

.bottommargin { margin-bottom: 50px !important; }

.clear-bottommargin { margin-bottom: -50px !important; }

.allmargin-sm { margin: 30px !important; }

.leftmargin-sm { margin-left: 30px !important; }

.rightmargin-sm { margin-right: 30px !important; }

.topmargin-sm { margin-top: 30px !important; }

.bottommargin-sm { margin-bottom: 30px !important; }

.clear-bottommargin-sm { margin-bottom: -30px !important; }

.allmargin-lg { margin: 80px !important; }

.leftmargin-lg { margin-left: 80px !important; }

.rightmargin-lg { margin-right: 80px !important; }

.topmargin-lg { margin-top: 80px !important; }

.bottommargin-lg { margin-bottom: 80px !important; }

.clear-bottommargin-lg { margin-bottom: -80px !important; }

.nomargin {margin: 0 !important; }

.noleftmargin { margin-left: 0 !important; }

.norightmargin { margin-right: 0 !important; }

.notopmargin { margin-top: 0 !important; }

.nobottommargin { margin-bottom: 0 !important; }

.header-stick { margin-top: -50px !important; }

.content-wrap .header-stick { margin-top: -80px !important; }

.footer-stick { margin-bottom: -50px !important; }

.content-wrap .footer-stick { margin-bottom: -80px !important; }

.noborder { border: none !important; }

.noleftborder { border-left: none !important; }

.norightborder { border-right: none !important; }

.notopborder { border-top: none !important; }

.nobottomborder { border-bottom: none !important; }

.noradius { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important; }

.col-padding { padding: 60px; }

.nopadding { padding: 0 !important; }

.noleftpadding { padding-left: 0 !important; }

.norightpadding { padding-right: 0 !important; }

.notoppadding { padding-top: 0 !important; }

.nobottompadding { padding-bottom: 0 !important; }

.noabsolute { position: relative !important; }

.noshadow { box-shadow: none !important; }

.hidden { display: none !important; }

.nothidden { display: block !important; }

.inline-block {
	float: none !important;
	display: inline-block !important;
}
.divcenter {
	position: relative !important;
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.bgcolor,
.bgcolor #header-wrap { background-color: #1ABC9C !important; }

.color { color: #1ABC9C !important; }

.border-color { border-color: #1ABC9C !important; }

.nobg { background: none !important; }

.nobgcolor { background-color: transparent !important; }

.bgicon {
	display: block;
	position: absolute;
	bottom: -60px;
	right: -50px;
	font-size: 210px;
	color: rgba(0,0,0,0.1);
}

/* MOVING BG -  TESTIMONIALS */
.bganimate {
  -webkit-animation:BgAnimated 30s infinite linear;
	 -moz-animation:BgAnimated 30s infinite linear;
	  -ms-animation:BgAnimated 30s infinite linear;
	   -o-animation:BgAnimated 30s infinite linear;
		  animation:BgAnimated 30s infinite linear;
}
 @-webkit-keyframes BgAnimated {
  from  {background-position:0 0;}
  to    {background-position:0 400px;}
  }
 @-moz-keyframes BgAnimated {
  from  {background-position:0 0;}
  to    {background-position:0 400px;}
  }
 @-ms-keyframes BgAnimated {
  from  {background-position:0 0;}
  to    {background-position:0 400px;}
  }
 @-o-keyframes BgAnimated {
  from  {background-position:0 0;}
  to    {background-position:0 400px;}
  }
 @keyframes BgAnimated {
  from  {background-position:0 0;}
  to    {background-position:0 400px;}
  }


.input-block-level {
	display: block;
	width: 100% !important;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.vertical-middle {
	height: auto !important;
	left: 0;
}

.magnific-max-width .mfp-content { max-width: 800px; }

/* ----------------------------------------------------------------
	Sections
-----------------------------------------------------------------*/


.section {
	position: relative;
	margin: 60px 0;
	padding: 60px 0;
	background-color: #F9F9F9;
	overflow: hidden;
}

.parallax {
	background-color: transparent;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	overflow: hidden;
}

.mobile-parallax,
.video-placeholder {
	background-size: cover !important;
	background-attachment: scroll !important;
	background-position: center center;
}

.section .container { z-index: 2; }

.section .container + .video-wrap { z-index: 1; }

.revealer-image {
	position: relative;
	bottom: -100px;
	transition: bottom .3s ease-in-out;
	-webkit-transition: bottom .3s ease-in-out;
	-o-transition: bottom .3s ease-in-out;
}

.section:hover .revealer-image { bottom: -50px; }

.postcontent { width: 860px; }
.postcontent.bothsidebar { width: 580px; }
.sidebar { width: 240px; }
.col_full { width: 100%; }
.col_half { width: 48%; }
.col_one_third { width: 30.63%; }
.col_two_third { width: 65.33%; }
.col_one_fourth { width: 22%; }
.col_three_fourth { width: 74%; }
.col_one_fifth { width: 16.8%; }
.col_two_fifth { width: 37.6%; }
.col_three_fifth { width: 58.4%; }
.col_four_fifth { width: 79.2%; }
.col_one_sixth { width: 13.33%; }
.col_five_sixth { width: 82.67%; }

.postcontent,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth {
	display: block;
	position: relative;
	margin-right: 4%;
	margin-bottom: 50px;
	float: left;
}

.postcontent,
.sidebar { margin-right: 40px; }

.col_full {
	clear: both;
	float: none;
	margin-right: 0;
}

.postcontent.col_last,
.sidebar.col_last { float: right; }

.col_last {
	margin-right: 0 !important;
	clear: right;
}

#top-bar {
	position: relative;
	border-bottom: 1px solid #EEE;
	height: 45px;
	line-height: 44px;
	font-size: 13px;
}


#top-bar .col_half { width: auto; }

/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/


.top-links {
	position: relative;
	float: left;
}

.top-links ul {
	margin: 0;
	list-style: none;
}

.top-links ul li {
	float: left;
	position: relative;
	height: 44px;
	border-left: 1px solid #EEE;
}

.top-links ul li:first-child,
.top-links ul ul li { border-left: 0 !important; }

.top-links li > a {
	display: block;
	padding: 0 12px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	height: 44px;
	color: #666;
}

.top-links li i {
	position: relative;
	top: 1px;
}

.top-links li i.icon-angle-down { margin: 0 0 0 2px !important; }

.top-links li i:first-child { margin-right: 2px; }

.top-links li.full-icon i {
	top: 2px;
	font-size: 14px;
	margin: 0;
}

.top-links li:hover { background-color: #EEE; }

.top-links ul ul,
.top-links ul div.top-link-section {
	display: none;
	pointer-events: none;
	position: absolute;
	z-index: 210;
	line-height: 1.5;
	background: #FFF;
	border: 0;
	top: 44px;
	left: 0;
	width: 140px;
	margin: 0;
	border-top: 1px solid #1ABC9C;
	border-bottom: 1px solid #EEE;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.top-links li:hover ul,
.top-links li:hover div.top-link-section { pointer-events: auto; }

.top-links ul ul li {
	float: none;
	height: 36px;
	border-top: 1px solid #F5F5F5;
	border-left: 1px solid #EEE;
}

.top-links ul ul li:hover { background-color: #F9F9F9; }

.top-links ul ul li:first-child {
	border-top: none !important;
	border-left: 1px solid #EEE;
}

.top-links ul ul a {
	height: 36px;
	line-height: 36px;
	font-size: 12px;
}

.top-links ul ul img {
	display: inline-block;
	position: relative;
	top: -1px;
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.top-links ul ul.top-demo-lang img {
	top: 4px;
	width: 16px;
	height: 16px;
}

.top-links ul div.top-link-section {
	padding: 25px;
	left: 0;
	width: 280px;
}

.fright .top-links ul div.top-link-section,
.top-links.fright ul div.top-link-section {
	left: auto;
	right: 0;
}

#top-search form input::-moz-placeholder {
	color: #555;
	opacity: 1;
	text-transform: uppercase;
}
#top-search form input:-ms-input-placeholder {
	color: #555;
	text-transform: uppercase;
}
#top-search form input::-webkit-input-placeholder {
	color: #555;
	text-transform: uppercase;
}
#page-title.page-title-center { text-align: center; }

#page-title.page-title-center span {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#page-title.page-title-center .breadcrumb {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	margin: 20px 0 0 !important;
}

#respond,
#respond form { margin-bottom: 0; }

.commentlist li #respond { margin: 30px 0 0; }

.commentlist li li #respond { margin-left: 30px; }

#respond p { margin: 10px 0 0 0; }

#respond p:first-child { margin-top: 0; }

#respond label small {
	color: #999;
	font-weight: normal;
}

#respond input[type="text"],
#respond textarea { margin-bottom: 0; }

#respond .col_one_third,
#respond .col_full { margin-bottom: 20px; }

.fb-comments,
.fb_iframe_widget,
.fb-comments > span,
.fb_iframe_widget > span,
.fb-comments > span > iframe,
.fb_iframe_widget > span > iframe {
	display: block !important;
	width: 100% !important;
	margin: 0;
}
.sm-form-control {
    height: auto;
}

.sm-form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 14px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #DDD;
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
body:not(.device-touch) .button {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.button.button-xlarge {
    padding: 0 32px;
    font-size: 18px;
    letter-spacing: 2px;
	border-width: 0;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
	color: white;
}

.nopad img{
	max-width: 100%;
}
.content-wrap{
	position: relative;
    background-color: #EEE;
    border-bottom: 5px solid rgba(0,0,0,0.2);
}

#button-download{
	display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin-top: 5px;
    padding: 0 4px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    background-color: #4B4B4B;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	width: 36%;
	text-decoration: none !important;
}

