.navbar.navbar-default .navbar-header .navbar-brand img {
   margin-left: -5px;
}
#site-top-disclaimer {
   font-size: 13px;
   font-weight: bold;
}
.main .container h1 {
   color: #283891;
}
div.title h3 {
   color: #283891;
}
.navbar-header {
	width:17%;
	margin-top:10px;
}
.navbar-brand>img {
	max-width:100%;
	width:auto;
}
.min-height-fix {
	min-height:400px;
}
div#resources {
    display: block;
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 26px 0;
}
.container-img-badges {
	width:80%;
	margin:0 auto;
}
.img-badges-left {
    width: 27%;
    display: inline-block;
    box-sizing: border-box;
}
.img-badges-right {
	width: 70%;
	display: inline-block;
	box-sizing: border-box;
}
.service-submit .container-img-badges {
	width:100%;
}
@media (max-width:767px) {	
	.navbar-brand {
		width:155px;
	}
	.navbar-header {
		width:100%;
	}
	.navbar-toggle {
		margin-top:0;
	}
}