body {
   background: white;
   font-size: 12pt;
   }
#nav {
   display: none;
   }
#container, #mainContent {
   width: auto;
   margin: 0 5%;
   padding: 0;
   border: 0;
   float: none !important;
   color: black;
   background: transparent none;
   }
div#mainContent {
   margin-left: 10%;
   padding-top: 1em;
   border-top: 1px solid #930;
   }

a:link, a:visited {
   color: #520;
   background: transparent;
   font-weight: bold;
   text-decoration: underline;
   }
