body { cursor:default; padding:0px; margin:0px; overflow:hidden; }
* { padding:0px; margin:0px; }
td, th      { text-align:left; /*border:none;*/ }
#formData tbody
tr td       { text-align:left; /*border:none;*/ }
#formData   { width:auto; }

p { padding:0px; margin:0px; }

#rpmbtn {
   display: inline-block;
   outline: none;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   font: 20px/1 Arial, Helvetica, sans-serif;
   padding: 6px 15px;
   margin-bottom: 1em;
   color: #fff;
   font-weight: bold;
   border: solid 1px #b00;
   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e60000, endColorstr=#b30000); /* for IE */
   background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#b30000)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #e60000,  #b30000); /* for firefox 3.6+ */

   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
   box-shadow: 0 1px 2px rgba(0,0,0,.2);   
}
li { color:red; padding:0px; font-size:12px; }



#edocs      { border:0px solid red; }
#pols       { border:0px solid green; }
.btntd      { border:0px solid blue;   padding-top:20px; text-align:justify; }
p.pptext { font-size: 10px; width: 100%; margin: 0px; text-align: justify; padding-bottom:10px; }
