html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display : block; }

abbr[title] { border-bottom : 1px dotted; cursor : help; }

body { 
	margin : 0 auto;
	height: 100%;
	font : 16px/1.4 Arial, "Helvetica Neue", Helvetica, sans-serif;
	color : #334872;
	text-align:center;
	background: #ddd; }

h1, h2, h3, h4 {font-weight: bold;}

h1 { 
	clear: left; 
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 9px; 
 }
 #header h1 { padding: 0 30px 18px; font-size: 15px; line-height: 26px; color: #999; }

 h1 em { font-weight: normal; font-style: normal; font-size: 36px; letter-spacing: -1px; color: #334872; }
 
	.screen-index #mainContent h1 {
		text-align:center; 
		text-transform:uppercase; 
		color: #DB5839;
		text-shadow: 2px 2px 1px #ccc;
		font-style: italic;
		font-size: 18px;
	}
h2 { 
	font-size: 18px; 
	line-height: 22px; 
	margin: 0 0 9px; 
	color: #DB5839; }

	fieldset h2 {
		font-size: 24px; 
		background: transparent url("http://r2v.s3.amazonaws.com/driverslicenses.org/cbx.png") no-repeat 0 -62px;
		padding: 18px 0 0 50px; 
		height: 32px; 
		color: #00AEC5 }
	fieldset#step2 h2 { background-position: 0 -120px; }
	
p, ol, ul, dl, address { 
	margin-bottom : 1.5em; 
	font-size : 1em; /* 16 / 16 = 1 */ }

ul, ol { margin : 0 0 1.5em; padding: 0; }

ul { list-style-type : none; }

ol { list-style-type : decimal; }

li ul, li ol { 
	margin : 0;
	font-size : 1em; /* 16 / 16 = 1 */ }

dl, dd { margin-bottom : 1.5em; }

dt { font-weight : normal; }

blockquote  { margin : 0 0 1.5em; font-style : italic; }

blockquote:before, blockquote:after, q:before, q:after { content : ''; content : none; }

b, strong	{ font-weight : bold; }
i, em { font-style : italic; }

sup, sub { 
	position : relative;
	font-size : 75%; 
	line-height : 0; }

sup { top : -.5em; }
sub { bottom : -.25em; }
address { font-style : normal; }

pre { 
	margin-bottom : 1.5em; 
	white-space : pre; 
	white-space : pre-wrap; 
	word-wrap : break-word; }

pre, code { 
	font : .875em 'andale mono', 'lucida console', monospace; 
	line-height : 1.5; }

small { font-size : 1em; /* 16 / 16 = 1 */ }

a {color: #00AEC5; text-decoration: none; }
a:visited {color: #007B8C; }
a:hover {text-decoration: underline; }

.step1 h2 {color: #e00;}

#container {
	text-align:left; margin:10px auto 0; padding: 0 0 20px; width:960px; height:auto; background: #fff; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #999; 
}

#header{
	padding: 30px 0 0;
	overflow: hidden; }

#login-wrap {
	float: right;
	width: 250px; 
	padding-right: 50px; 
	margin-bottom: 20px; 
	text-align: right; }
		#login-wrap a, #login-wrap a:visited { color: #fff; }

#nav { 
	float:left; width:949px; 
	padding: 0 5px; 
}

#nav ul { 
	position:relative; 
	float:left; width:947px; 
	margin: 0; padding: 0; }

	#nav li {position: relative; float:left; }

	#nav li a {
		display:block;
		color: #334872;
		width: 134px; 
		text-align: center; 
		line-height: 2.2; 
		text-decoration: none; 
		border-left: solid 1px #fff; 
		border-right: solid 1px #999; 
		background: url(img/nav-bkgd.png) center top; height: 36px }

		#screen-home li a.home, #screen-dmvLocations li a.locations, #screen-practiceTests li a.practice, #screen-aboutUs li a.about, #screen-manuals li a.manuals, #screen-driversEd li a.drivers {
			color:#fff; 
			background-position: center -36px; 
			text-decoration: none;
			border-left: solid 1px #69c; }

	#nav li a:hover {
		color:#fff; 
		background-position: center -36px; 
		text-decoration: none; }

	#nav li a:active {color:#fff }

	#nav li a.home, #nav li a.start { 
		background-position: 0 0; 
		border-left: none 0; }

	#nav li a.home:hover, #nav li a.start:hover { 
		background-position: 0 -36px;}

	#screen-home li a.home {
		color:#fff; 
		background-position: 0 -36px; 
		text-decoration: none;} 

	#nav li a.state { background-position: right top; border-right: none 0; width: 131px; }
	#nav li a.state:hover { background-position: right -36px;}
	#screen-stateInfo li a.state {color:#fff; background-position: right -36px; text-decoration: none;} 
	
#mainContent { 
	padding: 20px 60px 30px; 
}

#screen-home #mainWrap { float: left; width: 65%; }
#screen-home #aside { float: right; width: 33%; }

img#networkad { display: block; text-align: right; }

.secondary_nav { margin-bottom: 0; padding: 10 0 0; border-bottom: solid 1px #ddd; }
.secondary_nav li { display: inline; }
.secondary_nav li a { margin: 0 5px 0 0; padding: 8px 15px; line-height: 36px; background: #eee; text-decoration: none; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.secondary_nav li a:hover { background: #00AEC5; color: #fff; text-decoration: none; }
.secondary_nav li a.selected { background: #F7ECB3 }
div.tabContent { clear: left; padding: 18px 30px; }

.page_footer {clear:left; padding: 0 30px; }

#footer { 
	background: #ccc; 
	position:relative; 
	margin: 0 0 18px; 
	}

#footer p { 
	color: #007B8C; 
	text-align: center; 
	font-size: 12px; 
	line-height: 5; 
	}

#footer a { color: #007B8C }

.cbx{color:#334872; }

.dl_submit{ 
	clear: left; 
	background: url(img/home-button.png) no-repeat; 
	width:180px; 
	height:54px; 
	text-indent:-9000em; 
	margin: 30px 0 30px 90px; 
	cursor: pointer;
	}

.extrafooter { clear:both; background: #eee; padding: 18px 60px; margin: 0 30px; font-size: 12px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}

/*  form styles  */
#loginForm { padding: 0 120px; margin-bottom: 50px; }

#aside .download {
	background: #e84000;
	padding: 9px 30px 15px;
	margin-bottom: 18px;
	color: #FBEDC1;
}
#aside .download h2 {
	font-size: 13px;
	color: #FBEDC1;
}
#aside .download button {
	width: 100%;
}

fieldset {padding: 10px 0 20px;}
	fieldset#step1 {float: left; width: 540px; }
	div.col { float:left; width: 45%; margin: 0 5% 0 0; }

.input-wrap {margin: 15px 0}

form p { margin: 0; font-size: 14px; }
.radioset, .inputset {clear:left; float: left; padding: .5em 0 .4em 13em; margin: 0 0 9px; }
.radiopair, .inputset .inputpair {display: inline; margin: 0 2em 0 0; }
div.inputpair { clear: left; padding: 0 0 9px; }
	#step2 div.inputpair { padding: 0 0 9px 15px; }
div.checkpair { clear: left; padding: 0 0 .5em 2em }
	#step1 div.checkpair { padding-left: 40px }
	#registration div.checkpair {padding-left: 10em; }

label {
	display:block; 
	font-size: 13px; 
	margin: 0 .5em 0 0; 
	line-height: 1.1; }

	#registration-form label { 
		float:left; 
		width: 15em; 
		padding: .4em 0 0; 
		text-align: right; }

	#first-form label {
		font-size: 16px; 
		color: #00AEC5; 
		width: auto; 
		}
	#step2 label { float: left; }

	.radioset p, .inputset p { margin-left: -1.5em; }
	.radiopair label, .checkpair label, .inputset .inputpair label {float: none; }

input { width: 20em; padding: 3px 5px; }
	.radiopair input, .checkpair input, .inputset .inputpair input {
		float: left; 
		width: auto; 
		margin: 0 .5em 0 -1em; }
		#loginForm input { 
			width: 40em; 
			padding: .5em 1em;}

	#step1 input { margin-left: -24px; }
	#step2 input { width: 10em; }
	input:focus {background: #FDFBEC; }

select { }
button {
	display: inline-block;
	vertical-align: middle;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/1 Arial, Helvetica, sans-serif;
	padding: 8px 15px;

	color: #fff;
	font-weight: bold;
	border: solid 1px #b00;
	
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e60000, endColorstr=#b30000); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#b30000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e60000,  #b30000); /* for firefox 3.6+ */

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}
	#registration button {margin-left: 14em;} 
button:active, a.button:active {
	position: relative;
	top: 1px;
	background: #8ac;
}
button span {line-height: 1}
