html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font-size : 100%;
font : inherit;
vertical-align : baseline; }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display : block; }

abbr[title] { border-bottom : 1px dotted; cursor : help; }

body { 
	margin : 0 auto;
	height: 100%;
	font : 16px/1.4 Arial, "Helvetica Neue", Helvetica, sans-serif;
	color : #334872;
	text-align:center;
	background: #AAD2E3; }

h1, h2, h3, h4 {font-weight: bold; padding:0px; margin:0px;}

h1 { 
	clear: left; 
	font-size: 30px;
	font-weight: normal;
	line-height: 20px;
	padding: 0 0 9px;
	margin: 0 0 9px;
	color: #444; 
 }
 #header h1 { padding: 0 30px 18px; font-size: 15px; line-height: 26px; color: #999; margin: 0; }

 h1 em { font-weight: normal; font-style: normal; font-size: 36px; letter-spacing: -1px; color: #7DC9E8; }
 
	.screen-index #mainContent h1 {
		text-align:center; 
		text-transform:uppercase; 
		color: #DB5839;
		text-shadow: 2px 2px 1px #ccc;
		font-style: italic;
		font-size: 18px;
	}
h2 { 
	font-size: 16px; 
	line-height: 22px; 
	margin: 0 0 9px; 
	color: #2496C7; }

	fieldset h2 {
		font-size: 24px; 
		background: transparent url("http://licusa.s3.amazonaws.com/driverslicenses.org/img/select-form-sprite.png") no-repeat 0 -75px;
		padding: 18px 0 0 50px; 
		height: 34px; 
		color: #00AEC5 }
	fieldset#step2 h2 { background-position: 0 -135px; }
	
p, ol, ul, dl, address { 
	margin-bottom : 1.5em; 
	font-size : 1em; /* 16 / 16 = 1 */ }

ul, ol { margin : 0 0 1.5em; padding: 0; }

ul { list-style-type : none; }

ol { list-style-type : decimal; }

li ul, li ol { 
	margin : 0;
	font-size : 1em; /* 16 / 16 = 1 */ }

dl, dd { margin-bottom : 1.5em; }

dt { font-weight : normal; }

blockquote  { margin : 0 0 1.5em; font-style : italic; }

blockquote:before, blockquote:after, q:before, q:after { content : ''; content : none; }

b, strong	{ font-weight : bold; }
i, em { font-style : italic; }

sup, sub { 
	position : relative;
	font-size : 75%; 
	line-height : 0; }

sup { top : -.5em; }
sub { bottom : -.25em; }
address { font-style : normal; }

pre { 
	margin-bottom : 1.5em; 
	white-space : pre; 
	white-space : pre-wrap; 
	word-wrap : break-word; }

pre, code { 
	font : .875em 'andale mono', 'lucida console', monospace; 
	line-height : 1.5; }

small { font-size : 1em; /* 16 / 16 = 1 */ }

a {color: #00AEC5; text-decoration: none; }
a:visited {color: #007B8C; }
a:hover {text-decoration: underline; }

.step1 h2 {color: #e00;}

.container {
	text-align:left; margin: 0 auto; padding: 0 0 20px; height:auto;  
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #999; 
}
.page { width: 966px; margin: 0 auto; background: #f3f6f9; }
	.home .page { padding-bottom: 36px; }

#header{
	padding: 30px 0 0;
	overflow: hidden; 
	background: #32414D url(img/header-bkgd.jpg) no-repeat center center; 
	}
	#header .page { background: transparent url(img/header-graphic.png) 600px 0 no-repeat; padding-bottom: 0; }

#login-wrap {
	float: right;
	width: 250px; 
	padding-right: 50px; 
	margin-bottom: 20px; 
	text-align: right; }
		#login-wrap a, #login-wrap a:visited { color: #fff; }

#nav { 
	float:left; width:966px; 
}

#nav ul { 
	position:relative; 
	float:left; width:966px; 
	margin: 0; padding: 0; }

	#nav li {position: relative; float:left; }

	#nav li a {
		display:block;
		color: #334872;
		width: 138px; 
		text-align: center; 
		height: 36px;
		line-height: 36px; 
		text-decoration: none; 
		background: #e6e6e6; 
	 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6, endColorstr=#b3b3b3); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#b3b3b3)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #e6e6e6,  #b3b3b3); /* for firefox 3.6+ */
		}

		.ie6 #nav li a, .ie7 #nav li a, .ie8 #nav li a { font-weight: bold; } /* fix ie thin font weights */

		#screen-home li a.home, #screen-dmvLocations li a.locations, #screen-practiceTests li a.practice, #screen-aboutUs li a.about, #screen-manuals li a.manuals, #screen-driversEd li a.drivers {
			color:#fff; 
			background: #00A2D9; 
			text-decoration: none;
			}

		.home #nav a.home, .Dmv.Locations #nav a.locations, .Practice.Tests #nav a.practice, .Drivers.Manual #nav a.manuals, .Drivers.Ed #nav a.drivers, .About.Us #nav a.about, .State.Info #nav a.state {
			color:#fff; 
			background: #00A2D9; 
	 		filter: none; /* for IE */
			text-decoration: none;
			}

	#nav li a:hover {
		color:#fff; 
		}
	
#mainContent { 
	padding: 40px 30px 72px 60px; 
}
.home #mainContent { padding-bottom: 30px; }

img.banner468 { float: right; margin: 0 0 18px 20px; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7 { float: left; }
.col1 { float: left; width: 350px; margin: 0 0px 0 0;}
.col2 { float: right; width: 480px; }
.col-full { clear: left; }
#screen-dmvLocations iframe { background: #fff; padding: 5px 20px; }

.two-col #mainWrap { float: left; width: 60%; }
#aside { float: right; width: 36%; }
#aside .bucket { padding: 0 0 36px; }

img#networkad { display: block; text-align: right; }

.secondary_nav { margin-bottom: 0; padding: 10 0 0; border-bottom: solid 1px #ddd; }
.secondary_nav li { display: inline; }
.secondary_nav li a { margin: 0 5px 0 0; padding: 8px 15px; line-height: 36px; background: #eee; text-decoration: none; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.secondary_nav li a:hover { background: #00AEC5; color: #fff; text-decoration: none; }
.secondary_nav li a.selected { background: #F7ECB3 }
div.tabContent { clear: left; padding: 18px 30px; }

.page_footer {clear:left; padding: 0 30px; }

#footer { 
	background: #AAD2E3; 
	position:relative; 
	margin: 0 0 18px;
	padding: 10px 30px 5px;
	}

#footer p { 
	text-align: center; 
	font-size: 12px; 
	line-height: 1.3;
	margin-bottom: .5em; 
	}

#footer a { color: #007B8C }

.dl_submit{ 
	clear: left; 
	background: url(http://licusa.s3.amazonaws.com/driverslicenses.org/img/select-form-sprite.png) no-repeat 0 -196px; 
	width:180px; 
	height:54px; 
	text-indent:-9000em; 
	margin: 30px 0 30px 90px; 
	cursor: pointer;
	}

.extrafooter { clear:both; background: #eee; padding: 18px 60px; margin: 0 30px; font-size: 12px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}

/*  form styles  */
#loginForm { padding: 0 120px; margin-bottom: 50px; }

#aside .download {
	background: #e84000 url(img/icon-pdf-dl.png) no-repeat 10px 10px;
	padding: 9px 30px 15px 100px;
	margin-bottom: 18px;
	color: #FBEDC1;
}
#aside .download h2 {
	font-size: 13px;
	color: #FBEDC1;
}
#aside .download button {
	width: 100%;
	margin-bottom: .5em;
}

fieldset {padding: 10px 0 20px;}
	fieldset#step1 {float: left; width: 540px; }
	div.col { float:left; width: 45%; margin: 0 5% 0 0; }

.input-wrap {margin: 15px 0}





form p { margin: 0; font-size: 14px; }
.radioset, .inputset {clear:left; float: left; padding: .5em 0 .4em 13em; margin: 0 0 9px; }
.radiopair, .inputset .inputpair { margin: 0; }
div.inputpair { clear: left; padding: 0 0 9px; }
	#step2 div.inputpair { padding: 0 0 9px 15px; }
div.checkpair, div.radiopair { clear: left; padding: 0 0 .5em 2em }
	#step1 div.checkpair { padding-left: 40px }
	#registration div.checkpair {padding-left: 10em; }

label {
}
	td.form label { margin-left: .2em; }
	#first-form label {
		font-size: 16px; 
		color: #00AEC5; 
		width: auto; 
		}
	#step1 label { padding-top: 3px; }
	#step2 label { float: left; margin-right: .5em; }

div.radio-input { display:inline; margin-bottom: .5em; padding-left: 1.5em; }
	.radioset p, .inputset p { margin-left: -1.5em; }

input { padding: 3px 5px; }
	td.form input { margin-bottom: 0px; }
	input[type="radio"], input[type="checkbox"], div.radio-input input {
		width: auto; 
		margin: 0 .5em 0 -1em; 
		border: none 0; }
		
	input.checkBox { 
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		border: none 0; 
	 }
	span.checkBox {
	    background: transparent url("http://licusa.s3.amazonaws.com/driverslicenses.org/img/select-form-sprite.png") no-repeat scroll 0 -32px;
	    float:left;
	    margin: -10px 0 0 -35px;
	    width: 30px;
	    height: 30px;
	    padding-top: 10px;
	}
	span.checkBox input {
	    margin-left: 0;
	    width: 30px;
	    height: 30px;
	}
	span.checkBox.checked {
	    background-position: 0 0;
	}

	#step2 input { width: 10em; }
	input:focus {background: #FDFBEC; }


select { 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 3px 5px; 
}
button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/1 Arial, Helvetica, sans-serif;
	padding: 6px 15px;
	margin-bottom: 1em;
	color: #fff;
	font-weight: bold;
	border: solid 1px #b00;
	
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e60000, endColorstr=#b30000); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e60000), to(#b30000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e60000,  #b30000); /* for firefox 3.6+ */

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);	
}
	#registration button {margin-left: 14em;} 
button:active, a.button:active {
	position: relative;
	top: 1px;
	background: #8ac;
}
button span {line-height: 1}

td.form { padding: 0 0 0 0; }

.statelist { float:left; width: 150px; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
