body{
    border:0px;
}

#ppc {
    clear: both;
    font-family:Arial, Helvetica, sans-serif;
    padding:10px 20px 5px 20px;	
}
#ppc #kw {
    font-size:13px;
}
#ppc #kw .descrip {
    font-weight:bold;
}

#ppc .ppctitle:link, #ppc .ppctitle:visited, #ppc .ppctitle:active {
    font-size:19px;
    color: #00C;
    text-decoration:underline;
    text-transform:capitalize;
    font-weight:bold;
    line-height:23px; 
    display:block;
    line-height: 125%;
}
#ppc .ppctitle:hover {
    color:#4444ee;
}
#ppc .ppchost:link, #ppc .ppchost:visited, #ppc .ppchost:active {
color: #008B00;
font-size: 13px;
text-decoration: none;
line-height: 125%;
}
#ppc .ppchost:hover {
    color:#155373;
}
#ppc .ppclisting {
    padding-top:5px;
}

/* do not remove text-decoration:none or a:link styles on ppcdescription */
#ppc .ppcdescription, #ppc .ppcdescription a:link, #ppc .ppcdescription a:visited, #ppc .ppcdescription a:active {
    display:block;
    color: black;
    font-size: 13px;
    text-decoration: none;
    line-height: 125%;
}

#ppcsl {
    color:#666;
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    height:15px;
}

#ppcsl a {
    text-decoration:none;
    color:#006666;	
}

#ppc #noresults {
    text-decoration:none;
    color:#666;
    font-size: 12px;
    display:block;
    padding-top: 5px;
    padding-bottom:5px;
}

#ppctext {
    float:left;
    text-transform:uppercase;
    color:#7f7f7f;
}

#ppctext .kw {
    font-weight:bold;
    font-style:italic;
    color:#006666;
}

#wt {
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#bababa;
}

#wt a {
    text-decoration:none;
    color:#bababa;
}
.imgmain { display:none; }