.navbar.navbar-default .navbar-header .navbar-brand img {
   margin-left: -5px;
}
.navbar.navbar-default .navbar-header .navbar-brand img.hidden-xs {
   height: 69px;
   margin-top: -4px;
}
.navbar.navbar-default .navbar-header .navbar-brand img.visible-xs {
   height: 40px;
}
#site-top-disclaimer {
   font-size: 13px;
   font-weight: bold;
}