.navbar.navbar-default .navbar-header .navbar-brand img {
   margin-left: -5px;
}
.navbar.navbar-default .navbar-header .navbar-brand img.hidden-xs {
   width: 75%;
}
.navbar.navbar-default .navbar-header .navbar-brand img.visible-xs {
   width: 150px;
}
#site-top-disclaimer {
   font-size: 13px;
   font-weight: bold;
}