/*******************************************************************************************/
/*                                  NEW TEST CSS                                           */
/*******************************************************************************************/
.page-content {
    display: none;
}
.nopadding {
	padding:0;
}
select {
	color: #777 !important;
	font-size:13px !important;
}
#loading {
    box-shadow: 0 0 12px 0px rgba(0, 0, 1, 0.75);
    color: rgba(85, 90, 92, 0.961);
    position: relative;
    /* position: absolute;
    left: 25%;
    right: 25%;
    top: 21%;
    width: 30%;
    min-width: 250px;
    */
    
    height:50px;
    margin: 20px auto;
    z-index: 1;
    border-radius:10px;
    background-color: rgba(255, 245, 204, 0.961);
    /* Blue
    background-color: rgba(46, 143, 199, 0.961);
    */
    /*Green
    background-color: rgba(46, 143, 99, 0.97);*/
}

#loading p {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.loader {
    margin: 15px auto;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner {
  float:left;
  margin: 10px;
  width: 20px;
  height: 20px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out;
  animation: sk-bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*END: Load Message*/
/*START: logo*/

.site-logo {
    background-image: url("/images/logo3.png");
    width: 404px;
    height: 60px;
    margin-bottom: 5px;
}

.site-logo span {
    position: absolute;
    left: -3000px;
}
/*END: logo*/
/*START: Navigation*/

nav,
nav ul,
nav ul li,
nav ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
    width: auto;
    color: #ffffff;
}

nav.align-right ul li {
    float: right;
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.22);
}

nav.align-right ul li a {
    border-right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

nav ul {
    background: #3980c3;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #3980c3 0%, #2e6da8 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3980c3), color-stop(100%, #2e6da8));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #3980c3 0%, #2e6da8 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #3980c3 0%, #2e6da8 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #3980c3 0%, #2e6da8 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #3980c3 0%, #2e6da8 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3980c3', endColorstr='#2e6da8', GradientType=0);
    /* IE6-9 */
}

nav:after,
nav ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

nav ul li {
    float: left;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.22);
}

nav ul li::after {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    border-top-left-radius: 50% 4px;
    border-top-right-radius: 50% 4px;    
    bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

nav ul li a:hover,
nav ul li.active a {
    color: #fff;
}

nav ul li:hover,
nav ul li.active {
    background: #336699;
}

/*END: Navigation*/
/*START: General*/

body {
    font-family: 'Raleway', sans-serif;
    color: #5A5A5A;
    background: #f1f1f1;
}

.clearfix:before,
footer:before,
section:before,
article:before,
.clearfix:after,
footer:after,
section:after,
article:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}

.clearfix:after,
section:after,
article:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix,
section,
article {
    *zoom: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2e8fc7;
    line-height: 1em;
    margin-bottom: 10px;
}

.billing strong {
    color: #2e8fc7;
}
.legal strong {
	color: #999 !important;
}
.center {
    text-align: center;
}

h1 {
    font-size: 2em;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 2px 2px -2px #fff;
    text-align: center;
    margin-left: 5px;
    padding: 20px 0px;
}

h2 {
    font-size: 1.5em;
}

.trackleft {
    float: left;
}

.trackright {
    float: right;
}

.content-contain {
    /* padding: 0 40px; */
    max-width: 1200px;
    width: 980px;
    /*padding-top: 30px;*/
    min-height: 300px;
    margin: 0 auto;
    /*width: 74.25%;*/
}

main.content-contain {
    background: #fff;
}

.rounded-edges {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
/*END: General*/
/*START: Order details*/

input[type="text"].cvv_code, input[type="tel"].cvv_code,  {
    height: 17px;
}

.order-details {
    width: 60%;
    padding: 10px 20px;
    background: #f1f8fc;
    box-shadow: 0 2px 5px #aaa;
    border: 1px solid #ccc;
}

.customer-info h4 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.customer-info dt {
    font-size: 1em;
    color: #2e8fc7;
    font-weight: bold;
}

.customer-info dd {
    margin-bottom: 5px;
}

.cc-date,
.cc-date select,
.cc-code {
    float: left;
}

.cc-date,
.cc-code {
    width: 50%;
}

.cc-date select {
    float: left;
    width: 40%;
    margin-right: 10px;
}

.cc-code input {
    width: 30%;
}
.billing-address{
  margin-bottom: 25px;
}
.billing-address p {
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 0.25px;
}
/*END: Order details*/
/*START: checkout*/

.checkout-product table {
    width: 75%;
}

table {
    margin: 15px 0;
}

td {
    /* border: 1px solid; */
    padding: 0.3em 0.5em;
}

thead {
    font-weight: bold;
    color: #2e8fc7;
}
/*END: checkout*/
/*START: Form Fields*/

input[type="text"], input[type="tel"],
select,
input[type="email"] {
    box-shadow: 1px 1px #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
	width:100%;
}

fieldset {
    width: 85%;
    margin-bottom: 0;
}

fieldset p {
    margin-bottom: 5px;
}

table.borderless td {
    border-color: transparent;
    padding: 0;
}

p.address {
    margin-bottom: 5px;
}

p.address input,
.country select {
    width: 92%;
}

.apt,
.city,
#company-id,
#tax-id {
    width: 50%
}

.legal {
    font-size: 0.8em;
	color:#999;
}

.billingh1, .billingsecure {
	font-size: 18px;color:#696969;margin-top: 10px;font-weight:bold;
}

.panel-heading {
    color: #fff !important;
    background-color: #ff6d00 !important;
    padding: 5px;
    border-radius: 0;
    border-color: #ff6d00 !important;
}
	
.shopcart {
	padding: 20px;
}

.shopcartbody {
    background-color: #F1F1F1;
    color: #696969;
    font-size: 12px;
    padding: 8px !important;
}

.margright10 {
	margin-right: 10px;
	margin-bottom: 5px;
}

.billinglabel {
	font-weight: bold;
    color: #427ba8;
    font-size: 16px;
    margin-top: 5px;
}

.font11 {
	font-size:11px;
}

#billingSubmit {
    height: 80px;
    background: #ed811b;
    border: 1px solid #000000;
	width: 60%;
    padding: 15px 5px;
    text-transform: none !important;
    text-shadow: 1px 1px 2px #000;
}

.margbottomtildiv {
	margin-bottom: 35px;
}

.height35 {
	height: 35px;
}

.greyborder {
    border: 1px solid #ddd;
}

.marg10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    #billingSubmit {
        width: 100%;
		margin-top:10px;
    }
	#info-right {
	    margin-top: 35px;
	}
}