body {
    margin: 0;
    padding:0;
    font-family: Helvetica;
    background: #AAD2E3;
    color: #000000;
    background:#fff;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}


/*
body > h1 {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	color: #FFFFFF;
	border-bottom: 1px solid #2d3642;
	background-image: url(header-bkgd.jpg);
	height: 144px;
}
*/
#topblue {
width: 290px;
height:auto;
text-align:center;
font-weight:bold;
font-family:verdana;
background:#0C608C;
color:white;
margin: 0 auto;
padding: 15px 0px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-bottom-left-radius: 15px;
border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-bottom-right-radius: 15px;
border-bottom-right-radius: 15px
}

.button {
    position: absolute;
    top: 8px;
    right: 6px;
    -webkit-border-image: url(iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

#homeButton {
    display: none;
    left: 6px;
    right: auto;
    -webkit-border-image: url(iPhoneBackButton.png) 0 8 0 14;
    border-width: 0 8px 0 14px;
}

.goButton {
    -webkit-border-image: url(iPhoneGoButton.png) 0 5 0 5;
    border-width: 0 5px;
}

body > div,
body > form,
body > ul {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	min-height: 418px;
	margin: 0;
	padding: 0;
}

body > *[selected="true"] {
    display: block;
}

body > ul > li {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    background: url(iPhoneArrow.png) no-repeat right center;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

body > ul > li > a {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    color: inherit;
}
   
.panel {
    box-sizing: border-box;
    padding: 10px;
    background: #c8c8c8 url(pinstripes.png);
}

.benefits {
padding: 20px;
border-radius: 15px;
border: 1px solid #ccc;
background-color: #fcfcfc;
box-shadow: inset 0 0 12px 1px #789ABD;
-moz-box-shadow: inset 0 0 12px 1px #789ABD;
-webkit-box-shadow: inset 0 0 12px 1px #789ABD;
font-size: 11px;
width: 240px;
margin: auto;
}

.greenbtn {
padding: 10px;
border-radius: 8px;
border: 1px solid #B8DBB8;
background-color: #3C9E3C;
box-shadow: inset 0 0 12px 1px #246A00;
-moz-box-shadow: inset 0 0 12px 1px #246A00;
-webkit-box-shadow: inset 0 0 12px 1px #246A00;
font-size: 14px;
width: 220px;
text-align:center;
margin: auto;
color:White;
font-weight:bold;
font-family:calibri;
}

.benefits > p > strong {
color:#0C608C;
font-weight:bold;
margin-bottom:5px;
}

.benefits-hr {
clear: both;
float: none;
width: 100%;
height: 1px;
margin: 1.4em 0;
border: none;
background: #ddd;
background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(224,238,248)), color-stop(0.1, rgb(120, 154, 189)), color-stop(0.9, rgb(120, 154, 189)), color-stop(1, rgb(224,238,248)) );
background-image: -moz-linear-gradient( left center, rgb(224,238,248) 0%, rgb(120, 154, 189) 10%, rgb(120, 154, 189) 90%, rgb(224,238,248) 100% );
}

/************************************************************************************************/

.dialog {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 468px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    text-align: right;
}

fieldset {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px 6px;
    background: url(iPhoneToolbar.png) #7388a5 repeat-x;
}

fieldset > h1 {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-align: center;
}

label {
    position: absolute;
    margin: 14px 0 0 6px;
    font-size: 14px;
    color: #BBBBBB;
}

input {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: normal;
    font-family:calibri;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
}

.link_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
	font-weight:bold;
}

.link_1:hover {
	color: #000000;
}

.link_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: underline;
	color: #2C79A6;
}

.link_2:hover {
	color: #2C79A6;
}
