<!--$hometemplate.html$-->
<div class="container layout">
   <div class="row top-buffer">
      <div class="col-md-10 col-md-offset-1">
         <form action="/process" method="post" id="payForm" autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
            <div class="row top-buffer bottom-buffer">
               <div class="col-md-12">
                  <h2 class="line-left left-padding-10 black-text">YOUR ORDER SUMMARY</h2>
                  <br>
                  <br>
                  <div class="table-responsive">
                     <table class="table">
                        <tbody>
                           <tr>
                              <td><span class="left-buffer">Renew Driver License for
                                 <br class="visible-xs">
                                 Miguel Fernandez Campos
                                 <br class="visible-xs">
                                 ( Florida )</span></td><td align="right" class="text-right"><span class="right-buffer">$ 77.95</span></td>
                           </tr>
                           <tr>
                              <td><span class="left-buffer">Total</span></td><td align="right" class="text-right"><span class="right-buffer">$ 77.95</span></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="row top-buffer bottom-buffer">
               <div class="col-md-12">
                  <h2 class="line-left left-padding-10 black-text">Enter Your Payment Information</h2>
               </div>
            </div>
            <div class="row top-buffer bottom-buffer">
               <div class="col-md-12">
                  <div id="address-label" class="row">
                     <div class="col-xs-12">
                        <p>
                           <strong>Billing Address</strong>
                        </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="form-group has-feedback">
                           <input type="text" name="address" class="form-control" value="" placeholder="Street Address" data-fv-field="address">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="address" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="address" data-fv-result="NOT_VALIDATED" style="display: none;">The address is required</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <input type="text" name="apto" class="form-control" value="" placeholder="Apt / Suite">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-5">
                        <div class="form-group has-feedback">
                           <input type="text" name="city" class="form-control" value="" placeholder="City" data-fv-field="city">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="city" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="city" data-fv-result="NOT_VALIDATED" style="display: none;">The city is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="city" data-fv-result="NOT_VALIDATED" style="display: none;">The city seem to have invalid characters</small>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group has-feedback">
                           <select class="form-control" name="state" data-fv-field="state">
                              <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="DC">Washington DC</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
                           </select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="state" style="display: none;"></i><small class="help-block" data-fv-validator="regexp" data-fv-for="state" data-fv-result="NOT_VALIDATED" style="display: none;">The state is required</small>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="form-group has-feedback">
                           <input type="text" name="zipcode" class="form-control" value="" placeholder="Zip code" maxlength="5" data-fv-field="zipcode">
                           <i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="zipcode" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zipcode is required</small><small class="help-block" data-fv-validator="regexp" data-fv-for="zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">The zip code can only have 5 digits</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="zipcode" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group has-feedback">
                           <label>Credit Card</label>
                           <input type="text" name="credit_card" class="form-control" value="" placeholder="0000000000000000" maxlength="16" data-fv-field="credit_card">
                           <i class="form-control-feedback" data-fv-icon-for="credit_card" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="credit_card" data-fv-result="NOT_VALIDATED" style="display: none;">The credit card is required</small><small class="help-block" data-fv-validator="creditCard" data-fv-for="credit_card" data-fv-result="NOT_VALIDATED" style="display: none;">The credit card number is not valid</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="credit_card" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group has-feedback">
                           <label>Exp. Month</label>
                           <select class="form-control" name="month" data-fv-field="month">
                              <option value=""> - </option><option value="1">1 - January</option><option value="2">2 - February</option><option value="3">3 - March</option><option value="4">4 - April</option><option value="5">5 - May</option><option value="6">6 - June</option><option value="7">7 - July</option><option value="8">8 - August</option><option value="9">9 - September</option><option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option>
                           </select><i class="form-control-feedback" data-fv-icon-for="month" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="month" data-fv-result="NOT_VALIDATED" style="display: none;">The month is required</small>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group has-feedback">
                           <label>Exp. Year</label>
                           <select class="form-control" name="year" data-fv-field="year">
                              <option value=""> - </option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option><option value="2037">2037</option>
                           </select><i class="form-control-feedback" data-fv-icon-for="year" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="year" data-fv-result="NOT_VALIDATED" style="display: none;">The year is required</small>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group has-feedback">
                           <label>CVV</label>
                           <input type="tel" name="cvv" class="form-control" value="" placeholder="000" maxlength="4" data-fv-field="cvv">
                           <i class="form-control-feedback" data-fv-icon-for="cvv" style="display: none;"></i><small class="help-block" data-fv-validator="notEmpty" data-fv-for="cvv" data-fv-result="NOT_VALIDATED" style="display: none;">The CVV is required</small><small class="help-block" data-fv-validator="cvv" data-fv-for="cvv" data-fv-result="NOT_VALIDATED" style="display: none;">The CVV number is not valid</small><small class="help-block" data-fv-validator="stringLength" data-fv-for="cvv" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a value with valid length</small>
                        </div>
                     </div>
                  </div>
                  <div class="row top-buffer bottom-buffer">
                     <div class="col-xs-12 col-md-5">
                        <input type="hidden" name="csrf_name" value="csrf5a3a8462e6310">
                        <input type="hidden" name="csrf_value" value="f09037831b7425bd5b4f0fb67a4a532d">
                        <input class="btn btn-danger btn-block btn-lg" type="submit" value="Pay Now">
                     </div>
                     <div class="col-xs-12 col-md-7">
                        By clicking 'continue' and using the DriversLicenseRenewal.org website, you agree to follow and be bound by these
                        <a href="/terms.html">Terms and Conditions</a> and consent to our <a href="/privacy.html">Privacy Policy</a>.
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<!--/$hometemplate.html$-->
