<!--$hometemplate.html$-->
<div class="container layout">
   <div class="row top-buffer">
      <div class="col-md-10 col-md-offset-1">

         <h1 class="text-center">Activate Your Free Roadside Assistance Trial</h1>
         <br>
         <p class="lead">
            In order to receive your 60 Days of Free Roadside Assistance, enter your email address below.
            <br>
            The email address you provide must match your sign-up email address.
         </p>
         <br>
         {% if redeem is empty %}
         <form action="{{ path_for('redeem.process') }}" method="post" autocomplete="off" id="orderForm">
            <div class="form-group">
               <div class="input-group">
                  {{ csrf.field | raw }}
                  <input type="email" class="form-control" placeholder="Email used to place order." name="email">
                  <div class="input-group-btn">
                     <button class="btn btn-danger" type="submit">
                        Redeem
                     </button>
                  </div>
               </div>
            </div>
         </form>
         {% endif %}

         {% if redeem.pin is not empty %}
         <p>
            <div class="alert alert-success">
               <h4>
               <p>
                  60-Day Roadside Assistance Services
               </p>
               <p>
                  Your PIN number is: <strong><u class="text-info">{{ redeem.pin }}</u></strong>
               </p>
               <p>
                  To find out how to use your PIN, click <a href="https://www.nsdmc.com/register/?agno=88293" target="_blank">here</a>.
               </p></h4>
            </div>
         </p>
         {% elseif redeem.error is not empty %}
         <p>
            <div class="alert alert-danger">
               <h3 class="text-danger">{{ redeem.error }}</h3>
            </div>
         </p>
         {% endif %}

      </div>
   </div>
</div>
<!--/$hometemplate.html$-->
