#site-top-disclaimer {
	font-size:12px;
}
header .navbar-default .navbar-brand {
    padding-left:20px;
}
.section-title {
    background: #0091d4;
}
.icons-nav {
    background-color: #008fd6;
}
@media (max-width:767px) {
	header .navbar-default .navbar-brand {
		padding-left:0px;
	}	
}
