/*NEW SITE TEMPLATE*/
body {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 18px;
   color: #101011;
}
h1, h2, h3, h4 {
   color: #00557a;
}
.odd-row {
    background-color: #eff2f5;
}
.bottom-border-color {
   border-bottom: 1px solid #d2d0d0;
}
.font-size-29 {
   font-size: 29px;
}
.font-size-25 {
   font-size: 25px;
}
.font-size-18 {
   font-size: 18px;
}
.font-size-17 {
   font-size: 17px;
}
.font-size-15 {
   font-size: 15px;
}
.font-size-14 {
   font-size: 14px;
}
.paddingless {
   padding: 0;
}
.marginless {
   margin: 0;
}
.top-padding-10 {
   padding-top: 10px;
}

.top-padding-25 {
   padding-top: 25px;
}
.left-buffer-10 {
   margin-left: 10px;
}
.top-buffer-10 {
   margin-top: 10px;
}
.bottom-buffer-20 {
   margin-bottom: 20px;
}
.bottom-buffer-10 {
   margin-bottom: 10px;
}
.bottom-padding-25 {
   padding-bottom: 25px;
}
.bottom-padding-15 {
   padding-bottom: 15px;
}
.bottom-padding-10 {
   padding-bottom: 10px;
}
.bottom-buffer-30 {
   margin-bottom: 30px;
}
.top-buffer-30 {
   margin-top: 30px;
}
.top-buffer-7 {
   margin-top: 7px;
}
.top-buffer-20 {
   margin-top: 20px;
}
.white-text {
   color: #fff;
}
.font-400 {
   font-weight: 400;
}
.topless {
   margin-top: 0;
   padding-top: 0;
}
.list-inline-25 > li {
   width: 24%;
}
.line-left {
   border-left: 8px solid #00557a;
}

.left-padding-10 {
   padding-left: 10px;
}
.black-text {
   color: #000;
}
#site-top-disclaimer {
   background-color: #eff2f5;
   padding: 10px 0;
}
.hidden-to-left {
    left: -9999px;
}
header {
   background-color: transparent;
   box-shadow: none;
}
.navbar-default {
   background-color: #f8f8f8;
   border-color: #e7e7e7;
}
.navbar-default {
   border-color: transparent;
   min-height: 95px;
}
.navbar-brand {
   float: left;
   height: 50px;
   padding: 15px 15px;
   font-size: 18px;
   line-height: 20px;
}
.about-section, .top-section {
   background-repeat: no-repeat;
   background-position: 100%;
   width: 100%;
   background-size: 50%;
}
.top-section {
   color: #fff;
   background-color: #000;
   background-image: url('./images/driver.jpg');
}
.form-spacer {
   padding: 40px 40px 40px 0;
}
.dark-bk {
   background-color: #000;
}
.beige-bk {
   background-color: #eff2f5;
}
.fv-form-bootstrap .fv-icon-no-label {
   top: 0;
}
.fv-form-bootstrap .help-block {
   margin-bottom: 0;
}
select.form-control {
   background-color: #fff;
   background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
   background-position: 100% 50%;
   background-repeat: no-repeat;
}
select, select.form-control {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}
.btn, .form-control {
   border-radius: 0;
}
.btn-danger {
   background-color: #cf083d;
   border-color: #cf083d;
}
.btn, .form-control {
   border-radius: 0;
}
.offer {
   font-size: 17px;
}
.block {
   background-color: #eff2f5;
   padding: 45px;
   margin-bottom: 45px;
}

.about-section, .top-section {
   background-repeat: no-repeat;
   background-position: 100%;
   width: 100%;
   background-size: 50%;
}

.about-section {
   background-color: #eff2f5;
   background-image: url('./images/marker.jpg');
}

.search-section {
   background-color: #000;
   color: #fff;
   padding-top: 25px;
   padding-bottom: 10px;
}
.form-section {
   background-color: #00557a;
   color: #fff;
}
footer .item {
   border-bottom: 1px solid #eff2f5;
   text-decoration: none;
   padding: 15px;
}
footer .item, footer .item a, footer .item a .glyphicon {
   color: #101011;
}
@media (max-width: 767px) {
   .h1, h1 {
      font-size: 32px;
   }
   .navbar {
      margin-bottom: 0;
   }
   .top-section {
      background-image: none;
   }
   .form-spacer {
      padding: 40px;
   }
   .list-inline-25 > li {
      width: 100%;
   }
}
@media (min-width: 768px) {
   header .navbar-default .navbar-nav li a {
      padding-top: 60px
   }
}