body {
	margin:0 auto;
	font-family:arial;
}

/*******************_____Global_____********************/
div,ul,a {
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	color:#000;
}

a, a img {
	border:none;
}

.floatLeft {
	float:left;
}

.errorInput {
	border:1px solid #FF0000;
}

input {
	background:#FCFCFC;
	border:1px solid #ddd;
	border-radius:4px;
	padding:4px;
}

select {
	padding:4px;
}

label {
	font-size:14px;
}

#newAddressError {
	color:#ff0000;
}

.content-wrap {
	width:940px;
	margin:0 auto;
	padding:10px 10px 100px 10px;
}

.content-wrap h1{margin:25px 0 9px;}
.content-wrap #main_info h1{margin:0 0 9px;}

/*******************_____navigation_____********************/
.nav {
	width:960px;
	margin:0 auto;
	position:relative;
	top:75px;
}

.nav ul {
	/*background:url("img/navBg.jpg") 0 0 repeat-x;*/
	width:960px;
	margin:0;
	float:left;
}

.nav ul li {
	float:left;
}
/*
.nav ul li:hover {
	background:url("img/navBg.jpg") 0 -56px repeat-x;
}
*/
.nav ul li a {
	color:#fff;
	padding:5px 26px;
	font-family: latha;
	font-size:15px;
	text-align:center;
}

.singleNav a{
	background:url("img/navBg.jpg") 0 0 repeat-x;
}

.singleNav a:hover{
	background-position: 0 -56px;
}

.topNav ul li a {
	padding:5px 37px;
}

.bottomNav ul li a {
	padding:5px 27px;
}

/*******************_____main divs_____********************/
#top_div {
	background:url('img/head.jpg') 0 0 repeat;
	height:167px;
	overflow:hidden;
	position:relative;
}

#top_div #logo {
	width:960px;
	margin:0 auto;
	display:block;
	clear:both;
	position:relative;
	top:25px;
}

#center_div {
	width:960px;
	margin:40px auto;
}

#left_div {
	width:295px;
	float:left;
}

#main_info {
	width:662px;
	float:right;
}

/*******************_____left containers_____********************/
.aside {
	width:255px;
	float:left;
	box-shadow:0px 5px 15px 0 #ccc;
	margin:0 auto 50px;
}

.aside h2 {
	background:url('img/asideHead.jpg') 0 0 repeat-x;
	width:235px;
	height:49px;
	margin:0 auto;
	color:#fff;
	padding-left:20px;
	line-height:45px;
	font-family: latha;
	font-size:20px;
	font-weight:normal;
}

.aside ul {
	width:183px;
	margin:0 auto;
	padding:15px 0 15px 15px;
}

.aside p {
	width:220px;
	margin:20px auto;
	font-size:13px;
	line-height:20px;
}

#benefits ul li {
	list-style-image:url('img/check.png');
	font-size:13px;
	line-height:40px;
}

.steps ul {
	width:190px;
	padding:0;
}

.steps li {
	width:170px;
	margin:8px auto;
	float:left;
}

.steps li:last-child {
	padding-bottom:30px;
}

.steps img {
	display:inline;
	float:left;
}

.steps span {
	padding:10px 15px;
	float:left;
	font-size:16px;
}

.steps .related_search {
	margin:20px auto;
}

.steps .related_search li {
	list-style-image:url('img/arrow_icon.png');
}

/*******************_____right containers index_____********************/
#big_banner {
/*	background:url("img/leftBannerBg.jpg") 0 0 repeat;*/
	width:662px;
	height:260px;
	float:right;
	font-weight:normal;
}

#big_banner ul {
	width: 270px;
	padding:40px 0 0 20px;
	float:left;
}

#big_banner ul li {
	color:#fff;
	font-family:latha;
	font-size:18px;
	line-height:2;
}

#big_banner div {
	background:url("img/home-family.png") 0 0 no-repeat;
	width:682px;
	height:352px;
	float:left;
}

#big_banner div img {
	margin:230px 256px 83px;
	float:right;
}

.disclaimer {

	margin:30px auto;
	color:#9f9f9f;
	font-style:italic;
	float:right;
	font-size:11px;
}

.topics {
	width:662px;
	border-top:1px solid #e5e5e5;
	float:right;
}

.topics div {
	float:left;
}

.topic_title {
	color:#af1b1b;
	font-family: latha;
	font-size:20px;
}

.topics p {
	font-size:13px;
}

.topics a {
	float:right;
}

/*******************_____right containers global_____********************/
.main_info_title {
	margin:0 auto 30px;
	color:#af1b1b;
	text-transform:uppercase;
	font-size:30px;
	font-family:latha;
	border-bottom:1px solid #af1b1b;
}

/*******************_____survey page_____********************/
#survey_info ol li {
	padding:20px 0;
	color:#37a4ff;
	font-family:latha;
	font-size:18px;
	line-height:1.2;
}

/*******************_____bank page_____********************/
#bank_links {
	padding:15px 20px;
}

#bank_info {
	font-size:13px;
	line-height:1.8;
}

#bank_links li {
	list-style-image:url('img/bullet_icon.png');
	font-size:16px;
	line-height:30px;
}

#bank_links li a {
	color:#37a4ff;
}


#goto_coa {
	margin-top:30px; 
	line-height:140%;
	float:left;
}

.cma_now {
	text-transform:capitalize;
	text-decoration:underline;
	color:#af1b1b;
	font-size:22px;
}

/*******************_____easy guide page_____********************/
#main_info.easyguidePage {
	width:960px;
}

.easyguidePage a {
	width:324px;
	margin:0 auto;
	display:block;
}

.easyguidePage p {
	text-align:center;
	text-transform:uppercase;
}

.easyguidePage p.thanksMsj {
	text-transform:none;
	color:#af1b1b;
}

/*******************_____footer divs_____********************/
.footer {
	background:url('img/footerBg2.png') 0 0 no-repeat;
	width:960px;
	height:425px;
	margin:0 auto;
	position:relative;
	bottom:0;
}

#bottom_div {
	background:#0a587f;
	clear:both;
}

#bottom_div a {
	width:280px;
	color:#fff;
	float:left;
	font-family:latha;
	font-size:20px;
	font-weight:normal;
}

#bottom_div ul {
	width:190px;
	margin:60px auto;
	float:left;
}

#bottom_div #socialBox {
	width:290px;
	margin:60px 40px;
	float:right;
}

#bottom_div #socialBox a {
	border-bottom:1px solid #0E7CB3;
	width:290px;
	font-size:14px;
}

#bottom_div #socialBox span {
	margin: 15px 0;
	float:left;
}

#bottom_div #socialBox img {
	padding:10px 40px;
	float:left;
}

#bottom_legal {
	background:#073044;
	width:960px;
	height:220px;
	float:left;
	clear:both;
	opacity: 0.7;
	position:absolute;
	bottom:0;
}

#bottom_legal ul {
	width:200px;
	margin: 0 auto;
	padding: 30px 32px 0;
	float:left;
}

#bottom_legal ul li {
	padding: 3px 0;
	float:left;
}

#bottom_legal p {
	padding:25px 32px 0;
	float:right;
	font-size:11px;
	color:#fff;
}

#bottom_legal ul li a {
	width:auto;
	float:left;
	font-size:11px;
}

#bottom_legal span {
	padding:0px 10px;
	float:left;
	color: #fff;
}

/*******************_____footer test_____********************/
.footerLinks > li  {
    float: left;
    margin: 0;
    padding: 0 25px;
    width: auto;
}

#bottom_div a  {
    color: #FFFFFF;
    float: left;
    font-family: latha;
    font-size: 15px;
    font-weight: normal;
    width: auto;
}

#bottom_div .footerLinks  {
    float: left;
    width: 960px;
}

.#bottom_div ul  {
    float: left;
    margin: 40px auto;
    width: 190px;
}

.footer {
   height:350px;
}

/*******************_____excel form_____********************/
#form_wrapper {
	margin:0 auto;
	width:960px;
}

#form_wrapper form {
	margin: 20px 10px;
}

.formTitleBorder {
	border:1px solid #993300;
}

#formBanner {
	padding: 15px 35px;
}

/*******************_____FAQ_____********************/
#faq_main li {
	color:#af1b1b;
	font-weight:bold;
	font-size:18px;
}

#faq_main p {
	padding:0 0 25px 0;
	font-size:18px;
}

/*******************_____IE8 styles_____********************/
.ie8 img {
	border:none;
}

.ie8 .aside {
	border:1px solid #ccc;
}

.ie8 label {
	text-align:left;
	width:auto;
	font-size:16px;
}

.ie8 .type_in_form input {
	width:150px;
}

.ie8 .form_divs {
	width:280px;
}

#dl-success {
	display:none;
	border:2px solid #ccc;
	padding:15px;
	margin-bottom:20px;
	background:#eee;
}

/*******************_____seals bottom_____********************/
.seals {
	background:url("img/bottomSeal.jpg") 0 0 no-repeat;
	width:960px;
	margin:0 auto 55px;
	float:left;
	height:137px;
}

/*******************_____BILLING PAGE_____********************/
.prodGrey  {
   border: 2px solid #ccc;
   color:#000;
   padding:10px;
   border-radius: 8px; 
   -webkit-border-radius: 8px; 
   -moz-border-radius: 8px; 
   -khtml-border-radius: 8px;
   font-family:calibri, arial,helvetica,sans-serif; 
   font-size:16px;  
   box-shadow: 0 5px 12px rgba(0,0,0,.4); 
   -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
   -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
   -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);    
}


.prodTotal  {
   border: 2px solid #ccc;
   color:#000;
   border-radius: 8px; 
   -webkit-border-radius: 8px; 
   -moz-border-radius: 8px; 
   -khtml-border-radius: 8px;
   font-family:calibri, arial,helvetica,sans-serif; 
   font-size:16px;  
}

img.center  {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#floatLeft  {
	float:left;
	display:inline;
}

#floatRight  {
	float:right;
}

/*******************_____dl billing_____********************/
#item  {
	padding-left:4px;
	width:260px;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:1px dotted #eee;
}

#itemForm, #itemRoadside  {
	padding-left:4px;
	width:260px;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:1px dotted #eee;
}

#cartPrice  {
	float:right;
	margin-right:10px;
}

#greenFree  {
	float:right;
	margin-right:10px;
	color:green;
}

#ssTotal  {
	background:#eee;
	text-align:center;
	font-weight:bold;
	padding:5px;
}

#termsBox  {
	clear:both;
	padding:7px;
	font-size:10px;
	border:1px solid #eee;
}

#road  {
	font-size:20px;
	color:#376092;
	text-align:center;
	font-weight:bold;
	border-bottom:2px dotted silver;
	margin-bottom:15px;
}

.removeRS  {
	font-size:8pt;
	color:red;
	cursor:pointer;
	margin-right:10px;
}

.addRS  {
	font-size:8pt;
	color:green;
	cursor:pointer;
	margin: 10px;
}

img.center  {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


h1 { 
	clear: left; 
	font-size: 30px;
	font-weight: normal;
	padding: 0 0 9px;
	margin: 0 0 9px;
	color: #444; 
}

.clearfix  {
	clear:both;height:100px;
}

ul#arrows  {
	list-style-type: none;
	padding: 0;
	margin-left: 20px;
	line-height: 200%;
}

li.imgArrow  {
	background-image: url("img/rightarrow.jpg");
	background-repeat: no-repeat;
	background-position: 0 0.4em;
	padding-left: 2.5em;
}

li.imgArrowLeft  {
	background-image: url("img/rightarrow.jpg");
	background-repeat: no-repeat;
	background-position: 0 0em;
	padding-left: 1.5em;
	font-size:13px;
}

li.imgArrowLeft {
	background-position:0 9px;
	padding:9px 0 0 20px;
}

#boxleft  {
	float:left;
	width:232px;
	height:200px;
	margin-top:20px;
	padding:10px;
	border-radius: 8px; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	-khtml-border-radius: 8px;
}

#redboxtop  {
	background-image: url("img/redboxtop.jpg");
	background-repeat: no-repeat;
	height:26px;
	width: 260px;
	padding-top: 5px;
}

ul#redboxitems  {
	list-style-type: none;
	padding: 0;
	line-height: 105%;
	border:1px solid #ccc;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
    width: 248px;
    padding: 5px;
}

#benefitsbox  {
	color:white;
	font-weight:bold;
	margin-left: 100px;
}

#formimageright  {
	background-image: url("img/formimage.jpg");
	float:left;
	width:500px;
	height:230px;
	margin-left: 40px;
}

#formdisc  {
	clear:both;
	font-size:11px;
	color:#ababab;
	padding: 0px 13px;
}


/*COA Selection*/
#coa_selection {
	float:left
}

#coa_selection h2{
	font-size:30px;
	color:#444;
}

#coa_selection h3{
	font-size:24px;
	color:#0c6693;
}

/*costum radio buttons for coa selection*/
form#coa_selection_form{float:left;clear:both;}
form#coa_selection_form input[type=radio] {display:none;}
form#coa_selection_form input[type='radio'] + label{
    background:url('img/check-box.png') 0 0  no-repeat;
    box-shadow: none;
    clear: both;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 18px;
    height: 21px;
    line-height: 20px;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 0 30px;
    width: auto;
}
form#coa_selection_form input[type='radio']:checked + label{
	background:url('img/check-box.png') 0 -25px no-repeat;
}

#coa_selection > img {
    clear: both;
    display: block;
    float: left;
    height: 23px;
    margin: 30px 0;
    width: 100px;
    cursor: pointer;
}

/*******************_____html form_____********************
#coa_form {width:960px;}
#coa_form li {width:auto;float:left;}
#middle_form {width:255px;}
.form_divs {width:290px;height:auto;margin:0 auto 50px;padding:0 24px;float:left;}
.form_divs div {width:255px;clear:both;float:left;}
.form_div_title {color:#af1b1b;text-transform:uppercase;font-size:20px;font-family:latha;border-bottom:1px solid #af1b1b;margin:0 auto 30px;}
.form_divs .other_form_title {color:#000;border-bottom:1px solid #000;margin:30px auto;}
.form_divs h2 {font-size:14px;float:left;border-bottom: 1px solid #af1b1b;width: 255px;font-family:latha;text-transform:capitalize;}
.form_divs h3 {font-size:12px;}
.form_divs .disclaimer {margin:30px auto 0;font-size:10px;}
.form_divs .one_step_form .disclaimer {float:none;clear:both;margin:5px 5px 20px;}
.form_divs .type_in_form label {float:left;width:100px;text-align:right;line-height:29px;}
.form_divs .type_in_form input {float:right;margin:5px auto;}
#legal_notice p {font-size:9px;}
#legal_notice a {color:#3b9c9c;text-decoration:underline;}
#legal_notice #continue {background:url("img/continueAddressChange.jpg") 0 0 no-repeat;width:284px;height:60px;}
#newAddress .floatLeft, .form_divs .one_step_form input, #newAddress .one_step_form label {float:left;}
#newAddress .one_step_form label:first-child {padding-right:20px;text-align:right;width:100px;}
#newAddress .one_step_form {margin-bottom:10px;}
#coa_form form .form_divs:first-child {border-right:1px solid #d8dfdf;}
#coa_form form .form_divs:last-child {border-left:1px solid #d8dfdf;padding-right:0;}
.date_input {width:80px;float:right;width:130px;}
.one_step_form > a {padding:0 5px;}
#big_form .form_divs label.error {clear:both;color:#FF0000;display:block;float:none;width:250px;}
*******************_____html form ends_____********************/