body {
margin:0 auto;
font-family:arial;
}

/*******************_____Global_____********************/
div,ul,a {
margin:0;
padding:0;
list-style:none;
text-decoration:none;
color:#000;
}

p {
text-align: justify;
font-size: 14px;
}

a, a img {
border:none;
}

#main_info p a {
text-decoration: underline;
}

h3 {
color:#014e78;
}

.floatLeft {
float:left;
display:inline;
}

.floatRight {
float:right;
display:inline;
}

.errorInput {
border:1px solid #FF0000;
}

input {
background:#FCFCFC;
border:1px solid #ddd;
border-radius:4px;
padding:4px;
}

select {
padding:4px;
}

label {
font-size:13px;
}

#newAddressError {
color:#ff0000;
}

.content-wrap {
width:940px;
margin:0 auto;
padding:10px 10px 100px 10px;
}

.content-wrap h1{margin:25px 0 9px;}
.content-wrap #main_info h1{margin:0 0 9px;}

/*******************_____navigation_____********************/

.nav {
margin: -28px auto;
width: 960px;
}

.nav ul {
width:960px;
float:left;
margin-bottom: 40px;
}

.nav ul li {
float: left;
width: 159px;
z-index: 1000;
}

.nav ul li a {
color: #333;
display: block;
font-family: latha;
font-size: 20px;
text-align: center;
width: 160px;
}

.singleNav a{
background:#F2F1F7;
color:black;
}

.singleNav a:hover{
background-position: 0 -56px;
}

.topNav ul li a {
padding:5px 37px;
}

.bottomNav ul li a {
padding:5px 27px;
}

/* dropdownmenutest */

.dropDownMenu {
position: relative;
}

.nav ul .dropDownList {
display: none;
left: 0;
position: absolute;
top: 33px;
width: 230px;
border:none;
}

.dropDownMenu:hover > ul {
display:block;
}

.dropDownList > li {
clear: both;
width: 112px;
}


.nav ul .dropDownList a {
float: left;
font-size: 15px;
width: 185px;
}

/*
.nav ul .dropDownList a {
float: left;
width: 190px;
}
.nav ul .dropDownList {
left: 0;
position: absolute;
top: 25px;
width: 116px;
display:none;
}
*/

/*******************_____main divs_____********************/
#top_div {
background:url('img/header.png') 0 0 repeat;
height:88px;
position:relative;
}

#top_div #logo {
width:960px;
margin:0 auto;
display:block;
clear:both;
position:relative;
top:25px;
}

#center_div {
width:960px;
margin:40px auto;
}

#left_div {
width:295px;
float:left;
}

#main_info {
width:654px;
float:left;
}

/*******************_____left containers_____********************/
.aside {
width:255px;
float:left;
box-shadow:0px 5px 15px 0 #ccc;
margin:0 auto 50px;
}

.aside h2 {
background:url('img/asideHead.jpg') 0 0 repeat-x;
width:235px;
height:49px;
margin:0 auto;
color:#fff;
padding-left:20px;
line-height:45px;
font-family: latha;
font-size:20px;
font-weight:normal;
}

.aside ul {
width:240px;
padding:15px 0 15px 15px;
}

.aside p {
width:220px;
margin:20px auto;
font-size:13px;
line-height:20px;
}

#benefits ul li {
list-style-image:url('img/check.png');
font-size:16px;
line-height:30px;
margin-left:28px;
color:#1a4688;
font-weight:bold;
}

#benefitsleftcol ul li {
list-style-image:url('img/check.png');
font-size:13px;
line-height:40px;
}

.steps ul {
width:190px;
padding:0;
}

.steps li {
width:170px;
margin:8px auto;
float:left;
}


.steps li:last-child {
padding-bottom: 10px;
}

.steps img {
display:inline;
float:left;
}

.steps span {
padding:10px 15px;
float:left;
font-size:16px;
}

.steps .related_search {
margin:20px auto;
}

.steps .related_search li {
list-style-image:url('img/arrow_icon.png');
}

/*******************_____right containers index_____********************/
#big_banner {
background:url("img/home-family.png") 0 0 no-repeat;
width:658px;
height:354px;
cursor:pointer;
float:right;
font-weight:normal;
}

#big_banner ul {
width: 270px;
padding:40px 0 0 20px;
float:left;
}

#big_banner ul li {
color:#fff;
font-family:latha;
font-size:18px;
line-height:2;
}

#coa-now {
font-family:calibri;
color:#004A72;
font-size:50px;
font-weight:bold;
}

.disclaimer {

margin:35px 6px 30px 0px;
color:#9f9f9f;
float:right;
font-size:12px;
}

.topics {
width:662px;
border-top:1px solid #e5e5e5;
float:right;
}

.topics div {
float:left;
}

.topic_title {
color:#af1b1b;
font-family: latha;
font-size:20px;
}

.topics p {
font-size:13px;
}

.readmore {
float:right;
}

/*******************_____right containers global_____********************/
.main_info_title {
margin:0 auto 30px;
color:#af1b1b;
text-transform:uppercase;
font-size:30px;
font-family:latha;
border-bottom:1px solid #af1b1b;
}

/*******************_____survey page_____********************/
#survey_info ol li {
padding:20px 0;
color:#37a4ff;
font-family:latha;
font-size:18px;
line-height:1.2;
}

/*******************_____bank page_____********************/
#bank_links {
padding:15px 20px;
}

#bank_info {
font-size:13px;
line-height:1.8;
}

#bank_links li {
list-style-image:url('img/bullet_icon.png');
font-size:16px;
line-height:30px;
}

#bank_links li a {
color:#37a4ff;
}


#goto_coa {
margin-top:30px; 
line-height:140%;
float:left;
}

.cma_now {
text-transform:capitalize;
text-decoration:underline;
color:#af1b1b;
font-size:22px;
}

/*******************_____easy guide page_____********************/
#main_info.easyguidePage {
width:960px;
}

.easyguidePage a {
width:324px;
margin:0 auto;
display:block;
}

.easyguidePage p {
text-align:center;
text-transform:uppercase;
}

.easyguidePage p.thanksMsj {
text-transform:none;
color:#af1b1b;
}

/*******************_____footer divs_____********************/
.footer {
background:url('img/footerBg2.png') 0 0 no-repeat;
width:960px;
height:425px;
margin:0 auto;
position:relative;
bottom:0;
}

#bottom_div {
background:#0a587f;
clear:both;
}

#bottom_div a {
width:280px;
color:#fff;
float:left;
font-family:latha;
font-size:20px;
font-weight:normal;
}

#bottom_div ul {
width:190px;
margin:60px auto;
float:left;
}

#bottom_div #socialBox {
width:290px;
margin:60px 40px;
float:right;
}

#bottom_div #socialBox a {
border-bottom:1px solid #0E7CB3;
width:290px;
font-size:14px;
}

#bottom_div #socialBox span {
margin: 15px 0;
float:left;
}

#bottom_div #socialBox img {
padding:10px 40px;
float:left;
}

#bottom_legal {
background:#073044;
width:960px;
height:220px;
float:left;
clear:both;
opacity: 0.7;
position:absolute;
bottom:0;
}

#bottom_legal ul {
width:500px;
margin: 0 auto;
padding: 30px 32px 0;
float:left;
}

#bottom_legal ul li {
padding: 3px 0;
float:left;
}

#bottom_legal p {
padding:25px 32px 0;
float:right;
font-size:11px;
color:#fff;
}

#bottom_legal ul li a {
width:auto;
float:left;
font-size:11px;
}

#bottom_legal span {
padding:0px 10px;
float:left;
color: #fff;
}

/*******************_____footer test_____********************/
.footerLinks > li  {
float: left;
margin: 0;
padding: 0 25px;
width: auto;
}

#bottom_div a  {
color: #FFFFFF;
float: left;
font-family: latha;
font-size: 15px;
font-weight: normal;
width: auto;
}

#bottom_div .footerLinks  {
float: left;
width: 960px;
display: none;
}

.#bottom_div ul  {
float: left;
margin: 40px auto;
width: 190px;
}

.footer {
height:260px;
}

/*******************_____excel form_____********************/
#form_wrapper {
margin:0 auto;
width:960px;
}

#form_wrapper form {
/*margin: 10px 50px;*/
box-sizing: border-box;
padding:10px;
clear:both;
}

.formTitleBorder {
border:1px solid #993300;
}

/*
#formBanner {
    background: url("img/formBanner3.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 305px;
    margin: 30px 0px 0px 45px;
    position: relative;
    width: 660px;
}
*/

#formBanner {
background: url("img/form-banner.jpg") no-repeat;
width:383px;
height:305px;
float:left;
display:block;
margin: 30px 21px 0px 33px;
}

#formRightBox {
float:left;
display:inline;
width:230px;
margin-top: 30px;
line-height:120%;
}

#formdisc {
    float:left
}

.getStarted {
    background: url("img/get-started-btn.png") center bottom no-repeat;
    display: block;
    float: left;
    height: 59px;
    margin: 25px 5px 0;
    width: 248px;
}

.getStarted:hover {
    background-position: center top;
}

.changeAddressBtn {
    background: url("img/change-address-btn.png") center bottom no-repeat;
    position: absolute;
    bottom: 6px;
    height: 58px;
    width:342px;
    margin: 0 159px
}

.changeAddressBtn:hover {
    background-position: center top;
}

/*******************_____FAQ_____********************/
#faq_main li {
color:#af1b1b;
font-weight:bold;
font-size:14px;
}

#faq_main p {
padding:0 0 25px 0;
font-size:13px;
}

/*******************_____IE8 styles_____********************/
.ie8 img {
bordernone;
}

.ie8 .aside {
border:1px solid #ccc;
}

.ie8 label {
text-align:left;
width:auto;
font-size:16px;
}

.ie8 .type_in_form input {
width:150px;
}

.ie8 .form_divs {
width:280px;
}

#dl-success {
display:none;
border:2px solid #ccc;
padding:15px;
margin-bottom:20px;
background:#eee;
}

/*******************_____seals bottom_____********************/
.seals {
/*background:url("img/bottomSeal.jpg") 0 0 no-repeat;*/
width:530px;
margin:0 auto;
}

.margRight30 {
margin-right:30px;
}
.margRight50 {
margin-right:50px;
}

/*******************_____BILLING PAGE_____********************/
.prodGrey  {
border: 2px solid #ccc;
color:#000;
padding:10px;
border-radius: 8px; 
-webkit-border-radius: 8px; 
-moz-border-radius: 8px; 
-khtml-border-radius: 8px;
font-family:calibri, arial,helvetica,sans-serif; 
font-size:16px;  
box-shadow: 0 5px 12px rgba(0,0,0,.4); 
-webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
-moz-box-shadow: 0 5px 12px rgba(0,0,0,.4);
-khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4);    
}


.prodTotal  {
padding: 15px;
border-radius: 15px;
border: 1px solid #ccc;
background-color: #E0EEF8;
box-shadow: inset 0 0 12px 1px #789ABD;
-moz-box-shadow: inset 0 0 12px 1px #789ABD;
-webkit-box-shadow: inset 0 0 12px 1px #789ABD;
float: left;
width: 266px;
margin-left: 20px;
}

.yourinfoheaders {
font-weight:bold;
font-size: 13px;
color:#0A5980;
}

.infohr {
clear: both;
float: none;
width: 100%;
height: 1px;
margin: 1.4em 0;
border: none;
background: #ddd;
background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, rgb(224,238,248)), color-stop(0.1, rgb(120, 154, 189)), color-stop(0.9, rgb(120, 154, 189)), color-stop(1, rgb(224,238,248)) );
background-image: -moz-linear-gradient( left center, rgb(224,238,248) 0%, rgb(120, 154, 189) 10%, rgb(120, 154, 189) 90%, rgb(224,238,248) 100% );
}

img.center  {
display:block;
margin-left:auto;
margin-right:auto;
}

#floatLeft  {
float:left;
display:inline;
}

#floatRight  {
float:right;
}

/*******************_____dl billing_____********************/
#item  {
padding-left:4px;
width:260px;
margin-top:10px;
margin-bottom:10px;
border-bottom:1px dotted #eee;
}

#itemForm, #itemRoadside  {
padding-left:4px;
width:260px;
margin-top:10px;
margin-bottom:10px;
border-bottom:1px dotted #eee;
}

#cartPrice  {
float:right;
margin-right:10px;
}

#greenFree  {
float:right;
margin-right:10px;
color:green;
}

#ssTotal  {
background:#eee;
text-align:center;
font-weight:bold;
padding:5px;
}

#termsBox  {
clear:both;
padding:7px;
font-size:10px;
border:1px solid #eee;
}

#road  {
font-size:20px;
color:#376092;
text-align:center;
font-weight:bold;
border-bottom:2px dotted silver;
margin-bottom:15px;
}

.removeRS  {
font-size:8pt;
color:red;
cursor:pointer;
margin-right:10px;
}

.addRS  {
font-size:8pt;
color:green;
cursor:pointer;
margin: 10px;
}

img.center  {
display: block;
margin-left: auto;
margin-right: auto;
}


h1 { 
clear: left; 
font-size: 30px;
font-weight: normal;
padding: 0 0 9px;
margin: 0 0 9px;
color: #444; 
}

.clearfix  {
clear:both;height:100px;
}

ul#arrows  {
list-style-type: none;
padding: 0;
margin-left: 20px;
line-height: 200%;
}

li.imgArrow  {
background-image: url("img/rightarrow.jpg");
background-repeat: no-repeat;
background-position: 0 0.4em;
padding-left: 2.5em;
}

li.imgArrowLeft  {
background-image: url("img/rightarrow.jpg");
background-repeat: no-repeat;
background-position: 0 0em;
padding-left: 1.5em;
font-size:13px;
}

li.imgArrowLeft {
background-position:0 9px;
padding:9px 0 0 20px;
}

#boxleft  {
float:left;
width:232px;
height:300px;
margin-top:20px;
padding:10px;
border-radius: 8px; 
-webkit-border-radius: 8px; 
-moz-border-radius: 8px; 
-khtml-border-radius: 8px;
}

#redboxtop  {
background-image: url("img/redboxtop.jpg");
background-repeat: no-repeat;
height:26px;
width: 260px;
padding-top: 5px;
}

ul#redboxitems  {
list-style-type: none;
padding: 0;
line-height: 124%;
border:1px solid #ccc;
border-bottom-right-radius:8px;
border-bottom-left-radius:8px;
width: 248px;
padding: 5px;
}

#benefitsbox  {
color:white;
font-weight:bold;
margin-left: 100px;
border:1px solid red;
}

#benefits  {
padding-top:30px;
}

#formimageright  {
background-image: url("img/formimage.jpg");
float:left;
width:500px;
height:230px;
margin-left: 40px;
}

#formdisc p{
clear:both;
font-size:12px;
color:#ababab;
padding: 0px 13px;
}


/*COA Selection*/
#coa_selection {
float:left
}

#coa_selection h2{
font-size:30px;
color:#444;
}

#coa_selection h3{
font-size:24px;
color:#0c6693;
}

/*costum radio buttons for coa selection*/
form#coa_selection_form{float:left;clear:both;}
form#coa_selection_form input[type=radio] {display:none;}
form#coa_selection_form input[type='radio'] + label{
background:url('img/check-box.png') 0 0  no-repeat;
box-shadow: none;
clear: both;
color: #000000;
cursor: pointer;
float: left;
font-size: 18px;
height: 21px;
line-height: 20px;
margin: 15px 0 0;
overflow: hidden;
padding: 0 30px;
width: auto;
}
form#coa_selection_form input[type='radio']:checked + label{
background:url('img/check-box.png') 0 -25px no-repeat;
}

#coa_selection > img {
clear: both;
display: block;
float: left;
height: 23px;
margin: 30px 0;
width: 100px;
cursor: pointer;
}

.call2action1 {
background: url('img/go-form-big.png') no-repeat;
width:284px;
height:106px;
float:left;
display:inline;
margin-right:25px;
cursor:pointer;
}

.call2action2 {
background: url('img/go-form-big.png') no-repeat;
width:284px;
height:106px;
float:left;
display:inline;
cursor:pointer;
}

.action-text1 {
font-family:calibri;
font-size:19px;
color:white;
position: relative;
top: 30px;
left: 10px;
}


.action-text2 {
font-family:calibri;
font-size:19px;
color:white;
position: relative;
top: 18px;
left: 10px;
}

.action-box {
padding: 10px;
margin-bottom: 30px;
background: #eee;
/*
border:2px solid #014e78;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
*/
}

.callcenter {
width:608px;
margin:0 auto;
}


.docsbox {
float:left; width:400px;padding-left:20px;
}

#borderright {
border-right: 2px solid #ddd;
}

#download-header, #docs-download {
display:none;
}

/*--- new billing page ---*/

#leftcolbilling {
width:57%;
border:1px solid #ddd;
background:#fcfcfc;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
font-size:13px;
padding-left: 25px;
padding-right: 25px;
padding-bottom:25px;
}

#leftcolbilling p, #leftcolbilling label{
font-size:11px;
}

#leftcolbilling h3 { 
font-size: 18px;
}

#termsBox > label{
font-size:11px;
}


#billingSubmit {
background:#fcfcfc;
cursor:pointer;
border:none;
margin-left:120px;
}

#rightcolbilling {
margin-left:25px; 
width:30%;
font-size:13px;
}

.margLeft25 {
margin-left:25px;
}



/*---- download page ---*/
#dloadpars {
width:845px;padding-bottom:30px;border-bottom:1px solid silver;
}

#restaurant-img {
background:url(img/restaurant.com.jpg);
width:350px;
height:223px;
}

#restaurant-conf {
position: relative;
top: 60px;
left: 160px;
color: #F11A28;
font-size: 30px;
}

#rest-billing {
margin-right:10px;
margin-bottom:10px;
}

/*benefits pop up div*/
#benefitsPop{
position: absolute;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -50px;
width: 600px;
height: 550px;

}

.overlay-bg {
display: none;
position: absolute;
top: 0;
left: 0;
height:100%;
width: 100%;
cursor: pointer;
z-index: 1000; /* high z-index */
background: #000; /* fallback */
background: rgba(0,0,0,0.75);
}
.overlay-content {
background: #fff;
padding: 1%;
width: 40%;
position: relative;
top: 15%;
left: 50%;
margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
cursor: default;
border-radius: 4px;
box-shadow: 0 0 5px rgba(0,0,0,0.9);
}


#form-benefits-close {
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-khtml-border-radius: 4px;
width:70px;
padding:10px;
color:black;
background:#ccc;
margin:0 auto;
cursor:pointer;
text-align:center;
}


/*----- return for one year login ------*/
/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(img/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background:url(img/loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background:url(img/buttonbgHover.png) repeat-x;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#loginbody {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#loginbody label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #loginbody fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:70px;
    text-align:center;
    margin:0 auto;
    background:#339cdf url(img/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}


/*---------form-----------*/
#formTop {
-moz-border-radius-topleft: 20px;
border-top-left-radius: 20px;
-moz-border-radius-topright: 20px;
border-top-right-radius: 20px;
background: #1a4688;
color:#fff;
font-weight:bold;
font-size:16px;
padding:10px 20px;
}

.formroundbox {
font-size:13px;
font-weight:bold;
padding: 10px;
color: white;
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
margin-top: 10px;
border: 1px solid #1A4688;
background-color: #1A4688;
width:230px;
}

.tooltip {
  display:none;
  position:absolute;
  border-radius:5px;
  box-shadow:2px 2px 3px rgba(0,0,0,.2);
  background-color:#CCC;
  border:1px solid #F7F7F7;
  /*text-shadow:-1px -1px 0 #F4F4F4;*/
  color:#666;
  font:12px Tahoma, Geneva, sans-serif;
  padding:10px;
  width:200px;
}


#orange {
font-size: 18px;
font-weight: bold;
color: #fff;
background-color: #F99F22;
padding: 5px;
border-radius: 5px;
box-shadow: 1px 1px 2px #ccc;
z-index: 99;
text-align: center;
margin:0px;
}

#fam-right {
background:#fff url(img/fam.jpg) no-repeat;
width:374px;
height:220px;
border:0px solid #000000;
}

.radio-box
{
	float:left;
	width:135px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eee;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    margin-right:10px;
    padding:.5em;
    background: #eee; /* old browsers */
    background: -moz-linear-gradient(top, #fff 3%, #fff 5%, #eee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#fff), color-stop(100%,#eee)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* ie */
    margin-bottom:2px;
    text-align:left;
    color:#222;
}

.radio-box2
{
	float:left;
	width:100px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eee;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    margin-right:10px;
    padding:.5em;
    background: #eee; /* old browsers */
    background: -moz-linear-gradient(top, #fff 3%, #fff 5%, #eee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#fff), color-stop(100%,#eee)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* ie */
    margin-bottom:2px;
    text-align:left;
    color:#222;
}

.radio-box7
{
	float:left;
	width:100px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eee;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    margin-right:10px;
    padding:.5em;
    background: #eee; /* old browsers */
    background: -moz-linear-gradient(top, #fff 3%, #fff 5%, #eee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#fff), color-stop(100%,#eee)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* ie */
    margin-bottom:2px;
    text-align:left;
    color:#222;
}

.radio-box3
{
	float:left;
	width:259px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eee;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    margin-right:10px;
    padding:.5em;
    background: #eee; /* old browsers */
    background: -moz-linear-gradient(top, #fff 3%, #fff 5%, #eee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#fff), color-stop(100%,#eee)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* ie */
    margin-bottom:2px;
    text-align:left;
    color:#222;
}


.radio-own
{
	float:left;
	width:105px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eee;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    margin-right:10px;
    padding:.5em;
    background: #eee; /* old browsers */
    background: -moz-linear-gradient(top, #fff 3%, #fff 5%, #eee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#fff), color-stop(100%,#eee)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* ie */
    margin-bottom:2px;
    text-align:left;
    color:#222;
}
.radio-rent
{
	float:left;
	width:105px;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eee;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    margin-right:10px;
    padding:.5em;
    background: #eee; /* old browsers */
    background: -moz-linear-gradient(top, #fff 3%, #fff 5%, #eee 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#fff), color-stop(5%,#fff), color-stop(100%,#eee)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* ie */
    margin-bottom:2px;
    text-align:left;
    color:#222;
}



.mainform
{
   border:1px solid #1a4688;
   background:#fafafc;
}

/*----Blog Section--*/
.blog .main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .post {
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #999;
}

.blog .post p {
    text-align:justify;
}

.blog .post ol {
    text-align:justify;
    list-style-position:inside;
	padding-left:0;
}

.blog .post ul {
    list-style-position:inside;
	padding-left:0;
}

.blog .post .thumb {
    margin-right:10px;
    width:40%;
}

.blog .post .thumb img {
    width:100%;
}
.blog .posts h1 {
    font-size:1.8em;
}
.blog .posts h2 {
    font-size:1.3em;
}
@media  (max-width: 768px){
    .blog .post .thumb {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }  	
}
/****************************************************************************************
**************************************THANK-YOU-PAGE*************************************
****************************************************************************************/
.ty-header{
   background: url(img/ty-header-background.jpg);
   height: 240px;
   background-repeat: no-repeat;
   background-size: 100% 149%;
   background-position-y: -60px;
}
.ty-content .ty-title{
   padding: 45px 45px 0 45px;
   background-color: white;
   color:#04275e;
}
.ty-content .ty-title .ty-title-t1{
   font-size: 25px;
}
.ty-content .ty-title .ty-title-t2{
   font-size: 29;
   font-weight: 600;
}
.ty-content .ty-text-content{
   padding: 45px 45px 0 45px;
   line-height: 2;
}
.ty-content .ty-text-content p{
   font-size:16px;
   text-align:justify; 
   color: #000000;
   line-height: 2;
}
.ty-content .ty-text-content hr{
   border: 0;
   border-top: 1px solid #dbdbdb;
   margin: 38px 0px;
}

.ty-content .ty-text-content img{
      width: 75px;
}
.ty-content .ty-text-content a{
    text-decoration:underline;
    color: #000000;
    
}
.ty-content .ty-text-content a.ty-link{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 54%;
   font-size: 18px;
   margin-top: 25px;
   margin-bottom:25px;
    
}
.ty-content .ty-text-content .ty-btn{
   text-align: center;
   text-decoration: none;
   padding: 1px 20px;
   background-color:#04275e;
   color: #ffffff;
   font-weight: bold;
}
.ty-content .ty-text-content .ty-btn:hover{
   background-color:#ef2e22;
}
.ty-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.ty-footer li {
    float: left;
}
.ty-footer li a {
    display: block;
    text-align: center;
    padding: 16px 40px;
    text-decoration: none;
}
.ty-div{
   float: left;
   margin: 16px 6px;
}

